[2016-04-18 10:03] mgechev commented on #732
Here's a related issue. Do you think it can help? https://github.com/angular/protractor/issues/2297

[2016-04-18 10:33] Shyam-Chen commented on #732
I don't know, either

I think it's no crash

In my Angular 1 project is successfully executed

[2016-04-18 10:35] mgechev opened #773 "Migrate to csso from cssnano"
Here is a [slide deck for CSSO](https://github.com/css/csso) which can be used as reference.

Based on the benchmarks we get great compression and better performance.

[2016-04-18 14:28] jamesjrg opened #774 "APP_ROOT is now unused"
The APP_ROOT variable in the seed config used to be used in the bootstrap function, but it now seems to use APP_BASE instead. So currently APP_ROOT is unused - perhaps it has been made redundant by changes elsewhere?

[2016-04-18 16:52] #760 closed

[2016-04-18 21:44] nareshbhatia commented on #769
@mgechev, thanks for the help. I am almost there. After correcting several errors, this is the last error I am stuck on:

[code]
I can't figure this one out. I have installed the ng2-redux package and it exists in my node_modules. So I can't understand why the compiler doesn't find it.

Here's my latest code:

    import {provide, enableProdMode} from 'angular2/core';
    import {bootstrap} from '

[2016-04-18 22:23] nareshbhatia commented on #769
@mgechev, I created a new project for this - https://github.com/archfirst/angular2-seed-redux. Could you please try to reproduce the error above and help me get this combination working?

Thanks for all your help.

[2016-04-19 00:01] aboveyou00 commented on #147
A surefire way to reproduce this error: if you use the cloud IDE called cloud9, accessible from c9.io, you can follow these steps:

1. Create a new workspace using Node.js as the template and this project as the git repository source. C9 will set up the workspace and then show a screen with a file tree and bash console.
2. Globally install typings, ts-node, and typescript: `npm install -g typings

[2016-04-19 03:17] red010b37 commented on #720
@benpriebe, @mgechev

Sorry I have been away - yea that works. karma runs 2-3 times but it doesnt break now - Thanks @benpriebe for the answer :D

[2016-04-19 04:47] dhaselden opened #778 "Unable to resolve dependencies "typings install && gulp check.versions && npm prune" Proxy Issue"
If you are behind a corporate proxy the post install step "typings install && gulp check.versions && npm prune" step will fail. Re: [This typings module issue](https://github.com/typings/typings/issues/106)

To fix issue create ".typingsrc" file in angular2-seed project root and set the contents to this;

`proxy=YOUR_PROXY`
`rejectUnauthorized=false`

[2016-04-19 07:30] #720 closed

[2016-04-19 07:31] mgechev commented on #778
Thanks for pointing this out! I'll add it to the FAQ section of the wiki.

[2016-04-19 07:31] #778 closed

[2016-04-19 08:00] mgechev commented on #769
@nareshbhatia I did a typo, it should be `provider`.

I can't find any type definitions of `ng2-redux`, neither its npm package, nor with typings.

As temporal workaround you can define something like:

[code]

Another missing part is lodash:

[code]

I find another problem as well - the `ng2-redux` library cannot be loaded using SystemJS.

After transpilation, your SystemJS config should look lik

[2016-04-19 08:00] #769 closed

[2016-04-19 08:02] #774 closed

[2016-04-19 09:04] DanPii opened #779 "Add Sass support - css source mapping"
Hi,
i've cloned your seed and followed the wiki description to add sass support (https://github.com/mgechev/angular2-seed/wiki/Add-Sass-support). The scss files are compiled correctly, but css source mapping is only working for main.scss.

Component scss files are compiled and copied into the corresponding folder, e.g. "dist/dev/app/+home/components/home.component.css".
But when running dev mode (

[2016-04-19 09:56] mgechev commented on #779
Angular injects the component-specific CSS files in `<style>` elements.

[2016-04-19 10:35] OlivierMary commented on #778
@dhaselden Thhhhhhhhhhhhhhhhannnnnnnnnnnnnnnnnnnnnnnnkkkkkkkkkkkkkkkkkkkkkkksssssssssss :+1:

[2016-04-19 11:18] DanPii commented on #779
is there a way to have a source mapping for these `<stlye>` elements to the original css files?

[2016-04-19 12:06] AmineAfia commented on #147
I had the same problem, but I solved it by running the postinstall script using sudo:

```sudo typings install && gulp check.versions && npm prune```

[2016-04-19 12:35] aboveyou00 commented on #147
In my case, that fails at `gulp check.versions` when gulp tries to load ts-node/register.

[2016-04-19 13:05] kunjee17 opened #780 "End to End testing is refreshing browser for every test module"
Hi, first of all thanks for wonderful project. Thanks to your effort now there is not need to hack around to get TS support.

I have a query regarding E2E testing. I don't know where to ask; so asking here. If that is not appropriate please let me know the channel and feel free to close the issue.

While doing E2E testing, for every bunch (file / module) it is refreshing the browser. Now, we are f

[2016-04-19 13:17] AmineAfia commented on #147
I don't have this problem but since ts-node is a devDependency, I would suggest to clean and rerun npm install.

And don't forget that this seed project requires node v4.x.x or higher and npm 2.14.7

[2016-04-19 14:19] OlivierMary commented on #147
Hi, any tsc/typings/typescript/ts-node in global dependencies ? check it with `npm -g ls`

[2016-04-19 14:27] OlivierMary commented on #147
@aboveyou00 you said

did you try `npm cache clean` ?

or `git clean -dfX` ? **Warning** Clean all non staging files + gitignore files ==> so commit all your change before it :)

then `npm i`

[2016-04-19 14:54] d3viant0ne commented on #779
@DanPii - @nareshbhatia run a fork devoted to extending the seed to use the sass pre-compiler here https://github.com/archfirst/angular2-seed-sass

[2016-04-19 14:56] d3viant0ne commented on #779
On a more personal note, I have moved away from sass proper and opted to instead use a mix of precss & postcss features to retain the functionality without the headache of inlining sass/scss in my templates.

IMO it's worth considering

[2016-04-19 14:57] d3viant0ne commented on #773
@mgechev - I tinkered with it a bit and came up with similar results. Took about a second off my build and the payload was definitely smaller.

If nobody else gets to this, i'll do it this weekend.

[2016-04-19 14:59] d3viant0ne commented on #780
//cc @Shyam-Chen

[2016-04-19 15:05] d3viant0ne commented on #147
@aboveyou00 - In regards to cloud9, they run in a container. Containers in general have issues with change detection on shared files systems.

I'll try it on cloud9 and see if I can work out what the issue is but given what I have read about their infrastructure, this may vary well turn out to be a problem with the underlying technology (nothing Cloud9 would be able to do about it either.

You can

[2016-04-19 15:29] d3viant0ne commented on #147
@aboveyou00 - And here is the crux of the problem

![screen shot 2016-04-19 at 10 25 25 am](https://cloud.githubusercontent.com/assets/8420490/14645005/a21ade1c-0619-11e6-9b2f-4f07ef8ab9b0.png)

[2016-04-19 15:35] d3viant0ne commented on #147
dist/dev is properly compiled, cloud9 isn't picking up `DEV_DEST             = `${this.DIST_DIR}/dev`;`

There are other issues I can see as well but at the core of most of them so far is some variable not being defined.

Given this is running in a "grey box" environment, it's probably going to be more trouble than it's worth to figure out and the end result is we won't be able to do anything abou

[2016-04-19 15:35] #147 closed

[2016-04-19 16:44] mgechev commented on #645
Using the seed for development during the last month, I noticed that css linting only slows us (and the build) down. What are your thoughts on commenting this task by default?

[2016-04-19 16:49] totev commented on #645
We also have it currently disabled. Our custom seed project used to have css streaming to the browser, which also sped up the roundtrips. What currently helps is using gulp-cached in the middle of the the ts files pipes. This currently shaves off about 6s and is pretty reliable.

[2016-04-19 18:45] d3viant0ne commented on #645
@mgechev - IMO css linting should be an explicit task separate from the watch cycle. It still needs to happen, it just doesn't need to happen on every change.

[2016-04-19 19:04] DiegoYungh opened #781 "Client Folder"
Why was added recently a **src/client** folder ?
I looked into the styleguide to understand this approach but could not get it.

Are you planning on using server|client folders ?

[2016-04-19 19:29] d3viant0ne commented on #781
https://github.com/mgechev/angular2-seed/pull/750

[2016-04-19 19:30] d3viant0ne commented on #781
Discussion around your question is in the pull request

[2016-04-19 19:45] DiegoYungh commented on #781
Oh thanks
I just saw the commit, not the PR

The pull is self-explanatory, I agree with the new structure but as you said I do not know if I agree on adding a "+" sign lazy-loaded components.

Please update the front readme and angular2-styleguide regarding this approach

[2016-04-19 19:45] DiegoYungh commented on #781
we can close this :+1:

[2016-04-19 19:49] #781 closed

[2016-04-19 21:49] DanPii commented on #779
@d3viant0ne i found your angular2-seed-postcss fork today and read some other opinions about postcss over sass. it really seems worth considering. I've got a sass project already that i would need to port to postcss, so i will check if all features are supported and how much changes are needed.

I've cloned @nareshbhatia [angular2-seed-sass](https://github.com/archfirst/angular2-seed-sass) as well

[2016-04-19 22:12] d3viant0ne commented on #779
@DanPii - I tried for about a week to get it to work properly before I switched directions (postcss)

@nareshbhatia is in the same place that I was stuck on, the zone.js errors.

If I have some time this weekend, I may circle back around to it for the sake of not losing to software but given the performance gains I got out of postcss with 90% of the functionality it's honestly not terribly high on

[2016-04-19 22:12] aboveyou00 commented on #147
@d3viant0ne Thanks for looking into this. I was beating myself over it for several days, it's good to know what the problem is finally, even if I don't yet have a solution. :) I'll just have to change my work environment. If I set up a workspace on ES2 and accessed it using SSH, would I be able to use the cloud9 workspace? Or would the container break even then?

[2016-04-19 22:16] d3viant0ne commented on #147
@aboveyou00 - The problem is the container, it's not going to matter how you connect. It would take a ton of back and forth with their support to try and figure out why it's swallowing variables.

I would seriously consider finding another way to pair ( assuming that is what you are doing ). Whatever the issue is, it isn't going to be specific to the seed project so you may very well run into this

[2016-04-19 23:51] dmittendorf commented on #645
Today I tried adding "isolatedModules: true" to my tsconfig.json file, which dramatically improved the build speed (build.js.dev step goes from 15s to 0.5s) and didn't seem to break anything. Can anyone explain whether it is safe to run with it set to true and/or whether this would be a good option to at least include on dev builds?

[2016-04-20 00:35] DanPii commented on #779
@d3viant0ne thanks for the feedback. I'm still new to Angular and gulp tasks.
But if I understand it correctly, shouldn't the source mapping problem apply to pure css (no SASS, no postcss) as well, because Angular injects component css files as inline style? Or is there another way?

[2016-04-20 01:40] Shyam-Chen commented on #780
@kunjee17
If you do not refresh your browser, you can put it all together

[code]

[2016-04-20 01:49] d3viant0ne commented on #779
It's not so much about the component style at this point zone.js blows up trying to load the template.

[code]

[2016-04-20 01:51] d3viant0ne commented on #779
The generated files are all properly created and in the proper place, it just blows up.

[2016-04-20 01:52] d3viant0ne commented on #780
@Shyam-Chen - Thanks 👍

[2016-04-20 02:09] brian428 commented on #645
@totev: how are you using gulp-cached? I tried sticking it into the JS build dev task, but got errors about not finding classes. I assume that's because the pared-down set of files passed through gulp-cached doesn't give the compiler all the files it needs.

[2016-04-20 03:01] kunjee17 commented on #780
@Shyam-Chen @d3viant0ne thanks for reply. So, for dumb questions I m not a automation guy.

I just reiterate things again and you let me know if I understand correctly.

I should keep test separated. Basically I have for big project. But if I allow refresh page which is happening due `browser.get()` then how can I maintain state. Means how can I do sign in and check the module if application refre

[2016-04-20 03:27] Shyam-Chen commented on #780
@kunjee17
You can write in `beforeEach` inside

[code]

[2016-04-20 03:50] kunjee17 commented on #780
@Shyam-Chen OK. I ll have a look at this approach. Will disturb you again in case of queries. Thanks for help. :+1:

[2016-04-20 06:01] mgechev commented on #779
As not seed specific issue, we can close it for now.

[2016-04-20 06:01] #779 closed

[2016-04-20 06:19] totev commented on #645
@brian428 in your build.js.dev.ts after the declaration of your project related sources:
...
let typings = gulp.src([
        'typings/browser.d.ts',
        join(config.TOOLS_DIR + '/manual_typings/**/*.d.ts')]);
let projectFiles = gulp.src(src).pipe(plugins.cached());
let result = merge(typings,projectFiles)
        .pipe(plugins.debug())
        .pipe(plugins.plumber())
        .pipe(plugins.so

[2016-04-20 06:23] mgechev commented on #645
@dmittendorf by enabling `isolatedModules` you prevent compile-time type checking from running. At first this seems like you're giving up the selling point of TypeScript, however, on the other hand your text editor/IDE points you out the type errors anyway. Same for linting.

Although it doesn't seem like a good idea to disable type checking in dev build by default, I think it'll be great to point

[2016-04-20 06:34] mgechev commented on #645
Here's an article which recaps everything https://github.com/mgechev/angular2-seed/wiki/Speeding-the-build-up.

[2016-04-20 07:53] mgechev commented on #645
FYI, applying everything from the wiki page above, dropped the build duration of my project from 11-12s to 500ms.

[2016-04-20 07:53] #645 closed

[2016-04-20 08:03] Shyam-Chen commented on #773
There is something that `csso` does not have.

[cssnano optimisations](http://cssnano.co/optimisations/)

[2016-04-20 12:07] navcoder commented on #145
Hi,
Has anyone checked this issue with the production build? I am facing this issue even with the seed project where npm-start (dev) version works fine on IE 11, but when I use "npm run build.prod" to create production build, it again throws the same error "Object doesn't support property or method "keys" on IE 11.
Please help its urgent.

[2016-04-20 12:12] JohnCashmore commented on #145
I have this issue as well

[2016-04-20 12:47] mgechev commented on #145
@navcoder most likely you'll need to include [this polyfill](https://github.com/mgechev/angular2-seed/blob/master/test-main.js#L1-L10) somewhere in the prod build:

[2016-04-20 12:53] JohnCashmore commented on #145
should this not be included as part of the seed build? or is it down to something @navcoder put in their  project?

[2016-04-20 13:03] mgechev commented on #145
Actually it is included in [dev and prod by default](https://github.com/mgechev/angular2-seed/blob/master/src/client/index.html#L21-L32).

Do you have this shim missing in your index.html, prod output?

[2016-04-20 13:56] JohnCashmore commented on #145
I have the same issue and it is in the prod index.html and it still happens.

On Wed, Apr 20, 2016 at 2:03 PM, Minko Gechev <notifications@github.com>
wrote:

--
Whoooop Ltd is a company registered in England and Wales. Registered
number: 8877885. VAT Registered: GB182051824. Registered office: 7
Kingsfield Crescent, Biddulph, ST8 6DW

[2016-04-20 14:37] mpetkov commented on #645
Thank you everybody!  The updates that were implemented and described in the wiki page works amazing and cut down the build.js.dev step by about 10 times!

@mgechev - I was able to implement all of the changes except the **gulp-cached**.  The command merge doesn't allow typings to be passed to it and gives following error:

Also I believe that the last thing that can be done to improve the dev wat

[2016-04-20 14:59] mgechev commented on #645
@mpetkov there's one more optimization pending, which is introduced by a bugfix by @StefanKoenen.

The optimization you suggested definitely makes sense. In the next 2 weeks I will not be able to work on it but it is definitely in the roadmap.

[2016-04-20 15:10] mgechev commented on #773
@Shyam-Chen which optimization fro cssnano is missing in csso?

[2016-04-20 16:00] goldenbearkin opened #784 "what is the right way to add rxjs operator? such as exhaustMap"
as subject. Anybody can help? i have been solving this for two days. Many thanks!

[2016-04-20 16:01] mgechev commented on #784
`import "rxjs/add/operator/exhaustMap";`

[2016-04-20 16:01] #784 closed

[2016-04-20 16:02] goldenbearkin commented on #784
i have already tried it, still doesnt work. Do a need to config the project.config.ts / see.config.ts?

[2016-04-20 16:04] mgechev commented on #784
No, you don't. Take a look at `rxjs/add/operator` and see if there's such file, ending with .js.

[2016-04-20 16:06] goldenbearkin commented on #784
yes. it has. but the broswer keeps yelling GET http://localhost:5555/rxjs/add/operator/exhaustMap.js 404 (Not Found)

[2016-04-20 16:07] mgechev commented on #784
I have a bunch of operators imported this way in my project:

[code]

[2016-04-20 16:37] mpetkov opened #785 "New BROWSER_SYNC_CONFIG says its serving from wrong folder"
Not high priority but just thought I would point this out.  There was some new changed done to how browser sync works where the **BROWSER_SYNC_CONFIG** was added to the **seed.config.ts** file.  In there, it says the base dir is `${this.DIST_DIR}/empty/` which also is printed in the termnial by saying:

However, the dev is still serving from dist/dev as before and prod is from dist/prod.

Could it

[2016-04-20 16:41] navcoder commented on #145
@mgechev , the error I mentioned specifically relates to the same es6-shim issue that was mentioned earlier.
On dev build I can see es6-shim js loaded and hence this error doesn't appear in it, but on production build since all the shims are bundled in shim.js I feel that es6 is not bundled in the shim.js, even though shim.js in added in index.html.
I also noticed that the NPM_DEPENDENCIES in seed

[2016-04-20 16:45] nulldev07 commented on #145
@mgechev @navcoder It works if I change NPM_DEPENDENCIES to:

[code]

@JohnCashmore Can you please verify if this works for you?

[2016-04-20 16:46] goldenbearkin commented on #784
[code]
It works after comment out the rxjs related stuff. why is the rxjs without the node_modules prefix?

[2016-04-20 17:03] mgechev commented on #145
@nulldev07 would you try it with:

[code]

[2016-04-20 17:21] navcoder commented on #145
@mgechev  Nops with your change I am getting "Cannot redefine non-configurable property 'Reflect'" error in shim.js now.
@nulldev07 Yes with your changes it is working. Thanks ..

[2016-04-20 17:29] navcoder commented on #145
It looks we can exclude "system-polyfills.src.js" as well. Below is working which means we need reflect, es6 and angular2-polyfill in production build to have it working on IE 11.

NPM_DEPENDENCIES: InjectableDependency[] = [
    { src: 'systemjs/dist/system-polyfills.src.js', inject: 'shims', env: ENVIRONMENTS.DEVELOPMENT },
    { src: 'reflect-metadata/Reflect.js', inject: 'shims' },
    { src:

[2016-04-20 17:55] njs50 commented on #785
technically it is serving from /empty/, it just has a route added for / -> dist/dev or whatever.

it's a bit of a hack because browser sync doesn't let you have an empty root dir, which you need when using --base.

previously there were two configs one for when --base was / and one for when it was /something/, now it's using the same config for both.

I wonder if it's worth swapping browser sync o

[2016-04-20 17:58] nulldev07 commented on #145
@mgechev Any reason why the shims were initially included in prod, but now they are not?

[2016-04-20 18:46] mpetkov commented on #785
I only use it for live reload.  I doubt people are using the browser sync option since there is such a big push on doing automated testing.

[2016-04-20 19:25] mgechev commented on #145
It is a bug. Btw, @navcoder, @nulldev07 a PR with the valid config is welcome!

[2016-04-21 02:32] nulldev07 commented on #145
@mgechev Sent you a PR.

[2016-04-21 07:47] Shyam-Chen commented on #773
@mgechev
1. convert time & length values
2. discard outdated vendor prefixes
3. reduce transform functions
4. minimise gradient parameters
5. **The rest is not safe.**

[2016-04-21 08:29] mgechev commented on #773
Okay, lets put that on hold for now.

[2016-04-21 08:32] mgechev commented on #785
BrowserSync doesn't have good integration with zones yet, so we're mostly using it because it provides live-reload out of the box and allows easy setup for using two base directories.

[2016-04-21 08:32] mgechev commented on #780
@kunjee17 any updates here?

[2016-04-21 08:58] kunjee17 commented on #780
@mgechev I have tried and make it working using `browser.wait()`. but now trying to make in sync with server response. But I still feel little different with approach. Lets see.

[2016-04-21 23:21] NathanWalker opened #787 "Unit testing - mocha reporter displays out of order"
A recent change to the dependencies has caused this to happen:
[code]

They used to display under the proper category; they now display out of sequence. Not sure why yet.

node `v5.5.0`, npm `v3.5.3`

[2016-04-22 12:14] andvasp commented on #615
Hi Guys,

For material2 packages, the error shown below happens because of this line added when I insert the packages of material in System.config. After remove this line, it runs without problem. This problem is related on topic https://groups.google.com/forum/#!topic/angular-material2/7mBDJ6Mc9Lo

Error: XHR error (404 Not Found) loading http://localhost:5555/node_modules/@angular2-material/pack

[2016-04-22 12:27] mgechev commented on #615
Hi @andvasp when I find some time I'll provide a sample integration with material2.

Probably we should discuss to include it by default.

// cc @ludohenin @d3viant0ne

[2016-04-22 16:07] csvan opened #788 "Crashes on editing source file"
**Steps to reproduce and a minimal demo of the problem**

1. Install seed project according to instructions in README
2. Run `npm start`
3. Do a trivial source change (e.g. add a blankspace after a semicolon) to `main.ts` (for example) and save to trigger an update

**Current behavior**

Process crashes with the following output. Actual file system paths have been replaced by `myPath`

[code]

**E

[2016-04-22 16:29] csvan opened #789 "Crashes on npm run docs - "missing script""
**Steps to reproduce and a minimal demo of the problem**

1. Install seed project according to instructions in README
2. Run `npm run docs`

**Current behavior**

Process crashes with the following output.

[code]

**Expected/desired behavior**

The docs should be shown

**Other information**

IDE: Webstorm 2016.1
OS: Ubuntu 16.04
Browser: Chrome 50
Nodejs: 5.10.1
NPM: 3.8.3

[2016-04-22 16:33] mgechev commented on #788
Not related to the seed https://github.com/mgechev/angular2-seed/issues/717.

You can include all `*. ts___jb_tmp___` files to the list of ignored ones, that should not be processed.

[2016-04-22 16:33] #788 closed

[2016-04-22 16:35] mgechev commented on #789
It is a bug in the readme. You should run `npm run build.docs`.

[2016-04-22 16:35] #789 closed

[2016-04-22 16:38] ludohenin commented on #615
@mgechev Sound like a good idea to me.

[2016-04-22 16:50] d3viant0ne commented on #615
@mgechev I've integrated the seed with Material2 already and continue to update it with each new release.

It's definitely not in a state yet where I would suggest integrating it into the seed proper. That said, when I think it's in a happy enough place, I can PR that in under an hour.

Right now it would be far more trouble than it's worth.

[2016-04-22 16:56] mgechev commented on #615
Sounds good to me :-)

[2016-04-22 18:01] d3viant0ne commented on #615
I suppose there is a caveat there. I haven't updated it to alpha3 yet, which I will be doing this evening after I get the seed running in a docker container using the new docker beta ( which is the hottness ) as it gets rid of VirtualSuck(box)

[2016-04-23 00:43] andvasp commented on #615
Hi guys.

@mgechev would be interesting to have material design included as default but I agree with @d3viant0ne. I believe is too early to include it.

I would like to emphasize the use of packageConfigPaths property in System.Config. Including it generated a problem to load the material design libraries when they are load from the packages in System.Config. Since material design is going to be u

[2016-04-24 17:19] d3viant0ne commented on #785
Personally, I've only used it for local live reload. The sync functions are cool but most of my cross browser stuff is automated like @mpetkov mentioned.

[2016-04-24 17:46] mgechev commented on #147
Here's what you can try, let me know if it works:

In the root of the seed create a file called `gulpfile.js` with the following content:

[code]

Run the build as usually.

[2016-04-24 21:04] d3viant0ne commented on #615
@andvasp - Fork updated to alpha.3 & I added my take to the whole project.confg thing in DeviantJS/angular2-seed-material2#10

[2016-04-25 13:50] ishara opened #790 "Live reloading watcher not working , application terminate in some basic changes."
Live reloading watcher not working , application terminate in some basic changes.

Reproduce : run npm start and add new link to 'src\client\app\components\navbar.component.html' and save , Then undo the changes and save.

Error  :

`[BS] Serving files from: dist/empty/
Error: ENOENT: no such file or directory, stat 'd:\RNDA\AngulerJS\codegen\angular2-seed\src\client\app\components\navbar.componen

[2016-04-25 14:41] d3viant0ne commented on #790
seed\src\client\app\components\navbar.component.html___jb_tmp___' <------ jb_tmp === JetBrains

Run it from the command line and it works fine.

[2016-04-25 14:41] #790 closed

[2016-04-25 21:56] aboveyou00 commented on #147
Thanks for responding. I tried to do as you suggested, but it doesn't seem to help. Oddly, it no longer says "Requiring ts-node/register", but it still fails with the error "TSError: ⨯ Unable to compile TypeScript".

[2016-04-26 04:58] ishara commented on #790
Hi

yes I have run with command line ,Still process killed.

Error Log -
[BS] Access URLs:
 -------------------------------------
       Local: http://localhost:5555/
    External: http://172.16.3.59:5555/
 -------------------------------------
          UI: http://localhost:3001
 UI External: http://172.16.3.59:3001
 -------------------------------------
[BS] Serving files from: dist/empty/
event

[2016-04-26 07:41] TheDonDope commented on #787
Hi @NathanWalker,

i tried to reproduce your error on the latest HEAD (https://github.com/mgechev/angular2-seed/commit/9a41f2369079c275ef59b5c7444cc51a351a5fae), but my output looks fine:

[code]

However my node and npm versions are different:

[code]

[code]

I made a `git bisect` between Release `2.0.0-beta.14` and `master` but couldn't reproduce it at any point :/

[2016-04-26 08:37] OlivierMary commented on #787
Hi,

I had the same problem last week and now it's good for me, but dont know why...

[2016-04-26 10:12] mgechev commented on #787
@OlivierMary may be you've updated any of the project's dependencies?

@NathanWalker can you still reproduce the issue?

[2016-04-26 10:13] mgechev commented on #780
Lets close this one. If there are other queries around this topic we can re-open it.

[2016-04-26 10:13] #780 closed

[2016-04-26 10:15] mgechev commented on #716
Given https://github.com/SitePen/remap-istanbul/issues/41 it seems the issue is not related to the seed.

Closing it for now.

[2016-04-26 10:15] #716 closed

[2016-04-26 10:22] mgechev commented on #147
@aboveyou00 you can try reporting the issue here https://github.com/js-cli/js-interpret because it seems related to this dependency of gulp.

[2016-04-26 10:23] mgechev commented on #790
Duplicate of https://github.com/mgechev/angular2-seed/issues/717

[2016-04-26 10:38] ishara commented on #790
Yes this is issue due to WebStrome "safe write".
Thanks

[2016-04-26 14:13] d3viant0ne commented on #787
Oops, wrong button

[2016-04-26 14:27] d3viant0ne commented on #787
@mgechev - I saw the same thing last week which is no longer an issue. As it stands right now, whatever the root cause was no longer exists.

[2016-04-26 14:29] #787 closed

[2016-04-27 21:51] fourctv opened #793 "Compile error with Injector class as beta.16"
I've just synced to latest seed, beta.16, and I'm getting compile errors in the Injector class, it says:
`Injector.resolve does not exist on type 'typeof Injector'`.

I went back to beta.15 and everything works as before (of course need to backtrack APP_BASE_REF reference).

Is the Injector class broken in beta.16?

[2016-04-28 08:14] JohnCashmore commented on #793
There are quite a few breaking changes that need updating, do you have an example of where it breaks?

Does the seed work for you when you do a clean clone and run that?

[2016-04-28 10:23] fourctv commented on #793
Yes, the seed seems to work. It is some of my code where I use the Injector class that breaks with `beta.16`.

Up until `beta.15` the Injector class had a bunch of static methods, `Injector.resolve()` being one of them. They all seem to be gone now. They do not show up in code hinting and now cause a syntax error.

Maybe that class has changed in `beta.16` and I need to update my code. Angula2 doc

[2016-04-28 10:33] mgechev commented on #793
@fourctv thanks for reporting the issue!

I think this is not related to the seed. Would you check the Angular issue tracker for related issues?

[2016-04-28 10:33] #793 closed

[2016-04-28 12:38] JohnCashmore commented on #793
If you look at the breaking changes there was some changes to the injector, i'd start there https://github.com/angular/angular/blob/master/CHANGELOG.md

[2016-04-28 19:05] vip32 commented on #731
this is handy info for the wiki (https://github.com/mgechev/angular2-seed/wiki/FAQ)

[2016-04-28 20:13] Sn3b commented on #731
@pinalbhatt have a look at this [seed](https://github.com/NathanWalker/angular2-seed-advanced), it's based on the angular2 seed, but with a few extra features. At the bottom of the page there's a section called "How best to use for your project" that tells you how to do it :)

[2016-04-28 21:57] vip32 commented on #720
this is also [bugging](https://github.com/mgechev/angular2-seed/wiki/continuous-unit-testing) me

[2016-04-29 00:25] gustavolira opened #797 "error to find assets/css libs"
Hi,

I just updated the seed and now I'm receiving `Cannot find module 'src/client/css/bootstrap.min.css'
`
The file is exactly on this path where he says he is not finding.

I added at project.config.ts this line:
`
let additional_deps: InjectableDependency[] = [
 { src: `${this.CSS_SRC}/bootstrap.min.css`, inject: true }
];
`
This is happening not only with bootstrap but with any css.
`
Location

[2016-04-29 12:06] Sn3b opened #800 "No auto complete from manual typing anymore :("
In a previous version I had created a manual typing in the folder tools>manual_typings>project, named it mytyping.d.ts and that was it, I could then reference it from any component without any problem like so: `import {IMyInterface} from 'mytyping';` and I could even have empty braces, place the cursor in the middle and hit Ctrl+Space to get see a list of available objects/interfaces.

Now it stil

[2016-04-29 13:14] Doormouse2House commented on #592
@raupach did you solve this?  Were you using HTTPS?

[2016-04-29 13:37] EmanuelEriksson opened #801 "Unit-tests not finding dependency"
We've just added ng2-dragula to our project, so I'm not sure if this should be asked here or there.

Ng2-dragula works in both dev and production builds, but not when running tests.

When we're running with 'npm test' after including ng2-dragula. We're getting the following error:

[code]

and some of our tests are no longer being executed.

To reproduce start with a fresh checkout of this seed in

[2016-04-29 13:56] Doormouse2House commented on #592
OK, figured that the proxy middleware added isn't firing and instead the connect-history-api-fallback is triggering.

[2016-04-29 20:20] brian428 opened #802 "Possible Issue with inclusion of reflect-metadata in production build"
I don't think this is directly related to the seed project, but I thought I would mention it:

After this change (57d18695dfc73cd769e34947ef419237cd8b7954), I started getting some errors in my app after a production build. Traced it back to the inclusion of reflect-metadata. If I change Reflect back to only include in the dev build, things seem to work fine again.

My understanding of things like

[2016-04-29 23:21] njs50 opened #803 "build+rebuild of dev"
I think it'd be nice if there was still a clean on the initial build to get rid of the junk that accumulates. Also having ts/css linting again would be good.

my suggestion is perhaps something like:

[code]

then just get the watcher to run the rebuild.dev task. i'm not sure but maybe some of the other tasks like copying assets could be moved to only run on the initial build?

Is it possible to u

[2016-04-30 01:10] d3viant0ne commented on #803
That doesn't really assist in solving the problems related why things like linting were removed in the first place.

Discussed in detail here https://github.com/mgechev/angular2-seed/pull/782

Feel free to modify your development workflow in which ever way you like but for seed master, speed is the preference with a more robust workflow being opt-in

[2016-04-30 01:10] #803 closed

[2016-04-30 21:15] nareshbhatia commented on #615
Wish I had known about this thread before. I spent almost a day trying to integrate angular-material2 with angular2-seed! I finally arrived at the same workaround, i.e. remove `packageConfigPaths` from SystemJS configuration (you can find my repo [here](https://github.com/archfirst/angular2-seed-material)). In any case, what is `packageConfigPaths`? I didn't see it documented in SystemJS docs. Wha

[2016-04-30 22:02] nareshbhatia commented on #615
Moreover, it appears that the issue is not with angular-material2. It has something to do with `packageConfigPaths`. I was able to start with angular2-seed alone and reduce it down to a minimal app and was able to reproduce the issue. Once I took out `packageConfigPaths` from SystemJS configuration the issue went away! Try it with this repo: https://github.com/archfirst/angular2-minimal-app - it s

[2016-04-30 23:56] d3viant0ne commented on #615
//cc @mgechev @ludohenin - Reopening this as @nareshbhatia is correct, this issue is reproducible in seed#master without the addition of other 3rd party libraries.

[2016-05-01 11:24] heavymery opened #804 "Browsersync causing a full refresh instead of injecting CSS & images."
[code]
https://github.com/mgechev/angular2-seed/commit/e3696aa15410a6befc0a37bb8732e4dc2693e924#commitcomment-16994199

@d3viant0ne
Just as @gkalpak's [comment](https://github.com/mgechev/angular2-seed/commit/e3696aa15410a6befc0a37bb8732e4dc2693e924#commitcomment-16994199), `files.path` always be `undefined`. So, Browsersync causing a full refresh instead of injecting CSS & images.

Because `files

[2016-05-01 14:10] gustavolira commented on #797
I could resolve changing APP_SRC = 'src/client'; to APP_SRC = '../../src/client';

[2016-05-01 14:14] gustavolira opened #805 "System is not defined after update"
Hi,

After update the project I'm receiving this error message:
`SyntaxError:` expected expression, got '<'

System.config(<%=

ReferenceError: System is not defined

System.import('<%= BOOTSTRAP_MODULE %>')
`
But System.js is being loaded correctly, there's no 404 in browser-sync-client.js

[2016-05-01 14:18] gustavolira commented on #805
In the browser I just see
`Loading... <% if (ENV === 'dev') { %> <% } %> <% if (ENV === 'dev') { %> <% } %> `

[2016-05-02 08:43] atticae commented on #800
I tried to fix this by adding a `typings.d.ts` in the `src/` folder, looking like this:

[code]

This approach works great for dev build, but fails on prod build:

[code]

I would love to see a consistent solution. It looks like VS Code does not include the `typings/` and `tools/manual_typings` folders in the build anymore since the second `tsconfig.json` was added to the `src/` directory, and the

[2016-05-02 11:33] atticae commented on #802
I have the same issue in production mode and solved it by reverting the change you linked. No idea what exactly is causing the problem. I am also working with Highcharts, so it might be related to that?

[2016-05-02 13:36] brian428 commented on #802
Well I doubt it is Highcharts itself, since it works fine in dev mode, and works fine in prod mode when Reflect is omitted. I'd tend to think it's something Reflect is doing, but not sure what (I know what Reflect is in general terms, but not really how it does what it does).

If other people are seeing this, that makes me think maybe I should add an issue to the Reflect tracker...

[2016-05-02 18:45] njs50 commented on #615
packageConfigPaths is required if the node module doesn't just have all the files dumped in the root folder. Doesn't seem unreasonable to me. Does adding main or typings to the package.json in angular material then fix it?

seems like a problem with systemJs, in that as soon as you add that config it seems to expects every package.json to have main/typings defined (or maybe it's just main?).

[2016-05-02 19:10] nareshbhatia commented on #615
Where is `packageConfigPaths` documented? I couldn't find it anywhere.

[2016-05-02 20:50] artemverbo opened #806 "Promise typings error"
Hi there, new to Angular 2, checked but couldn't find similar issues here.

Trying to use es6 Promise, but getting a Typescript "**Cannot find name 'Promise'**" error. I suppose it's one of the standard usages with routerOnActivate (https://angular.io/docs/js/latest/api/router/OnActivate-interface.html) so should be supported "by default" in the seed project without extra typings installations etc

[2016-05-02 22:33] gustavolira commented on #805
I could figure out what is the problem.
If you change the location of `APP_SRC              = 'src/client';` from `seed.config.ts` you will receive this error

[2016-05-03 06:53] ludohenin commented on #615
@nareshbhatia I found this https://github.com/systemjs/systemjs/blob/4bbfdcf8da782534b5e8236d75e53a8730d4a49d/lib/package.js#L60-L87

[2016-05-03 07:33] nareshbhatia commented on #615
Wow! You really dug deep to get to this. Thank you!

[2016-05-03 07:54] ludohenin commented on #615
@njs50 it doesn't look for `main` specifically but the whole supported options for `packages` as documented here https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#packages.

[2016-05-03 11:34] Kunepro opened #809 "Server Port 5555 conflict with Android Studio's ADB"
I presume that the choice of port was arbitrary, and therefore I would suggest to change the default server port from 5555 to any other one.
The reason is that it conflicts with [Android Studio's](https://developer.android.com/tools/studio/index.html) ADB. I tried to change ADB's port, but I was unable to reach an happy solution.
Otherwise if a fix is known for ADB's can this be posted in the wiki

[2016-05-03 12:15] salemdar commented on #809
You can change it yourself in `tools/config/project.config.ts`
Just add a line in the constructor:
`this.PORT = 9000 // or any port number`

[2016-05-03 12:19] Kunepro commented on #809
I'm perfectly aware of that and I already did, thanks.
You also need to change protractor.conf.js if you need to test (and that's exactly why I need Android Studio).
However the point stands. If, like I assumed, the choice of port was deliberate I am pointing out that this is causing issue with a tool that may be more or less widely used and with plenty of choices for a port number there's no need

[2016-05-03 14:01] marcusreese commented on #615
This packageConfigPaths line also makes it hard to install @ngrx/store because the package.json is not in @ngrx/ but in @ngrx/store/, as discussed in the [commit](https://github.com/mgechev/angular2-seed/commit/6a011e955facf5ce50c35af2655c3756a3a5ace1).

[2016-05-03 14:53] Sjiep commented on #722
I can confirm that the issue mentioned above by @htdt also is the case in Intellij (Webstorm) and adding the `typings.d.ts` into `src/client` resolves the issue. Any reason why this file should not be part of the seed?

[2016-05-03 16:52] njs50 commented on #615
from the systemjs comments it looks like ``` * To opt-out of the package configuration request for a package that matches
 * packageConfigPaths, use the { configured: true } package config option.```

maybe that is how you are supposed to deal with problems caused by packageConfigPaths?

[2016-05-03 16:59] d3viant0ne commented on #809
IMO you can throw a dart at a port array and conflict with something which is why the seed was designed to allow configuration settings to be easily overridden to fit a developers specific project needs.

We could change the default seed port and your exact argument could be made by someone else with different needs.

[2016-05-03 16:59] #809 closed

[2016-05-03 17:01] d3viant0ne commented on #805
If you need to change file paths, override the settings in the project.config.ts

Changing core seed settings makes updates more difficult on you.

Also, if you have the issue worked out can you please close the issue.

[2016-05-03 17:04] gempir opened #810 "Upgrade Angular to the Release Candidate"
Since Angular 2 is now out of beta it would be nice to now have the RC in this project aswell.

https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc0-2016-05-02

[2016-05-03 18:00] NathanWalker commented on #810
It is in process 👍
https://github.com/mgechev/angular2-seed/pull/808

[2016-05-03 18:00] #810 closed

[2016-05-03 18:00] ludohenin commented on #810
@gempir there is an open PR for that #808

[2016-05-03 18:11] gustavolira commented on #805
Thanks @d3viant0ne

[2016-05-03 18:11] #805 closed

[2016-05-03 18:12] gustavolira commented on #797
Thanks

[2016-05-03 18:12] #797 closed

[2016-05-03 23:33] pjpsoares opened #811 "PhantomJs stacktrace errors"
When we have an error with the unit tests running on PhantomJS the stacktrace seems to be incomplete (we should have the line for the actual failure):
[code]

For comparison, the same stacktrace on Chrome:
[code]

To reproduce, we just need to force a failure on a test.

[2016-05-04 14:02] Neil-Ni commented on #801
@EmanuelEriksson did you also add them under karma.conf.js and test-main.js?

[2016-05-04 14:21] EmanuelEriksson commented on #801
@Neil-Ni Brilliant, thank you, that fixed the problem.

[2016-05-04 14:21] #801 closed

[2016-05-04 16:18] Sn3b opened #814 "Services base URL in project.config?"
I'm adding a few services, they all have the same base URL so I'd like to store it somewhere central. Is project.config.ts a good place for this? If yes, how do I then import it in a component so I can use something like `var postUrl = config.API_BASE + '/users';`?

Thanks :)

[2016-05-04 20:29] gotenxds opened #815 "Change build.prod dir does not seem to be working ??"
Hii, I tired changing the prod_dest property in the seed.config file but this seems to have no effect,
In my attempt I changed to to a top level dir called 'www':

[code]

When running
[code]

It does delete the 'www' directory (if exists) and writes to the console
[code]

Which means gulp did see the change but it will continue to write the files to the dist/prod folder
which leads me to believe

[2016-05-05 07:00] ludohenin commented on #814
@Sn3b You should hava a look at #766

[2016-05-05 07:00] #814 closed

[2016-05-05 07:04] ludohenin commented on #804
This is solved by bb00b19e5fab48e00a99aecda66f881dd59a2b35

[2016-05-05 07:04] #804 closed

[2016-05-05 13:06] NathanielMalca opened #817 "[BS] Reloading Browsers browserfly stuck after changes"
Hey,

I have the last seed .

I'm using webstorm as editor in Windows.

I've copied all the files from my last seed to the app folder -> nmp start  = all is working just fine!

The problem is when i try to change code in ts or html template i get from browserfly in terminal:
 "[BS] Reloading Browsers..." and this is where is stays . refreshing chrome doesn't help.

in chrome console i see "Error:

[2016-05-05 13:50] NathanielMalca commented on #611
@d3viant0ne  Not working for me :/

[2016-05-05 14:52] mpetkov opened #818 "prod shims.js adds 'use strict' to the top of document"
Not sure when exactly this update was made, but within the last month shim,js now has 'use strict' at the of the document.  This causes issues with some external libraries such as d3 as can be seen here:
https://github.com/mbostock/d3/issues/2502.  Other than the potential bugs, there is no benefit of adding 'use strict' in production ready code anyway.

I am guessing that this got introduced by a

[2016-05-05 15:20] heavymery commented on #804
:metal:

[2016-05-05 17:07] vijayaragavendiran opened #819 "Unable to test obeservables"
Hi,
I am trying to test Observable.  I am getting below error. Please guide me.

ERROR: 'Unhandled Promise rejection:', 'EXCEPTION: Error in :0:0
ORIGINAL EXCEPTION: No provider for Http!
ORIGINAL STACKTRACE:
Error: DI Exception
    at NoProviderError.BaseException [as constructor] (http://localhost:9876/base/node_modules/angular2/src/facade/exceptions.js:17:23)
    at NoProviderError.AbstractProv

[2016-05-05 18:11] ericlormul opened #820 "external library and typings"
Hi, I want to use pickadate library in my project. I did following steps.
1. npm install pickadate --save
2. typings install pickadate --ambient --save
3. include these
      {src: 'pickadate/lib/picker.js', inject: 'libs'},
      {src: 'pickadate/lib/picker.date.js', inject: 'libs'},
      {src: 'pickadate/lib/themes/default.css', inject: true},
      {src: 'pickadate/lib/themes/default.date.css'

[2016-05-06 02:39] amaltsev opened #821 "Watching (npm start) breaks on file edits in vim/webstorm/possibly other"
The short story is that vim temporarily creates an 'index.html~' file, webstorm creates an 'index.html___jb_tmp___' file, etc -- editors create temporary files. There are two problems with that -- the watcher picks up on the webstorm file as a meaningful change, then can't find the file when building assets. Vim files are already ignored by the watcher, so a refresh does not trigger, but the main

[2016-05-06 04:36] #821 closed

[2016-05-06 07:55] ludohenin commented on #819
I think this fairly clear:

`HTTP` providers are missing somewhere in your test suite.

[2016-05-06 07:55] #819 closed

[2016-05-06 08:00] ludohenin commented on #820
The problem comes from the definition file you have installed (it doesn't extend jQuery typings properly), you should contact the author.

Have you installed jQuery def. file ?

[2016-05-06 08:07] ludohenin commented on #785
I think we can close that one.
This is done intentionally (hack) to avoid serving anything from project root.

[2016-05-06 08:07] #785 closed

[2016-05-06 12:04] sprell commented on #802
I am experiencing a similar issue. Seems to be due to the fact that reflect.js has "use strict" at the top which impacts all the other JavaScript in NPM_DEPENDENCIES.

[2016-05-06 14:02] brian428 commented on #802
If that's the case, I wonder why it works fine when included in the dev build, but fails in the prod build.

[2016-05-06 14:19] sprell commented on #802
Likely due to the concatenation and minification for the prod build. For dev they are all separate script tags. Regardless, I manually commented out the "use strict" in relfect.js any my prob build works fine now. I know that's not a good log term solution, but it gets me past the issue for now. I could not simply remove the two shims altogether from the prod build, because I need them for IE to w

[2016-05-06 14:54] tvrtkos opened #823 "Cannot easily update computed config members in ProjectConfig"
If you set APP_SRC inside ProjectConfig you don't get .css files injected into index.html.

I guess the reason is that properties like CSS_SRC and APP_ASSETS are calculated using old/default value of APP_SRC.

I can change APP_SRC inside SeedConfig as a workaround.

[2016-05-06 15:46] ericlormul commented on #820
Hi ludohenin,
Thank you so much for your reply!
Maybe that's because I miss jquery definition files. I haven't  manually install jQuery definition file. I just include this line
'{src: 'jquery/dist/jquery.min.js', inject: 'libs'}' in tools/config/project.config.ts, then $ works. I thought the definition comes with angular2-seed.

I have tried once to install jQuery by 'typings install jquery ', bu

[2016-05-06 21:20] gotenxds commented on #815
Hi again, solved this...
The entire build does not use the PROD_DEST variable at all but instead uses the APP_DEST
which is being initialized into

[code]
So it dosent really matter what the PROD_DEST or the DEV_DEST are.
Fixed this by changing the deceleration into

[code]

[2016-05-07 05:50] antonybudianto commented on #811
related to [this](https://github.com/karma-runner/karma-jasmine/issues/120), happens to my starter too

[2016-05-07 12:09] atticae commented on #802
Hmm, maybe all "use strict" should be removed during bundling then?

[2016-05-07 20:38] sergidt opened #826 "Cannot run succesfully rc0 branch"
After executing npm install and npm start on branch rc0, App doesn't do anything and prints following error into console:

Failed to load resource: the server responded with a status of 404 (Not Found)
localhost/:86 Error: Error: XHR error (404 Not Found) loading http://localhost:5555/node_modules/@angular/package.json(…) "Report this error at https://github.com/mgechev/angular2-seed/issues"

[2016-05-07 23:27] d3viant0ne commented on #826
@sergidt - There is a discussion around this in the PR for rc0 https://github.com/mgechev/angular2-seed/pull/808

Currently incomplete as most of the maintainers were at ngconf this week.

[2016-05-07 23:27] #826 closed

[2016-05-08 00:06] #815 closed

[2016-05-08 00:22] d3viant0ne commented on #800
Taking a run at this one now.

[2016-05-08 02:15] #811 closed

[2016-05-08 02:16] mgechev commented on #820
You can read more about type definitions [here](http://blog.mgechev.com/2016/03/28/ambient-type-definitions-duplicate-identifier-typescript-fix/).

[2016-05-08 02:16] #820 closed

[2016-05-08 02:17] mgechev commented on #823
Yes, this is an issue discussed before. I guess a way to handle is by using property accessors instead.

If you have some spare time, a PR is welcome!

[2016-05-08 02:29] mgechev commented on #615
@nareshbhatia I can't reproduce the issue with SystemJS 0.19.27, can you still reproduce it?

[2016-05-08 02:36] mgechev commented on #615
Actually, I can't reproduce it with 0.19.25 neither.

[2016-05-08 02:44] d3viant0ne commented on #823
@mgechev - I'm working on the manual_typings problem, I can roll this into that PR unless @tvrtkos wants to take this one.

If I don't see anything by the time I finish with the typings, i'll fix this in the PR for that

[2016-05-08 02:45] mgechev commented on #800
Add `manual_typings.d.ts` in `client` and add references to the manual typings. For instance:

[code]

[2016-05-08 02:45] #800 closed

[2016-05-08 02:48] #806 closed

[2016-05-08 02:53] mgechev commented on #817
Can't reproduce it but most likely you have a syntax error in your code.

[2016-05-08 02:53] #817 closed

[2016-05-08 02:54] #773 closed

[2016-05-08 03:00] d3viant0ne commented on #800
I think the point was to be able to use the project's manual typings in the same way we can use the seed typings.

i.e.
![screen shot 2016-05-07 at 9 59 55 pm](https://cloud.githubusercontent.com/assets/8420490/15095762/13f411e6-149f-11e6-8349-9349aac5f6c3.png)

[2016-05-08 03:45] nareshbhatia commented on #615
Can I understand how you are trying to reproduce it? As I mentioned earlier, I was not able to reproduce it with the full angular2-seed build. The only way I could do it was to reduce the build down to bare bones. Here's the repo for it: [angular2-minimal-app](https://github.com/archfirst/angular2-minimal-app) and here are the steps to reproduce it:

First make sure that the default build works co

[2016-05-08 03:55] mgechev commented on #800
[code]

[2016-05-08 10:41] Shyam-Chen commented on #818
[The spec](http://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code) says:
* Module code is always strict mode code.
* All parts of a ClassDeclaration or a ClassExpression are strict mode code.
* ...

[2016-05-08 11:58] Shyam-Chen commented on #732
I finished

[result](https://travis-ci.org/Shyam-Chen/Angular2TS-Starter-Kit)

version: rc.1

[2016-05-08 16:00] mgechev commented on #732
Awesome job! I see only one e2e test running. Do you know what is causing this?

[2016-05-09 01:10] Shyam-Chen commented on #732
That is my simple project.

I'll wait for this merger (#808), and then start working

[2016-05-09 03:32] NathanWalker opened #830 "Docs: TypeDoc uses TS 1.6 - Ambient modules cannot be nested in other modules"
We should update the api doc generation to TypeScript >1.8 or consider moving to:
https://github.com/docscript/docscript

This is continuation of this issue originally posted on advanced seed:
https://github.com/NathanWalker/angular2-seed-advanced/issues/53

[2016-05-09 03:33] NathanWalker commented on #830
I'll work on a PR for this soon. Curious other thoughts around either improving doc generation to use something other than TypeDoc or other thoughts on upgrading.

[2016-05-09 04:04] RobNordon opened #831 "Prod build error on loading @angular/core.js"
Upon building the production version `gulp build.prod` an error is caused in the `build.bundles.app` task which stops the build.

[14:01:36] Starting 'build.bundles.app'...
Unhandled rejection Error on fetch for @angular/core.js at file:///C:/Dev/angula
r2-seed/node_modules/@angular/core.js
        Loading dist/tmp/main.js
        Error: ENOENT: no such file or directory, open 'C:\Dev\angular2-see

[2016-05-09 04:09] NathanWalker commented on #831
Try running: `npm run build.prod`

[2016-05-09 04:10] NathanWalker commented on #831
Also you may need to:
[code]

[2016-05-09 04:32] RobNordon commented on #831
Thanks Nathan, however the same error results.

I'm using Node v6.1.0, NPM v3.8.8 on Windows 7.

[2016-05-09 04:37] NathanWalker commented on #831
This may be a specific version issue with Windows. @d3viant0ne Do you happen to have a Windows setup to help test this out?

[2016-05-09 05:24] Shyam-Chen commented on #831
I also encountered the same problem

[code]

[2016-05-09 07:32] kambojankit commented on #831
I am also facing the same issue with the prod build.

The error i get is as below:
[code]

[2016-05-09 07:59] Shyam-Chen commented on #831
[report](https://ci.appveyor.com/project/mgechev/angular2-seed/build/985#L1382)

[2016-05-09 09:15] atticae commented on #800
Does this work on prod for you? See my comment above, the paths won't work in prod build and throw an error in my project.

[2016-05-09 14:42] Sjiep commented on #831
Also receiving the prob build error. Receiving the same error as mentioned by @kambojankit and @Shyam-Chen.

[2016-05-09 14:49] mgechev commented on #831
I will fix this tomorrow. Most likely wrong system builder config.

[2016-05-09 14:50] mgechev commented on #732
@Shyam-Chen awesome! Looking forward for it!

[2016-05-09 14:52] AntonyBaasan commented on #831
Thanks mgechev. In my case: Windows 10, Node v6.0.0, npm 3.8.6

[2016-05-09 14:53] mgechev commented on #800
You can override the build.js.prod task and this way include the manual typings in the production build.

[2016-05-09 15:52] AntonyBaasan opened #835 "npm run-script serve.prod error"
Trying to deploy on Ubuntu 14.14.
"npm start" - works OK.
Run the command "npm run-script serve.prod", getting below error.
Am I doing something wrong?
...
[11:47:44] Using gulpfile ~/projects/angular2-seed/gulpfile.ts
[11:47:44] Starting 'serve.prod'...
[11:47:44] Starting 'build.prod'...
[11:47:44] Starting 'clean.prod'...
[11:47:44] Deleted dist/prod
[11:47:44] Deleted dist/tmp
[11:47:44] Finis

[2016-05-09 16:36] #831 closed

[2016-05-09 16:38] NathanWalker commented on #831
@mgechev I was able to test the fix out with VirtualBox... You were right, system builder config just needed `packages`. Went ahead and cleared everyone here.

[2016-05-09 16:41] mpetkov commented on #802
Looks like it is related to #818

[2016-05-10 02:55] andvasp commented on #615
Hi Guys,

To include the angular-material2 in the seed project I just added the line below in the packageConfigPaths. Do you intend to have an options to include it in the file project.config.ts, the file that should be customized by the user? Maybe there are another cases for others components.

    packageConfigPaths: [  ...
      `${this.APP_BASE}node_modules/@angular2-material/*/package.json`

[2016-05-10 03:12] NathanWalker commented on #835
@AntonyBaasan Have you tried just: `npm run serve.prod` ?
Is `run-script` a particular ubuntu thing?

[2016-05-10 05:21] brindasanth opened #838 "Build error"
While building getting this error.

npm ERR! argv "C:\\Program Files\\IBM\\node\\node.exe" "C:\\Program Files\\IBM\\
node\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v4.4.2
npm ERR! npm  v2.15.1
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package es6-shim@0.33.13 does not satisfy its siblings'
 peerDependencies requirements!
npm ERR! peerinvalid Peer angular2@2.0.0-beta.1

[2016-05-10 05:27] NathanWalker commented on #838
Sounds like you are not up to date?
Try deleting `node_modules` and `typings`, then:
[code]

[2016-05-10 06:34] ludohenin commented on #835
@NathanWalker `run` is actually an alias of `run-script` npm command.

[2016-05-10 06:35] NathanWalker commented on #835
@ludohenin Thanks 👍  Seems strange that ubuntu would be that different than OS X... not sure what's going on with his issue.

[2016-05-10 07:17] JohnCashmore opened #839 "More examples?"
Is it within the scope of this project to add more examples? For instance how to mock a http request for unit tests, how to use mock a class for testing etc.

Or do you think this is better handled else where?

Obviously i am happy to contribute towards these.

[2016-05-10 07:49] mgechev commented on #839
We're trying to keep it minimalistic. However, if we grab the computer scientists from a JSON file using XHR I don't think we'll get such a scope creep.

[2016-05-10 08:02] JohnCashmore commented on #839
Thats what i thought, I'll branch off master, implement the computer scientists that way and you can have a look and see if you're happy to include it.

[2016-05-10 08:08] cokkto opened #840 "zone.js GET http://localhost:5555/main.js 404 (Not Found)"
**Steps to reproduce and a minimal demo of the problem**
Launch project, update and save index.html or any project files

**Current behavior**
After chaging index.html and attempt to reload application fails with error zone.js:101 GET http://localhost:5555/main.js 404 (Not Found)

stopping and restarting npm reloads webapp successfully

**Expected/desired behavior**
reload index.html without excep

[2016-05-10 08:18] #840 closed

[2016-05-10 08:20] cokkto commented on #840
Occurs when uncommented clean.dev, in gulp.task('build.dev'

[2016-05-10 09:56] Sjiep commented on #838
This error actually shows up when doing a git clone and then npm install:
[code]

[2016-05-10 10:49] mgechev commented on #838
The problem is only reproducible with npm < 3. Caused by a angular2-service-worker, which depends on angular2 beta.17.

[2016-05-10 10:51] #838 closed

[2016-05-10 10:55] #732 closed

[2016-05-10 11:11] Sjiep commented on #838
Updating to npm 3.8.9 indeed solves the issue.

[2016-05-10 11:14] mgechev commented on #838
@Sjiep i fixed the problem by removing the service worker dependency. Once it is up-to-date I'll revert it back.

[2016-05-10 12:02] Shyam-Chen opened #842 "npm run e2e"
[package.json L17](https://github.com/mgechev/angular2-seed/blob/master/package.json#L17)

[package.json L32](https://github.com/mgechev/angular2-seed/blob/master/package.json#L32)

duplicate

[2016-05-10 12:17] vijayaragavendiran opened #844 "Test Coverage status remains 100%"
I have added some new functions and executed the test coverage. The new function doesn't have a spec. But still the test coverage shows 100%. When I navigate to the function in the codecoveage html, I can see the new functions. I am wondering whether I have missed anything. Please guide me.

[2016-05-10 12:28] #842 closed

[2016-05-10 13:08] atticae commented on #844
I may be wrong, but I think test coverage works only for code you have a spec file for?

[2016-05-10 16:03] vijayaragavendiran commented on #844
If you have a component with two function and wrote a spec for those will give you 100% coverage. Then  include some additional function to the component. Let say now we have three functions in total. But we have only wrote spec for two function. Now the code coverage for the component should not be 100%. It should be less than 100%. Hope my understanding is write.

[2016-05-10 16:47] AntonyBaasan commented on #835
Today I'll make a Vagrant script that anyone can test my situation.
@NathanWalker, what module is "**open**" /home/safeuser/projects/angular2-seed/node_modules/**open**/lib/open.js:58:10 ? I think I can dig from there.

[2016-05-10 18:55] gustavolira opened #846 "loading all angular2 js separated"
Hi,

This behvior https://github.com/mgechev/angular2-seed/issues/400 is happening again?

Thanks

[2016-05-10 18:56] blackheart01 opened #847 "tslint errors during build.prod"
**Steps to reproduce and a minimal demo of the problem**

git clone --depth 1 https://github.com/mgechev/angular2-seed.git
cd angular2-seed
npm install
npm run build.prod

**Current behavior**
...
[11:45:14] Starting 'tslint'...

/tmp/angular2-seed/tools/tasks/project/sample.task.ts
      line 13  col 2  missing semicolon

    ✖ 1 error

/tmp/angular2-seed/tools/tasks/seed/build.assets.dev.ts

[2016-05-10 19:14] mgechev commented on #847
@blackheart01 if you have time, it'll be great to add the semicolons and open a PR!

[2016-05-10 19:27] blackheart01 commented on #847
I'm working on that now actually. Will have a PR shortly.

[2016-05-10 19:40] blackheart01 commented on #847
@mgechev I've made a PR with the fix. I'm not really sure how to link it to this issue. I just put "Fixes #847" in the title of the PR.

[2016-05-10 20:03] mgechev commented on #847
Awesome! I'll take a look tonorrow and merge.

[2016-05-11 01:56] lahmatiy commented on #773
@Shyam-Chen

In practice, it gives insignificant saving.

It's achieved by using `autoprefixer` and you're already using it. So `cssnano` does nothing in this case.

Unsafe optimisations is not good enough for common cases. Especially when using for production only. Since it can breaks something that can be hard to figure out exactly what, especially in large projects. Also `cssnano` has a note ab

[2016-05-11 02:09] Shyam-Chen commented on #773
//cc @mgechev @d3viant0ne

[2016-05-11 02:54] d3viant0ne commented on #773
I have to agree here. Even on my largest client side application, the benefits in payload size done warrant the issues that crop up with super aggressive optimizations.

To @lahmatiy's second point, I personally use csso at it's default settings during development and enable it's advanced optimizations when I have a stable product to get the reductions in payload size that matter.

I've implemente

[2016-05-11 04:59] Paladinium commented on #823
Same issue as #630

@tvrtkos : you'll see the workaround there which is just overriding all dependent variables.

[2016-05-11 05:02] Paladinium commented on #645
@mgechev : has there been any further steps in the direction that @mpetkov suggests (separating assets/js/css)?

[2016-05-11 05:33] brian428 commented on #802
It's definitely the strange "use strict" that ends up at the top of shims.js after a prod build. The odd thing  is that you can look at the source for Reflect (https://github.com/rbuckton/ReflectDecorators/blob/master/Reflect.js#L17) and see that their "use strict" is _inside_ their IIFE. So this shouldn't be happening...but it is.

I guess the question is how/why is this being moved outside of th

[2016-05-11 05:39] brian428 opened #850 "URLs in CSS being altered during prod build?"
After updating my seed recently, I'm seeing some odd behavior related to relative URLs in some of my CSS files. I'm not sure if this is a bug, but things were fine before I updated to the latest code.

In one of my CSS assets (fontawesome), there are relative URLs like this:
`src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');`

However, after a prod build, this comes out in my `all.css` file li

[2016-05-11 06:20] brian428 commented on #850
I figure out that it's the `rebaseUrls` option for gulp-concat-css.

I'll leave this open for now and you can close it if you like. I hate to add yet more options to the build config, but I wonder if it's worth making the options for `concatCss()` into something that can be overridden in project.config.ts? Since the CSS is aggregated during prod build, it seems fairly easy to get into this situati

[2016-05-11 06:27] brian428 commented on #802
If anyone's interested, I was able to work around this by installing gulp-replace and setting up my own build.bundles.ts to strip out 'use strict':

[code]

[2016-05-11 07:23] mgechev commented on #802
@brian428 would you open a PR?

[2016-05-11 07:38] mgechev commented on #645
@Paladinium good point! I'll open an issue for this.

[2016-05-11 07:40] Paladinium commented on #645
Thanks, I really appreciate this! And many others using your great project, too ;-)

[2016-05-11 07:43] mgechev commented on #850
I am not sure if it is worth it to add another configuration option. The task can be overridden, although it seems like an overhead to override it for such a small change. We need to discuss this further but we may also consider to add support for task specific configuration which can be overridden by developers.

// cc @ludohenin

[2016-05-11 07:43] #847 closed

[2016-05-11 07:48] mgechev commented on #835
@AntonyBaasan

Are you running the production build on a VM with limited memory? This seems like environment specific issue.

[2016-05-11 07:50] mgechev commented on #846
Yes, it is. Angular are not distributing system bundles but only umd bundles so we need to play with the configuration of the seed.

I'd love to assist if anyone wants to take care of this one!

[2016-05-11 08:04] mgechev opened #851 "Independent build tasks dependent on the performed changed (build.dev)"
We already commented out the `clearn.dev` task so it might be appropriate to implement the following behavior for speeding-up the development build:

- On change in an external template and/or style only copy them to the corresponding location inside of the `dist/dev` directory.
- On change of inline template, inline style or TypeScript file, transpile them and move them to the corresponding locat

[2016-05-11 08:38] ludohenin commented on #846
What's the issue, too long to load all the files in dev ?

[2016-05-11 09:18] mgechev commented on #846
Yes, on refresh there's a delay.

[2016-05-11 13:25] apavillet opened #854 "Npm start works fines, watch => build.dev produce unexpected JS"
Npm starts does build the project correctly, website is working fine.

`15:08:24] Using gulpfile ~/Documents/Dev/orange-s2a/gulpfile.ts
[15:08:25] Starting 'serve.dev'...
[15:08:25] Starting 'build.dev'...
[15:08:25] Starting 'build.sass.dev'...
[15:08:26] Finished 'build.sass.dev' after 1.14 s
[15:08:26] Starting 'build.assets.dev'...
[15:08:27] Finished 'build.assets.dev' after 1.51 s
[15:08:27]

[2016-05-11 13:39] mgechev commented on #854
I can't reproduce this issue. Are you using clean copy of the seed or you have some custom configuration?

[2016-05-11 14:01] apavillet commented on #854
Hello @mgechev it's not, I tried on a clean install which seems to work.

I'm using the seed and only the src/client part is different, which lead me to drop the issue here ( also as I said npm start works ok, only the watch part produces an unexpected result)

I know it's difficult to answer since you do have all the elements, I was only trying to see if anyone already had, and solved, this issue

[2016-05-11 14:10] mgechev commented on #854
Take a look at the config. May be you're still referencing to `angular2/*` packages somewhere. I'll close this issue since it is not related to the current state of the seed but we can continue the discussion here.

[2016-05-11 14:10] #854 closed

[2016-05-11 14:13] mgechev opened #855 "Who is using angular2-seed?"
I would like to get an idea of who's using angular2-seed. If your company or project uses the project, please add it here.

Would be great to know if you're using it in production or only prototyping/development.

[2016-05-11 14:22] brian428 commented on #850
Task-specific config overrides would be nice, but not sure how well that would work. I already have a number of "project-specific" versions of the original seed tasks to add or modify behavior.

So for example, in my `project.build.js.dev.ts` file, I've set it up to start with a full compile, but then do a typeless compile (using `isolatedModules: true`) for the next N compiles (N is set in my pro

[2016-05-11 14:23] brian428 commented on #802
Sure, I'll see if I can do that today.

[2016-05-11 14:24] dweitz43 commented on #855
currently using angular2-seed inside a company prototype project within Commercial Tech at Capital One Bank in New York City, currently only in development (i think our corporate security policies prevented the possibility of forking from this repo outside of our internal gh). I also use it to experiment and help myself learn outside of work, it has been extremely helpful!

[2016-05-11 14:32] mgechev opened #857 "Directory structure - alignment with the style guide"
After a lot of discussions between we agreed upon a directory structure, which is published at https://angular.io/styleguide.

Unfortunately, angular2-seed is violating it. Here are suggestions for alignment with the standard:

Source https://github.com/mgechev/angular2-seed/pull/856#discussion_r62858563

[2016-05-11 14:44] TheDonDope commented on #857
I'll work on it an create a PR for it :)

[2016-05-11 14:52] mgechev commented on #857
Awesome! Looking forward for it! I think for now we can keep the `client` directory because the seed could be used for building applications for different platforms (like @NathanWalker do in his advanced seed), so I'd suggest to leave it for now. However, we need to document it and state what it is used for.

[2016-05-11 15:28] AntonyBaasan commented on #835
Hi @mgechev, Yep you are right. It is environment specific.
Bad hardware: DigitalOcean 5$ stack - 1gb CPU, 512mb RAM
Good hardware: DigitalOcean 10$ stack - 1gb CPU, 1gb RAM

[2016-05-11 15:28] #835 closed

[2016-05-11 15:41] njs50 commented on #855
We've been playing with it for our UI/UX pattern library here at dell software. Just for prototyping atm, I'm not entirely sure angular 2 is ready for production :-p

[2016-05-11 15:57] TheDonDope commented on #857
Hi @mgechev, i've uploaded a first draft, but still have a few issues at runtime. If you could spare some help, i would be super glad! (Also: alright about the `client` directory, i left that alone)

[2016-05-11 16:14] mgechev commented on #835
Still, it is weird that 512MB RAM are not enough, there's also swap space on disk..

[2016-05-11 16:22] mgechev commented on #857
Just finished coding for today. I'll be in gitter. :-)

[2016-05-11 16:52] ishara commented on #855
We are also using this seed for prototyping and evaluation Angular2, Now some colleges try to use angular cli because of simplicity.
I am still prefer to use  angular2-seed.

[2016-05-11 17:03] sergidt commented on #855
We want to use that Seed as a base project for own international corporation.

[2016-05-11 17:03] ishara opened #859 "Easy way to update angular2-seed core?"
Is there easy way to update angular2-seed core ?

Can we manage angular2-seed as a core framework ?
this will easy to update seed

[2016-05-11 17:05] phiphou opened #860 "Change bundles"
Hi,

Your seed works fine, and I using it to learn angular2. But, looking for good seeds, I've notice many of webpack based ones produce 3 bundles : one for the app itself, with just app code, a second one for vendors (angular2,lodash,etc..) and one for polyfills. It's a good pratice because app,vendors and polyfills lifecycles aren't often the same. So I tried to update your seed to achieve this,

[2016-05-11 17:20] NathanWalker commented on #855
My company (https://www.infowrap.com) is using it for our Angular 2 conversion (specifically we are using advanced seed) but of course that **is** this seed :)

We hope to be done with a full Angular 2 upgrade + NativeScript by the Fall.

[2016-05-11 17:26] NathanWalker commented on #860
Hi @phiphou, have you tried creating a production build?
[code]
Take a look at the bundles it creates in `dist/prod`.

[2016-05-11 17:57] mgechev commented on #859
The easiest way is:

[code]

[2016-05-11 17:57] #859 closed

[2016-05-11 18:12] sfabriece commented on #855
Using it at my startup to build our mvp. We plan to use it for production too.

[2016-05-11 18:47] sergidt opened #861 "Is difficult to understand Seed configuration file"
I think is difficult to understand the seed.config.ts file, what is each thing and what is used for.

Is important because if somebody wants to add news libraries, is not clear what have to modify.

[2016-05-11 19:06] phiphou commented on #860
Sure I tried ;) But produces 2 bundles, a "big" one (app+vendors) and one for shims. What i'm trying to do is just to explode app bundle in two files, one with just app (should be very small) and one for the rest. So, 3 bundles instead of the actual 2 ;) Hope we understand now well (sorry for my bad english, I'm french ;))

[2016-05-11 19:32] TheDonDope commented on #855
I'm currently writing a team/employee management application which is based on the seed. Since the app is composed of different modules and the first module is finished (basic CRUD for the employee resource) it is planned to be used in production and upgraded with new modules over time :)

The seed was a great help to get things starting! Thanks for that!

[2016-05-11 21:35] red010b37 commented on #855
We are using it in app which is about to go into production

[2016-05-12 00:18] ng-darren commented on #855
Using this for prototyping a project for my company and hopefully it can make it to production.

Having said that, I'm still surprised that people are so ready to use Angular 2 for production, do note the latest RC1 has known security issues.
[https://github.com/angular/angular/blob/master/CHANGELOG.md](url)

[2016-05-12 03:25] zeeshanjan82 opened #862 "Regarding Production Build"
I have cloned the repo and was trying the command 'gulp build.prod' which creates the production release however I am a little puzzled as I see one app.js file which has all the code for different components minified and uglified in it. Does it mean when I have say 100 components in the application along with their html , js files , all these components will be put into one app.js file. This means

[2016-05-12 03:26] zeeshanjan82 commented on #860
+1

[2016-05-12 06:34] ludohenin commented on #850
@brian428 is your configuration issue related to those lines https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/seed/build.html_css.ts#L13-L17 ?

In this task (`build.html_css.ts`) we have configuration embed which I think isn't such a great idea ... we should probably move this out (L21-L27 as well).

[2016-05-12 06:40] ludohenin commented on #835
Might just be a bad node config, Max RAM should be set below the available amount (to keep a bit for te OS :))

[2016-05-12 06:58] ludohenin commented on #860
@phiphou that should be fairly easy to achieve. What your looking for happens here https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/seed/build.bundles.app.ts#L20-L23, so by overriding this tasks and read this https://github.com/systemjs/builder#bundle-arithmetic that should work.

[2016-05-12 07:57] silentHoo commented on #855
We're using it as the foundation for a large enterprise scaled application for millions of users. We currently in prototype phase end evaluating angular2 and ng2-bootstrap. We're also thinking about writing our own yeoman generator based on that best practice approach by this angular2-seed project.

[2016-05-12 08:10] JohnCashmore commented on #855
We are using it on a government project thats only due to go into production 2018, so the is angular2 ready gamble didn't apply ;)

[2016-05-12 08:21] apavillet commented on #854
I am, it's still wierd since the npm start files have '@angular/core' as import but then the build.dev on watch imports 'angular2/core' ...

I still do no get why but I had a quesiton, the watch build is much faster than it used to be, could you tell me what changed ? And could I try to reverse it to see if it fixes the issue?

Thanks

[2016-05-12 08:47] mgechev commented on #854
The build is faster because of gulp-cached and we also stopped cleaning the dist directory.

[2016-05-12 09:18] tinuF commented on #855
I'm using it in order to migrate etunebook.ch from angular1 (https://github.com/tinuF/eTuneBook) to angular2 (https://github.com/tinuF/eTuneBook2).

[2016-05-12 10:15] apavillet commented on #854
Thanks, i managed to make it work somehow.

For your information, and if you're not aware of it,  it seems to me that gulp-typescript > 2.10.0 ( namely 2.12 and 2.13 ) throws errors on watch

`Could not find input file /Users/homengo/Documents/Dev/orange-s2a/src/src/site/home/models/tuto.ts. This is probably an issue of gulp-typescript.
Please report it at https://github.com/ivogabe/gulp-typescrip

[2016-05-12 11:01] #857 closed

[2016-05-12 11:04] mgechev commented on #862
Yes, at the moment that is the case. More advanced production build will be considered in future.

For sure we'll include tree-shaking and offline compilation in near future when we'll reduce the app size to ~50kb gzipped and minified.

[2016-05-12 11:04] #862 closed

[2016-05-12 11:05] mgechev commented on #861
I agree. Here are some [example projects](https://github.com/mgechev/angular2-seed#examples) where we can trace how the individual pieces fit together.

If you have time a PR with comments above the properties in the `seed.config.ts` file will be greatly appreciated!

[2016-05-12 11:08] mgechev opened #864 "Advanced production build"
Currently our production build is quite basic and produces only two bundles:

- shims
- libs + app

Which means that we're not taking advantage of:

- lazy loading
- offline template compilation
- tree-shaking

## Proposal

Incrementally improve the production build by:

### Step 1

[ ] - Include offline template precompilation
[ ] - Introduce tree-shaking with rollup.js

### Step 2

[ ] - Introdu

[2016-05-12 11:09] mgechev commented on #860
Here's an issue for this: https://github.com/mgechev/angular2-seed/issues/864

You're welcome to join the discussion and state opinion.

[2016-05-12 11:09] #860 closed

[2016-05-12 11:14] mgechev commented on #850
What I'm a bit bothered is that our `seed.config.ts` can get even more complex if we include other task related configuration details. On the other hand, I'm not sure if it is worth it to add task-specific configuration, especially in case that you can easily override tasks.

The only problem with overriding tasks is that once the seed get updated you will not take advantage of the latest changes

[2016-05-12 11:24] mgechev commented on #818
@brian428 is already working on this https://github.com/mgechev/angular2-seed/issues/802

[2016-05-12 11:24] #818 closed

[2016-05-12 12:01] totev commented on #850
This bit me yesterday also. Wish I had read this, before losing time debugging everything.
Here is a copy-paste fix for everyone who wants a quick fix and or lands here by some lucky chance.
build.html.css#processExternalCss
`.pipe(isProd ? plugins.concatCss(CSS_PROD_BUNDLE,{rebaseUrls:false}) : plugins.util.noop())`

[2016-05-12 12:13] Bigous commented on #855
Using the seed to build the version 2 of a product in my company [FourTwo](http://www.fourtwo.com.br) that is used today (v1) by Marketing Agencys in Brazil.

[2016-05-12 12:34] TheDonDope commented on #861
I am currently working on documentation for the tools section. There is a `READE.md` in `/tools/` which i will propose a PR with some basic information. Afterwards i'll be looking at general code documentation within the `ts` source files.

Greetings

Dope

[2016-05-12 13:56] Paladinium commented on #855
We are using it in our company, currently only in development mode.  We love this project and it helped us to get up and running in no time. Thanks to all contributors - especially @mgechev  and @d3viant0ne ! However, if we could request some improvements, it would be the following ones in this order:

- Improve build-lifecycle (time to get a change via browser-sync): see #851 . For us, disabling

[2016-05-12 14:13] d3viant0ne commented on #855
@Paladinium

1.) My change detection lifecycle is under 3 seconds, disabling nothing at all in an app that has north of 20 top level components and north of 80 including sub-components in the full client application. Speed comes down to OS, Node Version, hardware and memory available in your node project. No disrespect to Windows lovers but Node isn't focused on Windows and either are most of it's

[2016-05-12 14:15] d3viant0ne commented on #830
@NathanWalker - I'm open to other options as that project is painfully slow keeping up with TypeScript.

[2016-05-12 14:21] silentHoo commented on #855
@Paladinium: I also think it's a good point to add the links in the readme/wiki of this project and give some samples to include those features instead of building a over-optimized-full-blown-bunch of tools.

[2016-05-12 14:22] brian428 commented on #850
@mgechev, I was just about to write this:

And then realized _maybe we actually can!_ What do you think of using a generic object keyed by plugin to contain any arbitrary plugin configs, and then using a function to look them up in each plugin based on a plugin name key?

Consider the current config setup for browsersync. What if it was done like this instead:

(In `seed.config.ts`:)
[code]

And t

[2016-05-12 14:46] silentHoo commented on #844
@vijayaragavendiran is totally right. Should not be 100%, it would be worthless.

[2016-05-12 14:52] hermagrini commented on #864
Would Critical Path CSS be something interesting to generate as well?

[2016-05-12 18:36] phiphou commented on #864
As I said in #860 , application (only the code you/we wrote), vendors (angular2, rxjs and potential additional vendors like jquery, lodash...), and polyfills (reflect-metadata, zone, es6-shim,...) life-cycles aren't the same most of time. Keeping them in separate bundles seems to me a good practice. I'll be interested in knowing your thoughts about this point

I also agree lazy loading would be a

[2016-05-12 19:43] TheDonDope opened #867 "Add inline documentation to existing TypeScript files"
Currently, there is just a little inline documentation in the existing TypeScript files (tasks, utils etc.).
Continuing the strive for more documentation it should be aimed at to add more documentation on code level.

I will sign up for this, and keep this as a tracking issue. The following sections should be documented:

- [X] Files in `src/client` (merged with https://github.com/mgechev/angular2

[2016-05-12 19:46] zachallen opened #868 "Overriding port in project.config.ts isn't respecting"
I'm attempting to change the port that the application runs on. In project.config.ts I've got:
`    // this.APP_TITLE = 'Put name of your app here';
    this.PORT = 3000;`
However the app continues to start on port 5555. Changing the APP_TITLE seems to work.

[2016-05-12 19:51] Bigous commented on #861
Well, it's much better now that we separated the seed.config from project.config. But agree too.

[2016-05-12 19:56] Bigous commented on #864
Lazy loading and hot loading are amazing. We could create a pattern ... I though, when it was changed, that components that started with + in it's directory would be lazy loaded only when needed. I like this pattern, what do you think?

[2016-05-12 20:02] Bigous commented on #868
It seems to me that you put the code in a commented line... uncomment it an ti will work.

[2016-05-12 20:03] #868 closed

[2016-05-12 21:21] manish5377 commented on #844
+1

Typescript coverage is always showing 100%. Please help.

[2016-05-12 21:23] zachallen commented on #868
No, I put them on separate lines. It just formatted it that way.

[2016-05-13 04:57] stphivos opened #869 "Provide example of getting/testing scientist names from http service"
It would be really helpful to add this feature, as devs new to angular2 like myself, might not know how to implement it with best practices and also write relevant specs with a mock backend etc.

My idea was to write a scientist main component that has child routes for create/edit/list components and does a bit of url manipulation for an underlying rest service, because that is something most fron

[2016-05-13 05:15] mwaa commented on #855
Using it for development purposes at the moment.

[2016-05-13 05:20] mwaa opened #870 "Is it possible to provide a CHANGELOG ??"
Is there any possible way of tracking changes that are made. Reason for this is because i cloned the seed 2 weeks ago and been actively coding using that version of the seed which by now is a little behind.

It would be nice to have a CHANGELOG text file that can inform me of any new changes made rather than me having to track the changes via commits. Or if there is an easier way to pull in change

[2016-05-13 05:30] JakePartusch commented on #855
I'm using this seed, or more specifically, the [advanced seed](https://github.com/NathanWalker/angular2-seed-advanced) for development evaluation and as a live example for a few local user group presentations.

[2016-05-13 06:56] TheDonDope commented on #870
Hi @mwaa,
what kind of CHANGELOG would be helpful for you? Something like this: https://github.com/angular/angular/blob/master/CHANGELOG.md (Basically listing features / bugfixes / breaking changes for every release)?

As for syncing / pulling changes, have a look here:
https://help.github.com/articles/configuring-a-remote-for-a-fork/
https://help.github.com/articles/syncing-a-fork/

Greetings

Do

[2016-05-13 06:59] TheDonDope commented on #869
There is currently a PR in progress (https://github.com/mgechev/angular2-seed/pull/841) which addresses this. This issue is also already tracked in https://github.com/mgechev/angular2-seed/issues/839

Greetings

Dope

[2016-05-13 08:28] ceballos59 opened #871 "npm install, npm start and then localhost:5555 and...."
Failed to load resource: the server responded with a status of 404 (Not Found)
localhost/:98 Error: Error: XHR error (404 Not Found) loading http://localhost:5555/node_modules/@angular/package.json(…) "Report this error at https://github.com/mgechev/angular2-seed/issues"(anonymous function) @ localhost/:98

[2016-05-13 09:08] #861 closed

[2016-05-13 09:18] mgechev commented on #870
@mwaa as @TheDonDope mentioned the breaking changes you had are actually introduced by Angular 2 rc.1 not by the seed itself.

[2016-05-13 09:18] #870 closed

[2016-05-13 09:18] #869 closed

[2016-05-13 10:31] the-ult commented on #855
Using the seed as base for a complete rebuild/refactor of our frontend.
Gonna be 3 separate client's talking to a Rails API.
Not in production yet.. But first application has to be ready within a month.

[2016-05-13 10:46] stphivos commented on #869
Maybe I didn't search enough then.. Awesome thanks @TheDonDope!

[2016-05-13 10:54] mwaa commented on #870
@TheDonDope thanks for the assist i am using that already.

@mgechev I do realize that the breaking changes are not because of the seed itself. But a CHANGELOG file for any fixes you make to the seed would be helpful.

An example been that you made a fix to given issue say no. 12 . And on my project fork i encounter the issue described in no. 12. I would then come to your repo and check the change

[2016-05-13 11:09] mgechev commented on #870
You don't need to make updates manually. All you need to do is:

[code]

If you have followed the conventions described by @TheDonDope [here](https://github.com/mgechev/angular2-seed/tree/master/tools) everything should work fine.

[2016-05-13 11:29] mwaa commented on #870
Cool Thanks.

[2016-05-13 11:56] ashkank83 commented on #132
I'm getting this exact same error with the latest version of the seed. Is there any solutions? Node v 4.4.4 and npm -3.8.9

[2016-05-13 13:09] vdest opened #872 "Sass support broken?"
After following "Adding Sass support" rules, the app no longer launches. After running `npm start` or `gulp build.dev` it hangs at `Starting 'build.html_scss'...`

[2016-05-13 13:23] aayushkapoor206 opened #873 "Can't bootstrap angularfire2"
**Steps to reproduce and a minimal demo of the problem**

bootstrap FIREBASE_PROVIDERS

**Current behavior**

console error
`http://localhost:5555/node_modules/http/package.json `
`http://localhost:5555/node_modules/https/package.json `
`http://localhost:5555/node_modules/_stream_writable/package.json`

**Expected/desired behavior**

No error

**Other information**

[2016-05-13 18:26] sfabriece opened #874 "is it possible to get the client console output?"

[2016-05-13 20:41] thomasbee commented on #855
We are using the seed at ESO (European Southern Observatory, Munich, Germany), planning to go public late this year.

[2016-05-13 20:56] d3viant0ne commented on #867
@TheDonDope - Assignment requires write access to the repository.

[2016-05-13 20:58] TheDonDope commented on #867
@d3viant0ne Ah, thanks for the clarification! Then i'll have to make do without the assignment i guess, i mostly would have wanted it as a sign of "someone is already working on that, no need to do redundant work" :)

[2016-05-13 21:04] d3viant0ne commented on #867
Can also be accomplished by a pull request
i.e - [WIP] feat(docs): Inline Documentation

[2016-05-13 21:09] TheDonDope commented on #867
I plan on submitting separate PRs for the different tasks in this issue, to keep this issue as a "tracker" of sorts. My train of thought was:
1. PR for docs in src/client -> merge -> update task list in this issue
2. PR for docs in tools/tasks -> merge -> update task list in this issue
3. PR for docs in tools/utils -> merge -> update task list in this issue
4. Close this issue as all tasks have be

[2016-05-13 21:14] d3viant0ne commented on #872
https://github.com/archfirst/angular2-seed-sass

[2016-05-13 21:22] vdest commented on #872
Yes I know this fork. I was trying with this one because it's been updated to angular rc1. The other fork is still using beta.

[2016-05-13 21:43] sfabriece opened #875 "Start dev server without lauching the browser"
Can a flag be added to start the dev server without lauching the browser.

[2016-05-13 21:56] d3viant0ne commented on #872
My point being, if the issue is going to be figured out / fixed that will be where it's done.

If I have time later this evening, I'll see if I can figure out what the issue is. You are following the instructions in the wiki yes?

[2016-05-14 05:29] vdest commented on #872
Yes I did follow the wiki. I'll try taking seed tasks from seed-sass fork and put them in this seed to see if they work.

[2016-05-14 06:01] JCCR commented on #872
I followed the same wiki entries but on `npm start` everything looks fine to me. It's just watching for changes and updating with browsersync breaks.

[2016-05-14 06:13] d3viant0ne commented on #872
Just pulled a fresh clone of the seed & ran through the sass wiki instructions, works fine.

[2016-05-14 06:13] #872 closed

[2016-05-14 06:18] d3viant0ne commented on #830
The only real viable answers are TypeDoc & DocScript and whatever love I had for TypeDoc died waiting on updates of the TypeScript Version.

So yeah, DocScript it is unless @mgechev / @ludohenin have an issue with it.

[2016-05-14 11:39] mgechev commented on #873
Here's an updated article https://github.com/mgechev/angular2-seed/wiki/Integration-with-AngularFire2.

[2016-05-14 11:39] #873 closed

[2016-05-14 13:04] mgechev commented on #874
What input do you want to provide?

[2016-05-14 13:05] mgechev commented on #875
Yes, sure. Do you want to open a PR for that?

[2016-05-14 14:48] TheDonDope commented on #871
Hi @ceballos59, at which commit does your local git HEAD stand?
Based on the latest commit (https://github.com/mgechev/angular2-seed/commit/94d472c8ad7a3af36ee4dc480139d3809661b88b) i cannot reproduce your problem.
Also: Which platform are you on? What's your node version? What's your npm version?

[2016-05-14 14:54] sfabriece commented on #874
I want to get the console output from the browser so that I can see error in the terminal instead of chrome dev tools.

[2016-05-14 14:55] sfabriece commented on #875
I have no idea where to start, since we are using gulp. Any pointer on how to pass arguments to a gulp task?

[2016-05-14 15:00] sfabriece opened #877 "Injecting self defined service into another self defined service"
Sorry for posting an angular question here. Desperate times.

I'm struggling to inject a service into another service. I'm getting undefined.

[code]

When I inject both services into a component, they work just fine.

What could be the problem?

[2016-05-14 16:11] ludohenin commented on #875
@sfabriece  This would require a new option like `PORT` in [`seed.cong.ts`](https://github.com/mgechev/angular2-seed/blob/master/tools/config/seed.config.ts#L35), say `no-open` to use as `npm start -- --no-open` .
It will look like this `OPEN = argv['no-open'] || true;`
Then you can just import your config member you need like [`this`](https://github.com/mgechev/angular2-seed/blob/master/tools/uti

[2016-05-14 16:13] ludohenin commented on #877
@sfabriece you can have a look [here](https://github.com/ludohenin/ng2-wp-blog/blob/master/src/blog/services/wp/xhr.ts#L77)

[2016-05-14 19:21] sfabriece commented on #877
i've done exactly that. But i'm still getting undefined. The injected service returning undefined is exported with a barrel. I don't know if that is the reason.

[2016-05-14 19:22] sfabriece commented on #875
I'll give it a go, when I have time.

[2016-05-14 19:24] ludohenin commented on #875
Byw that's the other way around tre || argv...

[2016-05-14 20:21] mgechev commented on #877
Not related to the seed. You can move the discussion to gitter.

[2016-05-14 20:21] #877 closed

[2016-05-14 20:22] mgechev commented on #874
If it is a runtime error it will be always outputted in chrome dev tools.

[2016-05-14 20:22] #874 closed

[2016-05-14 20:23] #875 closed

[2016-05-14 20:27] mgechev commented on #850
@brian428 at first glance it looks good to me.

[2016-05-14 20:31] mgechev commented on #830
DocScript seems like a WIP at the moment, and it doesn't seem to have [many npm users](https://www.npmjs.com/package/docscript) at the moment. Do you have experience with it?

[2016-05-15 02:36] quiringk commented on #442
I had this issue today. I tried many different changes to my systemjs.config.js file and kept getting

localhost/:20 Error: Error: XHR error (404 Not Found) loading http://localhost:3000/node_modules/moment(…)

@harikrishna266 answer was the only work after hours of trying to figure out what happened.

Here is my relevant systemjs.config.js:

// map tells the System loader where to look for things

[2016-05-15 09:27] d3viant0ne commented on #830
Current Options seem to be Not Active and WIP. Here is the crux of the problem.

![screen shot 2016-05-15 at 4 27 17 am](https://cloud.githubusercontent.com/assets/8420490/15273124/634618dc-1a55-11e6-96b1-e4c765d5a9c8.png)

[2016-05-15 14:07] mgechev commented on #830
Lets drop the documentation support then..

[2016-05-15 14:35] sfabriece commented on #874
looking for a way it can be pushed to the terminal from devtools.
Ionic cli has that kind of functionality.

[2016-05-16 08:51] mgechev commented on #871
@ceballos59 any updates?

[2016-05-16 08:56] mgechev commented on #850
@brian428 it also might be a good idea to pass a set of default config options to `getConfig`. For instance:

[code]

And make the signature of `getConfig` look like this:

[code]

What do you think? Do you want to take care of the implementation of `getConfig` and place it somewhere in utils?

[2016-05-16 09:01] mgechev commented on #802
Any updates here?

[2016-05-16 10:40] mszczepaniak opened #882 "Production Build: css lint:"
This is what I get when I run : **npm run build.prod**

`npm ERR! Darwin 15.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "build.prod"
npm ERR! node v5.7.1
npm ERR! npm  v3.8.7
npm ERR! code ELIFECYCLE
npm ERR! angular2-seed@0.0.0 build.prod: 'gulp build.prod --color'`
[code]
[code]

When I comment out gulp task **css-lint**, it works, but then It does not work on the producti

[2016-05-16 11:01] mszczepaniak commented on #882
npm-debug-log:

[code]

[2016-05-16 12:39] rushikeshsarode opened #883 "spec.ts for http get service is not working."
Following is my 'user.service.ts' file which uses http get to receive data from users.json file :

[code]

I have following 'user.service.spec.ts' file to test the above service :

[code]

Any guess why this is not working and throws error (attached screenshot) when I run 'npm test'... Thanks in advance.
![untitled](https://cloud.githubusercontent.com/assets/18325320/15289914/e6c10e72-1b92-11e6-8e

[2016-05-16 13:20] JohnCashmore commented on #883
I did start working on an example on how to do this, but I was too slow and the project structure changed before it could be merged
https://github.com/JohnCashmore/angular2-seed/tree/http-example/src/client/app/shared/services

I will look at opening another pull request at some point

Hopefully this will help

[2016-05-16 13:51] rushikeshsarode commented on #883
Thanks for the inputs @JohnCashmore JohnCashmore . I have copied both of the files name-list.service.spec.ts and name-list.service.ts... also created name-list.json file. When i run 'npm test' i get following errors :
![untitled1](https://cloud.githubusercontent.com/assets/18325320/15291418/5c549ed0-1b9b-11e6-8029-9a19fe733d1b.png)

[2016-05-16 14:04] jerryorta-dev commented on #830
Would it be acceptable to use of fixed forked version of either TypeDoc or DocScript until issues are fixed on their ( which ever you choose ) master?

[2016-05-16 14:12] mgechev commented on #830
If there's such patched fork we can use it.

[2016-05-16 14:35] TheDonDope commented on #882
Hi @mszczepaniak, where is your current local git repositories HEAD at?
I tried to reproduce your problem based on commit https://github.com/mgechev/angular2-seed/commit/2df9848bf67889282977607953da1ec633c32a1e and for me it runs fine:

[code]

You could try the following:

1. clean the `dist` directory: `$ rm -rf dist`
2. clean the `typings` directory: `$ rm -rf typings`
3. clean the `node_module

[2016-05-16 14:39] TheDonDope commented on #844
Hi @vijayaragavendiran, could you please provide a [SSCCE](http://sscce.org/) or some commit/branch of your fork? I'll take a look at it then.

[2016-05-16 15:05] jimmybillings commented on #855
We're using it at Wazee Digital to rebuild our software platform from the ground up. After initially setting up our own build system it was becoming a head ache dealing with all the breaking changes that were happening so we moved to a community based one. We reviewed a few and this one came out on top, it's been incredibly helpful. Thank you!

[2016-05-16 16:01] d3viant0ne commented on #830
It's probably just better to go directly to the horses mouth and ask @blakeembry what his plans are for it if any before we go ripping things out.

[2016-05-16 16:23] jerryorta-dev commented on #830
The repo is in the process of transferring ownership to TyoeStrong. I do see recent activity that includes bumping TypeScript to 1.8.10. I think once the transfer is complete, typedoc will be back in business for this project.

See: https://github.com/TypeStrong/typedoc/issues/210

[2016-05-16 17:19] blakeembrey commented on #830
I definitely intend to keep TypeDoc up-to-date (or help to community do so)  but first I need to get publish rights and access to the default theme from Sebastian. I can't say how long that'll take unfortunately.

[2016-05-16 17:23] brian428 commented on #802
Sorry, not yet. Was out of town (camping) for a few days. I should be able to do this in the next day or two.

[2016-05-16 17:51] mgechev commented on #802
No worries, let me know if you need any assistance.

[2016-05-17 01:27] vmumo commented on #871
Same error. On Linux. node -v6.0.0 npm -v1.4.21

[2016-05-17 06:24] kambojankit commented on #855
We at Fidelity are now using this seed for our Internal Project, going live in June. This seed has been great, and we have got up and running in angular2 very fast. The response time is awesome. You all have been very helpful. Thanks!!

[2016-05-17 06:57] lukazadel commented on #680
Did you get the charts to work ? in my case, whatever i do nothing gets them running...

[2016-05-17 07:17] #867 closed

[2016-05-17 07:17] TheDonDope commented on #867
:tada:
All done :) Thanks for the reviews and merges!
Issue can be closed now.

Greetings

Dope

[2016-05-17 07:36] mgechev commented on #867
Thanks for the great work! :-)

[2016-05-17 07:37] mgechev commented on #883
@rushikeshsarode for Angular support you can try both angular2-seed and angular channels on gitter.

[2016-05-17 07:37] #883 closed

[2016-05-17 07:38] mgechev commented on #882
@mszczepaniak can't reproduce it with latest master neither. Can you verify?

[2016-05-17 07:39] TheDonDope commented on #867
Glad to have been of help :)

[2016-05-17 07:39] #802 closed

[2016-05-17 07:41] TheDonDope commented on #871
@vmumo Your npm version doesn't seem to fulfill the required version for the seed, quoting the README:

[2016-05-17 07:44] #830 closed

[2016-05-17 07:45] #871 closed

[2016-05-17 09:56] lhpkhanh opened #887 "Error when upgrade Angular 2.0.0-beta.13 to 2.0.0-rc.1"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

When i upgrade, i see error:
+ In Commandline
`D:/nodejs/sb-ng2-client/node_modules/rxjs/add/operator/map.d.ts(2,16): error TS2435: Ambient modules cannot be nested in other modules or namespaces.
D:/nodejs/sb-ng2

[2016-05-17 10:58] sarath2 commented on #147
try with following command:
```tsc --project tsconfig.json```

[2016-05-17 11:16] TheDonDope commented on #887
Hi @lhpkhanh,
on which commit of the seed is your code based on?  The SystemJS configuration of the seed is done in `seed.config.ts`(https://github.com/mgechev/angular2-seed/blob/master/tools/config/seed.config.ts):

[code]

Did you write your `systemjs.config.js` yourself or is it a generated file?
Can you try to do a fresh clone of the seed with the latest commit (https://github.com/mgechev/angu

[2016-05-17 13:56] brian428 commented on #850
I'll see if I can give this a shot in the next day or two.

[2016-05-17 14:02] brian428 commented on #850
Actually, just curious: any particular reason why you'd want to pass in the default config as an argument to `getConfig()`, instead of just having it look up the default config by it's key? My only concern with what you showed is that it means you'd potentially have configs in two places: in standalone variables (like `DEFAULT_CONFIG`) as well as in the global lookup object (`PLUGIN_CONFIGS`). See

[2016-05-17 14:36] mszczepaniak commented on #882
The newest commit builds, but I still get an error when I put the dist->prod folder on the server:

[Server console error](https://www.dropbox.com/s/n6s12yr5fve04rc/Server%20console%20error.png?dl=0)

[2016-05-17 14:39] mgechev commented on #882
Your base path seems wrong. The entire application is under the `test` directory not in the root.

This is the desired behavior of the seed, you need to configure the used based directory.

[2016-05-17 14:39] #882 closed

[2016-05-17 17:29] #839 closed

[2016-05-17 17:37] zachallen opened #890 "Unable to change port in project.config"
I'm attempting to change the port that the application runs on. In project.config.ts I've got:
[code]
However the app continues to start on port 5555.
![bug](https://cloud.githubusercontent.com/assets/3485378/15332659/5f52a11a-1c1b-11e6-96e2-94048c3666b4.png)

[2016-05-17 18:00] ludohenin commented on #890
@zachallen This is because this value is computed in a config member defined in the parent configuration class (`seed.conf`)
This is something we have to fix for other config members as well.

[2016-05-18 01:34] vijayaragavendiran commented on #844
Hi @TheDonDope , Please clone the angular2-seed project from github. Add some function as below in home.component.ts.
For Example
===========
getName():string {
    this.nameListService.get();
    return false;
  }

Then run test coverage . You will see the test coverage for home component is 100%.

[2016-05-18 01:46] lhpkhanh commented on #887
I do it and rebuild, but still error:
-------------CMD-------------------------
$ npm install
npm WARN install Couldn't install optional dependency: Unsupported
npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before will
fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon
as possible. Use 'npm ls graceful-fs' to find it in the tree.
npm WARN deprecated lodash@1

[2016-05-18 02:04] omargon opened #893 "404 and Uncaught (in promise): Failed to load app/app.component.html"
Hi,  I've being trying to setup an environment based on this seed, also including the sass integration wiki and incorporating the UI component ng2bootstrap and bootstrap 4 as well. I got dev and prod distribution builds working as expected but I'm still getting a test error that I can't find a solution for. Hope this is the right channel to get a solution, but if this is not the place to ask for s

[2016-05-18 05:40] hank-ehly opened #895 "feature-suggestion: simplify scss stylesheet implementation"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

_What steps should we try in your demo to see the problem?_

**Current behavior**
Users are able to enable sass support by following the instructions on the Wiki page, or by referencing the angular2-seed-sass fork

[2016-05-18 06:01] TheDonDope commented on #887
Hi @lhpkhanh,

just as the log output says: This is most likely not a problem with npm, but rather with a bad network connection:

[code]

This issue is not related to `angular2-seed`

[2016-05-18 06:30] lhpkhanh commented on #887
Error when i run server on CMD:

`D:/nodejs/sb-ng2-client/node_modules/rxjs/add/operator/map.d.ts(2,16): error TS2435: Ambient modules cannot be nested in other modules or namespaces.
D:/nodejs/sb-ng2-client/node_modules/rxjs/add/operator/map.d.ts(2,16): error TS2436: Ambient module declaration cannot specify relative module name.
src\directives\auth-router-outlet\auth-router-outlet.ts(20,11): err

[2016-05-18 07:47] TheDonDope commented on #887
Hi @lhpkhanh,

from your console output i can see that there are a few issues (incorrect imports etc.).
But without a look at the sourcecode i'm afraid i cannot help you any further.
Also those issues are not related to `angular2-seed` itself.

This issue should be closed as it is not related to the seed itself.

[2016-05-18 08:08] mgechev commented on #893
Great job! May be it is an issue with https://www.npmjs.com/package/gulp-inline-ng2-template ?

Take a look at the `useRelativePaths` option.

[2016-05-18 08:54] dodoshanti opened #896 "Hotjar script in index.html?"
We would like to add the the below tracking code into the index.html. The code requires an ID which needs to be different depending on environment.
What's the best way to way to handle this?
Thanks
` (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:<ID>,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.c

[2016-05-18 09:38] mgechev commented on #896
For support you can use gitter.

[2016-05-18 09:38] #896 closed

[2016-05-18 10:07] TheDonDope commented on #844
Hi @vijayaragavendiran,
thank you for your example! I'll have a look at it later today. However, i think your general problem is not specifically related to the seed itself, but rather either a) the configuration of the coverage tool, or b) the coverage tool itself.

Greetings

Dope

[2016-05-18 10:15] TheDonDope commented on #895
Hi @hank-ehly,

stating my personal opinion, i would like to see this included in the seed. I know there have been arguments against it (referecing #746 as base of the discussion), but i think providing sass support which can be toggled by configuration would be a good compromise.

Greetings

Dope

[2016-05-18 15:24] vijayaragavendiran commented on #844
Hi @TheDonDope
I think its releated to configuration of the coverage tool.

I took a latest code from angular2-seed and made some modification.  Which I have mentioned above.Please see the below steps where it works and not works.

Steps (Code coverage not works)
======================
1.Modify the code i.e. add some new function.
2.Execute 'npm run start'
3.Execute 'npm run test'
4. Execute 'npm

[2016-05-18 15:36] TheDonDope commented on #844
Hi Vijay,

thank you for your further analysis! I have one further question: You stated:

Do you leave the first shell with the `npm run start` process open and run `npm run test` in a second shell? Or do you close the shell / end the `npm run start` process? I'll have a closer look at it, but my guess is that it might be a configuration related problem (or something of the likes of #716 )

Greeti

[2016-05-18 15:54] vijayaragavendiran commented on #844
@TheDonDope

I used the same shell. But I have ended the start process then executed the test. Hope this might help you.

Thanks,
Vijay

[2016-05-18 16:01] TheDonDope commented on #844
Hi Vijay,

i could reproduce the behaviour with your instructions, thank your for that! Actually it seems you have found a workaround for #716 🎉  There was an issue opened at the remap-istanbul repo (https://github.com/SitePen/remap-istanbul/issues/41) which has not been resolved yet.

BUT, since we now have a workaround for this issue, we could tackle it (maybe reconfiguring the `serve.coverage`

[2016-05-18 16:31] vijayaragavendiran commented on #844
@TheDonDope
Thanks a lot !

Vijay

[2016-05-18 18:13] gvsdan opened #897 ".drone.yml ?"
Any plans to add a .drone.yml to the project?

[2016-05-18 19:33] omargon commented on #893
Thanks @mgechev. I looked into the gulp-inline-ng2-template options including useRelativePaths, but no luck.. I will keep searching for a solution or rebuild the base once again.

[2016-05-18 20:05] TheDonDope commented on #893
Hi @omargon, take a look here: https://github.com/mgechev/angular2-seed/pull/891/commits (especially the two commits that update the gulp-inline-ng2-template configuration. Maybe this could be of help for you.

Greetings

Dope

[2016-05-18 20:07] TheDonDope commented on #887
Closing the issue for now, since it is not a seed issue.

[2016-05-18 20:07] #887 closed

[2016-05-19 08:06] adrianfaciu commented on #855
Using it on personal projects, to learn Angular2 and for prototyping. Will suggest it for commercial projects that the company will work on.

[2016-05-19 14:42] omargon commented on #893
Thanks @mgechev and @TheDonDope, indeed, after adding gulp-inline-ng2-template to the piping in build.js.test with the right configuration it fixed the error. Closing issue.

[2016-05-19 14:42] #893 closed

[2016-05-19 15:25] TheDonDope commented on #893
@omargon Nice to hear! You are welcome! :)

[2016-05-19 17:26] blackheart01 commented on #855
Currently using it in production and personal projects.

[2016-05-19 17:28] jeserkin opened #901 "setTimeout intercepted and requires Timer type variable to be assigned to"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

_What steps should we try in your demo to see the problem?_
1.  Create class
[code]
2. Save
3. Watch comiler consile livereload

**Current behavior**
On `*.ts` file change comiler in console shows following error

[2016-05-19 18:11] mgechev commented on #901
[Here's the first result](https://github.com/Microsoft/TypeScript/issues/842) when Googling the error you have, i.e.:

[code]

solves your problem.

[2016-05-19 18:11] #901 closed

[2016-05-19 18:18] shershen08 opened #902 "gulp build.dev and gulp serve.dev fail with Error: Cannot find module"
May seem related to #711 but I have Nodejs 6.0.0, tsc 1.8.10, NPM 3.8.6 @ MacOS 10.11

 **$ sudo npm run build.dev**
gives error:
[code]

[2016-05-19 18:31] jeserkin commented on #901
Okay, but all examples on the internet don't need to specify. Is it only angular2-seed issue?

[2016-05-19 19:10] ludohenin commented on #901
I think it is due to core node.d.ts lib in typescript.

[2016-05-19 19:31] csreddy commented on #855
I'm currently using it for building an angular2 internal app in my company. Tried many other alternatives, but they were very complex and hard to understand. Your seed starter is simple and does everything I wanted. Kudos to you!

[2016-05-19 19:50] sfabriece commented on #902
Have you tried deleting node_modules adn typings directories. and npm init again?

[2016-05-19 19:57] bbottema opened #904 "webpack's resolve.alias doesn't seem to work for 3rd party modules"
I'm trying to make npm [ng2-prism](https://github.com/tpadjen/ng2-prism) work with this seed, but it has an issue importing _angular2/http_, which as we know have been rescoped into @angular.

However, I would have thought that the aliases in webpack's config would solve these, but for some reason it's not picking up the alias.

vendor.ts (this is the only file I modified in the seed project)

[co

[2016-05-19 20:10] shershen08 commented on #902
```npm update``` you mean? tried that, no luck

[2016-05-19 20:10] bbottema commented on #904
I'm [trying my luck on stackoverflow](http://stackoverflow.com/questions/37333071/webpacks-resolve-alias-doesnt-seem-to-work-for-3rd-party-modules) as well.

[2016-05-19 21:24] shershen08 commented on #132
Nodejs 6.0.0, tsc 1.8.10, NPM 3.8.6, MacOS 10.11

I Have the same issue if I add
[code]
{
    "compilerOptions": {
        "target": "es5",
        "module": "commonjs",
        "declaration": false,
        "noImplicitAny": false,
        "removeComments": true,
        "noLib": false,
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "sourceMap": true
    },

[2016-05-19 23:33] csreddy opened #905 "app fails with nested dirs in shared dir"
**Disclaimer**: _Most likely there could be my mistake than a bug in the setup as I'm new to angular2 and systemjs config_

With the default directory structure the app works fine. But app fails to load when `/shared` directory contains nested directories

**Steps to reproduce and a minimal demo of the problem**
My dir structure looks like this
[code]

Here's the barrel info in case it helps narro

[2016-05-20 01:01] csreddy commented on #905
As i expected it was a mistake on my end. After moving the files, I forgot to update import statements which was causing the error.

[2016-05-20 01:01] #905 closed

[2016-05-20 01:56] omargon opened #906 "Livereload not working"
Hi,

I read some similar issues but not quite the same as what I'm experiencing with Livereload not reloading and getting stuck. After I made modifications to any of my files this is what gets execute and where it stops:

<pre>
[BS] Serving files from: dist/dev
[21:49:44] Starting 'build.dev'...
[21:49:44] Starting 'clean.dev'...
[21:49:44] Deleted dist/dev
[21:49:44] Finished 'clean.dev' after 9.

[2016-05-20 06:55] ludohenin commented on #906
Have you looked at what's inside your `dist/dev` folder ? This happens only on reload, works fine when you start the app ?

[2016-05-20 06:59] ludohenin commented on #904
@bbottema We are not using webpack in this seed. Closing as this not related to the seed. Thanks.

[2016-05-20 06:59] #904 closed

[2016-05-20 07:23] bbottema commented on #904
@ludohenin, sorry, I clicked the wrong seed in Google (it has the same name, different github user).

[2016-05-20 09:29] shershen08 commented on #147
still having same problem,
Node 6, MacOS 10.11, TS 1.8.6

[2016-05-20 11:14] TheDonDope commented on #902
Hi @shershen08, if it is not too much of a hassle, could you try to downgrade to Node 5.x, if it is still reproducable? If have a feeling that it might be a Node 6 related issue.

Greetings

Dope

[2016-05-20 11:16] TheDonDope commented on #906
Hi @omargon,
i don't know if this is of relevance, but what is your Node and NPM version?

[2016-05-20 11:19] vip32 commented on #615
you can add the material paths in project.config.ts like this:

[code]

[2016-05-20 11:36] Toktik opened #908 "Core-js instead of es6-shim"
I had issue with IE11 in prod mode. Generating a 20 rows/10 columns table was taking 50 seconds comparing to <1second on Chrome/Firefox.

This is the issue in Angular repo
https://github.com/angular/angular/issues/8112

As suggested, I've replaced es6-shim with core-js. Now IE has same performance as Chrome.

Lets use core-js by default in seed?

[2016-05-20 13:43] omargon commented on #906
@ludohenin: just compared dist/dev before and after reload and it is missing all js files after reload.
@TheDonDope: node `v4.4.2` npm `3.8.6`

[2016-05-21 09:13] shershen08 commented on #902
@TheDonDope , tried downgrading to 5.0.0, still having issues.

I've posted some relevant details here - http://stackoverflow.com/questions/37346512/how-to-fix-fs-re-evaluating-native-module-sources-is-not-supported-graceful)

Now I have **NPM 2.15.1, NodeJS v4.4.3**

and heres's current stacktrace
[code]

[2016-05-21 12:04] ludohenin commented on #902
@shershen08 It looks like `require` function is redefined at some point (looking for a `.js` file which doesn't exist instead of a `.ts`). It should be patched/replaced by `ts-node/register` but for reason at this point this is not working.
To workaround this issue, you can compile the tools with `npm run gulp -- build.tools` (to clean the folder up `npm run gulp -- clean.tools`).

[2016-05-21 12:11] ludohenin commented on #890
Closing this one has this actually a duplicate of #823

[2016-05-21 12:11] #890 closed

[2016-05-21 12:13] ludohenin commented on #823
@d3viant0ne Are you working on that one, or can I take over ?

[2016-05-21 15:42] christophertrudel opened #910 "Sass support in wiki"
[Sass support broken? #872](https://github.com/mgechev/angular2-seed/issues/872)

As discussed in the above the instructions work to support Sass. I have noticed when you run  `npm run serve.prod` or `npm run build.prod` it doesn't work. I'm pretty sure I didn't miss any instructions. Here is the directory structure difference.
![screen shot 2016-05-21 at 9 33 25 am](https://cloud.githubuserconten

[2016-05-21 22:04] fourctv commented on #855
Using it on personal projects and some proof-of-concepts for some customers.

One of those customers is HBO Latin America, for which we've built some fairly complex FLEX web apps used internally, which they may eventually replace by HTML5/JS. And also use HTML5/JS for new requirements. NG2 being a serious candidate there.

[2016-05-22 00:37] sfabriece opened #911 "Codelyzer styles guide causing error in CI"
I there a way to treat the style guide as a suggestion instead of causing errors when they fail?

Specifically, I'm create a custom routeoutlet that the style guide wants me to use as an attribute instead of element. That suggestion has currently a bug that make is impossible to use.

When I run my code in codeship with suggested way to do it, it fails.

[2016-05-22 09:53] mgechev commented on #911
Change [this flag](https://github.com/mgechev/angular2-seed/blob/2b8cc50d51820b11bd72fd02b24803d7bbb967ca/tools/tasks/seed/tslint.ts#L25) to false, or better disable the codelyzer's rules you don't follow.

[2016-05-22 09:53] #911 closed

[2016-05-22 12:27] adrianfaciu commented on #910
Where did you placed your main.scss file ? In the wiki guide it's placed inside the assets folder, and it works fine. If you just rename the main.css file to main.scss it will still be in the css folder and the path you specify in APP_ASSETS will be invalid `${this.ASSETS_SRC}/main.scss`.

[2016-05-22 14:39] shershen08 commented on #902
I've tried **npm run gulp -- clean.tools** and **npm run gulp -- build.tools** - but they both fail witht he same kind of output:
**$ npm run gulp -- clean.tools**

[code]

[2016-05-22 14:42] shershen08 commented on #902
@ludohenin thank you for the pointer - "It looks like require function is redefined at some point (looking for a .js file which doesn't exist instead of a .ts"
 - actually I had both gulpfile.js and gulpfile.ts in my directory!

## removing the **gulpfile.js** helped!

[2016-05-22 14:49] Shyam-Chen commented on #897
I think there should be no.

[2016-05-22 15:14] #902 closed

[2016-05-22 19:02] christophertrudel commented on #910
Ugh. Brain fart, should have noticed that. Exactly what was wrong, I didn't noticed the main.css file being moved to the `assets` folder. Thanks for the solution.

[2016-05-22 19:02] #910 closed

[2016-05-22 19:50] turbohappy commented on #855
Using it in our newest app (currently in development) at BidPal, Inc. (http://www.bidpal.com/).

[2016-05-23 12:28] calvdee commented on #906
I'm experiencing the same issue with npm 3.8.5 node 5.0.0.

[2016-05-23 12:36] Shyam-Chen commented on #908
migrate to core-js from es6-shim

[2016-05-23 13:06] mgechev opened #913 "Application decoupling"
## Purpose

Allow easier development of multi-platform applications with easy code reuse across them.

Make the entire client-side application and its dependencies, decoupled from the build process and encapsulated inside `src/client`.

## Background

At the moment we have our client application in the `src/client` directory and the build-related tasks in `tools`. Although we have this separation,

[2016-05-23 14:29] Passto commented on #855
Using on personal project with aim to learn angular2. This seed with ng-book2 (https://www.ng-book.com/2/) are good source of power. :) Thanks for great work.

[2016-05-23 15:41] omargon commented on #906
@calvdee, I resolved the issue by commenting out the following line of code: https://github.com/mgechev/angular2-seed/blob/master/gulpfile.ts#L15 I didn't know why it was commented on the first place so I had uncommented it. But it seems that it is needed for reload to work at least that did it for me. But it will be good if we can get a confirmation of it or an explanation on why does lines are t

[2016-05-23 16:23] TheDonDope commented on #913
Hi all!

I really like the proposal, it does make a lot of sense to relocate this client specific to this more appropiate place.

I agree, the advanced seed of @NathanWalker would benefit from this refactor. One point still sticks out for me: shouldn't the `client` directory get a more specific name? Maybe `ng2-client`or something like this? If the approach is to enable multiplatform/multiclient a

[2016-05-23 16:38] vigie commented on #147
@aboveyou00 Hey not sure if you've given up with cloud 9 or not, but I have got my build/run working consistently there after applying the small fix from here: https://community.c9.io/t/c9-throws-expected-errors-with-angular2-typescript/4831

basically c9 creates its own .c9/ cache directory at root which screws things up until you ignore that folder in the tsconfig.

[2016-05-23 16:41] mgechev commented on #913
May be `web-client`?

[2016-05-23 16:43] vigie commented on #147
@aboveyou00 @d3viant0ne The cloud9 "Serving files from: dist/empty/" thing seems to be a red herring. My output in cloud 9 always says that and yet the project launches correctly. Note the command to start within cloud 9 must change the port to 8080: "npm start -- --port 8080".

[2016-05-23 16:45] UncleVader commented on #179
Hi, could you share your experience about solving this issue, please?
I have the same, but don't know what I need to do.
Thanks!

[2016-05-23 19:36] NathanWalker commented on #913
Great proposal @mgechev.
How about just `web`?

Then you could have something like following for all sorts of scalability:
*I feel as the naming should be very platform specific and stay away from things like `client` or `frontend` since we truly are in the **new** brave world of true cross **platform** development with Angular 2*.
[code]

[2016-05-23 20:00] d3viant0ne commented on #913
IMO "web" would be the most explicit without getting into something platform specific or non-descript like "public".

Call it web / browser but it's probably best to keep it's naming related to the platform being used for delivery like the rest.

[2016-05-23 20:08] TheDonDope commented on #906
@omargon

-> https://github.com/mgechev/angular2-seed/commit/9a41f2369079c275ef59b5c7444cc51a351a5fae

[2016-05-23 20:10] NathanWalker commented on #913
I like `browser` too @d3viant0ne Either way.

[2016-05-23 20:12] NathanWalker commented on #913
What's nice about this direction is the platform specific naming conventions can be left for the user to decide:
[code]

[2016-05-23 20:13] TheDonDope commented on #913
`web` sounds good to me too!

[2016-05-23 21:03] mgechev commented on #913
Ok, let's call it `web`.

[2016-05-23 22:21] TylerEich commented on #179
I think I just deleted and reinstalled. I can't say for sure tho…I use the Angular CLI now, which solved many of my issues from a few months ago

[2016-05-23 23:41] d3viant0ne opened #915 "chore(devDeps): Update dev dependencies"
**Major**

typings to 1.0.4
_Breaking Changes_ - https://github.com/typings/typings/releases/tag/v1.0.0

**Minor**

tslint to 3.10.2
Enhancements & new rules / rule options

**Patch**

ts-node to 0.7.2

**Associated Fixes**

PR is currently configured for the "new" typings install paths. The option exists to go back to main / browser if necessary though I can't see a good reason why we should go t

[2016-05-24 08:07] #908 closed

[2016-05-24 12:32] arm5472 commented on #913
Great idea @mgechev. This decoupling makes perfect sense. I also like `web`.

[2016-05-24 15:19] d3viant0ne commented on #915
Reopening briefly to address an issue that @Shyam-Chen pointed out - https://github.com/mgechev/angular2-seed/blob/3bafd1851e097ac8d6148e956764864e567ad4aa/tools/tasks/seed/build.js.dev.ts#L18

[2016-05-24 15:31] #906 closed

[2016-05-24 15:36] #897 closed

[2016-05-24 15:53] d3viant0ne commented on #913
Not that I want to debate it endlessly but if we are naming things based on the medium used as a content deliver method, `browser` is technically more accurate.

[2016-05-24 16:00] arozwalak opened #918 "typings errors when rebuilding project"
Hi! I just pulled latest version of angular2-seed project. I run `npm install` and `npm start`.
At this point everything's ok, but once I change any file which triggers project rebuild I'm getting list of typings errors

[code]

and I don't know what can be wrong about this. Any idea?

[2016-05-24 16:03] Shyam-Chen commented on #918
#917

[2016-05-24 17:04] #915 closed

[2016-05-24 17:05] TheDonDope commented on #918
Hi @arozwalak, #917 was merged just now and the error should be fixed now :)

[2016-05-24 18:00] fourctv opened #919 "Conflicts between Backbone, JQuery typings and the seed"
I've installed `Backbone`, `jQuery` and some other 3rd party libraries to my copy of the seed.

There are conflicts between typings definitions in those modules and some of the stuff on the seed.
For example, "$" is declared in `angular-protractor` as `cssSelectorHelper`, and that conflicts with jQuery's declaration.

There is also what seems to be a bug in a `Backbone` declaration, where a functi

[2016-05-24 18:48] mgechev commented on #919
Thanks for reporting the issue but it doesn't seem related to the seed.

- We don't offer jQuery, Backbone support.
- We are consumers of our dependency typings so if it can't handle the collision of the duplicate `$` identifier this is not something we should take care of.

I'd recommend you to edit the typings manually.

[2016-05-24 18:48] #919 closed

[2016-05-24 19:04] #918 closed

[2016-05-24 19:29] jlberrocal opened #921 "Error after changes"
Hi everybody, first thanks for this awesome seed project.

Now, i have a problem that occurs when i make changes over the code(any kind of file), when it reload the browser the console throws the following:

EXCEPTION: TypeError: dep is nullbrowser_adapter.js:86
EXCEPTION: TypeError: dep is nullbrowser_adapter.js:77:13

EXCEPTION: Error: Uncaught (in promise): TypeError: dep is nullbrowser_adapter

[2016-05-24 19:30] arozwalak commented on #918
thanks, it helped.

[2016-05-24 19:32] TheDonDope commented on #921
Hi @jlberrocal at which commit is your local git repo's HEAD at? Do you have the latest commit https://github.com/mgechev/angular2-seed/commit/830f0616348a62eefd76a1bb621d9cb3ccba0e9e included?

[2016-05-24 20:29] jlberrocal commented on #921
Hi @TheDonDope i can't say that because i remove the git folder, i use this seed project for my own project and it is under other git repository

[2016-05-24 20:36] jlberrocal commented on #921
I had an backup and this is the head of the local project
c076787d5cf6ac8a105b34876cd98324cd6b6a2d

i ran this command to get it
`git rev-parse HEAD`

[2016-05-24 20:41] TheDonDope commented on #921
Hi @jlberrocal, thanks for the info! Can you try to update to the latest commit of the seed and see if you can still reproduce it?

[2016-05-24 21:06] jlberrocal commented on #921
on my backup looks like is not happening after i apply the last commit, i'll merge both projects and then i'll try again

[2016-05-24 21:07] aboveyou00 commented on #147
@vigie: Thanks so much for posting your response here! You're a godsend! I had given up on this project. Your solution worked perfectly.

For others who may come here, the solution that vigie suggested was to add ".c9" to the "exclude" array in tsconfig.json. (For completeness' sake, to get it working in cloud9 you also have to manually install three packages globally: `npm install -g typings type

[2016-05-24 21:10] jlberrocal commented on #921
Ok, now when i try to compile i'm having the following:
 TypeError: task is not a function at Gulp.<anonymous> (/home/jberrocal/Projects/alkaid-metro/trunk/metro-portal/tools/utils/seed/tasks_tools.js:31:33)

[2016-05-24 21:26] jlberrocal commented on #921
forget my last comment, it compile now.

I already merge both projects and i'm still getting the error after any change on code

[2016-05-24 23:27] ludohenin commented on #913
I vote for `browser` as well and second @d3viant0ne

[2016-05-24 23:27] ludohenin commented on #913
... but the proposal rocks.

[2016-05-24 23:38] NathanWalker commented on #913
It's a good debate and naming is always hard.

`browser` cons:

* what is built by that folder is for the web, which may not *technically* be a browser. for instance, a hybrid app may use that built output from that folder in a webview in a hybrid app. in that sense, `browser` doesn't apply
* `browser` is a type of medium that delivers the `web` and therefore `browser` is not a platform, but rathe

[2016-05-25 05:53] vigie commented on #147
@aboveyou00 great to have external verification! Just to note in my case I did not ever have to manually globally install anything, npm install was sufficient. I suspect your c9 container could be contaminated after days of tweaking it? Would be interested to know if you find the same on a fresh c9 project.

I have also created a Dockerfile that lets you test this stuff out consistently locally. T

[2016-05-25 06:17] vigie commented on #147
A couple final notes on this cloud 9 stuff.

* When running `npm run serve.prod -- --port 8080` on cloud 9 it can look as though the script has hung after a couple of minutes. It has not. Its just that the last few lines are not output to the shell for some reason. The web app is being served.

* After doing the above, I though I had found a remarkably easy and cheap way to host my app in producti

[2016-05-25 07:46] cristi-en commented on #921
I also have problems after live reload.
I've made a comparison of the dist/dev directories before after start and after live reload and the metadata info is missing and live reload.

[2016-05-25 08:21] silentHoo opened #922 "Why do you use export function main() in tests?"
I still wonder why there's the need to export the main() function in every test spec. Could you explain that for me? The tests are still run by karma if I forget to put my tests into the main() section. Is there any reason for that?

If you have a look at test-main.js:89-95 you will find the code where main() is expected and called:

[code]

Thanks in advance.

[2016-05-25 14:01] jlberrocal commented on #921
if that were the case and according with what i know that can be solve using the typescript.json file, right @TheDonDope ???

[2016-05-25 18:40] d3viant0ne commented on #913
It really comes down to how what and how you think about delivery mediums. To me `web` is a generic term that encompasses the interconnects between delivery mediums of which something like the `Chrome web browser` is one.

In the end naming this is funky now because the lines between delivery mediums has been blurred significantly, which is only going to get worse.

We could ask 100 people and it

[2016-05-25 20:01] ludohenin commented on #922
@silentHoo It's a convention.

[2016-05-25 20:13] ludohenin commented on #913
Just to bring extra water to the mill 😄(I want to see `browser` win) (source wikipedia)

__web__

__browser__

That's pretty straight forward, isn't it ?
The entire world is probably wrong calling apps `web applications` which are in fact `browser applications`.
Shit, we have to tell the entire world now :)

[2016-05-25 20:25] d3viant0ne commented on #913
I'll create the issue to inform the planet and just go ahead and assign that one to you @ludohenin . If you could get on that right after the whole offline compile feature, that would be great...thanks.

[2016-05-26 08:56] Sjiep opened #925 "Live-reload not working when changing Component CSS"
Is it normal that the live-reload functionality doesn't update the CSS if it is part of a Component.

Even on a cleanly installed seed and I change for example the background-color of the HomeComponent :host, the changes is only reflected when doing a 'hard' reload.

Might this have something to do with the fact that it is injected by Angular2 in the head of the index.html file?

**Edit:** this se

[2016-05-26 11:45] harishrohokale commented on #855
@mgechev We are still discussing whether we should use angular2-seed or angular2-seed-advanced.
I see the changes of angular2-seed are frequently merged to angular2-seed-advanced.

Can you guide us what would be the right path?

[2016-05-26 12:33] TheDonDope commented on #855
@harishrohokale That depends on what you expect the seed to deliver to you. `angular2-seed-advanced` extends `angular2-seed` with support for:

(see: https://github.com/mgechev/angular2-seed#advanced-seed-option)

If you have a look at the [README](https://github.com/NathanWalker/angular2-seed-advanced/blob/master/README.md) of `angular2-seed-advanced` you will have further information.

Greetings

[2016-05-26 13:02] jbouzekri opened #927 "Environment configuration management"
It would be nice to have a way to manage different configuration parameters based on environment. It could allow to store things like api endpoints, ...

For example angular-cli override a environment.ts file based on the target environment.

[2016-05-26 14:48] Shyam-Chen commented on #913
Why not `web`? If integration Material and Firebase be weird.

[2016-05-26 15:27] TheDonDope commented on #913
Just as @d3viant0ne said:

To add onto that, i'd like to quote [Phil Karlton](http://martinfowler.com/bliki/TwoHardThings.html):

The corresponding PR isn't finished, so there could still be changes, and though i personally tend towards `web` too, but i flipped a coin with `web` being head and `browser` being tails, and tails landed.

[2016-05-26 15:29] jbouzekri opened #928 "myUtil function not called"
I don't know if I am doing it wrong but I have just copy pasted the example from : https://github.com/mgechev/angular2-seed/wiki/Add-external-dependency and run `npm start` but this function is never called.

Tested on a clean clone of this repository.

Either the documentation is outdated or their is a regression on this functionnality.

[code]

[2016-05-26 16:14] mgechev commented on #927
I am already doing this in a project where I am using the seed. I will try to push this feature upstream early next week.

[2016-05-26 16:14] jlberrocal commented on #928
You have to add the library as a dependency, it should work as you are doing it but just in case do the following:
In your seed.config.ts look for `SYSTEM_BUILDER_CONFIG: any `
Into the packages key add the external dependency, it should work

[2016-05-26 16:18] jbouzekri commented on #928
The _quick example_ works fine but not the _full example_. I succeeded by doing what you said but it means that the documentation is wrong. Moreover, I am (almost 100%) sure that the `myUtil` function from sample_utils.ts is never called.

[2016-05-26 16:24] jlberrocal commented on #928
Well that i'm not sure about that, but apparently yes, the documentation is wrong because if you follow it your project maybe that don't compile for production (at least for me don't work)

[2016-05-26 17:19] grunzmeniroj commented on #334
hi mgechev,
I followed these steps https://github.com/mgechev/angular2-seed/wiki/Add-Sass-support after that
css file injection is not working

inside tools/config/project.config.ts  i modified constructor like this
[code]

Build process doesn't show any error but as expected main.css is not injected in index.html

[code]

what might be wrong... Please help me

[2016-05-26 18:41] TheDonDope commented on #334
Have you renamed and moved your `src/client/assets/css/main.css` to `src/client/assets/main.scss`?

[2016-05-27 02:27] grunzmeniroj commented on #334
Yes I did that...

[2016-05-27 08:11] nishesj commented on #844
For us the problem was with inlineNg2Template. Fixed by setting target to es5 in
https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/seed/build.js.test.ts

[code]
[code]

[2016-05-27 08:52] grunzmeniroj commented on #334
hi
Now I have another question.... I installed susy using npm install susy --save
How to load the susy in my .scss file ?

[2016-05-27 10:38] davidgfolch commented on #855
Hi all,

I'm using it too (at the moment), for a project arquitecture migration to @Angular.  I don't know yet if I'll need angular2-seed-advanced (for translation?)

Thanks

[2016-05-27 14:13] aie0 opened #930 "npm start failes"
ran with npm 2.15.5 and node 4.4.5 on mac:

[code]

[2016-05-27 14:27] projenix commented on #855
I am using it to get myself started with Angular2 and I will hopefully be starting a new personal project/prototype off it soon if all works out well.

[2016-05-27 18:05] projenix commented on #930
You don't have gulp and ts-node! The install assumes that you have them already globally so it doesn't duplicate install them.

Do: npm install -g gulp ts-node

And then try again, it should work.

[2016-05-27 18:09] gustavolira opened #931 "(jenkins) mark build as failure"
would be nice if when we run `npm run build.prod` and an error occurred in `build.bundles.app` the build was marked as failure, so that jenkins recognize as a failure build.
Currently jenkins is always recognizing as success build

[2016-05-27 18:18] gustavolira commented on #846
Just to explain in more details...
Nowadays when I start the application (dev mode) I'm receiving 500 requests of .js, 90% is from angular 2.
http://i.imgur.com/KzlGVPH.png

[2016-05-27 18:21] cviccaro opened #932 "HomeComponent not initialized if sd-navbar component removed and no Router instance in AppComponent constructor"
**Steps to reproduce and a minimal demo of the problem**
This may be an angular2 issue and not an angular2-seed issue, but since it's been a couple months since I've worked with angular2 and angular2-seed, I'm not sure.  Since this requires only the removal of 2 lines of markup from a template file, I anticipate a demo is not necessary but steps to reproduce it follow.

I attempted to start fresh

[2016-05-27 19:55] alexeimun commented on #855
I'm started my academic project with angular2, and I need to make a MOOC platform with many improvements. I Hopefully angular2-seed help me out with my project.

[2016-05-27 20:46] Green-Cat commented on #932
It's a issue with the new angular router.
The best current workaround is to insert a blank navigation link to the page like this:
```<a [routerLink]="['/']"></a>```

[2016-05-27 20:48] Green-Cat commented on #932
Here's a link to the issue on the angular repo https://github.com/angular/angular/issues/8409

[2016-05-27 20:52] cviccaro commented on #932
@Green-Cat OK, great, thanks!  Glad this is known about. Should have searched on angular's issues first, my fault.

[2016-05-27 22:46] ludohenin commented on #930
@aie0 Have you tried to re-run `npm install` several time ?

@projenix Global modules shouldn't be necessary.

[2016-05-27 23:06] #932 closed

[2016-05-27 23:12] ludohenin commented on #928
@jbouzekri I confirm that the doc is worng. I'll go and fix that right away. `myUtil` is a sample class meant to be used with the tools like the seed utils. What the doc explains should simply refer to `config.project`.

[2016-05-27 23:12] #928 closed

[2016-05-27 23:38] gtame commented on #615
@vip32  Works!!! :+1:

[2016-05-28 00:03] ludohenin commented on #925
@Sjiep I just check that point and I don't see any ways to make this working. When a css file is modified, browsersync looks if it is in the document (which is not the case for components) so it doesn't inject anything, futhermore, component style sheets need to be compiled by Angular, those files would then need to trigger a full reload, but as there are css, browsersync doesn't trigger that one.

[2016-05-28 00:21] ludohenin commented on #921
I can't reproduce.

[2016-05-28 01:08] jlberrocal commented on #921
Ok i'll give you more context, i take out the content of the folder client (i don't need more path), then i rename the +about and +home to the same names but with out the plus symbol, that should be the reason???

[2016-05-28 01:49] ludohenin commented on #921
If you rename the path to the corresponding modules wherever their are imported, that should work.

[2016-05-28 02:02] jlberrocal commented on #921
Yes, i change the name in the imports and also i change the path in config file for delete the client folder

[2016-05-28 05:31] danypellerin opened #934 "css animation in main.css overriden in prod."
If you declare an animation in the main.css file (src/client/css), it gets overriden if an animation is created in the css file of a component of the shared folder (and I guess any other component folder).

example in main.css:

[code]

example in home.component.css:

[code]

Elements to which the vanish animation is applied will have the appear animation applied instead.

This only happens when u

[2016-05-28 08:32] htdt commented on #925
As a partial solution, `injectChanges: false,` in [config](https://github.com/mgechev/angular2-seed/blob/master/tools/config/seed.config.ts#L389) will update window on every change.

[2016-05-28 12:08] #931 closed

[2016-05-29 06:29] nelkov opened #935 "Running Tests"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

Running Karma tests

**Steps to reproduce and a minimal demo of the problem**
[code]
[code]

_What steps should we try in your demo to see the problem?_

**Current behavior**

[code]
**Expected/desired behavior**

**Other information**

[2016-05-29 08:17] Shyam-Chen opened #936 "e2e tests with ts-node"
reference: [angular-cli (protractor.config)](https://github.com/angular/angular-cli/blob/master/addon/ng2/blueprints/ng2/files/config/protractor.conf.js)

[2016-05-29 10:42] mgechev commented on #936
Sounds like a good idea. Can't we do the same for unit tests?

[2016-05-29 10:50] mgechev commented on #935
There are no assertions in the test above this is why you get `0 tests completed`.

You're using `ng2-bootstrap` but you haven't configured the correct path to it. Take a look at `test-main.js` for this.

[2016-05-29 10:50] #935 closed

[2016-05-29 10:52] Shyam-Chen commented on #936
Remain unchanged.

[2016-05-29 10:52] #936 closed

[2016-05-29 10:57] mgechev commented on #934
@danypellerin thanks for reporting this issue and for investigating it!

Should be fixed by https://github.com/mgechev/angular2-seed/commit/13f3978e1a16b0064e93859d8a71111e2fa19223.

[2016-05-29 10:57] #934 closed

[2016-05-29 10:58] #930 closed

[2016-05-29 10:59] mgechev commented on #930
Duplication of https://github.com/mgechev/angular2-seed/issues/591.

[2016-05-29 11:00] mgechev commented on #925
I think disabling the CSS injection makes sense.

[2016-05-29 11:04] #922 closed

[2016-05-29 11:11] #925 closed

[2016-05-29 11:14] mgechev commented on #895
Sounds good to me. Not sure if it is worth it to be part of the global project configuration or plugin specific config which was recently implemented by @brian428 here https://github.com/mgechev/angular2-seed/commit/9a86bf51fa0ccba4830fdea01eeeaabb671063a2.

I don't mind merging it since it seems that Sass is very desired feature. @d3viant0ne and @ludohenin what are your thoughts?

[2016-05-29 11:15] mgechev commented on #823
Any updates here? I can take it as well.

[2016-05-29 11:16] mgechev commented on #846
Yes, I agree that it is kind of annoying. I'll see if I can find time for this in the upcoming week.

[2016-05-29 11:20] mgechev commented on #844
@TheDonDope awesome job!

[2016-05-29 11:20] #615 closed

[2016-05-29 13:34] hank-ehly commented on #895
@mgechev
Thank you for your feedback.
I will prepare a refactored & up-to-date version of the above fork for your review by June 1st.

[2016-05-29 14:03] sfabriece commented on #925
What are the implication of disabling CSS injection? thanks.

[2016-05-29 15:42] ludohenin commented on #925
@sfabriece not much, when you will change a style sheet from `css` folder, it will trigger a full relaod instead of injecting that file only.

[2016-05-29 15:53] sfabriece commented on #925
Ok, thanks @ludohenin .

[2016-05-29 16:05] mgechev commented on #895
Awesome, looking forward to see it!

[2016-05-29 16:48] nelkov commented on #935
Actually test-main.js is:

// Load our SystemJS configuration.
System.config({
  baseURL: '/base/'
});

System.config({
  defaultJSExtensions: true,
  map: {
    'rxjs': 'node_modules/rxjs',
    '@angular': 'node_modules/@angular',
    'ng2-bootstrap': 'node_modules/ng2-bootstrap',
  },
  packages: {
....

As far as assertions is concerned I've just added this one:

export function main() {
  desc

[2016-05-29 17:02] ludohenin commented on #935
@nelkov

PhantomJS 2.1.1 (Linux 0.0.0) ERROR: Error{stack: null, originalErr: Error{}, line: 821, sourceURL: 'http://localhost:9876/base/node_modules/systemjs/dist/system.src.js?

You have errors, so the test are actually not ran.

[2016-05-29 20:10] rdroft opened #938 "webpack-dev-server.js:1 Uncaught TypeError: Cannot read property 'replace' of null"
git clone
cd angular2-webpack-starter
npm install
npm start

open chrome browser and navigate to localhost:3000

**Current behavior**
there is 2 errors like this
webpack-dev-server.js:1 Uncaught TypeError: Cannot read property 'replace' of null
app.component.ts:66 Initial App State Object

and intial application loaded without images and some tags are not substituted
like
<% if (webpackConfig.meta

[2016-05-29 20:38] ludohenin commented on #938
@rdroft You're in the wrong repo!

[2016-05-29 20:38] #938 closed

[2016-05-29 20:40] rdroft commented on #938
right
sorry

[2016-05-30 00:18] danypellerin commented on #934
Thanks a lot it works perfectly now!

[2016-05-30 07:31] 0xorial opened #940 "Speeding up build on windows does not seem to work"
`tsc --project tsconfig.json`
outputs:
[code]

[2016-05-30 08:24] mgechev commented on #940
You have to be in the project's root https://www.typescriptlang.org/docs/handbook/tsconfig-json.html.

[2016-05-30 08:24] #940 closed

[2016-05-30 08:29] Sjiep commented on #925
Thanks, that indeed solved the issue!

[2016-05-30 10:14] Rademanc opened #941 "Failed to decode downloaded font"
Hi.
I added bootstrap to a clean install of the seed project as described in the wiki.
A dev build works fine, but a production build gives me these errors:

(index):1 Failed to decode downloaded font: http://localhost:5555/fonts/glyphicons-halflings-regular.woff2
(index):1 OTS parsing error: invalid version tag
(index):1 Failed to decode downloaded font: http://localhost:5555/fonts/glyphicons-hal

[2016-05-30 10:19] TheDonDope commented on #941
Hi @Rademanc, yes! Have a look here:  https://github.com/mgechev/angular2-seed/wiki/Add-external-fonts

[2016-05-30 10:45] #941 closed

[2016-05-30 10:45] mgechev commented on #921
Any updates here? I can't reproduce it neither.

[2016-05-30 10:58] katalonne opened #943 "After SASS integration - Errors and Reloading browser"
After following the SASS Support Integration instructions, I get a lot of (stupid) errors when building the project :
![ng2-errors](https://cloud.githubusercontent.com/assets/12927805/15647695/e590be04-266d-11e6-934d-ec1e3e37235e.png)

Everything was fine before integrating Sass...
I get errors like:
**file should end with a newline**
**trailing whitespace**
and more...

Furthermore, when I make c

[2016-05-30 11:00] Rademanc commented on #941
Thanks a lot.

[2016-05-30 11:20] #846 closed

[2016-05-30 11:22] mgechev commented on #943
These are style errors that you can fix - remove the trailing spaces, unused variables, add newlines in the end of the files and do not leave empty blocks.

[2016-05-30 11:22] #943 closed

[2016-05-30 11:37] jlberrocal commented on #921
Well I downloaded the seed again and add the modules again and now I'm not seeing the error

[2016-05-30 11:46] #921 closed

[2016-05-30 11:46] mgechev commented on #921
Great to hear that!

[2016-05-30 11:47] mgechev commented on #844
We can close this issue since it seems an upstream one, not seed-related.

[2016-05-30 11:47] #844 closed

[2016-05-30 11:58] cristi-en commented on #921
My problems got fixed after adding some typings. I can't explain why....

[2016-05-30 12:14] ryanlangton opened #944 "How to include angular firebase?"
I'm having trouble adding angular2 firebase to the seed project.  Instructions to add angular2 firebase here:
https://angularfire2.com/api/

The code that is failing is in my main.ts after adding:

`import {FIREBASE_PROVIDERS, defaultFirebase, AngularFire} from 'angularfire2';`

The seed is pretty confusing with regards to setting up the system config.  Do I need to add something to tools -> confi

[2016-05-30 12:15] ludohenin commented on #895
@hank-ehly Don't know if this will help but in version `2.0.0` of [`gulp-inline-ng2-template`](https://github.com/ludohenin/gulp-inline-ng2-template) I've added async support for processor functions (template and styles) and customFilePath ... just to let you know.

[2016-05-30 14:20] katalonne commented on #943
fd

[2016-05-30 14:21] katalonne commented on #943
No, these are stupid errors!!!!

Let just be rational, and think that this are not programming language (Javascript) conventions,

[2016-05-30 14:29] mgechev commented on #944
Duplication of https://github.com/mgechev/angular2-seed/issues/697

[2016-05-30 14:29] #944 closed

[2016-05-30 14:40] keerthivasan-r opened #945 "XHR error (404 Not Found) loading http://localhost:5555/app/login.js"
Hi,
I am migrating from webpack-starter to angular2-seed. I have the application structure as shown below, where every component and services are in their own respective folders.

When i try to do `npm start`, the code gets transpiled into `dist/dev` directory successfully.when it opens in the browser, it loads to the login component as configured in routes for `'/'` by default. it seems to look f

[2016-05-30 15:07] Sjiep commented on #943
@katalonne The errors refer to have nothing to do with you enabling SASS because they are pointing towards your Angular2 service files. I.e. they are TSLint errors. The tslint config followings the [Angular2 Style Guide](https://angular.io/styleguide) as close as possible.

If you so desire to have a different configurations, feel free to edit the `tslint.json` file which you can find in the root

[2016-05-30 16:49] TheDonDope commented on #945
Hi @keerthivasan-r ! It is a bit hard to give advice without the full source at hand, but i have a hunch.
I see you do have barrel files (`index.ts`) within your modules (`app/login/index.ts`). When you import something from your login module, you certainly have something along the likes of:

`import { LoginComponent } from './login'; `, right?

You do need to add the `/index` suffix to the import

[2016-05-30 17:12] #945 closed

[2016-05-30 17:58] htdt commented on #895
I'm using http://cssnext.io with `postcss-import` as an alternative to sass. It works as a polyfill, neat and compact in this seed. There was an issue with `build.js.test`, but async support in `gulp-inline-ng2-template` just has solved it. If somebody is interested, I can share the tasks.

[2016-05-30 20:42] d3viant0ne commented on #895
@htdt - I normally use pre/postcss for scss functionality but there are and always will be people that want or need to use a preprocessor for their styles.

Personally I think the ability to simply define your style sheets implementation of choice without having to jump through a bunch of hoops is a solid feature.

[2016-05-31 05:22] keerthivasan-r commented on #945
@TheDonDope Thanks for the help. it definitely fixed the issue. But, may i know why we should explicitly add in the imports `/index`.

[2016-05-31 06:22] katalonne commented on #943
Dude, This errors showed up after I integrated sass!!!

[2016-05-31 08:16] TheDonDope commented on #945
@keerthivasan-r You are welcome! The reason you have to add `/index` as a suffix to your import is, because without it, just as shown in your errors, the app wouldn't know it has to look for a `index.js` and would rather look for a `login.js`.
But i think this is a configuration problem that can be solved (allowing barrel imports in the Typescript files to omit the `/index`).

@mgechev Can you may

[2016-05-31 08:38] ShurikAg opened #946 "Browser reload fails after any code change"
running `npm start` starts the application properly.

However, if I change any code, and npm tries to reload the browser I am getting the following error:

stopping everything and restarting helps until the next code change.

This: https://github.com/mgechev/angular2-seed/wiki/Known-Issues does not help as well.

[2016-05-31 09:15] mgechev commented on #946
I can't reproduce the issue. If the code that you've entered is syntactically invalid TypeScript might have failed to parse it and respectively produce `main.js`.

[2016-05-31 10:07] elpddev opened #947 "build.docs fails - readme reference"
If i understand correctly, the build.docs was dropped. The readme.md still refers to it. https://github.com/mgechev/angular2-seed/pull/881

[2016-05-31 10:54] #947 closed

[2016-05-31 12:54] gustavolira commented on #931
Thanks @mgechev

[2016-05-31 13:19] NathanielMalca commented on #946
+1

[2016-05-31 16:16] ShurikAg commented on #946
@mgechev If it was syntactically invalid then it would fail on `npm start` as well, right? But it compiles without even warnings.

[2016-05-31 18:42] mpetkov opened #950 "Intellij code errors for name-list.service.ts"
I just pulled down the latest version of the seed project and Intellij is showing up some errors for name-list.service.ts.  Inside the get function, it says that it can't resolve the items in red shown in the screenshot below:

![image](https://cloud.githubusercontent.com/assets/8858458/15686319/59844584-2735-11e6-991d-67a4a8c582f6.png)

Is anyone else seeing this issue?

[2016-05-31 18:50] fourctv commented on #919
an update to the `gruntfile.js` to be compatible with the latest seed:

[code]

[2016-05-31 22:03] btrajkovski commented on #927
Also it would be nice if we could dynamically add environments, and not be limited to just `development` and `production`.
I don't know your concrete implementation if you have this that is great, if not maybe this could a feature for some future release?

[2016-05-31 22:21] cm0s commented on #855
One of our dev team at the University of Geneva (Switzerland) is using angular2-seed. We are currently migrating our Angular 1 app to Angular 2 and building new apps. For now we are still trying to find out what's the best build solution (systemjs-jspm, systemjs, webpack, angular-cli). We had a custom grunt build for our Angular 1 app but don't want to go down this road before we are sure what's t

[2016-05-31 22:49] hank-ehly-mulodo commented on #950
@mpetkov , I have also experienced this error in Webstorm.
It may be common throughout JetBrains IDE products.

I was able to solve the issue by doing the following:
- Added an `import 'rxjs/Rx';` statement in main.ts
    - (A more specific statement is preferrable)
- Go to File -> Invalidate Caches / Restart and select "Invalidate and Restart"

[2016-05-31 22:50] hank-ehly commented on #950
@mpetkov , I have also experienced this error in Webstorm.
It may be common throughout JetBrains IDE products.

I was able to solve the issue by doing the following:

Added an import 'rxjs/Rx'; statement in main.ts
(A more specific statement is preferrable)
Go to File -> Invalidate Caches / Restart and select "Invalidate and Restart"

[2016-06-01 01:37] ryanlangton opened #951 "Unable to build prod with angular2-material"
Trying to include angular2-material.
gulp dev.build works fine and I can see it working locally.
gulp dev.prod results in an error:

`[20:30:43] Finished 'build.bundles' after 2.08 s
[20:30:43] Starting 'build.bundles.app'...
Unhandled rejection Error on fetch for @angular2-material/icon/icon.js at file:///c:/Dev/daybreak/node_modules/@angular2-material/icon/icon.js
        Loading dist/tmp/app/ap

[2016-06-01 05:18] hank-ehly commented on #895
@mgechev,

I have rebased my commits onto the current master branch and submitted a pull request for your review (#952)

Just as @d3viant0ne mentioned, this allows users to define their stylesheet preference without having to manually edit any seed files.

- To begin using scss, specify the flag: `npm start -- --scss`
    - If everyone would rather enable scss-processing without modifying the glob

[2016-06-01 07:04] ShurikAg commented on #946
Maybe this is the problem...
http://prntscr.com/bawl3x
What does this mean exactly?

[2016-06-01 07:39] mgechev commented on #946
You said that it works initially (i.e. `npm start` works), and after a change fails (i.e. you might have introduced a syntax error).

Would you provide the output of:

[code]

[2016-06-01 07:41] ShurikAg commented on #946
`dist/
└── tmp
    ├── app
    │   ├── +about
    │   │   └── about.component.html
    │   ├── +home
    │   │   └── home.component.html
    │   ├── app.component.html
    │   └── shared
    │       ├── navbar
    │       │   └── navbar.component.html
    │       └── toolbar
    │           └── toolbar.component.html
    └── index.html`

[2016-06-01 07:42] mgechev commented on #946
Do you get any errors by running `npm run build.dev`?

[2016-06-01 07:43] ShurikAg commented on #946
Only these:

/Users/ShurikAg/Dev/angular2/priz-fe/src/client/app/app.component.ts
      line 2  col 29  unused variable: 'Routes'
      line 4  col 9   unused variable: 'HomeComponent'
      line 4  col 29  " should be '

    ✖ 3 errors

/Users/ShurikAg/Dev/angular2/priz-fe/tools/tasks/project/build.html_scss.ts
      line 11  col 7  unused variable: 'cleanCss'

    ✖ 1 error

[2016-06-01 07:47] ShurikAg commented on #946
Also, when I am trying to use new routes I am getting this issue:
http://prntscr.com/baww4e
It feels like related.

[2016-06-01 07:56] ShurikAg commented on #946
So, all the IDE warnings are now gone. However, I am back to the same issue of not reloading one code change.

[2016-06-01 09:27] NathanielMalca commented on #946
same here . this is  a problem that is around for quite a while now

[2016-06-01 09:34] NathanielMalca commented on #946
this is what i get on firefox debug tools

09:30:15.186 Error: patchProperty/desc.set/wrapFn@http://localhost:5555/node_modules/zone.js/dist/zone.js?1464773410245:769:27
	Zone</ZoneDelegate</ZoneDelegate.prototype.invokeTask@http://localhost:5555/node_modules/zone.js/dist/zone.js?1464773410245:356:24
	Zone</Zone</Zone.prototype.runTask@http://localhost:5555/node_modules/zone.js/dist/zone.js?146477

[2016-06-01 09:35] NathanielMalca commented on #946
├───dev
│   ├───app
│   │   ├───+about
│   │   ├───+home
│   │   ├───shared
│   │   │   ├───name-list
│   │   │   ├───navbar
│   │   │   └───toolbar
│   │   └───UserManagement
│   │       ├───components
│   │       ├───services
│   │       └───types
│   ├───assets
│   │   ├───css
│   │   ├───fonts
│   │   │   └───fontawesome4.2
│   │   ├───img
│   │   │   └───gradient
│   │   ├───svg
│   │   └───v

[2016-06-01 09:38] NathanielMalca commented on #946
again like @ShurikAg  , when typing npm start everything works welll . if i make a change i get that error that i mentioned.

I'm developing a big project for production and because of this bug i left it pending for a month hoping that the seed will be fixed by that time . sadly it didnt  @mgechev

[2016-06-01 09:39] NathanielMalca commented on #946
using webstorm on windows env

[2016-06-01 09:41] NathanielMalca commented on #906
+1

[2016-06-01 11:52] mgechev commented on #946
@ShurikAg are you using `@angular/router` or `@angular/router-deprecated`?

[2016-06-01 15:58] ShurikAg commented on #946
@mgechev `@angular/router`

[2016-06-01 16:16] mpetkov commented on #950
@hank-ehly - I am curious why the old version of the seed which used the alpha angular didn't have this issue?

[2016-06-01 17:07] jlberrocal commented on #946
i was able to reproduce this error, at least for me it happen when i enabled the TS compiler of WebStorm, after that i get the error on the browser logs

[2016-06-01 17:21] ShurikAg commented on #946
@jlberrocal I disabled it from the very beginning. I am using IntelliJ

[2016-06-01 18:03] jlberrocal commented on #946
Yes i used to have it disabled but i enable it by mistake, and after enable it i start to see the error, and no matter if i disable it the error is still there

[2016-06-01 22:56] ludohenin commented on #951
I suppose this is an upstream issue, source map path looks ... incorrect!

[2016-06-01 23:25] hank-ehly commented on #950
@mpetkov

Unfortunately I've only been using angular 2 -- as well as the seed -- since beta. I would not know if there were an issue during alpha.

Where the above troubleshooting steps any help?

[2016-06-02 01:48] ryanlangton commented on #951
Yes I thought so too, but why would it only occur on the prod build?  Any suggests for workarounds?

[2016-06-02 05:38] ShurikAg commented on #946
Hmmm...
So I removed 'clean.dev' from `build.dev` and everything started to work and refresh.

[2016-06-02 06:26] mgechev commented on #855
@cm0s, make sure you're using the latest seed (we're using bundles instrad of downloading the angular modules one by one). You can also take a look at the optimization techniques. I am working on 10k+ lines of code project with live reloading happening in ~1s.

[2016-06-02 06:31] mgechev commented on #927
I am thinking of only two build configurations - dev and prod like what we have now.

On top of that, we can have multiple configuration variables loaded dynamically from a JSON config files, located somewhere in the root. So npm run build.prod --env-config staging will run the prod build but set end points, settings, etc for the staging environment.

[2016-06-02 06:33] #946 closed

[2016-06-02 07:13] shoebsd opened #953 "How do I host dev/prod on IIS?"
**Steps to reproduce and a minimal demo of the problem**

1. run npm install
2. run npm serve.dev
3. **This works locally**, also this creates a dev directory in the dist folder as in the following snapshot:
![image](https://cloud.githubusercontent.com/assets/7359157/15741096/b178b526-28d5-11e6-98f7-bb5ca19caf1b.png)
4. Go to IIS by pressing [Windows + R] and typing 'inetmgr'
6. Right click Defaul

[2016-06-02 09:06] raoel commented on #855
I help creating a new frontend for a customer with a Progress-based-backend. They've always used Progress for the frontend, but they want their frontend to be more "modern" and flexible.
I know nothing of Progress, but I'm helping out as Angular 2-expert.

No release date known yet.

I selected this seed-project as a base because there were a load of backers. I started using the seed somewhere aro

[2016-06-02 09:22] TheDonDope commented on #953
Hi @shoebsd,
can you please provide more information on your current behaviour? (Stack trace, error log, screenshots etc.)

[2016-06-02 09:31] shoebsd commented on #953
Hi,

I was able to run the project locally, but I couldn't host it on IIS server.

[2016-06-02 09:50] TheDonDope commented on #927
Hi,

@mgechev has a point; from a build technical perspective, a "development" build and a "production" build should be sufficient. But i agree too, any further environment specific environments (e.g. staging, integration <insert-your-fancy-environment-name-here>) could be provided for / configured through JSON config files. IMHO we should rough out a more specific concept for this (in the likes o

[2016-06-02 09:55] TheDonDope commented on #953
Hi @shoebsd,
yes, i could read that from your original posting:

But this information is too generic to be able to help. Therefore i need more **specific** information, for example screenshots, stack traces of the error, log file excerpts.

[2016-06-02 10:21] shoebsd commented on #953
Hi Don,

I have updated the question

[2016-06-02 11:13] TheDonDope commented on #895
Thank you very much @hank-ehly for the PR :)

[2016-06-02 11:13] #895 closed

[2016-06-02 13:29] njs50 commented on #855
@raoel I made a shell script to update our seed. It's prob missing a few files that might need to be updated but seems to get most of them. note EDC_HOME is an env var with the dir where all my project junk is checked out, but importantly angular2-seed is cloned there.

https://gist.github.com/njs50/3df497ebec5539e632fef0ac410f9f1c

note you'd just run it from the project dir you want to update (w

[2016-06-02 14:19] suren1525 opened #954 "ENABLE_SCSS. build.prod doesn't generate main.css file"
Hello
I have enabled scss and renamed all css files to scss.
build.dev works fine, but build.prod doesn't generate and inject main.css file.
Thanks

[2016-06-02 14:59] brian428 commented on #850
@mgechev Just checking in to see how you want to proceed on this, since ideally the {{getPluginConfig()}} check would be used in all applicable plugin calls across all of the tasks. In my case, I selfishly needed to configure the CSS URL rebasing and the BrowserSync config, so those are the ones I added. But there are probably numerous other places where using {{getPluginConfig()}} could/should be

[2016-06-02 15:21] andrewe2k1 commented on #855
Profitect is a start-up located in Waltham, MA focused on providing customers with Prescriptive Analytics Solutions.  We currently have a product out on the market that depends on Silverlight.  We have begun the process of completely rewriting the front-end using Angular 2.  So it is a greenfield project.  Initially we were writing our own seed/framework until we came across Angular 2 Seed.  Thank

[2016-06-02 15:23] TheDonDope commented on #850
@brian428 I love the idea to give the tasks some refactoring love! I think it could also be a great opportunity to fix some of those last ```TODO``` ```FIXME``` markers :) I think we should take some "inventory" on the current tasks and utils to see if we can unify them in some way, maybe extract reusable technical utilities (there are so many tasks that use `import 'join' from { path }` ...). I w

[2016-06-02 15:38] TheDonDope opened #956 "(Tracking) - Refactor tasks and utilities"
Based on the last comments in #850, this issue will provide basic information and lists task that need to be done to solve the problem.

**Current situation:**
With https://github.com/mgechev/angular2-seed/pull/894 being merged, we now have the ability to make use of custom plugin configuration. This is already done now for SystemJS (https://github.com/brian428/angular2-seed/blob/ad90fee764748c815

[2016-06-02 15:41] TheDonDope commented on #954
Hi @suren1525 !

Did you rename your `main.css` file in `src/client/css/main.css` to `main.scss` and move that file to `src/client/assets/main.scss` ?

[2016-06-02 17:12] TheDonDope commented on #954
I can reproduce it with latest `master`:

[code]

I think `build.index.prod.ts` needs an update too: https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/seed/build.index.prod.ts#L53

@hank-ehly do you have a suggestion how to fix this?

[2016-06-02 17:24] mpetkov commented on #950
@hank-ehly - Tried it out and same issue.  I guess I will just learn to ignore the false-positives :)

[2016-06-02 17:56] #950 closed

[2016-06-02 18:02] mgechev commented on #850
@brian428 I can assist with this. Externalizing the configuration of tasks sounds great. During the weekend I'll use your work for something related, implementing environment specific configuration https://github.com/mgechev/angular2-seed/issues/927.

[2016-06-02 20:16] mpetkov commented on #855
Maybe it would be a cool idea to get a "Built with angular2-seed" page going like the angular one?
http://builtwithangular2.com/

[2016-06-02 21:15] ckapilla commented on #855
I'm using the project to upgrade a production angular 1 site for a small non-profit / charitable organization in San Miguel de Allende, Mexico. Angular2-seed has been a great resource and learning tool for me in this process. I'm very indebted to everyone who has contributed.

[2016-06-02 23:08] hank-ehly commented on #954
@TheDonDope
Thank you for the information. I will get on this right away.

[2016-06-02 23:21] hank-ehly commented on #954
@suren1525 / @TheDonDope

It seems that adding the following line to the project.config.ts file does **not** override the seed.config.ts value. I verified that this results in the main.css file not being injected during `npm run build.prod`

    // project.config.ts
    constructor() {
        ...
        this.ENABLE_SCSS = true;

I am able to output main.css by doing either of the following:
- ru

[2016-06-03 03:30] ludohenin commented on #956
Do you think it is hard ?
We should be doing too much black magic.

[2016-06-03 06:10] suren1525 commented on #954
Thank you @hank-ehly!
Setting ENABLE_SCSS = true in seed.config.ts solves the problem.
I look forward to the solution of the project.config issue.

[2016-06-03 08:25] TheDonDope commented on #956
Hey! I can't think of one particular "too hard" task to modify right now. I just remembered when i added the inline documentation to the `tools` section, that a lot of the code i saw was built similar, with a few exceptions.
Truly, i do **not** want to propose to absolutely over-engineer the stuff, just some house-keeping (maybe also tackle those `TODO` and `FIXME` tags).

[2016-06-03 10:35] zeeshanjan82 opened #958 "HomeComponent not rendered"
I will try to explain as much as I can about the problem. I have cloned the repo and started to integrate my logic inside the repository with only one component i.e HomeComponent which is assigned on the default route. When I load my application using command 'gulp serve.dev' I am able to see the header and footer which are part of the app.component but home component is not visible it seems its n

[2016-06-03 11:17] HendrikZero72 commented on #954
@hank-ehly The problem is more generic, it involves all constants in the `SeedConfig` class in the `seed.config.ts` file that are built up dynamically. Some examples:
[code]

The value of `this.APP_SRC` is in the context of the `SeedConfig` class. Perhaps you could reverse the logic, i.e. make the ProjectConfig constants available to the SeedConfig and then do it something like this:
[code]
That w

[2016-06-03 11:35] hank-ehly commented on #954
@HendrikZero72

Thank you for your comment.

Yes, this seems to be a larger issue -- one which has been mentioned in numerous other issues from what I've gathered. Currently issue #823 seems to be where the discussion is taking place.

[2016-06-03 11:40] #954 closed

[2016-06-03 11:41] mgechev commented on #958
Make sure you're including the non-rendered components in the `directives` property within the `@Component` decorator.

[2016-06-03 11:47] mgechev commented on #956
At this point I don't think we can encapsulate any general functionality within an base task. Reviewing and inspecting the current set of tasks may overturn this.

I guess this issue is mostly related to research/design, rather than concrete idea for refactoring/implementation.

[2016-06-03 11:47] zeeshanjan82 commented on #958
@mgechev I am using HomeComponent in the Route and I have declared the route as this
[code]

[2016-06-03 11:49] mgechev commented on #958
This is the configuration of the seed itself, and it seems to work.

What is your implementation of `HomeComponent`?

[2016-06-03 11:50] zeeshanjan82 commented on #958
[code]

[2016-06-03 11:50] zeeshanjan82 commented on #958
Loaded message is not printed in console.

[2016-06-03 11:51] mgechev commented on #958
What's the content of `home.component.html`?

[2016-06-03 11:51] zeeshanjan82 commented on #958
its all html with bootstrap css applied, would you like me to post that as well?

[2016-06-03 11:52] zeeshanjan82 commented on #958
I was previously using normal angular2 app before moving to the seed project there the html was working

[2016-06-03 11:58] mgechev commented on #958
Most likely the issue is not related to the seed itself, since as you said it was initially working. This is how the `AppComponent` should look like:

[code]

Most likely you're missing declaration of directives that you're using somewhere. For further reading I'd recommend you the [dev guide here](https://angular.io).

[2016-06-03 11:58] #958 closed

[2016-06-03 17:45] lzoubek commented on #953
@shoebsd serving dev files from IIS does not make sense ( as serve.dev already starts up local web server for you) and won't work (see [seed.config.ts](https://github.com/mgechev/angular2-seed/blob/master/tools/config/seed.config.ts#L412)). Not sure about serving prod files (I have not tried) but it looks like your build fails - but I cannot see the reason in your console screenshot

[2016-06-03 17:51] lzoubek commented on #951
I had the same issue with ng2-toastr. I ended up in forking their project, [fixing](https://github.com/PointInside/ng2-toastr/pull/24) it and referring to my fork in my package.json.  I'd be happy for better workaround as well

[2016-06-03 18:13] shoebsd31 commented on #953
Hi Izoubek,

This is shoeb here. I am developing a web application in angular2. The idea is to get a dist/build version created out of my angular2  application. Ideally with prod build I want a minified js, css and html file. I want to host this application on IIS server.

[2016-06-03 18:28] TheDonDope commented on #953
Hi @shoebsd & @shoebsd31:
Try the following:

1. `$ npm build.prod`
2. Create your IIS server and point it to `dist/prod`

[2016-06-04 03:46] shoebsd31 commented on #953
Hi Don,

This is what I did exactly. It doesn't work

[2016-06-04 04:50] foxjazz opened #963 "Trying this out. Errors in dev and build (requiring external module)"
After cloning, npm install, npm start:

[code]

[2016-06-04 08:30] mgechev commented on #953
Make sure you use "npm run build.prod", not "serve.prod".

Also, make sure you have valid configuration of the production build. For support requests we can move the discussion to gitter.

[2016-06-04 08:30] #953 closed

[2016-06-04 18:42] mgechev commented on #963
This is the expected behavior.

[2016-06-04 18:42] #963 closed

[2016-06-05 02:13] sfabriece opened #964 "Error when using custom router outlet"
NOTE: using router-deprecated!

**Steps to reproduce and a minimal demo of the problem**

Extend RouterOutlet
Include it as a directive for a component.

**Current behavior**

When the application loads, I get a ```No provider for String!```

**Expected/desired behavior**

The router outlet should be used.

[2016-06-05 03:46] luozt opened #965 "Navbar Home tab always keeps active."
Clicking switch the navbar tabs will not change Home tab style. It always keeps active...

![image](https://cloud.githubusercontent.com/assets/6123916/15803494/07b4c1ac-2b13-11e6-8120-432beac0b78b.png)

Hope it can be fixed soon.

[2016-06-05 05:02] mgechev commented on #964
This doesn't seems like an issue in the seed project.

For support requests you can start a discussion in the gitter channel of the project.

[2016-06-05 05:02] #964 closed

[2016-06-05 05:05] sfabriece opened #966 "Force case sensitive loading of dependencies on Windows."
On windows, adding a dependency using the config file is not case sensitive. It caused an error when runing on a linux CI.

Is it possible to force case sensitivity?

[2016-06-05 05:28] sfabriece commented on #964
Given that the angular version hasn't changed only the tools. I have reason to believe that it's the tools. Let me ask on gitter and see what happens.

[2016-06-05 07:12] ganySA opened #967 "Wiki - page empty / broken for Pug(Jade)"
The wiki for Pug (Jade) is broken - any chance someone could provide the instructions for how to implement PugJs?

**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

_What steps should we try in your demo to see the problem?_

**Current behavior**

**Expected/desi

[2016-06-05 09:06] mgechev commented on #964
The last version of Angular introduced a new router, this is the reason now we have `@angular/router` and `@angular/router-deprecated`. Mismatch in providers is the case of your issue, this is why I redirected your support request to the appropriate channel :-).

[2016-06-05 09:08] mgechev commented on #966
I believe it is responsibility of developer to make sure she providers correct paths to the resources.

// cc @ludohenin @TheDonDope @d3viant0ne

[2016-06-05 09:08] #966 closed

[2016-06-05 09:09] mgechev commented on #965
I'll take this one today,

[2016-06-05 09:11] mgechev commented on #927
@TheDonDope makes sense, lets hold it until #913 is resolved.

[2016-06-05 13:48] mgechev commented on #965
It's an upstream issue https://github.com/angular/angular/issues/8397

[2016-06-05 13:48] #965 closed

[2016-06-05 14:11] #850 closed

[2016-06-05 14:12] mgechev commented on #951
@d3viant0ne did a demo with the seed and material2 so most likely this is not issue related to the seed.

[2016-06-05 14:12] #951 closed

[2016-06-05 14:13] mgechev commented on #967
I removed the page. Most likely someone had an intention to add further information but in the end didn't.

[2016-06-05 14:13] #967 closed

[2016-06-05 14:36] spicemix commented on #913
How about a `src/shared` directory for platform-independent/isomorphic core code that can be unit tested/profiled on its own?

[2016-06-05 15:41] TheDonDope commented on #966
I agree, i see this as a developers responsibility too.

[2016-06-05 19:51] sfabriece commented on #966
Thanks for the response.

[2016-06-05 23:58] NathanWalker commented on #913
@spicemix I really like the thought of that 👍  There will certainly be some universal/isomorphic with this kind of setup.

[2016-06-05 23:59] NathanWalker commented on #913
@TheDonDope I'll be using `web` in advanced seed so whatever you guys wanna use here, makes no difference to me :)

[2016-06-06 00:39] sfabriece commented on #964
Found out that there was a missing @Attribute() annotation. That caused the problems.

[2016-06-06 06:41] MathijsHoogland opened #969 "Adding external fonts in production builds fails"
Hi guys, I think the documentation on how to add external fonts to the seed is outdated. I did the following to add the font (basically the same as mentioned in the documentation):

 In `tools/config/project.config.ts`:
[code]

Added the following task:
[code]

And added this task at the correct locations in my gulpfile.

**Current behavior**

When trying to view my application, the font's aren't

[2016-06-06 07:19] csreddy commented on #969
I have the exact same issue with prod build

[2016-06-06 08:03] Sjiep commented on #969
I actually got this working last week. It seems like your reference to the font-awesome font files is incorrect.

First of all, can you verify that the build has copied the files to `dist/prod/fonts`.

Then when using font-awesome, you have to reference it correctly, depending on what method you use CSS or Sass/Less. It seems to me that this is where it's going wrong. Which method are you using?

[2016-06-06 08:16] TheDonDope commented on #969
Hi @MathijsHoogland! As @Sjiep mentioned: Depending on which stylesheet mechanism you are using you need to reference the corresponding files correctly.

In a personal project (based on the seed) i also use font-awesome in conjunction with sass.
Therefore in my `src/client/css/main.scss` i have the following line:

[code]

[2016-06-06 10:28] #969 closed

[2016-06-06 11:48] MathijsHoogland commented on #969
@Sjiep thanks for your help, I am using CSS. The fonts are correctly loaded, and the reference also is correct when I load the development environment. This is what it looks like when I look at my main.css file:
    src: url(../../../font-awesome/fonts/fontawesome-webfont.eot?v=4.6.3);

This obviously should be src: url(../fonts/fontawesome-webfont.eot?v=4.6.3), and in the source file (font-awesom

[2016-06-06 12:02] Sjiep commented on #969
In my project I've used the Sass version, so I don't have any experience with the CSS version. How are you including the `font-awesome.css` into your project?

To me it sounds a bit strange that a source url inside a css file is changed during the build.

[2016-06-06 12:05] MathijsHoogland commented on #969
In my `project.config.ts` file I added font-awesome with the following line:

   let additional_deps: InjectableDependency[] = [
      {src: 'font-awesome/css/font-awesome.min.css', inject: true},
    ];

Inside this file, there are references to the fonts (that all work). It is after all stylesheets are converted to `main.css` that the reference isn't correct anymore.

[2016-06-06 12:40] TheDonDope commented on #969
@MathijsHoogland have a look here: https://github.com/mgechev/angular2-seed/issues/850#issuecomment-218736860

[2016-06-06 13:37] mraible opened #970 "Protractor tests pass locally, but not in Travis CI"
**Steps to reproduce and a minimal demo of the problem**

I created a simple angular2 application using angular2-seed as a starting point. You can find it at https://github.com/mraible/angular2-tutorial. As part of creating this project, I wrote a tutorial on testing that you can find [here](https://github.com/mraible/angular2-tutorial/blob/master/TESTING.adoc).

To reproduce the problem, fork my

[2016-06-06 14:15] mgechev commented on #970
@Shyam-Chen would you take a look?

[2016-06-06 14:18] mraible commented on #970
I was able to workaround this issue by [navigating to each component](https://github.com/mraible/angular2-tutorial/commit/11fa5220d5264abfdc675323ca526e228e5204a5). However, I'd would love know if it's possible to just tweak some configuration to make this work.

[2016-06-06 15:14] Shyam-Chen commented on #970
Hi @mraible

[code]

[2016-06-06 20:49] gvsdan opened #971 "Enable SCSS #952 Integration is not injecting the npm dependencies"
i'm trying to use the scss  #952  integration in development mode is working fine but when i use the prod mode is not creating the '.css' for all the npm dependencies injected in the 'project.config.ts'

[2016-06-06 22:11] hank-ehly commented on #971
@gvsdan, thank you for your comment. I'll take a look.

[2016-06-07 04:38] zeeshanjan82 commented on #958
I have been able to reproduce the issue in the seed. If I remove the Navbar component from the html of app component along with toolbar component then the home component is not rendered.

[2016-06-07 04:40] zeeshanjan82 opened #972 "No UI Visible"
In the seed project if 1 only remove the Navbar & Toolbar Components and only keep this line in App Component's html then nothing is rendered.
[code]

[2016-06-07 04:43] zeeshanjan82 commented on #972
https://github.com/mgechev/angular2-seed/issues/932 got it fixed.

[2016-06-07 04:43] #972 closed

[2016-06-07 08:44] elpddev opened #973 "importing rxjs operator timeInterval produce error "unexpected token <" in the browser"
This is related ti #784 I think.

I tried:
[code]

Which gives the following error in the browser:

[code]

1. When I try other operators, it works.
2. The timeInterval files exists in the node module rxjs add folder

I temporarily fixed the problem by commenting out the rxjs path and packages in the seed file as was mantioned in the related issue and it works. But I don't think this is a solution

[2016-06-07 09:47] mgechev commented on #973
You have entered a wrong path to the operator. The browser (by default) loads `index.html` which is executed as JavaScript by SystemJS and you get this error of unexpected token.

Make sure your import is correct.

[2016-06-07 09:47] #973 closed

[2016-06-07 14:42] jelard commented on #855
Really glad that I came across this angular2-seed project.  Used this  to convert an internal app in Angular 1 to Angular 2.  Thanks.

[2016-06-07 14:50] gvsdan commented on #971
@hank-ehly Thanks to you for making the sass support

[2016-06-07 19:21] ndcunningham opened #974 "Reference Error"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

### Expected behavior
Modules to be loaded
### Actual behavior
404 on testing modules
### Enviroment Details
Same as seed

- `karma.config.js` file
`
[code]
- Shim File
[code]

- TS CONFIG
[code]
I usually have a dist folder with all my tsc output but now i am just up ag

[2016-06-07 20:31] mpetkov commented on #969
I also have the same issue with the new seed, has there been a solution on how to correctly use a css font in prod?  Jus tlike mentioned above, the prod build for some reason changes the font url inside the css file.  Currently the only way I can solve it is by create a seperate build.fonts task for dev and prod.

[2016-06-07 20:37] csreddy commented on #969
Yes - in `build.html_css.ts` replace this line in `processExternalCss()`
 `.pipe(isProd ? plugins.concatCss(CSS_PROD_BUNDLE) : plugins.util.noop())` with
`.pipe(isProd ? plugins.concatCss(CSS_PROD_BUNDLE,{rebaseUrls:false}) : plugins.util.noop())`

this worked for me, this is same as what was suggested the good folks in the comments above

[2016-06-07 20:53] mpetkov commented on #969
Thanks @csreddy, since I am using a newever version of the seed, I used your answer and did the following:
In my project.config.ts file, I added this line at the end of the constructor function:
`this.mergeObject( this.PLUGIN_CONFIGS['gulp-concat-css'], { rebaseUrls: false } );`

[2016-06-07 22:13] lmessinger opened #975 "build.prod doesnt work??"
Hi

on running **npm run build.prod** we're getting errors on files we added under app/components

[code]

any ideas?

thanks very much
Lior

[2016-06-07 22:19] NathanWalker commented on #974
You are using a non-standard setup it appears. Your karma.conf is different than this:
https://github.com/mgechev/angular2-seed/blob/master/karma.conf.js#L42-L44

Any reason why you have veered off course? The seed provides a setup of the box that is ready to go without any changes, just adding custom code and developing on top of that.

Also, `npm test` runs the tests.

[2016-06-07 22:43] ndcunningham commented on #974
I just migrated what the seed project has to my setup (config files wise), which isn't far from what you have you have dist/dev/app i have dist/app

That's why I modified the karma.conf file appropriately.

[2016-06-08 06:14] lmessinger commented on #975
it seems that the issue is in  tools/tasks/seed/build.js.prod.ts
the call to plugins.inlineNg2Template(INLINE_OPTIONS) with the options {base:TMP_DIR,
  useRelativePaths:true,
  removeLineBreaks: true
} somehow duplicates the path (eg /app/components/typography/components/typography/)
playing with these options still didnt do it
why this could happen?

thanks for any ideas!
Lior

[2016-06-08 07:21] hjc879227 commented on #975
Same problem here, it seems like 'useRelativePaths' not working in tools/tasks/seed/build.js.prod.ts

[2016-06-08 07:23] hjc879227 commented on #975
@lmessinger if you have any anser for this,please let me know.

[2016-06-08 09:11] ludohenin commented on #975
I can't reproduce the error. Can you provide more info (like your component metadata) ?

[2016-06-08 09:20] lmessinger commented on #975
what do you mean by 'metadata'?

thats my app structure

liorm@ip-172-31-17-58:~/bkup/servo-admin-ang2Version$ la
total 164
drwxrwxr-x   9 liorm liorm  4096 Jun  7 21:22 .
drwxrwxr-x  15 liorm liorm  4096 Jun  8 09:10 ..
-rw-rw-r--   1 liorm liorm  1245 Jun  6 15:05 appveyor.yml
drwxrwxr-x   5 liorm liorm  4096 Jun  7 22:10 dist
-rw-rw-r--   1 liorm liorm   244 Jun  6 15:04 .editorconfig
drwxrwxr-

[2016-06-08 09:27] mgechev commented on #975
@lmessinger would you try with latest changes introduced by https://github.com/mgechev/angular2-seed/commit/157f6d4a0c9e410d7bc95f2219f400741f452132

[2016-06-08 10:10] TheDonDope commented on #971
Fixed by #976, thank you very much Hank!

[2016-06-08 10:10] #971 closed

[2016-06-08 15:55] gvsdan commented on #971
@hank-ehly Everything is working fine but now the external dependencies in production are broken.

[2016-06-08 19:54] bsanth commented on #935
I am facing the same issue with any third party libraries I have used.

[code]

Any solutions?

[2016-06-08 21:03] bsanth commented on #801
@Neil-Ni Can you attach what changes to karma.conf.js and test-main.js you made here? I am facing the same issue. Thanks!

[2016-06-08 23:28] eppsilon opened #977 "Some RxJS operators are missing from the bundle the seed uses"
**To Reproduce:**

With a clean copy of the seed, replace `home.component.ts` with this:

[code]

Run the seed via `npm start`. The page will not load and the console will have an error like ` SyntaxError: Unexpected token <`.

Now remove/disable `import 'rxjs/add/operator/pairwise';` and the `pairwise()` call. The page loads fine and you see the numbers printed to the console.

The `pairwise` ope

[2016-06-09 05:47] mgechev commented on #977
We're coupled to beta.6 as being peer dependency of Angular 2 rc.1.

[2016-06-09 09:08] davidgfolch opened #978 "Referencing shared folder in imports"
Hi all,

I'm trying to put a path or map to reference the shared folder directly in the imports, but with no success.

Example: instead of using imports like this:

`import { NameListService } from '../shared/index';`

It would be very interesting to use them like that:

`import { NameListService } from 'shared/index';`

This way you can move folders arround with no pain, thats only an example on

[2016-06-09 10:23] mgechev commented on #978
You need to use "shared/index". We don't support node module resolution because of compatibility with SystemJS.

[2016-06-09 10:23] #978 closed

[2016-06-09 10:27] cristianmtr commented on #935
I'm also facing the same issue:

[code]

my `test-main.js`:
[code]

[2016-06-09 10:47] cristianmtr commented on #935
Turns out you also have to include `{pattern: 'node_modules/ng2-bootstrap/**', included: false, watched: false},` in `karma.conf.js`. I guess you have to do this for every dependency.

[2016-06-09 12:52] davidgfolch commented on #978
Hi and thanks for answer.

There is not an alternative to module resolution to get something like this working?

In my project I have some generic objects (services/components/pojos):

app/contracts/list.ts

app/shared/components/Messages.ts
app/shared/components/Pagination.ts
app/shared/components/TableHeader.ts
...
app/shared/pojos/Message.ts
...
app/shared/rc/impl1/index.ts
app/shared/rc/impl1/

[2016-06-09 13:26] mgechev commented on #978
Yes, having such configuration in SystemJS is possible.

[2016-06-09 15:45] vip32 opened #979 "project.config overrides don't always work"
when using the following project.config.ts the PORT override is not used. after using npm start the site is still being served on port 5555. however the overridden APP_TITLE works fine.
Other override like PROD_DEST also are ignored. Changing the values directly in seed.config.ts is gives the desired result and the changes are applied (start or build.prod tasks).

is this a bug or am i overlooking

[2016-06-09 15:55] mgechev commented on #979
Seems like duplicate of #823 which is solved by https://github.com/mgechev/angular2-seed/pull/968.

[2016-06-09 15:55] #979 closed

[2016-06-09 15:56] mgechev commented on #977
Lets wait until rc.2 is out. The version of the peer dependency most likely will be changed.

[2016-06-09 17:54] ndcunningham commented on #974
used seed project.

[2016-06-09 17:54] #974 closed

[2016-06-10 05:57] EmanuelEriksson commented on #801
In karma.conf i added

'node_modules/dragula/dist/dragula.min.js'
and
{ pattern: 'node_modules/ng2-dragula/**/*.js', included: false, watched: false }

in files for the config

in test-main i added

'ng2-dragula':'node_modules/ng2-dragula',
'dragula':      'node_modules/dragula/dist/dragula.min.js',

in map for system.config.

[2016-06-10 07:31] davidgfolch commented on #978
Yes that works (but doesn't integrate with TS compiler, that give errors on paths like 'restClient/...'):
[code]

But if I put it in seed.config.ts or project.config.ts doesn't work (is going to look for localhost:5555/node_modules/restClient/package.json):
      'restClient/*': `app/shared/services/restClient/*`

[2016-06-10 08:54] mgechev commented on #978
Take a look at the Angular CLI. They use barrels in their SystemJS config.

[2016-06-10 16:53] netstart commented on #975
I have problem to, but, i have other error message, when execute gulp build.prod:

`
[13:52:07] 'build.bundles.app' errored after 6.71 s
[13:52:07] Error on fetch for dist\tmp\app\main.js at file:///C:/dev/angular2-seed/node_modules/dist\tmp\app\main.js
        Error: ENOENT: no such file or directory, open 'C:\dev\angular2-seed\node_modules\dist\tmp\app\main.js'
    at Error (native)
[13:52:07] '

[2016-06-10 17:08] mgechev commented on #975
Most likely the problem is reproducible on windows only.

I guess the problem comes from `/` vs `\`.

[2016-06-10 18:43] pbazurin-softheme commented on #975
And seems it's related to the update systemjs-builder@0.15.19 -> systemjs-builder@0.15.20

[2016-06-10 20:04] ganySA opened #980 "Pug / Jade support."
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

Pug / Jade support in build process :)

**Steps to reproduce and a minimal demo of the problem**

_What steps should we try in your demo to see the problem?_

**Current behavior**

**Expected/desired behavior**

**Other information**

[2016-06-10 22:23] lmessinger commented on #975
Hi @mgechev - i cloned latest but still:
'/home/liorm/devcode/angular2-seed/dist/tmp/app/components/typography/components/typography/typography.html'

BTW I'm using a ng2-sbadmin theme and these are its components

On Wed, Jun 8, 2016 at 9:27 AM, Minko Gechev <notifications@github.com>
wrote:

--
Lior Messinger
+1-646-3730044
+972-546-888401

[2016-06-11 00:35] AHBAPAKA opened #981 "Does dev build OK but breaks on npm run build.prod"
*
I tried twice cloning new version, result is the same.
Here is npm log:
D:\SHKU\Dropbox\Projects\CAT_PREPARE\ANG2-SEED\angular2-seed>npm run build.prod

[19:32:55] Requiring external module ts-node/register
(node:16676) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
[19:33:12] Loading tasks folder D:\S

[2016-06-11 08:21] ghudeihed opened #982 "Using Mocha and Chai instead of Jasmine is not working"
I installed karma-mocha and karma-chai and modified karma.config.js as the following link:

https://github.com/ghudeihed/angular-seed-with-mocha-chai

I added typings for both mocha and chai in the typings.json file and removed the jasmine typings.

now I run the gulp test task I get 0 test run and no code coverage

anybody can tell me what am I doing wrong here, I have been trying to get it to wo

[2016-06-11 09:21] mgechev commented on #980
Thanks for the suggestion! I are planning to keep the seed project minimalistic, adding jade doesn't seem like a good fit at this point. On the other hand, we can add a wiki page on how this can be achieved.

[2016-06-11 09:21] #980 closed

[2016-06-11 10:09] ludohenin commented on #980
@ganySA you can have a look at the following
https://github.com/ludohenin/gulp-inline-ng2-template#processors-configuration
https://github.com/ludohenin/gulp-inline-ng2-template/blob/master/test/test.js#L69