[2015-05-03 02:58] johnjelinek opened #2 "Update for Angular2 alpha 21"
Is there any plans to update this to the latest alpha (and TypeScript 1.5 beta)?

[2015-05-03 08:22] mgechev commented on #2
Next few days I'll be busy traveling. Right after that I'll update it, it's in my schedule already. Thanks for the reminder! :-)

[2015-05-04 15:00] johnjelinek commented on #2
yw

[2015-05-14 07:38] flyingzl commented on #2
I seems that upgrading to `Angular2 alpha 21`  will break `gulp build:angular`

[2015-05-14 13:26] johnjelinek commented on #2
alpha 22 is out now

—
Sent from Mailbox

On Thu, May 14, 2015 at 2:38 AM, 石头 <notifications@github.com> wrote:

[2015-05-14 13:39] mgechev commented on #2
Yes, I saw that. I'll spend the rest of the day working on migration of the seed project to alpha 22.

[2015-05-14 13:44] johnjelinek commented on #2
Great! Don't forget to change your imports for Components/Views/Directives:

[code]

The @RouteConfig() annotation is now available too, but you'll need to add the additional router lib and import from "angular/router".

—
Sent from Mailbox

On Thu, May 14, 2015 at 8:40 AM, Minko Gechev <notifications@github.com>
wrote:

[2015-05-14 15:10] #2 closed

[2015-05-14 15:11] mgechev commented on #2
There are still some things which could be polished but it works with alpha 23.

[2015-05-14 15:33] mgechev opened #3 "Serve the static content with gulp task"

[2015-05-14 15:34] #3 closed

[2015-05-14 18:26] johnjelinek commented on #2
:+1: thanks.

[2015-05-14 18:28] johnjelinek opened #4 "Convert to TypeScript"
Could you create a branch or upgrade to a scenario where there's a typescript transpiling build step and you can drop the dependency on traceur.

[2015-05-15 07:12] mgechev commented on #4
Yes, this is planned for my weekend :-)

[2015-05-15 16:08] johnjelinek commented on #4
:+1:

[2015-05-15 22:39] ludohenin commented on #4
Cool.
They seems to have a pretty decent angular2.d.ts file here [ttps://github.com/angular-class/angular2-webpack-starter...](https://github.com/angular-class/angular2-webpack-starter/blob/master/typings/angular2/angular2.d.ts)

[2015-05-15 23:44] johnjelinek commented on #4
:+1:

[2015-05-19 07:19] mgechev commented on #4
`gulp-typescript` still uses TypeScript 1.4.x. I'll wait a few days until 1.5 is officially released. For now traceur works perfectly.

[2015-05-19 12:06] johnjelinek commented on #4
I don't think you need `gulp-traceur` at all if you're using typescript.
Just run `tsc` as a postinstall script with npm. It'll read your tsconfig
for the output directory.
On May 19, 2015 2:19 AM, "Minko Gechev" <notifications@github.com> wrote:

[2015-05-19 12:18] mgechev commented on #4
Yes, you're correct, I don't need it. However, my point is that I want a consistent build configuration.

[2015-05-19 12:21] johnjelinek commented on #4
I don't understand. Why would you lose your build configuration by removing traceur?

—
Sent from Mailbox

On Tue, May 19, 2015 at 7:18 AM, Minko Gechev <notifications@github.com>
wrote:

[2015-05-19 12:26] mgechev commented on #4
I won't use it, I will make it inconsistent. Right now the project uses gulp for:
- Building Angular
- Structuring the project by moving the required libraries
- Starting static HTTP server
- Watching the dev files, building them and outputting them in the `dev` directory.

However, by introducing `tsc` there will be one more tool, which won't have (not-hacky) integration with `gulp`. Workaround c

[2015-05-19 13:04] johnjelinek commented on #4
I think gulp-shell sounds good. I think a successful typescript conversion
will show that typescript is no longer necessary.
On May 19, 2015 7:26 AM, "Minko Gechev" <notifications@github.com> wrote:

[2015-05-19 13:04] johnjelinek commented on #4
Sorry, traceur* is no longer necessary
On May 19, 2015 8:04 AM, john@johnjelinek.com wrote:

[2015-05-19 15:41] ludohenin commented on #4
[gulp-typescript](https://www.npmjs.com/package/gulp-typescript) does the job very nicely.

[2015-05-19 15:50] mgechev commented on #4
`gulp-typescript` has as dependency TypeScript 1.4.x, which means that it doesn't support a [lot of features](https://github.com/Microsoft/TypeScript/wiki/Roadmap#15) used by Angular.

Do you have a working example with `gulp-typescript`?

[2015-05-19 15:59] ludohenin commented on #4
I have a working example (but not online yet unfortunately). In fact you can specify which version of typescript you want to use in the config passed to `gulp-typescript` by doing so

[code]

[2015-05-19 16:03] ludohenin commented on #4
With typescript you can then write things like that
[code]
no need to go the indirect way anymore.

[2015-05-19 16:04] mgechev commented on #4
@ludohenin sounds great! I'm going to try this tomorrow!

[2015-05-19 16:06] ludohenin commented on #4
I started from here [https://github.com/rkirov/ng2-ts-hello](https://github.com/rkirov/ng2-ts-hello) but the angular build is not good in my opinion, not the apha.23 but rather a custom build from github (directives are in the form of `NgIf` for instance, not `If`)

[2015-05-19 16:07] mgechev commented on #4
@ludohenin btw, if you have some time you can change the `gulpfile.js` and make a pull request, otherwise I'll fix this tomorrow.

[2015-05-19 16:08] ludohenin commented on #4
never done that but I'll try ... glab to contribute :-)

[2015-05-19 19:30] ludohenin commented on #4
PR sent and ready to be merged.

[2015-05-19 19:36] mgechev commented on #4
Awesome! I'll merge it tomorrow morning, it is a bit late here already.
Thanks!

[2015-05-20 07:11] mgechev opened #7 "Add source maps support for TypeScript"

[2015-05-20 07:11] mgechev commented on #4
#7

[2015-05-20 15:32] ludohenin commented on #7
@mgechev  Done + angular alpha.24.
PR sent.

[2015-05-20 21:37] mgechev commented on #4
#9 fix this

[2015-05-20 21:37] #4 closed

[2015-05-20 21:38] mgechev commented on #7
#8 fix this

[2015-05-20 21:38] #7 closed

[2015-05-20 21:39] mgechev commented on #2
We have some tags [here](https://github.com/mgechev/angular2-seed/releases). I didn't create one for alpha 23, if someone need it I will.

[2015-05-25 14:33] nirajmchauhan opened #10 "Cannot find name 'Router'"
Hi,

I tried using routes, but its throwing me an error. Here is my code:

[code]

The compilation throws me following error:

[code]

Is it something I am doing wrong??

[2015-05-25 15:00] ludohenin commented on #10
The router should actually be build in a separate file. We have to add it to the gulpfile build process.

[2015-05-25 15:11] nirajmchauhan commented on #10
I added in my gulp build, here is the build:angular code

[code]

And here is my updated ts file:

[code]

Now I am not getting any error in terminal, but in browser I am getting 404 for `http://localhost:5555/dev/angular2/router.js`

[2015-05-25 21:19] ludohenin commented on #10
have you added a script tag pointing `router.js` ? It works fine for me.
I'm now looking at the ts compiler error.

[2015-05-25 21:29] ludohenin commented on #10
The ts compiler error is due to the definition file (angular2.d.ts) which not very good.
This file requires quite a lot of rework. So until we get a better one it will need to be modified based upon your needs. Redefining `var Router;` by `class Router {}` fixes the compiler error (only).

[2015-05-26 05:03] nirajmchauhan commented on #10
Fixed 404 issue, but still routes not working

[2015-05-27 08:49] mgechev opened #13 "Refactor gulpfile"
The way all the external [libraries are gathered](https://github.com/mgechev/angular2-seed/blob/master/gulpfile.js#L34-L46) doesn't seems like an elegant one.

[2015-05-30 14:59] ludohenin commented on #10
Router [branch](https://github.com/mgechev/angular2-seed/tree/router) refactored.

[2015-06-01 06:30] nirajmchauhan commented on #10
Thanks, will check.

[2015-06-01 11:08] nirajmchauhan commented on #10
I just checked, routes are working fine, can you explain me what changes you made to make it work?

Also found a bug, if you are on component2 route, and if you refresh the page, the npm server sends not found error.

[2015-06-01 11:31] ludohenin commented on #10
@nirajmchauhan I did nothing special as it has always worked for me.
If you refresh on a route different than root it's normal that you get an 404 error as the server only serves static files and is not setup to serve Single Page Application.

[2015-06-01 11:32] #10 closed

[2015-06-01 13:09] mgechev commented on #10
@nirajmchauhan https://stackoverflow.com/questions/17646843/angularjs-html5-mode-how-do-direct-links-work-without-server-specific-changes

[2015-06-04 09:14] svrcekmichal opened #15 ""serve" without using "build""
Just wanted to ask, why `serve.env` does call `build.app.env` and doesn't call `build.env`? I believe that building whole project on start of server is better solution, no need to enter `build.env` before `serve.env`.

[2015-06-05 10:44] mgechev commented on #15
Thanks for the note! I think it makes sense to update `gulpfile.js`.

[2015-06-05 10:45] #15 closed

[2015-06-05 10:46] mgechev commented on #13
@ludohenin you did amazing job here. We can close this one.

[2015-06-05 10:46] #13 closed

[2015-06-05 10:53] ludohenin commented on #15
FYI, my idea behind that was that lib can take long to build and when working and a project I start the server more often than I need to build the libs. But that also fine.

[2015-06-05 10:58] mgechev commented on #15
Yeah, makes sense as well. I think the feedback given by gulp is enough to make the developers aware that something is going on.

[2015-06-08 14:03] akorchemniy opened #16 "Traceur throws "duplication module named rx""
I tried to get the latest running but got stuck on "Loading...". It appears Traceur doesn't like that both angular2.js and router.js have a System.register("rx"

[2015-06-08 14:05] mgechev commented on #16
Thanks! I'll take a look on this one.

[2015-06-08 14:10] mgechev commented on #16
I can't manage to reproduce it. Would you give me additional details? What tag and environment are you using? Also, are you following the instructions in the readme, or doing something custom?

[2015-06-08 15:07] akorchemniy commented on #16
Nothing custom. Just the basics instructions using latest commit (afc023f048).
Windows
node 0.12.2
npm 2.7.4
gulp cli 3.8.11
angular2@2.0.0-alpha.26 node_modules\angular2
+-- rtts_assert@2.0.0-alpha.26
+-- zone.js@0.5.0
+-- traceur@0.0.87 (commander@2.6.0, semver@2.3.2, rsvp@3.0.18, glob@4.3.5, source-map-support@0.2.10)
+-- rx@2.5.1
Chrome

[2015-06-08 18:27] mgechev commented on #16
Cleared the `npm` cache. Installed node v0.12.2, npm 2.74 and still can't reproduce it.

Let's keep the issue open in case anyone else have experienced this problem.

[2015-06-08 19:54] jgolla commented on #16
I saw the same problem, but it only happened the first time I ran serve.dev. I was using a Mac, node, 0.12.4 and Chrome.

[2015-06-10 09:25] ludohenin opened #17 "build.js.prod does not append version to template url"
`.html?v=<%= VERSION %>` does not update on build prod.

[2015-06-10 09:47] #17 closed

[2015-06-11 20:52] brtnshrdr opened #18 "Urls use absolute paths, should use relative ones"
I have this project deployed at http://.....com/test/

The project doesn't work because the links use absolute paths, not relative ones (It tries pulling files, say "angular.js", from http://...com/angular.js instead of http://.....com/test/angular.js)

I got it to "work" by modifing this line in the gulpfile.js

arguments[0] = filepath.replace('/' + PATH.dest[env].all, '') + v;
with
arguments[0]

[2015-06-12 09:34] mgechev commented on #18
Thanks for pointing this out! I'll take a look at this issue today

[2015-06-12 09:55] #18 closed

[2015-06-12 14:32] brtnshrdr commented on #18
Everytime you refresh the page now, it adds an extra "/" to the url. So after 5 refreshes, the url looks like this:

`http://.....com/test//////`

[2015-06-16 08:12] ekarlso opened #19 "Any reason not to use webpack?"

[2015-06-16 08:40] ludohenin commented on #19
@ekarlso The main reason is to keep this seed as generic as possible.

[2015-06-16 10:24] mgechev commented on #19
For webpack seed checkout this one by [Angular Class](https://github.com/angular-class/angular2-webpack-starter).

[2015-06-16 10:24] #19 closed

[2015-06-16 12:04] mgechev opened #20 "EPERM on `serve.prod` in Windows"
In `clean.tmp` task get:
[code]
when running `serve.prod`.

[2015-06-18 11:44] hakamairi opened #21 "Move building dependency angular2 from es6 to ts"
The Angular2 node_module/sources are delivered in TypeScript as well, why not to use those instead es6?

You could loose the definitions file then.

[2015-06-18 11:59] ludohenin commented on #21
@hakamairi we are working on it but the benefit does not seems to be that high. Still need System to build a single file.

[2015-06-18 15:01] mgechev commented on #20
@ludohenin let me know when you verify that it works on windows :-)

[2015-06-18 16:33] mgechev opened #22 "Useless .js files created inside the app directory"

[2015-06-18 17:23] ludohenin commented on #22
@mgechev when do you get that ? what's the file name ? I don't have any on my side.

[2015-06-19 07:15] mgechev commented on #22
After I run `gulp serve.dev`, open `app.ts`, save it there are `*.js` files created in `/app`. Basically all TypeScript files except `init.ts`.

[2015-06-19 07:33] mgechev commented on #22
I reproduced the issue when run `gulp build.app.dev` and while the task was running saved the `app.ts` file...

[2015-06-19 07:39] mgechev commented on #22
It seems my vim configuration (I guess the TypeScript tools I use), causes this.

[2015-06-19 07:39] #22 closed

[2015-06-19 07:39] #20 closed

[2015-06-27 12:40] ludohenin opened #24 "Relative assets path does not work with deep linking"
Loding the app from `http://domain.com/user/123` make assets loading relative to `http://domain.com/user/`.
[#18](https://github.com/mgechev/angular2-seed/issues/18) introduced this bug.

[2015-06-27 13:52] mgechev commented on #24
The fix looks good to me.

[2015-06-29 13:44] jgodi opened #25 "Unit/E2E Tests?"
Is there any plan to add Unit/E2E tests to this? With/without code coverage?

[2015-06-29 13:48] ludohenin commented on #25
@jgodi Not quite sure yet. Probably not. This will most likely be left to showcasing - [AngularShowcase](https://github.com/AngularShowcase)

[2015-06-29 14:02] ludohenin opened #26 "NameService injector returns a new instance each time"
Moving the service injector binding to app level should fix the issue.

[2015-06-29 18:35] #26 closed

[2015-06-30 02:37] un33k opened #28 "App directory structure"
Which one do you think is better. Grouping things by type or by feature.  Here we have all components together and all services together as well. Do you think it would be better to pack them by features?

[2015-07-01 17:44] ludohenin commented on #28
@un33k Angular 2 is really about components, and you may have app level services as well as components level ones. I think is it's fine like that.

[2015-07-01 20:46] ludohenin commented on #24
Still not completely fix, lib paths to be updated.

[2015-07-01 20:47] ludohenin commented on #16
@jgolla @akorchemniy Do you still have the issue with the alpha.28 ?

[2015-07-01 21:27] NathanWalker commented on #25
Thank you for this repo! It is very helpful as a starting base. I would vote that adding Unit/E2E test setups for this repo would be excellent. If I knew how, I would certainly provide a PR with it for this.

+1 to adding test setups to this repo.

[2015-07-02 19:48] mgechev commented on #25
We discussed adding tests. However, we need to agree upon given testing framework.

Since we are trying to keep the project with as less dependencies as possible and to not force our preferred technologies, we didn't add any configuration yet.

However, if it is a common feature request we might consider adding tests.

[2015-07-02 19:57] mgechev commented on #28
@un33k I think soon Google should announce official guidelines. Until then, I think what is suggested in [most](https://github.com/mgechev/angularjs-style-guide#directory-structure) style [guides](https://github.com/johnpapa/angular-styleguide) is still valid.

[2015-07-02 19:57] #28 closed

[2015-07-03 14:05] radotzki commented on #25
I agree with @NathanWalker.
Tests are core of the project, especially when the api change every new release.

+2

[2015-07-05 16:55] ludohenin commented on #16
I came across the same issue and for me the reason is very clear, a wrong component template url made the SPA server to re-send `index.html`. So loading twice the app throws this error.

[2015-07-06 17:54] mgechev commented on #16
May be we can close this issue then?

[2015-07-06 17:54] #16 closed

[2015-07-08 17:35] NathanWalker opened #30 "Deep linking for development - return 'index.html'"
Would it be possible to modify the gulpfile and make the `connect` npm module to return `index.html` for page requests? That way you could refresh the browser on route such as `/about'...

[2015-07-08 19:33] ludohenin commented on #30
@NathanWalker Thanks for pointing this out. This is actually on the todo list and coming very soon.

[2015-07-08 19:46] #30 closed

[2015-07-09 07:11] NathanWalker commented on #30
This is awesome thank you!

[2015-07-09 09:09] hippiemine opened #31 "can't refresh page"
when i change   the router,can't refresh page

[2015-07-09 09:12] ludohenin commented on #31
@hippiemine this is a duplicate of #30

[2015-07-09 09:12] #31 closed

[2015-07-10 15:57] zamamohammed opened #32 "Watch not working"
Whenever I change the files in app folder, it should have changed the files when I refresh, but I do not see my changes reflected, and also do not see anything happening on terminal thats running the gulp serve.dev

[2015-07-10 16:32] #32 closed

[2015-07-13 23:54] #24 closed

[2015-07-14 20:12] Narretz opened #33 "Adding angular2/forms"
I am trying to import stuff from angular2/forms inside a component. I have added "forms" analogue to router in the gulpfile, but the typescript compiler still cannot find the angular2/forms module (`app\components\home\form.ts(2,78): error TS2307: Cannot find external module 'angular2/forms'.`). Is there something specfic in the seed project that I need to change / add?

[2015-07-14 21:32] ludohenin commented on #33
@Narretz As of now, everything is exported from `angular2/angular2` (except for `angular2/router`). This will likely change in the future. The definition file is auto-generated from the source and is according to [angular2 module](https://github.com/angular/angular/blob/master/modules/angular2/angular2.ts).
So you can `import {formDirectives, ...} from 'angular2/angular2'`.
Also note that the defi

[2015-07-14 21:38] Narretz commented on #33
@ludohenin Thanks a lot, that was it. I had previously tried that, but I wrote `FormsDirectives`, with a capital `F` ...

[2015-07-15 06:28] #33 closed

[2015-07-15 20:52] NathanWalker opened #35 "Question: http libraries from angular2/angular2 ?"
Why not leave the imports in the place most people will be taught to import from?

Shouldn't `httpInjectables` and `Http` come from "angular2/http" ?

I think this will confuse people more than help.

[2015-07-15 20:57] ludohenin commented on #35
@NathanWalker you should have a look at #33

[2015-07-15 21:03] NathanWalker commented on #35
Ah ok, thanks for that :+1:

[2015-07-15 21:03] #35 closed

[2015-07-22 16:25] jimthedev opened #36 "Consider using rx.all.js?"
Hello.

I'm curious at the difference between using rx.js and rx.all.js in the gulpfile. As a newcomer to Rx, I struggled to figure out the version of rx that I needed in order to use to use .fromCallback. What is the tradeoff between rx.all and rx?

In the end, I swapped in rx.all.js in the gulpfile and ran `tsd install rx.async-lite --save` and was able to use this feature.

Thanks for this proj

[2015-07-23 11:02] mgechev commented on #36
I think this question belongs to the Rx.js project's issue tracker. Here's what part of [Rx.js Angular 2 uses](https://github.com/angular/angular/blob/master/modules/angular2/src/facade/async.ts).

However, judging from the [`Gulpfile.js` in the Rx.js's repo](https://github.com/Reactive-Extensions/RxJS/blob/master/Gruntfile.js), you can find `.fromCallback` in:

- `rx.all.js`
- `rx.all.compat.js`

[2015-07-23 11:02] #36 closed

[2015-07-23 13:08] jimthedev commented on #36
Thanks! I think I had modified my gulpfile to include Rx in BuilderNg2 but had not actually included it in my list of global dependencies.

[2015-07-23 21:39] NathanWalker commented on #25
It looks like @ludohenin has some progress on this branch:
https://github.com/mgechev/angular2-seed/tree/test

I assume it will eventually be merged in. Awesome.

[2015-07-23 21:45] ludohenin commented on #25
Yep. Still have some issues loading templates. I've had to inline them for the test to work.

[2015-07-31 00:02] mmrath opened #41 "Allow live reloading in browser"
It would be nice to have auto reloading in browser when files are saved.

[2015-07-31 10:24] mgechev commented on #41
Yep, makes sense. I'll take this one.

[2015-08-01 08:54] #41 closed

[2015-08-01 11:17] jneveux opened #43 "Error in Safari Version 8.0.7 (10600.7.12)"
Hi all,

I'm getting the following error in Safari Version 8.0.7 (10600.7.12), everything works fine in FireFox/Chrome latest version:
[code]

Thanks,

Jean

[2015-08-01 11:29] mgechev commented on #43
I'll add it to my schedule for tomorrow/early next week.

[2015-08-02 01:12] vellengs commented on #43
same issue on  Safari Version 8.0.6

[2015-08-02 11:09] mgechev commented on #43
Safari doesn't implement `next` in `MapIterator`, which causes traceur to throw this error.

The issue is addressed [here](https://github.com/angular/angular/pull/3389).

[2015-08-02 11:09] #43 closed

[2015-08-03 12:24] flyingmutant opened #44 "How to reduce the size of prod lib.js, which is ~1M?"
Is this possible or not, and what have caused such a huge size (compared to ~150kb for Angular1)?

[2015-08-04 14:28] mgechev commented on #44
I took a brief look at the bundle. It seems that we have Angular 2 twice there. One of the copies comes from the router.

If can change the build and make TypeScript transpile the modules to CommonJS, so that later we can bundle them with browserify. I believe, after this we can remove:
- traceur.js
- system.js
- all associated to them sourcemaps

Not sure about the last suggestion but its worth t

[2015-08-04 14:28] #44 closed

[2015-08-04 14:29] mgechev opened #45 "Remove the second copy of Angular 2 from the bundle"
Based on https://github.com/mgechev/angular2-seed/issues/44

[2015-08-04 14:29] mgechev opened #46 "Replace SystemJS with TypeScript to CJS + Browserify"
Based on https://github.com/mgechev/angular2-seed/issues/44

[2015-08-04 14:30] mgechev commented on #21
Here's one related issue https://github.com/mgechev/angular2-seed/issues/44

[2015-08-04 15:10] ludohenin commented on #45
@mgechev another builder for the router with this added to Builder config should prevent having a second copy of ng2
  meta: {
    'angular2/angular2': { build: false }
  }

[2015-08-04 15:49] mgechev commented on #46
@ludohenin we need to decide whether its worth it to switch to Browserify + TS with CJS, because it will require changes in https://github.com/mgechev/angular2-seed/issues/45 as well.

The overhead of TS + Browserify will be lower, traceur-runtime won't be required. What are your thoughts?

[2015-08-04 16:04] ludohenin commented on #46
@mgechev getting rid of traceur-runtime seems to be a good idea. I never used Browserify so don't know the pro/cons. Is it a lot better than requirejs ?

What I like with systemjs though, is that it is more straight forward build and support any kind of module definition (cjs, amd, umd) making it more generic.

Another build to explore would be to replace traceur by Babel in systemjs. But not quit

[2015-08-05 06:42] mgechev commented on #46
Yeah, lets keep system.js.

[2015-08-05 06:42] #46 closed

[2015-08-05 17:51] bobmonteverde opened #47 "Two typings folders?"
Hey, not sure if this is an issue, assuming you guys probably did this on purpose, but I'm very new to TypeScript and Angular2.

You have  ./tsd_typings and ./app/typings .   Just guessing, I would think tsd_typings is for TypeScript definitions from http://definitelytyped.org/tsd/ (basically 3rd party definitions)... and ./app/typings is for your app specific TS definitions.  But it seems like ./

[2015-08-05 20:45] NathanWalker commented on #47
Hi @bobmonteverde. Yes indeed you are correct in your statements. ./app/typings are custom ones that are either not available via `tsd` or required customizations. The systemjs.d.ts was used temporarily as I had a pending PR for definitelytyped for that at the time, but I will get that integrated with the 3rd party definitions here soon to clean that up. Thanks for heads up.

That is a very ambiti

[2015-08-05 21:04] bobmonteverde commented on #47
OK, amazing, thank you for confirming that one.  Luckily after being stuck for a little bit, did some research into TSD and had figured out that I was probably on the right line.  I guess for you guys, being such early adapters, probably spend more time making workaround then removing them when things get fixed/changed.

Not sure if I'll be reaching my original goal initially with the boilerplate,

[2015-08-05 21:07] NathanWalker commented on #47
Awesome @bobmonteverde thanks!
I just posted a PR which will resolve the systemjs customization :+1:
https://github.com/mgechev/angular2-seed/pull/48

[2015-08-07 23:23] NathanWalker commented on #47
Resolved here:
https://github.com/mgechev/angular2-seed/pull/48
And explained above.

[2015-08-07 23:23] #47 closed

[2015-08-10 05:55] #45 closed

[2015-08-10 16:33] tmclane commented on #43
Can anyone confirm it works/doesn't work for them now?  I am still having the same error unless I go back to the beta 28 commit.

[2015-08-11 19:46] mgechev commented on #43
I will take a look tomorrow.

[2015-08-12 12:14] mgechev opened #50 "Update to System.js 0.18.x"

[2015-08-12 12:14] mgechev opened #51 "Update to angular2-alpha34"

[2015-08-17 17:55] mgechev commented on #50
Alpha35 is a showstopper here.

[2015-08-18 22:50] thekennysong commented on #25
+1

[2015-08-19 06:18] #51 closed

[2015-08-19 06:18] mgechev opened #54 "Update to alpha35"

[2015-08-19 06:18] mgechev commented on #54
Still haven't published to the npm registry.

[2015-08-21 09:58] ludohenin commented on #54
@mgechev it's been published now.

[2015-08-21 10:28] mgechev commented on #54
Yes, I saw that yesterday but its integration with system.js wasn't as straightforward as I expected so I left it for the weekend.

[2015-08-21 14:07] shootermv opened #55 "error when trying to run on windows 8.1"
tried to run the project on windows machine - getting error:
Y:\Projects\angular2-seed>gulp serve.dev
module.js:338
throw err;
^
Error: Cannot find module 'orchestrator'

[2015-08-21 14:15] mgechev commented on #55
Thanks for reporting the issue! We'll take a look at it next a couple of days.

[2015-08-22 15:58] ludohenin commented on #55
@shootermv isn't it an error with gulp itself ?

[2015-08-24 18:27] aboeglin opened #56 "Undefined is not a function, RouteConfig()"
It seems there is a little issue with the Router in the current version. Here is the error :
[Error] TypeError: undefined is not a function (evaluating 'router_1.RouteConfig')
	(anonymous function) (about, line 31)

 I could find a quick fix though. In the init.ts file we have :

[code]
The problem seems to be that when we load app and bootstrap it, the router is maybe not loaded yet, therefore I

[2015-08-25 12:54] aboeglin opened #57 "Extending PATH.src in gulpfile to provide more modularity"
Hi everyone,

I just wanted to propose a little improvement to the gulpfile. The idea would be to add source file paths to the PATH variable in order to be able to quickly change a project's structure if needed. At the moment almost every gulp.src() uses a plain './app/something' form. The idea would be to replace it by say gulp.src(PATH.src.root+'something'). Like that we might offer better modul

[2015-08-25 16:54] mgechev commented on #57
Totally makes sense. Do you want to open a PR?

[2015-08-25 18:24] #54 closed

[2015-08-25 18:24] #50 closed

[2015-08-25 18:24] mgechev commented on #50
Fixed by https://github.com/mgechev/angular2-seed/commit/e5a418d872b0b939da6887a7c5bc4ff2833d2bfb

[2015-08-25 18:24] mgechev commented on #56
Fixed by https://github.com/mgechev/angular2-seed/commit/e5a418d872b0b939da6887a7c5bc4ff2833d2bfb

[2015-08-25 18:24] #56 closed

[2015-08-25 18:25] mgechev commented on #55
@shootermv would you give it a try with the latest changes on master?

[2015-08-25 18:25] mgechev opened #58 "Production build is broken"

[2015-08-26 08:24] aboeglin commented on #57
Yes, not sure I have time in the coming days but I'll do it !

[2015-08-26 10:24] mgechev commented on #57
It is not urgent anyway, it is related with code improvements so it can wait a little. :-)

[2015-08-26 19:37] aboeglin commented on #57
Ok it's almost done if you want to have a look. I checked how we can also support subfolders, which isn't as straightforward as I thought but manageable. It would allow to build from a deeper src file. But then I thought, it's actually not really needed I believe. Since we only focus on the client side here the case of /src/client isn't necessary.

[2015-08-26 19:43] aboeglin opened #59 "Typings : Should we gather them through npm install ?"
Do we need to add typings that aren't part of the official packages to fix alpha issues ? If not we could easily install the typings when we install the dependencies as a postinstall script in the package.json.

[2015-08-27 02:10] shootermv commented on #55
hi, got latest, working now. Thanks

[2015-08-27 05:18] #55 closed

[2015-08-27 06:19] mgechev commented on #57
Where we can take a look?

[2015-08-27 08:09] aboeglin commented on #57
Sorry, it's here : https://github.com/aboeglin/angular2-seed/tree/gulp-src-reference
I have basically extended the Configuration variables and used these to define the PATH. Like this we can just do changes to the paths at one point. So we can now change the source and destination paths easily.

[2015-08-27 15:25] tarlepp opened #61 "Can't get Http to work"
In my service I have following

[code]

And I get following error:

[code]

Any ideas how to get this work?

[2015-08-27 15:32] ludohenin commented on #61
@tarlepp This is not related to angular2-seed issue.
Actually, `http` is a module in its own since angular 2.0.0.alpha.35.
You have to extend your copy of the seed to load additional modules you would want to use.

[2015-08-27 15:32] #61 closed

[2015-08-27 15:33] aboeglin commented on #61
I believe the current version of the seed doesn't include the http module at the moment. It's now been excluded from angular2 and you should import from http/http. And also include the http.dev.js file from angular2/bundles, but I think you could also directly reference it in the PATH on top of the gulpfile :
[code]

I just did a test and it copies the http.dev.js file where it should and injects

[2015-08-27 15:57] mgechev opened #62 "Include reference to Http"
Since using the `http` module is quite often case, I'm opening this issue for a discussion on whether you think we should add the module to the seed by default.

[2015-08-27 16:48] tarlepp commented on #62
I think that is a good idea, because ```http``` is most likely to used.

[2015-08-27 16:58] NathanWalker commented on #62
I also agree. I know some people still prefer `fetch` but I think it would be best practice to use `Http` module from Angular2 and it is a standard (somewhat core) module that most applications need.

+1

[2015-08-27 17:01] aboeglin commented on #62
I would say it depends, since http now will work on its own and won't depend on angular2 anymore, anything could be used really. Since I started to work on the source and destination folders for the build, I thought maybe we can expend our configuration, put it all in a separate file that would handle configuration stuff in json format. And then we could have a boolean property to activate it or n

[2015-08-28 06:05] mgechev commented on #62
Looks good to me. Thanks for the PR!

[2015-08-28 06:06] mgechev commented on #57
Fixed by https://github.com/mgechev/angular2-seed/pull/60

[2015-08-28 06:06] #57 closed

[2015-08-28 07:12] ludohenin commented on #62
I don't think we should.
One of the goal is to have the seed very generic and adding module like `http` is very straight forward.

[2015-08-28 07:27] mgechev commented on #62
I agree on the purpose of the seed. If we add the module we do not have to provide examples of its usage, we can only add it to the build process in order to allow developers to include it only by adding a reference to it. We can eventually add a comment inside `app.ts` or `init.ts` stating its identifier, something like:

[code]
What do you think for this compromise option?

[2015-08-28 13:39] ludohenin opened #64 "Build broken on Windows plateform"
`join('dist', 'dev')` produces `dist\dev` on Windows whereas `dist/dev` is meant to be removed [see here](https://github.com/mgechev/angular2-seed/blob/master/gulpfile.js#L304-L311) before injection into `index.html`.

I think we have to get back to hard coded path inside the `PATH` config.

Any other ideas ?

[2015-08-28 18:11] aboeglin commented on #64
Or maybe we can use path.posix.join() which should always produce dist/dev. Or we just go with concatenation which could be wrapper in a two lines function.

[2015-08-31 04:30] ultrasonicsoft opened #65 "Gulp.test build task: type errors"
Hi There,

I am trying to run your seed-test project without any modification. But it's failing in test with below errors:

    C:\angular2\angular2-seed-test>gulp test
    [09:55:50] Using gulpfile C:\angular2\angular2-seed-test\gulpfile.js
    [09:55:50] Starting 'build.test'...
    app\components\about\about_spec.ts(16,19): error TS2307: Cannot find module 'ang
    ular2/src/dom/dom_adapter'.

[2015-08-31 07:34] ludohenin commented on #65
@ultrasonicsoft your logs say that the test are passing (`Executed 3 of 3 SUCCESS`).
Even though there are some TypeScript type cheching error, they are not blocking ... I have to fix that in [custom types](https://github.com/mgechev/angular2-seed/blob/test/app/typings/ng2_test.d.ts)

[2015-08-31 07:39] ludohenin commented on #62
Maybe we can do something like that.

[2015-08-31 07:40] ultrasonicsoft commented on #65
Thanks for reply ludohenin!

Yes, log says (Executed 3 of 3 SUCCESS). but there are errors too as below:

	error TS2307: Cannot find module 'ang
	ular2/src/dom/dom_adapter'.
	app\components\about\about_spec.ts(24,31): error TS2345: Argument of type 'typeo
	f TestComponent' is not assignable to parameter of type 'Type'.
	  Type 'TestComponent' is not assignable to type 'Type'.
		Property 'apply' is

[2015-08-31 07:40] ludohenin commented on #59
It could be an idea.
@mgechev your opinion ?

[2015-08-31 07:43] ludohenin commented on #65
As stated above, they are TypeScript errors (occured during stranspiling phase: convertion es6/es7 -> es5) and have nothing to do with jasmine and/or karma. It is also stated in the log that `TypeScript: emit succeeded (with errors)`
No e2e tests at the moment.

[2015-08-31 07:44] ultrasonicsoft commented on #65
Okay. Thank you very much for your help!

[2015-08-31 07:47] ludohenin commented on #65
This is not solved, I have changed the title and types errors have to cleared.

[2015-08-31 10:53] ultrasonicsoft commented on #65
Hi

When I re-ran "gulp test" for second time, I got below error. Seem 3rd test is failing. I haven't change anything. I have try to pull latest code 30 mins ago and then ran "npm install" and then "gulp test".

Am I missing anything?

Please advise.

Thanks in advance!

	C:\TEMP\angular2-seed-test>gulp test
	[15:46:39] Using gulpfile C:\TEMP\angular2-seed-test\gulpfile.js
	[15:46:39] Starting 'bu

[2015-08-31 11:26] mgechev commented on #64
Yeah, [here](https://github.com/mgechev/angular2-seed/blob/master/gulpfile.js#L304-L311) we can use concatenation.

[2015-08-31 11:27] mgechev commented on #62
Alright, we can plan it for alpha36 then.

[2015-08-31 11:28] mgechev commented on #59
Yeah, I think it makes sense. @aboeglin do you want to open a PR for this?

[2015-08-31 11:40] ludohenin commented on #65
Strange, it works perfectly well for me.
Karma is crashing because of this `WARN [web-server]: 404: /base/node_modules/systemjs/dist/system-polyfills.js`. Please make sure you have npm packages installed correctly and that you have this file.

[2015-08-31 11:53] ultrasonicsoft commented on #65
I followed below steps:
1. downloaded latest code (45 mins back)
2. ran "npm install"
3. ran "npm install gulp -g"
4. ran "gulp serve.dev"

I can see mentioned files are there.

Will you please advise me whether I should follow any different command/sequence?

![image](https://cloud.githubusercontent.com/assets/4145169/9578069/a5d1dce8-5004-11e5-9a01-a534a52a4b54.png)

Thanks!

[2015-08-31 12:00] ludohenin commented on #65
ca you try to add `{ pattern: 'node_modules/systemjs/dist/*.js', included: false, watched: false }` to `files` array in `karma.conf.js` ?

[2015-08-31 12:06] ultrasonicsoft commented on #65
You are Awesome man...
Hurray!! After adding this line, my test passed.

	C:\aj\angular2-seed-test>gulp test
	[17:33:55] Using gulpfile C:\aj\angular2-seed-test\gulpfile.js
	[17:33:55] Starting 'build.test'...
	[17:33:56] Finished 'build.test' after 1.46 s
	[17:33:56] Starting 'karma.start'...
	INFO [karma]: Karma v0.12.37 server started at http://localhost:9876/
	INFO [launcher]: Starting browser

[2015-08-31 12:09] ludohenin commented on #65
`gulp serve.dev` may be related to [#64](https://github.com/mgechev/angular2-seed/issues/64)

[2015-08-31 12:23] ultrasonicsoft commented on #65
I am sorry but #64 seem to be very specific developer discussion who wrote it from scratch. In my gulpfile.js I can see "transformPath" function with same definition as of #64 .

I am really not getting where to use concatination or what action item is proposed solution for the issue (where to change and what to change).

Will you please give me bit more pointers?

Thanks!

[2015-08-31 12:59] aboeglin commented on #65
As I understood it, it should be about replacing the line :
[code]
with :
[code]

I think the problem is that path.join() generates backslahes on windows platform.

[2015-08-31 13:02] aboeglin commented on #59
Yes, I'll do it.

[2015-08-31 14:13] #65 closed

[2015-08-31 14:14] #25 closed

[2015-08-31 16:14] mgechev commented on #58
As @ludohenin suggested, we're closing this issue. Having production build without Angular 2 being officially released doesn't make a lot of sense.

[2015-08-31 16:14] #58 closed

[2015-09-01 04:04] ultrasonicsoft commented on #65
Hi ludohenin and aboeglin,

Thank you for your reply.

I have replaced path.join with + but it didn't work. I also tried replacing all occurrences of "join" with "+" but it seem "dist/dev" is missing when I did "+". I guess "dist/dev" is provided by "join" with backslash.

Does same gulpfile.js is working at your end on windows 8 machine?

Could you please let me know what should I try else to sol

[2015-09-01 07:19] ultrasonicsoft commented on #64
Hi All,
lunodenin helped me to solve #65 which was for unit test failure issue. Thanks lunodenin! :)

But with newer version of seed project I'm getting error while running "gulp serve.dev" command.

I have replaced path.join with + but it didn't work. I also tried replacing all occurrences of "join" with "+" but it seem "dist/dev" is missing when I did "+". I guess "dist/dev" is provided by "join

[2015-09-01 07:40] ludohenin commented on #64
@ultrasonicsoft this will be fixed today.

[2015-09-01 08:35] aboeglin commented on #65
If your APP_BASE is / then you shouldn't add the / but just concatenate like I posted above.

[2015-09-01 09:08] #64 closed

[2015-09-01 10:28] ludohenin commented on #21
@mgechev I think we can close this issue. This is a no go imo as we will either be using the bundles (now supplied with npm pkg) or the es6 format (may be in the future for very modern browsers). But building from ts just adds an extra build step (ts > js > bundled js) that is not necessary.

[2015-09-01 10:34] ludohenin opened #67 "Install tds typings in an npm post install script"
Don't you think we should remove the `tds_typing` folder from repo and get the `*.d.ts` files installed in an mpm post install script (in the same fashion as [#59](https://github.com/mgechev/angular2-seed/issues/59)) ?

[2015-09-01 10:37] aboeglin commented on #67
That's what I had in mind when I proposed #59.

[2015-09-01 10:41] ludohenin commented on #67
OK, so to make sure we're on the same track. That would cover installing tds typings + copying ng2 ones from `node_modules/angular2/bundles/typings/angular2` ?

[2015-09-01 10:48] aboeglin commented on #67
The typings for ng2 from definitelytyped should be up to date, at least they have been updated 11 hours ago here : https://github.com/borisyankov/DefinitelyTyped/tree/master/angular2. So do we need to copy them from the npm package ?

[2015-09-01 11:22] ultrasonicsoft commented on #65
Hi aboeglin,
Even with your approach I am getting same error.
Below is the function where I have replaced "join" with "+".

	function transformPath(env) {
	  var v = '?v=' + getVersion();
	  return function (filepath) {
		var filename = filepath.replace('/' + PATH.dest[env].all, '') + v;
		arguments[0] = APP_BASE + filename;
		return inject.transform.apply(inject.transform, arguments);
	  };
	}

D

[2015-09-01 11:27] ludohenin commented on #65
@ultrasonicsoft it's been fixed. Would you please try with the latest master ?

[2015-09-01 11:31] ludohenin commented on #67
Unfortunately it does not include `http.d.ts` but maybe we can live without it.

[2015-09-01 11:52] ultrasonicsoft commented on #65
Hi ludohenin,

I am following below steps:
1. Download latest master zip
2. Unzip folder
3. run "npm install" command
4. run "gulp serve.dev" command

I got below error:

![image](https://cloud.githubusercontent.com/assets/4145169/9603267/2cef0142-50cd-11e5-84b6-80e8afabb22d.png)

After changing "join" to "+" in below function, I get below error:

	function transformPath(env) {
	  var v = '?v=' +

[2015-09-01 11:56] ludohenin commented on #65
Your `lib` path start with double backslashes `\\lib\...`. That's why.

[2015-09-01 11:59] ultrasonicsoft commented on #65
So what's should be correct path?
1. /dist/lib/...
2. /lib/...

And should that change be done across gulpfile for replacing "join" with "+" or only in "transformPath" function?

[2015-09-01 12:01] ludohenin commented on #65
It should work as it is (I'm also on Windows plateform).Correct path is `/lib/my-lib.js`.

     On Tuesday, September 1, 2015 1:59 PM, ultrasonicsoft <notifications@github.com> wrote:

 So what's should be correct path?
1. /dist/lib/...
2. /lib/...And should that change be done across gulpfile for replacing "join" with "+" or only in "transformPath" function?—
Reply to this email directly or view

[2015-09-01 12:18] mgechev commented on #67
I think it is better to use `node_modules/angular2/bundles/typings/angular2`. If we depend n `DefinitelyTyped` we may have mismatch between versions.

[2015-09-01 12:19] #21 closed

[2015-09-01 13:12] mgechev commented on #67
How about this? https://github.com/mgechev/angular2-seed/commit/f3e23f5533aa9e77cd87caf1e3a605aa80aaf42c#diff-b9e12334e9eafd8341a6107dd98510c9R258

[2015-09-01 13:16] aboeglin commented on #67
Good, like that we can easily change the path in case bundles is moved or renamed in future releases, so now we need to delete the tsd_typings from the remote and add the postinstall call to tsd.

[2015-09-01 14:00] ludohenin commented on #67
@mgechev perfect. Just `http` is missing as referred in #62

[2015-09-01 14:02] ludohenin commented on #67
@mgechev `tsd` can be invoke using `gulp-shell` plugin.

[2015-09-01 14:04] mgechev commented on #67
Yep, sounds good.

[2015-09-02 08:37] mgechev commented on #62
Fixed by https://github.com/mgechev/angular2-seed/commit/ddad9af6cc4bfc1d8efa35e5e46b50d5aafba60a

[2015-09-02 08:37] #62 closed

[2015-09-02 10:19] #59 closed

[2015-09-02 10:19] #67 closed

[2015-09-02 10:31] ludohenin opened #70 "Add jshint and editor config"
What do you think adding:
* .jshintrc
* .editorconfig
* .jscrc

[2015-09-04 16:47] tarlepp commented on #70
I think that is a good addition for this repo. Maybe you could use https://github.com/airbnb/javascript this one for .jshintrc?

[2015-09-05 19:46] butterfieldcons opened #72 "router will not work in current configuration"
Do you know how to get the router to work in this configuration?  Perhaps I would want to use the router in about.ts similar to below.  This will result in a error similar to below if you declare router in the spec and if you do not declare in spec the test will fail outright.   Thanks for the project!
[code]

[code]

[2015-09-05 20:03] ludohenin commented on #72
@butterfieldcons you should try it like this `@Inject(Router) router: Router`. `Inject` is exported by `angular2/angular2`

[2015-09-05 20:47] butterfieldcons commented on #72
Still getting an error. Also tried with the forwardRef syntax.  I have no doubt it would work outside karma/jasmin with angular bootstrap, but got to have a tests!!!!!  Everything else works except the Router.  Thanks.

Chrome 45.0.2454 (Windows 7 0.0.0): Executed 1 of 4 SUCCESS (0 secs / 0.003 secs
Chrome 45.0.2454 (Windows 7 0.0.0) About component should work FAILED
        Error: Timeout - Asyn

[2015-09-05 21:00] ludohenin commented on #72
Will have a look at it, but something like [this (router test)](https://github.com/angular/angular/blob/master/modules/angular2/test/router/router_spec.ts#L34-L43) binded to the rootTestComponent might solve the problem.

[2015-09-05 21:33] butterfieldcons commented on #72
Ok thanks, traced bindings.js - the pic below shows it failing.  This scenario occurs when I did this in the spec.  using the @Inject(Router) in the about.ts just fails outright with no error (which would work in a type angular2 bootstrap(ed) application.

@Component({selector: 'test-cmp', bindings: [NamesList, Router]})

![x](https://cloud.githubusercontent.com/assets/12204784/9701378/aef502bc-53

[2015-09-06 12:22] butterfieldcons commented on #72
Guessing something like this is what is needed.  I'll give it a try early tonight since I'm going somewhere for the day.  Seems simple enough, just need to figure out how to work with 'bootstrap' along with the 'TestComponentBuilder'.  This code is from route_config_spec.ts under the test/router folder.

import {
  AsyncTestCompleter,
  beforeEach,
  ddescribe,
  describe,
  expect,
  iit,
  injec

[2015-09-07 01:50] butterfieldcons commented on #72
Couldn't get the above working.....same darn binding error...DI doesn't see the router.

[2015-09-07 08:11] ludohenin commented on #72
I've added support for unit test using router in [test_router branch](https://github.com/mgechev/angular2-seed/tree/test_router) (home component). [Import part](https://github.com/mgechev/angular2-seed/blob/test_router/app/components/home/home_spec.ts#L18-L24) is still maybe to be cleaned-up.

[2015-09-07 14:08] butterfieldcons commented on #72
Hi,
So far working fine.  Really appreciate your time.  Sometimes we/I really need a direction; as you know plowing through source code can take a quite a bit of time.  I was close, but was looking at bootstrapping the router, but honestly I was not sure of how all the pieces went together.  For example, I was having problems with the location.  Also, I didn't realize that ROUTER_DIRECTIVES had to

[2015-09-07 14:08] #72 closed

[2015-09-15 20:26] JakePartusch opened #78 "Issue running 'gulp test' on Mac OS X"
Seems to me like the issue might be that `angular2/src/dom` has moved to `angular2/src/core/dom`. Any suggestions?

[code]

[2015-09-18 14:51] oricalvo opened #83 "npm install fails on Windows"
It looks as the gulp script uses shell commands that does not work under Windows OS. The issue is with the install.typings task the uses Unix style path ./XXX/YYY

[2015-09-18 15:11] PascalPrecht commented on #83
Hey @oricalvo could you give more information on the error that you're getting?

I'm actually taking a look at this now, don't have a windows machine tho. The task is executed using `gulp-shell` I would expected that it properly normalises shell commands when executed on windows machines..

[2015-09-18 16:03] Zyzle commented on #83
@PascalPrecht We spoke about this earlier so I did some digging. According to the gulp-shell documentation:

I removed the `./node_modules/.bin` prefix from the commands in `install.typings` and it seems to have worked.

[2015-09-18 20:05] ludohenin commented on #78
Fixed by #79

[2015-09-18 20:05] #78 closed

[2015-09-18 20:41] #83 closed

[2015-09-18 20:42] ludohenin commented on #83
thanks @Zyzle

[2015-09-19 07:15] PascalPrecht commented on #83
Thanks for fixing this!

[2015-09-20 07:57] oricalvo commented on #83
Verified successfully. Thanks

[2015-09-20 11:34] devmark opened #84 "Add material style"

[2015-09-20 11:35] devmark opened #85 "Add sass/less"
bootstrap 4

[2015-09-20 11:36] devmark opened #86 "Declare Return Types for Functions"

[2015-09-20 12:14] mgechev commented on #85
We're trying to keep the seed project as minimalistic as possible. Adding extra styles is out of the scope of the project.

[2015-09-20 12:14] #85 closed

[2015-09-20 12:14] mgechev commented on #84
We're trying to keep the seed project as minimalistic as possible. Adding extra styles is out of the scope of the project.

[2015-09-20 12:14] #84 closed

[2015-09-20 12:15] mgechev commented on #86
Although explicit return type declarations are not required because of the type inference in TypeScript, the code will get more readable. I'll add some :-)

[2015-09-20 12:17] #86 closed

[2015-09-23 12:16] mgechev opened #89 "Doesn't work with npm 3.x"
After the dependencies are installed with npm 3.x.x and I run `gulp serve.dev` I get:

[code]

The issue is [caused by `tiny-lr`](https://github.com/mklabs/tiny-lr/issues/91).

[2015-09-25 08:59] ludohenin commented on #89
@mgechev it works as it is for me with npm 3.x

[2015-09-26 01:43] devmark commented on #89
using 3.x.x
npm install
gulp serve.dev

I also get this error before. So i moved to npm 2.x

[2015-09-26 09:31] mgechev commented on #89
@devmark would you test against this branch https://github.com/mgechev/angular2-seed/tree/npm3 and npm 3.x.x?

[2015-09-26 12:29] devmark commented on #89
npm : 3.3.4

[code]

[2015-09-27 11:07] mgechev commented on #89
@devmark may be you forgot to `git checkout npm3`?

[2015-09-27 11:07] #89 closed

[2015-09-27 14:55] butterfieldcons opened #94 "angular2-seed will not run under Windows IIS"
As I expand angular2-seed, I would like to run it under IIS mainly due to CORS and lack of control over server side response headers.

With that said the following paths need the '.' before the 'lib' to load correctly.  Without it a 404 will occur.  An issue or not?  Regardless, good to get this information down in writing.

    <script src=".\lib\traceur-runtime.js?v=0.0.0"></script>

[2015-09-27 14:59] butterfieldcons commented on #94
As I expand angular2-seed, I would like to run it under IIS mainly due to CORS and lack of control over server side response headers.

With that said the following paths need the '.' before the 'lib' to load correctly. Without it a 404 will occur. An issue or not? Regardless, good to get this information down in writing.

[2015-09-28 08:09] ludohenin commented on #94
@butterfieldcons this is on purpose that lib paths are absolute. This is to support deep linking (which would not work with relative ones).

[2015-09-28 09:32] ludohenin opened #96 "Gulp serve.dev task is broken"
`lib` and `index.html` tasks not performed.

[2015-09-28 10:08] #96 closed

[2015-09-28 16:14] butterfieldcons commented on #94
Hi,
Yes, I can see your point.   Still poses a bit of a quandary for my situation.  Funny IIS doesn't like 'lib' or '/lib'.  It only likes './lib'.  You would think that it would work similar to a command prompt.  For example, I can type 'dir lib' and see the contents of a directory.

[2015-09-28 16:14] #94 closed

[2015-09-30 07:28] #70 closed

[2015-09-30 14:22] butterfieldcons commented on #94
If you need those components to use a relative path....

function transformPath(env) {
  var v = '?v=' + getVersion();
  return function (filepath) {
    // var filename = filepath.replace('/' + PATH.dest[env].all, '.') + v;
    // arguments[0] = join(APP_BASE, filename);
    // above lines would make the path absolute; below line makes it relative
    arguments[0] = filepath.replace('/' + PATH.de

[2015-09-30 16:16] mgechev opened #98 "Inconsistent naming"
Currently the `NameList` service is inside a file called `NamesList.ts`.

We should also consider common conventions for naming. I think camel case is not such a good idea given the differences in treating upper and lower cases in the different operating systems.

My suggestion is `lower_snake_case`.

[2015-09-30 21:01] butterfieldcons opened #99 "Expanding "spec" testing is limited"
Looked at this for a while, I'm hoping its just something simple that I'm missing.  With a basic git clone of the current project how come I cannot......

import {Pipeline} from 'angular2/src/router/pipeline';

into, let's say, about_spec.ts?

app\components\about\about_spec.ts(19,24): error TS2307: Cannot find module 'angular2/src/router/pipeline'.

Scratching my head a little bit since I had thi

[2015-10-01 08:29] ludohenin commented on #99
@butterfieldcons This is just a TypeScript compiler issue. Adding the following declaration to `app/typings/ng2_test.d.ts` should fix it.
[code]
or simply
`import {Pipeline} from 'angular2/router';`

[2015-10-01 08:29] #99 closed

[2015-10-01 08:32] ludohenin commented on #98
:+1:

[2015-10-01 13:49] butterfieldcons commented on #99
Thanks,  Sometimes when a lot of pieces move (I upgraded) you are not certain why something breaks.  Things seemingly look the same, but.......   I also had an issue with a corrupt file in npm-cache which was not helping (i.e. npm install).  Thanks again.

[2015-10-01 17:37] butterfieldcons opened #100 "Expanding "spec" testing is limited"
As a reference I included text from original issue below since i cannot re-open the original.

I'm still trying to get my head around this one.  The previous anguar2-seed project that used alpha36 (tsc 1.5.3) can use the ~1.6.0 Typescript compiler just fine.  If I use the tsc 1.5.3 against the new angular2-seed project alpha37 I still get the same problems as described below.  I can stub out defin

[2015-10-01 18:06] ludohenin commented on #100
What is the problem using alpha.37 and ts 1.6.x ?

[2015-10-01 18:28] butterfieldcons commented on #100
previously I asked why cant I do this,

 With a basic git clone of the current project how come I cannot......

import {Pipeline} from 'angular2/src/router/pipeline';

With alpha.37 and 1.6.x a suggestion was made to

declare module "angular2/src/router/pipeline" {
export = ng;
}

or simply
import {Pipeline} from 'angular2/router';

However, the transpiler version 1.5.3 does not work with the curr

[2015-10-02 08:22] #98 closed

[2015-10-02 08:27] ludohenin opened #102 "Add tslint to the build workflow"

[2015-10-02 08:31] ludohenin commented on #100
Maybe it should, but then it is an issue with the TypeScript compiler, not this seed (which is working as provided).

[2015-10-02 12:14] butterfieldcons commented on #100
People looking and asking questions is a good thing,  The fact that the new transpiler 1.6.x works with the previous angular2-seed project (maybe a week ago or so) suggests something changed in the project.  Which is working as provided is fine with me, I thought others might have the same question.

[2015-10-03 23:57] butterfieldcons commented on #100
Agreed thanks for hanging in there!  TypeScript compiler issue.  I dropped back to the old working version and slowly upgraded to see where things were failing.

[2015-10-03 23:57] #100 closed

[2015-10-04 15:20] tarlepp opened #113 "Used rules in tslint.json"
I added this on PR #109 with following modifications:

Original
[code]

Modified
[code]

@mgechev suggested that we open new issue and discuss about these rules.

[2015-10-05 06:26] mgechev commented on #113
I added some comments here https://github.com/mgechev/angular2-seed/pull/109/files

Great job in developing the gulp task! I'd want to make the `tslint.json` config not too opinionated. My idea is to provide a generic `tslint.json`, which includes only a few rules, which are generally considered as best practices.

Here's my suggestion:

[code]

// cc: @ludohenin @NathanWalker

[2015-10-05 06:43] tarlepp commented on #113
Yeah, for the note, I just copied that tslint.json file from tslint repository and made only those two little changes to it.

[2015-10-05 09:22] ludohenin commented on #113
One thing we could do is to provide a basic foundation as suggested by @mgechev and provide another empty tslint.json file (for customization) inside the tools folder that we extend with the default one.
We could also do the same for jshint.
this way we have a seamless integration of customize config.

[2015-10-05 09:35] mgechev commented on #113
Or we can stick to TypeScript and use it for gulp as well. This way we won't need jshint as dependency.

[2015-10-05 09:55] ludohenin commented on #113
yep, make sense

[2015-10-05 22:28] butterfieldcons opened #115 "has alpha.38 move from rx to the reactivex libraries?"
node_modules\angular2\node_modules\rx\

is now

node_modules\angular2\node_modules\@reactivex  etc....

[2015-10-06 06:25] sclausen opened #119 "add a watch task"
This would be really nice, I think.

[2015-10-06 08:06] mgechev commented on #119
We have watch task, which is wired with livereload.

[2015-10-06 08:06] #119 closed

[2015-10-06 11:35] sclausen commented on #119
Oh sorry! I've overlooked the `gulp serve.dev`.

[2015-10-06 12:27] sclausen commented on #85
I can totally agree with keeping the seed as minimalistic as possible.
Adding bootstrap css/js by adding the includes to PATH.src.lib is very easy, but is there a simpler way to add fonts for bootstrap, or fontawesome by creating a new gulp task like build.dev.libs.js, add the directory to the clean.js task and add the corresponding paths to PATH.src and dest?

[2015-10-06 14:04] mgechev commented on #85
It seems like a good idea to create a generic gulp task which manages the application resources. Currently we handle styles and libraries (@ludohenin please correct me of I'm wrong).

Interesting problem which appeared recently is https://github.com/mgechev/angular2-seed/pull/117

[2015-10-06 14:44] ludohenin opened #120 "Differrenciate lib to be copied and injected"
Seperate both libs to be copied only and libs to be injected from the configuration.
I propose something like this:
[code]

[2015-10-06 14:46] ludohenin commented on #85
I opened an issue to discuss it #120

[2015-10-06 14:46] mgechev commented on #120
I come up with this solution as well, I don't see anything smarter currently.

[2015-10-06 14:48] ludohenin opened #121 "Add generic tasks for application resources handling"
As adding/processing font, images, less/sass, ... is common in app development it might be a good idea to have generic task(s) for the same.

Any suggestions ?

[2015-10-06 14:49] ludohenin commented on #85
and this one #121

[2015-10-06 14:51] ludohenin commented on #120
We could also do something like this
[code]
but it adds extra complexity IMO

[2015-10-06 14:52] jerryorta-dev commented on #120
When dividing grunt tasks, my intent was to experiment with different workflows that allow for environment flexibility, such as adding angular material, less, sass, etc. This is where I current am with a divergence ( not forked since out of scope ) of this project:
https://github.com/UIUXEngineering/angular2-hybrid-seed/tree/feature/workflow-2/web/tools

It's not fully fleshed out yet, but there m

[2015-10-06 14:53] ludohenin commented on #115
yes. This will come once #112 will be merged.

[2015-10-06 14:54] #115 closed

[2015-10-06 14:55] jerryorta-dev commented on #120
For the record, I think @ludohenin ideas are better for this project. Just putting something on the table to think over.

[2015-10-06 15:13] hpinsley commented on #115
This sounds like good news. I've been struggling using some Rx features because it seems that that angular has been using a stripped-down version. Does that mean that it's going to start using the RX.all.JS library.  As an example I want to use functions like buffer with time.

[2015-10-06 15:16] ludohenin commented on #115
I don't know, haven't checked the details yet.

[2015-10-06 16:54] tarlepp commented on #121
Yeah, imho less/sass processing is common in app development so +1 for this. Also what do you guys think about bower integration? So that installed bower packages are automatic injected to index.html?

[2015-10-06 17:01] tarlepp opened #122 "Travis automation"
Imho it would be really nice if this repo has TravisCI integration setup. With that way we will notice if any tests are broken when there is a new PR.

What do you think?

[2015-10-06 17:01] tarlepp commented on #102
Hmm, this one is solved - right?

[2015-10-06 17:25] mgechev commented on #120
@jerryorta-dev thanks for sharing!

@ludohenin yeah, lets go with the first idea! :-)

[2015-10-06 17:28] ludohenin commented on #120
Yep. I'll implement while migrating gulp tasks to ts

[2015-10-07 07:26] ludohenin commented on #102
yep, you're right.

[2015-10-07 07:27] ludohenin commented on #102
Solved here #109

[2015-10-07 07:27] #102 closed

[2015-10-07 16:46] ludohenin commented on #120
This is addressed [here](https://github.com/mgechev/angular2-seed/commit/a61415a820eb87eeabbbdaa90c244d4d76be098c)

[2015-10-07 16:54] jerryorta-dev commented on #120
That is looking sweet!

[2015-10-07 17:59] briantopping commented on #121
I wonder if the use case of component builds (i.e. directories under `components`) can be addressed in this.  A contrived example is if one component uses less and another component uses sass. Both components internally reference the stylesheets that are built, but the components need to be built differently.

If the components each had their own a gulpfile, isolation of the differences could be m

[2015-10-08 07:58] mgechev commented on #121
@briantopping this seems like a corner case most projects agree upon common preprocessors. Probably if a team is using both sass and less for a single project they have to do something custom.

[2015-10-08 13:47] ludohenin commented on #120
Solved by #128

[2015-10-08 13:47] #120 closed

[2015-10-08 13:48] #113 closed

[2015-10-08 15:05] tarlepp opened #129 "npm install fails"
Just forked this repository and tried to install it, but I got following error(s)

[code]

So I guess that I'm missing ```tsd``` There should be some mention of this on installation instructions.

[2015-10-08 15:11] tarlepp commented on #129
Yeah, solved this simple by installing tsd

[code]

Although this should be mentioned in README.MD

[2015-10-08 15:11] #129 closed

[2015-10-08 15:14] ludohenin opened #130 "Remove global tsd dependency"
`npm install` crashes if `tsd` isn't globally installed.
This comes from `./tools/preinstall.js`.

[2015-10-09 08:27] jerryorta-dev opened #132 "Gulp Typescript requires node modules"
After the gulp refactor to typescript, Terminal ( command line ) throws the following error when running gulp commands:

[03:08:39] Requiring external module ts-node/register
⨯ Unable to compile TypeScript

Installing ts-node and typescript-node fixes the issue.

I would have submitted a pull request, but not sure whether this is something that needs to be document for the developer to install glo

[2015-10-09 08:41] ludohenin commented on #132
`ts-node` is defined in `package.son` so should work.
Have you run `npm install` ?

[2015-10-09 08:49] jerryorta-dev commented on #132
yes. I have to run npm install twice, because ts-node is not loaded immediately after it's installed the first time. I test by deleting the node_modules folder and running npm install again.

[2015-10-09 14:36] ludohenin commented on #132
Strange, I just did exactly the same thing and it works fine.
* OSX 10.11
* node 4.1.1
* npm 3.3.5

[2015-10-09 14:37] ludohenin commented on #132
Anyone else having the same issue ?

// cc: @mgechev @NathanWalker

[2015-10-09 16:12] jerryorta-dev commented on #132
This may very well be unique to my environment. Sorry for the trouble if that is so.

Among my work and private projects, the app environments are vastly different, so I do not install anything globally.

For example I've set up my .bash_profile with this snippet:

[code]

Which allows me to run npm modules only designed to run globally - locally. I would then run tsd like this:

```$ npm-local ts

[2015-10-10 07:05] #130 closed

[2015-10-10 07:07] mgechev commented on #132
Hey @jerryorta-dev I can't experience that issue either.

Would you try to reproduce it with the latest changes in the repo? Thanks for reporting it!

[2015-10-10 14:10] tarlepp commented on #122
This will need PhantomJS to get those tests to be run. I also noticed that PhantomJS2 will require some custom work, so I recommend that we try to use 1.x branch of PhantomJS. Any thoughs?

[2015-10-10 14:16] ludohenin commented on #122
@tarlepp When I first tried karma with phantomJS it was not supporting traceur-runtime.js. But now that ng2 doesn't rely on traceur would be good to give it another try.
Can you do that ?

[2015-10-10 14:27] tarlepp commented on #122
I'll try, cannot promise anything because I'm really n00b with ng2...

[2015-10-10 15:04] tarlepp commented on #122
Hmm seems like tests needs some work.

[code]

[2015-10-10 16:48] briantopping commented on #121
@mgechev I may have mentioned on gitter, my point about component builds was contrived: "deliberately created rather than arising naturally or spontaneously". I agree that most projects use common preprocessors. Components may have variant needs. One goal of a component is to decouple a set of code from other code so that it may be used interchangeably.

More importantly to this template, by pushi

[2015-10-10 17:12] mgechev commented on #121
What structure you suggest in order to handle your concerns?

[2015-10-10 17:13] tarlepp commented on #121
Imho, it would be really great if we have tasks for SASS and LESS. Those should not be a waste, and then users could use one of those or both.

[2015-10-10 17:20] briantopping commented on #121
@mgechev It seems like it would be quite flexible if the component folders could also have `tools` folders, and everything in `tools/tasks` would be parsed on build.

To your point about it being difficult to find the aggregate list of all available tasks, it might be desirable for there to be something of a `gulp tasks` CLI option to list the available tasks by name in a comma separated list.

[2015-10-10 17:27] briantopping commented on #121
@tarlepp Couldn't that be simply dropped into the `tools/tasks`? Agreed that it would be useful to a lot of people.

@mgechev If I wasn't clear, this seems to illustrate some value to not having the tasks explicitly listed in the top-level gulpfile. Maybe if there was some kind of `contrib` folder for tasks, each fork of the template could pick and choose which tasks (i.e. SASS or LESS) they wante

[2015-10-10 17:45] mgechev commented on #121
Having separate gulp tasks for the individual components seems like a possible real-life scenario but I'm not sure it is inside of the scope of a minimalistic seed as this one.

For sure it is a good idea to document this practice.

[2015-10-10 17:46] ryzy commented on #122
Have the same errors as @tarlepp

karma.conf specifies these files to load:
[code]

Not sure about that pattern with `@reactivex/rxjs`.

Adding
[code]
to `package.json` devDependencies seems to solve the issue... but I'm not sure if that's the right way to address it?

[2015-10-10 17:46] ryzy commented on #122
/cc @mgechev

[2015-10-10 17:48] briantopping commented on #121
@mgechev I guess it just depends on whether the minimalistic seed is intended to be used as a base for production apps and how easy or hard it should be to keep apps updated with changes to the seed. Both sound like they would be great to me, but maybe that's why my suggestions sound off-base?

[2015-10-10 18:00] tarlepp commented on #121
Imho maybe some ```optional_tasks``` folder, which could contain tasks for LESS, SASS, etc. and then some configuration value to tell which optional tasks are also included.

In that way we'll have minimalistic basic configuration + some optional tasks that users could easily to enable in their projects.

[2015-10-10 18:07] ludohenin commented on #121
For your information, I'm working on a refactoring of the build to make it easier to extend.
I's not yet show-able but will post here when I have something.
I'll place it here for experiments: [ludohenin/angular2-seed-extended](https://github.com/ludohenin/angular2-seed-extended)

[2015-10-10 18:11] briantopping commented on #121
@tarlepp Agreed, that's what I was talking about with `contrib`.

[2015-10-10 18:13] briantopping commented on #121
@ludohenin So that's not a fork but a brand new template?

[2015-10-10 18:38] tarlepp commented on #122
Also I noticed that only test that is runned is ```name_list_spec.ts```.

[2015-10-10 19:27] ryzy opened #137 "Add PhantomJS2 to Karma's browsers"

[2015-10-10 19:30] ryzy commented on #137
I'm trying to come up with working code for that, but have a problem with PhantomJS 2.0 throwing some weird errors.

Here are the changes: https://github.com/ryzy/angular2-seed/commit/4d14f5f07825274043003439a3428a8760792f74

When I run it, I have following result:
[code]

Any ideas what might be wrong? Still quite new with ES6/TS/Angular2.

[2015-10-10 19:32] tarlepp commented on #137
Yeah, I tried that too but I got some referenceErrors about missing 'require'. Going to try this one again...

[2015-10-10 19:34] ryzy commented on #137
@tarlepp there were some missing references and even without PhantomJS there were warning. I fixed it in that change: https://github.com/ryzy/angular2-seed/commit/c21c7cdb9804219f8829c376574a79859a4ce391

Will do PR with these two commits once I managed to make PhantomJS work...

[2015-10-10 19:36] tarlepp commented on #137
With just installing ```karma-phantomjs2-launcher``` and changing the ```karma.conf.js``` I got following.

[code]

[2015-10-10 19:44] ryzy commented on #137
This change https://github.com/ryzy/angular2-seed/commit/c21c7cdb9804219f8829c376574a79859a4ce391 at least fixes it in Chrome.

[2015-10-10 19:52] tarlepp commented on #137
Not change at this end after those modifications.. Still complaining about

[code]

[2015-10-11 09:32] ryzy commented on #137
OK, I managed to make it work. PR https://github.com/mgechev/angular2-seed/pull/140

Seems like PhantomJS2 cannot work without Traceur - after restoring its dependency (it was removed in  _Update to angular@2.0.0.alpha.38_ change: https://github.com/mgechev/angular2-seed/commit/b94031c98096cf4feda2c5e7a60cfaeb3ed7b789) it works again.

Does it make sense or should be resolved somehow differently?

[2015-10-11 10:51] mgechev commented on #122
I noticed that @ryzy handled the PhantomJS issue here https://github.com/mgechev/angular2-seed/pull/140

[2015-10-11 10:52] mgechev commented on #121
Yes, this makes sense

[2015-10-11 13:05] ludohenin commented on #121
I pushed someting, it's broken but will give you an idea where it's going.
Please forward you feedback.
[ludohenin/angular2-seed-extended](https://github.com/ludohenin/angular2-seed-extended)

[2015-10-11 18:14] tarlepp commented on #122
Yeah, waiting for merge about that.

[2015-10-12 06:31] ludohenin commented on #121
It's somewhat working now (test tasks to be debugged).
What are your thoughts about the direction I'm taking ?

[2015-10-12 09:25] jerryorta-dev commented on #132
My specs:
- OSX 10.10.5
- node: 4.1.1
- npm: 3.3.6

To reproduce:
- pulled from latest master
- run npm cache clean
- remove node_modules
- remove tsd_typings
- npm install

Received the following error:

[code]

[2015-10-12 14:39] NathanWalker commented on #132
I have not experienced this issue on a clean setup.

On Fri, Oct 9, 2015 at 7:37 AM Ludovic HENIN <notifications@github.com>
wrote:

[2015-10-12 14:57] jerryorta-dev commented on #132
I'd close this until it becomes an issue for anyone else then. I'll investigate my set up again... re-clone the repo again, etc.

[2015-10-12 15:40] mgechev commented on #132
Okay, thanks for that. If you encounter it again let us know.

[2015-10-12 15:40] #132 closed

[2015-10-12 19:17] punov opened #145 "Object doesn't support property or method "keys" IE 11"
Browser IE 11,
Object is not supported property or method 'keys',
File: angular2.dev.js, line: 4027, row: 5
if ((new exports.Map()).keys().next)  ....

What we can do here, any possible workarounds?
Thank you

[2015-10-13 06:30] ravi-tj opened #147 "⨯ Unable to compile TypeScript"
----------------------------------

I am getting this error, with angular alpha 0.40

[2015-10-13 06:34] mgechev commented on #147
Looks like this issue https://github.com/mgechev/angular2-seed/issues/132.

We'll have a look.

[2015-10-13 06:36] ravi-tj commented on #147
@mgechev ,
I fixed it by compiling the .ts files to .js

[2015-10-13 07:58] mgechev commented on #147
@ravi-tj yeah, this works, however, it is more than a workaround rather than a real solution.

There's an issue with the ts-node module, which doesn't run the build gulpfile itself.

[2015-10-13 08:03] mgechev commented on #122
Fixed by https://github.com/mgechev/angular2-seed/pull/146

[2015-10-13 08:03] #122 closed

[2015-10-13 08:07] mgechev commented on #145
Its weird that https://github.com/mgechev/angular2-seed/pull/143 didn't fixes that issue.

Are you using any tag or the latest version, which is in master?

[2015-10-13 09:42] mgechev commented on #137
We can close this issue https://github.com/mgechev/angular2-seed/blob/master/karma.conf.js#L72

[2015-10-13 09:42] #137 closed

[2015-10-13 19:43] tarlepp opened #148 "tslint is not warning of use of var"
Imho usages of ```var foo = 'bar';``` should be warned - we should user ```let foo = 'bar';``` right?

[2015-10-13 19:56] tarlepp opened #149 "check node and npm version on preinstall"
I have seen multiple issues that users are getting when they use old version of ```npm```. So I recommend that we add ```engines``` definition to ```package.json``` for starters. Another thing could be simple test in ```preinstall``` task to make sure that current environment is ready for this awesome seed.

What do you think about this?

[2015-10-13 20:13] tandu opened #150 "Inject dependency to Service"
Maybe it is not related to the project but it doesn't work.

I created new file services/model.ts

[code]
and edited name_list.ts:

[code]

When I click 'About' there is exception in browser console:
EXCEPTION: No provider for Model! (About -> NameList -> Model)

[2015-10-13 20:24] ludohenin commented on #150
I think (to be confirmed) you have to tell ts compiler to generate metadata on your `Model` class.
this is a way:

[code]

and you remove `@Inject`on `NameList` class.

[2015-10-13 20:41] tandu commented on #150
I have tried to add `Injectable` to `Model` and it doesn't work. I have looked at generated js file, it properly wraps `NameList` and adds `Model` to its metadata, but browser shows that exception. I have searched in internet, it seems to be a correct way to add dependency to service, for example, check [here](http://blog.thoughtram.io/angular/2015/05/18/dependency-injection-in-angular-2.html).

[2015-10-13 21:01] ludohenin commented on #149
:+1:

[2015-10-13 21:02] briantopping opened #151 "Unable to install"
Not sure what's happening here. Have npm v3, have deleted all the ~/.npm* folders, not having too much luck. Thanks for looking!

[code]

[2015-10-14 07:51] ludohenin commented on #148
This is maybe too much opinionated ?

[2015-10-14 09:56] ludohenin commented on #151
have you tried with this fix #134 ?

[2015-10-14 11:54] mgechev commented on #148
Yeah, lets leave the tslint rules the way they are.

[2015-10-14 11:54] #148 closed

[2015-10-14 11:54] mgechev commented on #149
:+1:

[2015-10-14 12:07] punov commented on #145
Update with new changes helped as a charm, thank you!
Sorry for bothering

[2015-10-14 12:07] #145 closed

[2015-10-14 12:13] mgechev commented on #121
@ludohenin looks good to me!

[2015-10-14 12:19] mgechev commented on #150
As @ludohenin said, you need to add `@Injectable` to the `NameList` class.

[code]

You should also provide a binding for the `Modal` class:

[code]

or

[code]

[2015-10-14 12:19] #150 closed

[2015-10-14 13:56] tandu commented on #150
It works, thank you for explanation.

[2015-10-14 14:46] briantopping commented on #151
Thanks a bunch for your insight, that's an obvious one that I forgot. Didn't help, but got me thinking I should reinstall everything. So I deleted `/usr/local/lib/node_modules`, reinstalled the node 4.2.1 package install, reinstalled `npm`, `gulp` and `tsd` and cloned a clean copy of the repo. Still nothing:

[code]

[2015-10-14 16:16] mgechev commented on #151
@briantopping would you test against this branch? https://github.com/mgechev/angular2-seed/pull/155

[2015-10-14 16:22] briantopping commented on #151
Thanks @mgechev that worked. I don't know exactly why though, is it using something like Traceur to dynamically compile? I don't see gulpfile.js generated anywhere.

[2015-10-14 16:39] ludohenin commented on #121
@briantopping `gulp --tasks-simple` list all available tasks

[2015-10-14 16:40] ludohenin commented on #121
it will come with the updated build.

[2015-10-14 16:57] briantopping commented on #121
@ludohenin yes, `gulp --tasks-simple` works, as does `gulp --tasks`. Not sure why there's a problem discovering tasks.

What will "come with the updated build"?

[2015-10-14 17:04] mgechev commented on #151
Yeah, `typescript-node` compiles and runs the typescript files on the fly (similar to `babel-node`).

[2015-10-14 17:08] briantopping commented on #151
That's great, thanks. I'll close it now, it's not like I'm going to forget about it on this machine haha.

[2015-10-14 17:08] #151 closed

[2015-10-14 18:39] tarlepp opened #157 "CONTRIBUTING.md"
Should this repository contain some guidelines for contributing? Eg. something like https://github.com/makeusabrew/bootbox/blob/master/CONTRIBUTING.md ?

[2015-10-14 18:52] ludohenin commented on #157
Nice one. Was thinking about the same.
I would add:

* open new issue to discuss new features before pulling requests.

[2015-10-14 19:21] ludohenin opened #158 "Add clean node_modules folder onpreinstall ?"
I've also had some troubles installing the deps on a non fresh clone.
I think it'd good to clean node_module folder in preinstall script.

[2015-10-14 19:24] tarlepp commented on #158
I think this would solve some issues about installation.

[2015-10-14 19:27] mgechev commented on #157
Yes, makes sense. I'd also add to run tslint in order to make sure they're following the same coding style.

[2015-10-14 19:31] tarlepp commented on #157
Hmm, should we add tslint task to run with tests?

[2015-10-14 19:32] ludohenin commented on #157
yes

[2015-10-14 19:38] mgechev commented on #157
Imho, both testing and linting needs to be part of the CI, however, used as individual tasks i.e. linting should not be a subtask of testing since their purpose is different.

[2015-10-14 20:06] tarlepp commented on #148
Hmm, I still think that we shoud add ```"no-var-keyword": true``` option to [tslint.json](https://github.com/mgechev/angular2-seed/blob/master/tslint.json) file to make sure that everyone is using the same coding style.

This was also discussed on #157

[2015-10-14 21:08] tarlepp commented on #158
We could use same approach as in ng2 repository: https://github.com/angular/angular/blob/master/package.json#L26

[2015-10-14 21:29] mgechev commented on #158
@tarlepp makes sense

[2015-10-15 05:25] ludohenin commented on #147
FYI: `npm WARN deprecated typescript-node@0.1.3: typescript-node has been renamed to ts-node`
Maybe we don't need that one.

[2015-10-15 05:50] ludohenin commented on #158
@tarlepp :+1: - Shall I assign it to you ?

[2015-10-15 07:22] mgechev commented on #147
Yes, let me change it.

[2015-10-15 14:49] mgechev commented on #147
This issue is fixed by https://github.com/mgechev/angular2-seed/pull/155

[2015-10-15 14:57] mgechev commented on #149
Actually, I'm not sure we set any restriction for usage of `npm` >= `3.0.0` or `node` >= `4.0.0` using engines, since developers won't get the seed from npm anyway.

Do you have any ideas how to workaround this?

[2015-10-15 20:37] tarlepp commented on #158
Seems like npm shrinkwrap is the way to handle this. This will cause some "extra" work when updating packages but not much. More info https://github.com/angular/angular/blob/master/npm-shrinkwrap.readme.md .

Bigger problem is npm itself, seems like 3.x version has some major problems with shrinkwrap, more info https://github.com/npm/npm/issues/9907

[2015-10-15 20:52] mgechev commented on #158
Yeah, I have some painful memories with shrinkwrap...Lets stay away from that until it gets the only option :-)

[2015-10-15 20:53] tarlepp commented on #158
You have some other solution / thoughs for this?

[2015-10-15 21:24] mgechev commented on #158
We can clean node_modules by using fs.unlinkSync for example.

[2015-10-16 03:56] tarlepp commented on #158
sure but that won't fix the problem, also that would not prevent package versions changes. If that is the only option, then I would just add some "installation problems" section to readme.md and describe this there.

[2015-10-16 07:12] mgechev commented on #158
Why would we need to lock the versions of the dependencies of the dependencies of the seed?

@ludohenin your problem occurs because of some mess around overriding of the dependencies caused by preinstall with existing `node_modules`, right?

[2015-10-16 13:27] mgechev commented on #121
@ludohenin we can close this after your build refactoring.

[2015-10-16 13:27] #121 closed

[2015-10-16 15:36] tarlepp commented on #158
imho the reason are fairly clear explained on ng2 repo https://github.com/angular/angular/blob/master/npm-shrinkwrap.readme.md

If we don't want to _or_ can't use this aproach we should add eg. "Possible failures" to README.MD and provide these solutions there.

[2015-10-17 11:49] tarlepp commented on #149
That preinstall check could be the answer.

[2015-10-17 15:47] ludohenin commented on #158
I'd prefer the possible failure approach (a lot simpler :).
isn't it enough what we already have in the readme ?
[code]

[2015-10-17 16:39] NathanWalker opened #164 "Refactor question - component naming with suffix 'Cmp' ..."
I'm not sure I agree with the direction of the usage of `Cmp` suffix on components at this point. I don't think that's become a standard and not sure we should adopt that yet.

The Ionic team with v2 has stuck with `Ctrl` suffix on components and that may be a better way to go as well as carry the torch on the good parts of Angular v1 and be easier for users of Angular v1 to move into. `Ctrl` may

[2015-10-17 17:55] mgechev commented on #164
@NathanWalker I agree that controller makes sense. I've talked with Misko and thats what the purpose of these ES2015 classes are. Respectively their constructor could be considered as the linking function of the directives from AngularJS 1.x.

[2015-10-18 18:02] ludohenin commented on #164
Shall we go for `Ctrl` suffix then ? I'm also fine wit it.

[2015-10-18 18:06] NathanWalker commented on #164
I think so. I would submit a PR today for it but doesn't look like I'll
have time.

On Sun, Oct 18, 2015 at 11:02 AM Ludovic HENIN <notifications@github.com>
wrote:

[2015-10-18 18:17] mgechev commented on #164
Okay

[2015-10-19 08:42] sclausen opened #169 "Refactor: add tsd-files defined in tsd.json to gitignore"
Tracking them is IMHO unnecessary and bloats the git repo.

[2015-10-19 08:49] ludohenin commented on #169
@sclausen this is because installing typings on npm preinstall is not stable considering we don't want to rely upon tsd being globaly installed.
Btw If you have a working solution (working on Travis as well) that'd be awesome :)

[2015-10-19 10:20] sclausen commented on #169
Installing typescript definitions has to be done before compiling any typescript and you can't use the local tsd before installing it, so why not moving the tsd commands in the gulp-task to to the postinstall npm task?
[code]
[code]
now you would execute tsd commands after installing the node modules, but before executing any gulp scripts and you could add `tools/typings/tsd` to the `.gitignore`.

[2015-10-19 10:36] ludohenin commented on #169
Is this (`"postinstall": "tsd reinstall --clean; tsd link; tsd rebundle; gulp postinstall",`) cross platform ?

[2015-10-19 10:49] sclausen commented on #169
:frowning: I didn't thought there could be any compatibility problems. Unfortunately, I don't have multiple os on hand, so how could I test this?

[2015-10-19 11:26] sclausen commented on #169
I tested it on travis-ci and it succeeds.

[2015-10-19 12:06] ludohenin commented on #169
It works on OSX for me.
Anyone who can test on Windows ?

[2015-10-19 12:52] svrcekmichal commented on #169
@ludohenin it works :) i prefer `&&` syntax, but it's running ok

[2015-10-19 13:30] ludohenin commented on #169
Good to read!I also prefer `&&` but wasn't sure if it'd run across platforms.
@sclausen would you send a PR (single commit & with latest master) ?

[2015-10-19 13:42] sclausen commented on #169
@ludohenin Here you go #171

[2015-10-20 10:23] mgechev commented on #157
Closed by https://github.com/mgechev/angular2-seed/commit/e9b77fccb6d4ff92a3dc19278585579273425830

[2015-10-20 10:23] #157 closed

[2015-10-20 12:54] sclausen commented on #169
closed with #173

[2015-10-20 12:54] #169 closed

[2015-10-20 20:50] jesperronn commented on #158
[`npm prune`](https://docs.npmjs.com/cli/prune) is already done through `npm postinstall`, which in turn calls `gulp postinstall`, which calls `npm prune`.

[2015-10-20 21:13] jesperronn opened #176 "Tsd reinstall often fails with 'Github rate exceeded'"
This build, for instance: https://travis-ci.org/mgechev/angular2-seed/jobs/86486664#L156

Fails with

[code]

Documentation itself suggests to add a `token` into `.tsdrc`. Which is kind-of weird to have on Travis/CircleCI since it's a private github key.

Imagine if npm dependencies were pulled from Github. A CI provider would easily spend the 60 api requests per hour. Forgive my lack of knowledge

[2015-10-21 15:04] tarlepp commented on #176
This can be solved simply by create of auth token for tsd. This is described in https://github.com/DefinitelyTyped/tsd#tsdrc

\\CC @mgechev You should create this token as described and then create ENV variable to Travis configuration.

[2015-10-21 15:08] jesperronn commented on #176
I understand. But I have the impression that these tokens are personal and
therefore should not be committed into repository. Is this correct?

For instance if I create a token with my github account, then this token
can be used to make other API requests on my behalf. I should never submit
that into this repository (even thought I was pretty close doing that).

Is this correctly understood?

Also

[2015-10-21 15:12] tarlepp commented on #176
The problem is within Travis CI integration, which is triggered to run whenever someone makes new PR to this repo.

So the fix is just to add environment variable ```TSD_GITHUB_TOKEN``` to Travis CI settings and all is fixed. I can't do that, because @mgechev is the "owner" of Travis CI integration.

[2015-10-21 15:21] jesperronn commented on #176
Forgive my ignorance...

But updating tsd files should probably lie in the hands of the developers
submitting the pull-requests.

Is there a way to avoid having tsd making calls when building?? Wouldn't it
be better to fail the build on Travis if there is some sort of mismatch
between the tsd files and the .ts files??

What advantage does it have to make the tsd api calls?

On Wed, Oct 21, 2015 at

[2015-10-21 15:30] tarlepp commented on #176
See #171 for more information.

[2015-10-21 15:34] jesperronn commented on #176
Point taken. So with #171, we ignore tsd files, since compiler must download ts-definitions for js libraries when they should be used. Then, for me, makes sense, then to follow @tarlepp suggestion to add `TSD_GITHUB_TOKEN`.

Thanks for explaining @tarlepp  :+1:

[2015-10-21 15:37] tarlepp commented on #176
np

[2015-10-21 15:47] jesperronn commented on #176
Oh, one more thing https://github.com/DefinitelyTyped/tsd/#notes notes that

Shouldn't we do that instead (as a separate task locally)?? This again means no CI build will get the rate error.

Why would DefinitelyTyped prefer that opposed to the strategy to reinstall??

[2015-10-21 16:45] NathanWalker commented on #164
Hmm well now I'm not sure lol. I saw a couple demo's from AngularConnect that were using `Cmp` as suffix, in particular Brian Ford's routing demo I believe used that.... sooooo, idk. I think I like `Ctrl` but I definitely like using standards that will be adopted everywhere. Whatever you guys think here.

[2015-10-21 21:54] ludohenin commented on #164
`Cmp`for me. These classes are primarly annotated with `@Component.
Though in the continuation of ng1 it should be `Ctrl`.

[2015-10-22 02:10] TylerEich opened #179 "typescript-register throws error in gulp postinstall"
~~Here's the full log from npm: http://cl.ly/1A2x163g1L12/npm-debug.log
Obviously the errors related to postinstall will be at the end.~~

[code]

~~I'm assuming this is typescript-register's fault, but the build process is broken for this repo, so I thought I'd bring it up.~~

I think my internet connection may be flaking out on the build process, closing until I know for sure…

[2015-10-22 02:51] #179 closed

[2015-10-22 11:20] natarajanmca11 commented on #164
I agree with @ludohenin point.

[2015-10-23 06:12] mgechev commented on #176
I was busy with AngularConnect last week. I will take a look at this issue during the weekend.

[2015-10-23 06:48] ludohenin opened #183 "Karma does not load rxjs"
Fix path to `@reactivex/rxjs/*`

[2015-10-23 07:22] ludohenin opened #184 "Keep tsd definitions inside the repo ?"
I see a couple of advantages to do so:

* No more error with Travis (or less at least)
* Already referenced `./tools/typings/tsd/**/*.d.ts` in `tsconfig.json` files
  * right now if we just clone, install, start ... tsd definition are missing in tsconfig

[2015-10-23 11:50] #183 closed

[2015-10-23 13:56] tarlepp commented on #184
Travis is failing because of GitHub rate limit, which can be easily solved as described in #176

If the point is keep this repo as barebone as possible, then I wouldn't include these typings. And imho it's good that repo contains only things that *we* have coded, not 3rd party libraries.

But generally I think there is no "wrong" or "right" answer for this.

[2015-10-23 15:00] ludohenin commented on #184
My main concern here is

[2015-10-24 01:50] briantopping opened #188 "Mismatch between SASS and components"
Seems like there is a mismatch between SASS and components. Components all have their own CSS files and `tools/tasks/build.sass.dev.ts` compiles CSS from the entire project.

Ideally, each component would be able to have it's own SASS compilation, including import of partials from the top-level project. The results for each SASS compilation would be usable by the corresponding `styleUrls` attribut

[2015-10-24 07:07] natarajanmca11 opened #189 "`./tsd_typings/**/*.d.ts` entry is not required in `tsconfig.json` file's `filesGlob` array object."
`./tsd_typings/**/*.d.ts`  entry is not required in `tsconfig.json` file's `filesGlob` array object.
Please confirm.
Briefly explain about 'filesGlob' in tsconfig.json.

[2015-10-24 11:22] previousdeveloper opened #190 "Gulp Error"
⨯ Unable to compile TypeScript

gulpfile.ts (1,23): Cannot find module 'gulp'. (2307)

[2015-10-24 16:45] briantopping commented on #190
Did you install according to the README? What versions of NPM and Node are you using?

[2015-10-24 17:24] previousdeveloper commented on #190
yes I did, npm =3.3.3 and node= v4.0.0

[2015-10-24 17:25] briantopping commented on #190
You might want to try something closer to 3.3.6 and 4.2.1.

[2015-10-24 17:32] previousdeveloper commented on #190
I have updated but still same error , this is error detail

[20:31:30] Requiring external module ts-node/register
----------------------------------
⨯ Unable to compile TypeScript

gulpfile.ts (1,23): Cannot find module 'gulp'. (2307)
----------------------------------

npm ERR! Darwin 15.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v4.2.1
npm ERR! npm  v3.3.9

[2015-10-24 17:34] briantopping commented on #190
Did you try removing `node_modules` and do a `git clean -f` after upgrading? I've seen this before, but I don't remember exactly how I fixed it.

[2015-10-24 18:10] ludohenin commented on #190
pretty sure this is related to #184

[2015-10-24 21:13] jesperronn commented on #183
:+1:  for adding the dependency explicitly. The reason why this was a problem to you and not to Travis is due to Travis using Npm 2, and you probably using npm 3 locally.

Npm 3 'flattens' dependencies, so that @reactivejs is not found under `node_modules/angular2/node_modules/@reactivejs`

This happened for me, too. Adding the depencency explicitly is a great idea, thanks.

One question: Can you

[2015-10-25 21:04] #189 closed

[2015-10-25 21:06] ludohenin commented on #189
@natarajanmca11 filesGlob is used by IDE's to auto-populate the `files` array.

[2015-10-25 21:09] ludohenin commented on #188
Not sure to follow you. Sass tasks is more here for illustration purpose.

[2015-10-25 21:09] #184 closed

[2015-10-25 21:12] briantopping commented on #188
We talked about this in chat yesterday, you said "as we don't have components-wise approach". Maybe the components folder should be called something else then.

If it's just for illustration purpose, maybe #193 should be there too? It's just there for illustration as well. Not very good for components and I don't use the word "media". :-)

[2015-10-26 07:06] ludohenin commented on #190
@previousdeveloper do you still have this issue ?
I checked again about a possible explanation (#184) but it works just fine on my machine.

[2015-10-26 17:20] jimthedev opened #195 "npm postinstall fails in node 0.12"
I get this error when running npm install in node 0.12

[code]

[2015-10-26 19:10] mgechev commented on #164
`Cmp` works for components, however when you define a directive `Cmp` looks kind of confusing to me.

[Here is a poll](https://twitter.com/mgechev/status/658722311101620228) I started.

[2015-10-26 22:37] jesperronn commented on #132
Also a problem for me. If I run any `gulp` command directly it fails. Example

[code]

However, `npm run build.dev` works just fine as expected.

My globally installed modules:

[code]

So, as @jerryorta-dev reports: None of the listed modules installed globally.

Note, however, that specifically using the locally installed Gulp works:

[code]

Is this another problem, or the same as @jerryorta-de

[2015-10-26 23:04] jesperronn commented on #158
@ludohenin I like your idea of keeping it simple and guide the user when in trouble. Have a look at #197 and see if that can help

[2015-10-27 08:05] jesperronn opened #199 "Cleanup Removing merged branches"
Hi

could one of you with admin permissions please remove the branches already merged in this project

The easiest is probably to navigate to https://github.com/mgechev/angular2-seed/branches and delete the following:

[code]

Thanks for keeping this repos clean :+1:

[2015-10-27 10:17] ludohenin commented on #199
Done. Thanks for pointing that out :).

[2015-10-27 10:17] #199 closed

[2015-10-27 11:12] jesperronn opened #201 "Adding dependencies compile-time, test-time, run-time"
I really like how the seed project here helps me getting started on new projects. :+1:

A typical task is to add an external library to my code (based on this project). Last week I burned my fingers twice, since I neglected to see there were many places I had to add the dependency.

Given you use the dependency in a test, you have to add it to the following

1. [package.json] as a dependency
2. [k

[2015-10-27 11:51] jesperronn opened #202 "Test with Internet Explorer?"
To ensure browser compatibility, I would like to run the Karma test suite via the CI service Appveyor.com as a supplement to the Travis build.

My preliminary findings:

Appveyor jobs seem very flaky. I am currently experimenting in my own fork of the seed project:

* https://ci.appveyor.com/project/jesperronn/angular2-seed/history

Also, job times seem to vary immensely: It can take anythiing fro

[2015-10-27 12:39] jesperronn commented on #202
Update, I am closer than before. I was able to bypass tsd-errors with PR contents from #200, and now I am down to this error in the [appveyor build](https://ci.appveyor.com/project/jesperronn/angular2-seed/build/22)

[code]

Any help interpreting or changing the code will be greately appreciated :+1:

[2015-10-27 13:15] ludohenin commented on #202
Looks like issue #195 solved by #196 (to be merged, see open discussion)

[2015-10-27 13:16] ludohenin commented on #202
What version of node are you running ?

[2015-10-27 13:20] jesperronn commented on #202
The appveyor now runs `{"node":"0.12.7","npm":"2.11.3"}`, which I believe is their standard.

The build takes a loong time, so for now, I wanted to avoid installing specific versions. these are the defaults, but can be easily modified in [`appveyor.yml`](https://github.com/mgechev/angular2-seed/blob/1aa2d865e67653ed7ee965ff28928717b07f9c63/appveyor.yml)

[2015-10-27 13:22] ludohenin commented on #202
Then it confirm you're having the same issue as #195.

[2015-10-27 13:24] jesperronn commented on #202
Thanks @ludohenin, will try to downgrade to 0.10 for the sake of this experiment. :+1: for solving #195

[2015-10-27 14:37] ludohenin commented on #201
Thanks for your inputs @jesperronn
I'm actually still working on improving the build and config. Will for sure consider your suggestions.

[2015-10-27 15:13] jesperronn commented on #201
:+1:

[2015-10-27 16:59] tarlepp commented on #195
Hmm, I think that we need to also update ```travis.yml``` to run all checks with 0.12 node.

[2015-10-27 18:27] ludohenin commented on #195
@tarlepp :+1:

[2015-10-28 01:41] mmrath opened #205 "API Deprecation in alpha 41"
Looking at the change log for alpha 41, there are quite a few deprecations. We should change to use the new terminology?

https://github.com/angular/angular/blob/master/CHANGELOG.md#200-alpha41-2015-10-13

[2015-10-28 11:11] ludohenin commented on #190
@previousdeveloper any updates on this issue ?

[2015-10-28 13:46] jesperronn opened #206 "Make test and start tasks fail on lint errors?"
Due to our test/ci setup, it would be useful if the test or server task can fail if any linting errors occur.

There is no reason the test suite runs if there is a linting error and code may not be working. For me, that would make turnaround faster.

Technically, the test job uses Gulp `run-sequence` plugin, but don't quite get how that should be modified if you like the idea.

What do you think?

[2015-10-28 15:37] sclausen commented on #184
@ludohenin The problem that the typings are missing in `tsconfig.js` could be solved with adding the following:
[code]
I don't know how other IDE's treat the `tsconfig.json`, but atom-typescript doesn't mark e.g. any express imports as errors (`tools/utils/server.ts`) If I exclude tsd-typings in filesGlob. Would this be a valid solution for one of your arguments?

IMHO including the tsd typings in

[2015-10-28 16:34] mgechev commented on #206
Sounds like a good idea to me.

I've implemented similar functionality at https://github.com/mgechev/javascript-algorithms

[2015-10-28 16:35] mgechev commented on #205
We have already tagged alpha42. What changes do you suggest?

[2015-10-28 17:09] ludohenin commented on #205
@mgechev I rapidly checked ng2 source today and yes, basically all `binding(s)` are now called `provider(s)`. There is maybe more. It works as is but prop/method are annotated `@Deprecated`.

[2015-10-28 18:59] mgechev commented on #205
Yeah, `bindings` -> `providers`, `events` -> `outputs`, `properties` -> `inputs`. I didn't notice we're using `bindings`.

[2015-10-28 20:36] previousdeveloper commented on #190
I am getting still same error in case of about a possible explanation [#184](https://github.com/mgechev/angular2-seed/issues/184)

[2015-10-28 22:05] DennisRoam commented on #188
I think he means to have each sass file compile against a "main" sass file so you can import the colors, variables, etc. without adding the @import to each file. So instead of a simple * in the gulp you'd have an iterating function.

I played with it for a bit and it's totally doable but for the mean time I just do @import to a base file..

[2015-10-29 01:51] mmrath commented on #205
Angular release note says

bind -> provide
@Component(bindings: ...) -> @Component(providers: ...)
@Component(viewBindings: ...) -> @Component(viewProviders: ...)
HTTP_BINDINGS -> HTTP_PROVIDERS
JSONP_BINDINGS -> JSONP_PROVIDERS
ROUTER_BINDINGS -> ROUTER_PROVIDERS
FORM_BINDINGS -> FORM_PROVIDERS
ELEMENT_PROBE_BINDINGS -> ELEMENT_PROBE_PROVIDERS
NoBindingError -> NoProviderError
AbstractBindingErro

[2015-10-29 04:23] JakePartusch commented on #164
According to John Papa's style guide, the Angular 1.x naming convention for controllers is: "ExampleController" with a file name of "example.controller.js"

With that in mind, it seems like "ExampleComponent" and "example.component.ts" will probably be the suggested Angular 2 naming conventions.

https://github.com/johnpapa/angular-styleguide#style-y124

[2015-10-29 04:27] NathanWalker commented on #164
I've worked with many Angular apps and never seen `ExampleController` with `example.controller.js`. It's always been `Ctrl` as suffix. I can't even think of a sample online that used `Controller` as a suffix. Papa's styleguide is great, although that point I don't agree with.

It looks like `Cmp` is winning on the poll https://twitter.com/mgechev/status/658722824736129024

I think I'm still for `C

[2015-10-29 04:33] jimthedev commented on #164
I will probably use example-list.component.ts and ExampleListComponent.

[2015-10-29 04:39] JakePartusch commented on #164
If it adds any weight, at the Angular Connect conference, Rado Kirov and Naomi Black use ```HeroesComponent```

https://youtu.be/LS3aewTkfHI?t=174

[2015-10-29 05:11] NathanWalker commented on #164
@jimthedev even for directives?

[2015-10-29 05:14] jimthedev commented on #164
Yeppers. big-font.directive.ts, BigFontDirective class name. I can always import as something else (using 'import as' syntax) but I want it to be clear in my intellisense what I'm being selecting.

[2015-10-29 05:33] NathanWalker commented on #164
@jimthedev Are you opposed to shorthand like `BigFontDir` or `BigFontDrv`?
I feel like shorter names with sensible shorthands is always nicer to navigate than full names.

[2015-10-29 07:07] sclausen opened #209 "import own modules, not from files"
I thought it would be a good idea for large scale applications to write own definitions, for importing by module name and not by filename.
So I created a `name_list.d.ts`
[code]
and in `about.ts` I import it like this
[code]
But system.js still tries to import by filename, so I got this error

![is-this-a-bug](https://cloud.githubusercontent.com/assets/916076/10812120/29e4a948-7e13-11e5-9b7c-0c25f

[2015-10-29 07:35] ludohenin commented on #209
@sclausen you have to add `paths: { 'NameList': 'service/name_list' }` to `system.config.js` (without system tries to load it form server root).

[2015-10-29 10:05] sclausen commented on #209
Yes, this did the job, thanks! :smile:

[2015-10-29 10:05] #209 closed

[2015-10-29 10:11] jesperronn opened #210 "Server never serves 404 not found"
When I start a webserver, then I am surprised that I will not get a `404` error if I try to load a nonexisting file (for instance `http://localhost:5555/nonexisting-url-not-matching-any-files.json`)

This is probably related to configuration of the webserver:

https://github.com/mgechev/angular2-seed/blob/master/tools/utils/server.ts#L23

I believe that the thought behind it is that if you cannot

[2015-10-29 10:16] ludohenin commented on #210
@jesperronn We basically return index.html for every request not matching a static resource to support deep linking page reload (i.e. localhost:555/about).
if you want to track not found statics, then you will have to "namespace" them (say `assets`) then add a route to the server `assets/*` and return `404`

[2015-10-29 10:30] jesperronn commented on #210
ah I see. Will close this issue as it works per design.

For my purpose I learned that I could comment out the lines 22-24

[code]

https://github.com/mgechev/angular2-seed/blob/e1c2460aeda72d97960f7b59b706f4b3d64d5bd2/tools/utils/server.ts#L22:L24

Exactly like @ludohenin comments: This requires me to reload the page from `/` and that `/about` will not work directly in the browser. However, for m

[2015-10-29 10:30] #210 closed

[2015-10-29 19:16] mgechev opened #211 "Change mini-lr to tiny-lr"
Based on this discussion https://github.com/mgechev/angular2-seed/pull/91#issuecomment-152265548

[2015-10-30 03:11] JakePartusch opened #212 "Upgrade to Alpha 45"
Here is the changelog:
https://github.com/angular/angular/blob/master/CHANGELOG.md

I thought it would be an easy upgrade, but the tests are now failing

[code]

[2015-10-30 03:20] JakePartusch commented on #211
Do you mean the opposite? We are currently using mini-lr

[2015-10-30 07:08] mgechev commented on #211
@JakePartusch yeah, thanks for the catch

[2015-10-30 17:30] evanplaice opened #214 "ROUTER_PRIMARY_COMPONENT no longer necessary"
See https://github.com/angular/angular/issues/4318

The fix goes in the bootstrap component.

[2015-10-30 19:38] tommyJS commented on #147
Hi @mgechev
I cloned the repo, executed `npm install` and still have this problem.
What should I do to resolve it?

[2015-10-30 20:28] tarlepp commented on #147
@tommyJS could you tell what error you get?

[2015-10-30 20:34] tommyJS commented on #147
[code]

In advance, thank you for your help.

[2015-10-30 20:35] tarlepp commented on #147
and ```npm install``` didn't give any errors?

[2015-10-31 11:15] tandu opened #215 "Docs are not generated."
When I run `npm docs` it opens this url `https://github.com/mgechev/angular2-seed#readme` in browser and there is no `docs` folder in project root. Maybe you missed some files in commit?

[2015-10-31 13:35] sclausen commented on #176
@jesperronn The official recommendation to check-in the local installed definitions is imho a really dirty hack with nasty sideeffects like bloating the repo and will probably result in huge diffs, when any tsd-definition version changes. I think the approach of @tarlepp would be the best solution to solve this problem without missing CI.

[2015-10-31 14:25] tommyJS commented on #147
I don't see any errors.

However, the info from `npm install` is so long that I cannot analyze it from the beginning. Do you know how to log this output to a file?

[2015-10-31 14:44] Sn3b commented on #147
Npm install > log.txt
Something like that?

[2015-10-31 15:34] tommyJS commented on #147
Thank you.
There are no errors during `npm install`.
Unfortunately, I cannot upload here .txt files.

Do you have other ideas?

[2015-10-31 22:46] tarlepp commented on #215
Hmm, weird I tried that and docs are served as supposed.

[2015-10-31 22:50] tarlepp commented on #202
Hmm, I have done some work with Travis CI (currently Travis CI is testing linux and osx environments, see #207 ) and now I'm searching CI system for Windows environment. Is appveyor the only one?

[2015-10-31 22:54] tarlepp commented on #176
Actually that ENV variable is allready set to this repo by @ludohenin so that should not be a problem anymore. Although I think that it is good to mention this in README.md and guide user to create ```.tdsrc``` file and attach their own token there.

[2015-10-31 22:55] tarlepp commented on #158
So does anyone have other ideas for this? Still I think that shrinkwrap is the way to go, but it seems to be broken in 3.x npm atm.

[2015-11-01 09:40] natarajanmca11 commented on #215
I think `gulp build.docs` command's  source only merged with master. `gulp serve.docs` command's source not merged with master.  please refer https://github.com/mgechev/angular2-seed/commit/c231391f1c0f1d35d7d0bafba7e4fc7175434f27

[2015-11-01 09:53] mgechev commented on #214
Yes, thanks for the note. Would you open a PR to remove the useless binding/provider?

[2015-11-01 10:45] tandu commented on #215
`gulp build.docs` works, `npm docs` doesn't work.

[2015-11-01 10:46] ludohenin commented on #215
you have to `npm run docs`

[2015-11-01 10:48] tandu commented on #215
[code]

[2015-11-01 10:48] ludohenin commented on #215
@tandu yeah, I just updated my answer

[2015-11-01 10:52] tandu commented on #215
I see, thanks, `gulp build.docs` works as well. In `readme.md` it says that to generate docs we should use `npm docs`. Either readme should be updated or this command should work. Right now it might confuse users.

[2015-11-01 12:34] #214 closed

[2015-11-01 12:53] #211 closed

[2015-11-01 13:01] #215 closed

[2015-11-01 13:01] #205 closed

[2015-11-01 13:02] mgechev commented on #190
@previousdeveloper still reproducible?

[2015-11-01 13:03] mgechev commented on #195
We support npm 3.x.x & node 4.x.x. Here's the version assertion @tarlepp implemented https://github.com/mgechev/angular2-seed/pull/216/files

[2015-11-01 13:03] #195 closed

[2015-11-01 13:03] #149 closed

[2015-11-01 13:03] mgechev commented on #158
@ludohenin is this issue still active?

[2015-11-01 13:04] mgechev commented on #176
@ludohenin lets close this one.

[2015-11-01 13:04] #176 closed

[2015-11-01 13:05] mgechev commented on #202
https://github.com/mgechev/angular2-seed/issues/195#issuecomment-152824109

[2015-11-01 13:05] #202 closed

[2015-11-01 13:06] artaommahe opened #218 "Working with subfolders"
Want to add small monitoring app as subfolder for main (local dev urls futher)
[code]
nginx config
[code]
config.ts
[code]

When i open http://smth/monitoring all css/js files loaded properly, but then
[code]
Real location of bootstrap.js for '/monitoring' APP_BASE is http://smth/monitoring/bootstrap.js and here it's opened.

Am i missed some config var or this case does not implemented yet?

[2015-11-01 13:36] mgechev commented on #218
Did you add bootstrap to this array? https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L42-L68

[2015-11-01 13:42] ludohenin commented on #218
should be
`export const APP_BASE         = argv['base']        || '/monitoring/';` (with trailing slash)

[2015-11-01 13:49] ludohenin commented on #158
No, I think we have the right scripts for that now.

[2015-11-01 13:49] #158 closed

[2015-11-01 13:49] artaommahe commented on #218
this helps, thx

[2015-11-01 13:49] #218 closed

[2015-11-01 19:49] jesperronn opened #219 "How do I update tsconfig.json"
More of a question. How exactly do I keep my `tsconfig.json` file updated?

I tried running `npm run postinstall`, but I am not sure it catches all changes.

(postinstall job runs `tsd reinstall --clean && tsd link && tsd rebundle` and more)

PS> I tried to add a .ts file somewhere, and saw that no line was added to the `tsconfig.json` file. But when I tried to update `package.json`, then the file

[2015-11-02 09:01] mgechev commented on #219
Some IDEs and text editors does this automatically.
I have the same issue since I'm using vim. I'd suggest using paths with wildcards in the files array.

The problem comes when a new files array is being generated by the IDE/text editor of another contributor. In such case what we have here in the repo will be overwritten. How about, updating the tsconfig.json to something like:

[code]

After we

[2015-11-02 09:08] ludohenin commented on #219
Looks good.
What about this:
[code]

[2015-11-02 09:20] mgechev commented on #219
Yes, I like it

[2015-11-02 12:39] tandu opened #220 "add autogenerated js"
I'm adding `socket.io` to the project. How should I include its `js` file? That file is generated on the server side automatically and is accessible at `/socket.io/socket.io.js` url. I have added it to `index.html` here:
[code]
in my component I use it that way:
[code]
Is it right way to add remote js files?

[2015-11-02 12:42] mgechev commented on #220
Yes, seems good to me, or you can include it to [this array](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L42-L53).

[2015-11-02 12:42] #220 closed

[2015-11-02 14:41] jesperronn commented on #219
@mgechev @ludohenin Even though `files` and `filesGlob` are simpler in your suggestions, how can we get closer to this example:
https://github.com/juliemr/ng2-test-seed/blob/master/tsconfig.json

(Julie Ralphs example has none of those).

Excuse my lack of knowledge, but if that works, couldn't we just remove them?

[2015-11-02 14:48] jesperronn commented on #219
oh [sidenote]: and `compileOnSave` does not exist in the configuration options. do you have a link to an explanation on how its used and by whom?

[2015-11-02 15:39] ludohenin commented on #219
Here is some doc about tsconfig https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md
About `files` and `fileGlob` at some point it was required to have files listed in order to avoid having `/// <ref...` tags in ts files. Mybe this is not required anymore. Then Julie's setup is fine.

[2015-11-02 17:10] johnjelinek opened #221 "gulp preinstall fails: Unexpected token import"
[code]

[code]

[2015-11-02 17:15] johnjelinek commented on #221
I ran `npm run reinstall` and got passed this problem.

[2015-11-02 17:15] #221 closed

[2015-11-03 09:42] RuneMolin commented on #201
Running

    npm install postal --save
    npm run tsd install postal

seem to install to module and typings, and updates package.json

[2015-11-03 09:46] jesperronn commented on #220
In case you wonder where to include your file, see #201 for a longer explanation

[2015-11-03 09:53] jesperronn commented on #209
@sclausen just curious, can you post an example of your modified code, so that others can learn from it?

[2015-11-03 10:05] jesperronn commented on #189
See also #224 for a simpler solution

[2015-11-03 10:25] jesperronn commented on #202
@mgechev @tarlepp I looked into some other projects wanting windows support. Travis started considering this in 2011, but still hasn't windows support. See this thread for details https://github.com/travis-ci/travis-ci/issues/216

Node-sqlite3 project actually has windows builds, and they seem to be using appveyor.

See

* https://github.com/mapbox/node-sqlite3/issues/261
* https://ci.appveyor.com

[2015-11-03 10:29] ludohenin commented on #209
@jesperronn You can have a look at this one, https://github.com/ludohenin/angular2-seed-ng2-bootstrap which is basically the same thing.

[2015-11-03 11:29] sclausen commented on #209
@jesperronn: I can't really write more than that. It works simply by adding the module name you want to use in the `system.config.js` and do everything else I already described. I simply missed to tell system.js to load the module `NameList` from the path were the ts-file will be.

[code]

[2015-11-03 11:56] sclausen commented on #209
@jesperronn: I can't really write more than the code in my question and the answer. It works simply by adding the module name you want to use in the `system.config.js` and do everything else I already described. I simply missed to tell system.js to load the module `NameList` from the path were the ts-file will be.

[code]

[2015-11-03 14:47] kayue opened #225 "npm install failed when requiring external module ts-node/register"
[code]

[2015-11-03 14:51] ludohenin commented on #225
This is a duplicate of #195.
Doc needs to be updated as we support from node v4+

[2015-11-03 14:51] #225 closed

[2015-11-03 14:52] ludohenin opened #226 "Update README"
Supported version of node described is wrong.

[2015-11-03 16:11] #226 closed

[2015-11-03 19:12] ludohenin commented on #212
Yes! `traceur.js` dependency is easy to solve but `selenium-webdriver.js` is another story.
Don't understand from where this dependency is required. For me, once traceur added, `NameList` passes, maybe it has something to do with `angular2/testing`

[2015-11-03 20:23] #219 closed

[2015-11-03 20:24] ludohenin commented on #219
Addressed by #224

[2015-11-03 20:42] jesperronn commented on #219
Thanks @ludohenin  :+1:

[2015-11-03 21:48] johnjelinek opened #228 "How to add images to dist?"
I created `app/images` and placed some `.jpg`/`.png` files in there. On build, they did not get copied to dist. Do I need additional tasks?

[2015-11-04 07:32] ludohenin commented on #228
@johnjelinek yes for now you have to create another task (can be one for all your assets).
We are actually working on improving it.

[2015-11-04 09:55] siddharthjain210 commented on #212
yes !! Even after resolving `traceur.js`, `selenium-webdriver.js` error is coming up. I search through angular source code and found that `e2e_util.js` is importing `selenium-webdriver.js`.
But even after adding the following to `karma.conf.js`, the error  is same.
[code]

[2015-11-04 10:09] siddharthjain210 commented on #212
The internal spec files in the angular source code needs to be  added in the excluded files list.
[code]
Adding these lines of code to karma.conf.js solved the problem. The unit test cases are passing now in my local project.

[2015-11-04 10:11] ludohenin commented on #212
@siddharthjain210 Excellent! would you send a PR (base on latest master and a single commit :) ?

[2015-11-04 10:20] siddharthjain210 commented on #212
@ludohenin I am new to new to Github, i dont know what a PR is.

[2015-11-04 10:43] mgechev commented on #212
@siddharthjain210 a pull request. [Here are](https://yangsu.github.io/pull-request-tutorial/) sample steps you can follow.

[2015-11-04 12:47] siddharthjain210 commented on #212
Because of proxy at my workplace i am unable to create a pull request. It would be great if someone else can merge the changes on my behalf and verify if its working.

[2015-11-04 13:42] JakePartusch commented on #212
I'll volunteer to try this fix either tonight or tomorrow if someone else doesn't get to it first.

[2015-11-04 15:59] tandu opened #232 "'Type Definitions' from tsd.json are not installed on 'npm start'"
I have added new td
[code]
When I checkout project and run install definitions are not installed. I think you should add `tsd update` into preinstall or postinstall script.

[2015-11-04 16:03] mgechev commented on #232
@tandu I'll take a look at this issue tomorrow. Thanks for the suggestion!

[2015-11-04 21:56] johnjelinek commented on #228
#233 fixes this.

[2015-11-04 23:32] lanocturne opened #234 "How to inject processed css files"
I use gulp-sass to generate css files from .scss into app/css folder. Just wander how to inject the css styles on gulp task like the example on bootstrap?

[2015-11-05 09:13] #228 closed

[2015-11-05 09:13] #212 closed

[2015-11-05 10:48] jesperronn commented on #202
Awesome! I now think I have a [stable setup of Appveyor/Internet explorer](https://ci.appveyor.com/project/jesperronn/angular2-seed/build/60). Will give a Pull-req on it

[2015-11-05 10:55] tandu opened #236 "Component level assets."
I have modified logic in my project so components have their assets inside their folder. That way I think it will be easier to reuse components.
[code]
I have added `build.images.dev.ts`
[code]
It preserves images location throughout the project, and we can add here more asset types. What do you think? Will you add support for `assets` in components folders?

[2015-11-05 11:25] mgechev commented on #202
Great! Looking forward to merge it!

[2015-11-05 12:54] ludohenin commented on #234
You can go this way => https://github.com/mgechev/angular2-seed/blob/master/gulpfile.ts#L16
`src` and `dest` are really up to you.

[2015-11-06 05:19] johnjelinek commented on #236
This should address @mgechev's concern in #167. This + #233 should handle global and local assets.

[2015-11-06 05:21] johnjelinek opened #238 "Testing Components with constructor properties"
I added a constructor with a property like this:
[code]
Now tests fail:
[code]

How should I fix the DI to make testing this pass?

[2015-11-06 07:09] ludohenin commented on #238
@johnjelinek You have to declare your providers :)
[code]
-> Note the `providers` property added to `TestCmp` of `home_spec.ts`.

[2015-11-06 09:18] sclausen commented on #226
@ludohenin for information only: why is node >=4 required?

[2015-11-06 09:24] ludohenin commented on #226
@sclausen because ES6 features are used.
related: #195. Maybe it works with node 0.12 w/ `--harmony` flag.

[2015-11-06 09:38] sclausen commented on #226
Ah thanks!

[2015-11-06 10:05] mgechev commented on #236
@tandu looks good to me! Do you want to open a PR?

[2015-11-06 10:31] tandu commented on #236
here it is https://github.com/mgechev/angular2-seed/pull/239

[2015-11-06 11:56] johnjelinek commented on #238
Interesting, I use `viewProviders` in `app.ts`, but `providers` in the test for `home_spect.ts`. Why? It passes now, thanks.

[2015-11-06 12:10] ludohenin commented on #238
`viewProviders` should work in `home_spect.ts ` as well.
The difference between both is just the scope the providers are accessible from (if not wrong).

[2015-11-06 12:30] #234 closed

[2015-11-06 12:30] #238 closed

[2015-11-06 12:31] mgechev commented on #232
I've been quite busy last days. I'll take a look at the issue during the weekend or early next week.

[2015-11-08 10:00] #236 closed

[2015-11-08 10:23] tandu opened #240 "Shorten paths in styleUrls and templateUrl"
I have created this issue https://github.com/angular/angular/issues/5183 in angular 2. Will it work with current angular2-seed implementation in case they add that feature? If not can you make it to be possible to shorten file names to look like that?
[code]
It will make components be portable without editing urls in sources if component is copied into another location/project.

[2015-11-09 12:24] tandu opened #241 "Where put custom type definitions?"
I have defined some interfaces in my application. For now they are defined in `ts` files where they are used or logically bound. As I understand type definitions should be moved into `*.d.ts` file/files, right? How this should be done in angular2-seed?

[2015-11-09 12:55] ludohenin commented on #241
@tandu manual typings are place under `tools/typings`. But in your case (IMO), interfaces can stay in your code as type definitions are more intended for external libraries.

[2015-11-09 12:59] tandu commented on #241
Ok, thank you. I will keep them in my files. But in case I add manual typings in `tools\typings` then they will be accessible in application immediately? Or I will need to add `/// <reference path="../../tools/typings/my_custom.d.ts" />` in classes where I'm going to use them?

[2015-11-09 13:07] ludohenin commented on #241
yes they should be immediately available.

[2015-11-09 13:40] simonh1000 commented on #188
I think it may be enough to import one specific scss file first, and then the rest using glob

[2015-11-09 13:49] DennisRoam commented on #188
Yeah I think so too, I haven't had the chance to work on the gulp file enough to figure out how to do it. I'd love to see what someone could come up with.

[2015-11-09 16:56] 1thrasher commented on #190
@mgechev Yes, this is still occurring. Running `tsd update` (see #232) prior to `npm start` fixes it.

[2015-11-09 18:06] simonh1000 commented on #188
Spoke too soon - I had forgotten that each file is compiled separately and returned into its original direction (polluting the source files with compiled content), and thus there is not a big concatenation of files where we could put the variables first.

I'm not sure how to combine an scss file with a set of variables in gulp, but will look into it

[2015-11-10 18:14] previousdeveloper commented on #190
thanks

[2015-11-10 18:15] #190 closed

[2015-11-11 15:44] larsthorup opened #242 "npm test gives "Error during instantiation of NgZone!""
A fresh install of angular2-seed with

    npm install
    npm test

Gives

    Home component
        x should work
    Error: EXCEPTION: Error during instantiation of NgZone! (DynamicComponentLoader -> Compiler -> RuntimeCompiler -> ProtoViewFactory -> Renderer -> DomRenderer -> EventManager -> NgZone).
    ORIGINAL EXCEPTION: TypeError: Subject is not a function

[2015-11-11 15:46] larsthorup commented on #242
I believe the issue is with the latest rxjs-5.0.0-alpha.10... and .8 seems to work. Just locking down the version seems not the right approach to me though. Anyone have an idea what the root cause of this issue may be?

[2015-11-11 18:45] butterfieldcons commented on #242
Just a note - Alpha.44 Angular2 build works up to rxjs-5.0.0-alpha.10.  Test performed on Windows 7.

[2015-11-11 21:47] mgechev commented on #242
https://github.com/mgechev/angular2-seed/commit/f0e7ed97269a22fc1951c5e33ff00a249a16c1f3 fixes the issue

[2015-11-11 21:47] #242 closed

[2015-11-11 22:06] butterfieldcons commented on #242
confirmed and thank you mgechev

[2015-11-12 09:25] larsthorup commented on #242
Works. Thanks :)

[2015-11-12 14:37] ludohenin opened #244 "npm run reinstall broken on windows"
[code]

I think we have to either use rimraf or a task for that.

[2015-11-13 09:10] bertvh opened #246 "Only @Component, no @View?"
Just a quick question. In the components, you use @Component without an @View annotation. This works but I don't get why.

In the angular2 docs and about any other tutorial, they say "Each Angular component requires a single @Component and at least one @View annotation".

Is this something new / undocumented?

[2015-11-13 10:37] ludohenin commented on #246
`@View` is optional since few release. Not sure whether it'll be dropped or not.
We've decided not to use it so we basically either have `components` or `directives`.

[2015-11-13 11:23] bertvh commented on #246
Thanks!

[2015-11-13 11:23] #246 closed

[2015-11-13 11:36] #241 closed

[2015-11-13 11:53] ludohenin commented on #240
Closing this issue as not related to the seed.
If any new features/implementations in ng2 brake it, of course we will fix.

[2015-11-13 11:53] #240 closed

[2015-11-13 11:57] ludohenin commented on #188
SASS seems to be topic here, anyone with suggestions how to improve how SASS build is handled.

[2015-11-13 12:15] ludohenin commented on #206
The simplest way I see is to install `tslint` and to add `tslint **/*.ts` to npm scripts hash wherever required.

[2015-11-13 12:39] ludohenin commented on #206
btw, this way we can probably remove the `tslint` task.

[2015-11-14 20:45] #244 closed

[2015-11-16 09:36] sclausen commented on #232
@tandu typings are installed with `postinstall` after `npm install`

[2015-11-16 23:07] bertvh opened #249 "Importing Rx?"
I'm trying to use Observables. In order to do to, I have added this import (same path as angular is using internally):

```import {Observable} from '@reactivex/rxjs/dist/cjs/rx';```

and I have added the rx lib to the js dependecies as follows:

[code]

Is this the right wat to do this (I'm on angular2 alpha 44)?

The Rx.js is now available in the dist/lib folder but Require/SystemJs is trying to

[2015-11-17 08:13] ludohenin commented on #249
@bertvh If you want to preserve the path in the dist/lib folder you have to reference `@reactivex` only (this will copy the entire module), if you just wanna copy cjs/Rx, then it's fine how you did it, but you'll have to set the path in system config (ie `paths: { '@reactivex/rxjs/dist/cjs/Rx' : 'lib/Rx.js'`}

[2015-11-17 11:50] bertvh commented on #249
Ok, thanks. I finally fixed it. There were several problems with my node_modules. Apparently I can use Rx without even copying the file. Is Rx included in angular completely?

PS. If this is not the forum for such questions, let me know ;)

[2015-11-17 13:11] e-oz commented on #58
Actually it does.. Some projects will be released after Angular 2 Beta release, so it's already good time to start.

[2015-11-17 13:57] ludohenin commented on #58
@e-oz agree with you. We've started to think about it. But the choice for a bundler it not that obvious.
Expect something to come up soon.
btw, any suggestion is welcome ;)

[2015-11-17 14:56] jesperronn opened #250 "npm run tsd.... will not pass params correctly to tsd"
I tried to install typings file in a private repos based on this project, where I ran into an odd situation

[code]

Now, while this installed the sugar/sugar.d.ts (in the ignored typings folder), it FAILED TO UPDATE `tsd.json`.

I would expect a dirty `tsd.json` file:

[code]

### Workaround:
You can install tsd globally, and it works:

[code]

now the `tsd.json` is updated correctly:

[code]

##

[2015-11-17 14:59] jesperronn opened #251 "npm run tsd.... will not pass params correctly to tsd"
I tried to install typings file in a private repos based on this project, where I ran into an odd situation

[code]

Now, while this installed the sugar/sugar.d.ts (in the ignored typings folder), it FAILED TO UPDATE `tsd.json`.

I would expect a dirty `tsd.json` file:

[code]

### Workaround:
You can install tsd globally, and it works:

[code]

now the `tsd.json` is updated correctly:

[code]

##

[2015-11-17 15:00] jesperronn commented on #250
closing, as I accidentally duplicated as #251

[2015-11-17 15:00] #250 closed

[2015-11-17 15:50] ludohenin commented on #251
you have to run `npm run tsd -- install sugar --save`. `--` indicates the end of npm args and passes what's after to the called script (that's in npm docs)

[2015-11-17 15:57] jesperronn commented on #251
Awesome! An easy-to-overlook detail! Thanks

[2015-11-17 15:57] #251 closed

[2015-11-17 19:45] NathanWalker commented on #249
I have also run into this frustration trying to add extra libs. We should add a pointer about the system config `paths: { ... }` necessity as I believe that will be a common case for anyone using this seed.

[2015-11-17 19:48] NathanWalker commented on #164
I recently wrote a library (https://github.com/NathanWalker/ng2-image-lazy-load) where I ended up using `Cmp` as suffix and `.directive` or `.service` in naming files. Go figure, it just made sense.

And maybe this debate is over?  Seems `Cmp` is winning out?

[2015-11-17 20:42] ludohenin commented on #249
yeah, got similar question on gitter. I think it the config itself that needs to be improve.
Hope to come soon with something.

[2015-11-18 07:19] bertvh commented on #249
+1 on improving the readme ;). If I have the time, I'll fork and make a suggestion.

[2015-11-18 07:19] #249 closed

[2015-11-18 12:48] skribling opened #253 "Using an existing backend server during development"
hi,

I'm trying to include an existing backend server into the devlopment cycle so I can use the rest services from this server in my angular2 app.
My initial approach was to reroute all non matched requests inside https://github.com/mgechev/angular2-seed/blob/master/tools/utils/server.ts to my backend server, but I'm running into many problems.
Is there a recommended way or best practice for angu

[2015-11-19 18:29] bkinsey808 commented on #58
I'm curious how this will be solved with just gulp and not webpack or jspm. Will there be bundling?

[2015-11-19 18:39] e-oz commented on #58
as I see, only thins left are concatenation and minification - can be easily solved with Gulp.

[2015-11-20 14:59] mgechev opened #255 "Handle external dependencies (RFC)"
Currently it is quite painful to use external libraries in the project especially ones with a lots of dependencies. We need to list all the individual files, including their direct and indirect dependencies in the build system. This occurs because `node_modules` is not visible by the development server.

My suggestion is to make slight changes in the project's build configuration:

* [ ] - Change

[2015-11-20 15:22] briantopping commented on #255
I'm not a fan of the source being at the top level because (for one) it becomes more difficult to clean a build manually from the command line.

Do you see the "drawback" related to the first, second or both options?  It doesn't seem to be a problem in the second one.

Another option that I have done is have dev builds remap the location of `node_modules` virtually when being locally served and wh

[2015-11-20 15:23] mgechev opened #256 "Production build"
Since Angular 2 is close to beta, here's my suggestion for the production build:

* [ ] Inline the templates and styles of the individual components (https://www.npmjs.com/package/gulp-inline-ng2-template)
* [ ] Produce a single cjs bundle (browserify would work, since Angular 2 will be distributed with UMD bundles), based on https://github.com/angular/angular/issues/4278
* [ ] Minify bundle's con

[2015-11-21 00:07] briantopping commented on #256
Speaking for myself, I have always been interested in components being independently loadable modules. Is that still an option in what you are proposing here? Or does this turn all the components into a monolithic app for deployment?

Apps will eventually have protected resources that some users of the app should not have access to, such as admin components. A non-admin user should have admin comp

[2015-11-21 04:56] NathanWalker commented on #256
+1

Yes, but consider comments below.

+1

+1

**IMO, this is very important to address**
*Any application of size will need a build that can manage bundling sets of code.*
It would be great to have a configuration/build task that allows separate bundles to be created/minified on the build, for example:
[code]

Any object in `bundles` would be concatenated into a distinct single minified file name

[2015-11-21 07:15] ludohenin commented on #256
@NathanWalker :+1:
I think shared templates/styles can work with a module. It just needs to return an object instead.
[code]

[2015-11-21 07:22] ludohenin commented on #255
:+1:
@briantopping in what @mgechev proposes, the app is still built into `dist/${ENV}`
@mgechev we can prevent server access to any resources but dist folder and node_modules

[2015-11-21 08:51] NathanWalker commented on #256
@ludohenin awesome :)

[2015-11-21 14:38] ludohenin commented on #255
Another drawback is that asset urls will need to be prepended with `./<%= APP_DEST %>/path/to/my/asset/file`. Is that acceptable ? (for me it is - needs to be documented tho)

[2015-11-21 14:50] ludohenin commented on #255
Fully working example :) https://github.com/mgechev/angular2-seed/commit/389263146ad91fc001fac5ade7313b8fce725126

[2015-11-21 16:06] briantopping commented on #255
I certainly want to be careful with my statements, one can never object to a situation they can't or won't put to code! :) So I'm not taking my comments too seriously here, just trying to share experience.

[2015-11-22 02:58] jksoftpro opened #257 "How to properly add Ionic2@alpha to angular2-seed project"
Hi, I'd like to add Ionic2 support on top of angular2-seed project. I removed angular2 dependecy and added Ionic2 alpha bundled with angular2:

[code]
Then I added new typescript code importing ionic2:
[code]
Unfortunately "ionic/ionic" is highlighted red and warning in console and VS Code says:
[code]
All angular2 imports you configured guys work great! What I am missing here to set up Ionic prop

[2015-11-22 14:08] ludohenin commented on #257
If the package is distributed with type definition files it should work (you can try `npm run tsd -- --link`), otherwise you have to use tsd (if it exist) otherwise you have to make the .d.ts file yourself.

[2015-11-23 08:30] mgechev commented on #256
@briantopping by having 2 different bundles one for the users with regular access rights and one for the administrators you can solve this problem. Lazy loading all the individual components/services in a production application will be overhead, the users' browsers will open hundreds of http requests.

@NathanWalker providing different bundles is definitely the way to handle the problem, however,

[2015-11-23 09:15] ludohenin commented on #256
I'm currently looking at automating bundling and loader configuration (mapping) based on @NathanWalker config suggestion. There's a slight risk of having duplicate sub dependencies but should be manageable or not being a big issue (ie Rx is not declared in the bundle conf and is used by ng2 and in another module of another bundle, it'd be there twice).
[code]
then autogen system config (used as a

[2015-11-23 09:23] mgechev commented on #201
Lets close this one. We're on our way of solving the way the dependencies should be provided here https://github.com/mgechev/angular2-seed/issues/255

[2015-11-23 09:23] #201 closed

[2015-11-23 10:13] mgechev commented on #255
@ludohenin I merged your branch with `external-libs` and did a couple of changes. I prefer to use `APP_BASE_HREF` (when it gets stable) instead of prefixing the uris of all resources inside of the CSS files.

I think from usability point of view it'll be better; in case user of the seed forget to use the template string and instead add `/dist/dev`, her or his production build will have invalid lin

[2015-11-23 14:50] jksoftpro commented on #257
Thanks for the hint. I am going to generate Ionic typings from TypeScript  using gulp plugin. I will let you know if it worked for me.

Can you please point me out to Angular2 typings in this project and how it is configured. Unfortunately I can't see that. All I can see is:

/// <reference path="async/async.d.ts" />
/// <reference path="del/del.d.ts" />
/// <reference path="express/express.d.ts"

[2015-11-23 14:54] ludohenin commented on #257
@jksoftpro ng2 is distributed with its own typings, so no configuration is required. Look at `node_modules/angular2`, you'll see that every file has its `.d.ts` counterpart ... ts compiler knows about it.

[2015-11-23 16:52] briantopping commented on #256
@mgechev: yes, I see how multiple bundles would be required for what I am talking about, but it is contrasted to not being able to change any bundles without changing all of them. In my use case, the bundles are served individually by the REST server, not by something like nginix. Specifically, they are deployed to a repository manager and the server component build will grab the front end compone

[2015-11-23 21:05] tandu opened #258 "Project breaks in chrome after clearing the cache."
If you clear cache or refresh page with ctrl+shift+R or cmr+shift+R it breaks with this error:

`Error: XHR error (404 Not Found) loading http://<remote_server>/angular2/angular2.js(…) "Report this error at https://github.com/mgechev/angular2-seed/issues"`

Error is triggered when run application from remote server, locally everything is fine. I have faced with this issue when updated to the lates

[2015-11-23 23:01] ludohenin commented on #258
@tandu are you loading your app from a remote server (not on your local machine) ?

[2015-11-23 23:05] ludohenin commented on #258
// ref: #255

[2015-11-23 23:11] ludohenin commented on #164
For @johnpapa this is `Component`.
https://github.com/johnpapa/vscode-angular2-snippets/blob/master/snippets/typescript.json#L12

[2015-11-23 23:16] ludohenin commented on #253
Maybe the best is to have a process to serve the app and another for the API end point. If they run on the same machine, then use a different port for each.

[2015-11-24 00:05] briantopping opened #259 "Out of memory building larger project"
Looks like there's some kind of issue in https://github.com/AngularShowcase/ng2-bootstrap-sbadmin:

[code]

I'm not sure I noticed this get introduced since I probably didn't rebuild on that merge.

Would it be worth making that build some kind of larger scale test for this one?

[2015-11-24 00:37] tandu commented on #258
@ludohenin yes, I'm loading it from the remote machine. I agree, it  is most likely race condition. When angular2.dev.js is cached it is loaded first and everything is fine. Before it was working well what has changed in the latest commits?

[2015-11-24 10:24] #253 closed

[2015-11-25 17:05] ludohenin commented on #256
Just pushed branch [build_prod](https://github.com/mgechev/angular2-seed/tree/build_prod).
It's not as automated as I was expected (and describe above) but I think it's pretty neat. There's maybe some optimization still.
I gave up with browserify as I think it's not suitable for advanced bundling (not to say it sucks). Systemjs works the same as Requirejs for that matter and shines here imo.

// c

[2015-11-25 18:13] NathanWalker commented on #256
@ludohenin nice work, wow. Yeah that's pretty close to what I was thinking at a bird's eye view. After holidays I'll try working with the branch and see how things work out, thank you!

[2015-11-25 18:20] NathanWalker commented on #164
I can understand using the full name as suggested above. My only reservation there is sometimes I code a lot on the go, and often on a smaller screen. Simply put, longer names get truncated more often.
I also like to browse a file tree with less clutter and shorter names, just faster to sift through. (without requiring one to potentially widen the default OS X column view finder window size.)

I f

[2015-11-25 18:47] ludohenin commented on #256
Do you guys think we should add a lazy loaded module example (about component) ?

[2015-11-25 18:54] NathanWalker commented on #256
I like the direction https://github.com/AngularClass/angular2-webpack-starter took on this sort of thing.
The `examples` folder is perfect for this and I personally really like having that sort of thing coming along with the basic core seed. That way the user can learn and explore with this seed without it affecting the core setup to base a project off of.

If we took a similar approach, lazy load

[2015-11-25 19:14] ludohenin commented on #256
Yes fully agree with you. We actually started to discuss with @mgechev on a 'blankify' functionality to startup on a fresh seed. Maybe moving all out to example folder makes more sense.

[2015-11-25 19:16] NathanWalker commented on #256
Awesome yeah, the user can always delete the `examples` when they have learned all they need to know and proceed with building out a project. +1  Simple, extensible, helpful.

[2015-11-25 19:29] briantopping commented on #256
I think @NathanWalker is close to what I've been advocating with a "basic core seed" and lazy loaded modules.

Something to consider that other projects don't do: How does a seeded project merge important updates from the core seed? If all the modules are external to the core seed project, the update is a lot simpler than if there's a bunch of content that needs to be ignored in the merge.

The mo

[2015-11-25 21:16] tarlepp opened #260 "scss linter"
Basically we need a simple task to check ```scss``` files syntax. There is solutions for this already:

https://www.npmjs.com/package/gulp-scss-lint
https://www.npmjs.com/package/gulp-scss-lint-stylish2

Although this task is not in the main "core" of this project, but I don't see any harm adding this one.

[2015-11-26 03:03] rodzzlessa24 opened #261 "Not working after install"
Im cloning the latest repo and the index page only shows `loading...`. I'm not getting any errors on `npm install` or `start`. I do get this error on the console:

[code]

[2015-11-26 07:27] z-bit commented on #261
Same here: on Windows 7, Windows 8 and Ubuntu.

[2015-11-26 07:50] ludohenin commented on #164
@NathanWalker I agree with you. Was just to share it.

[2015-11-26 08:10] ludohenin commented on #261
same as #258

[2015-11-26 08:23] ludohenin commented on #255
@mgechev can we merge `external-libs` ? That should fix #258 & #261

[2015-11-26 08:26] ludohenin commented on #255
btw, livereload is broken in `external-libs` and not sure why.

[2015-11-26 14:28] tandu commented on #258
When the update is planned? It actually breaks the same way in all browsers.

[2015-11-27 08:02] koodikindral commented on #261
Looks like there's some kind of race condition, because the error occurs on every ~2nd reload:

    Uncaught SyntaxError: Unexpected token <
    Uncaught Uncaught SyntaxError: Unexpected token <
        Evaluating http://domain.tld:3000/angular2/angular2.js
    Uncaught Uncaught SyntaxError: Unexpected token <
        Evaluating http://domain.tld:3000/angular2/angular2.js
        Evaluating http:/

[2015-11-27 11:43] mgechev commented on #255
Yes, I guess we need to use different `LocationStrategy`. I'll fix it today.

[2015-11-27 11:47] mgechev commented on #256
@NathanWalker yes, looks great to me. I'm working on the examples for "[Switching to Angular 2](https://github.com/mgechev/switching-to-angular2)", which already takes a lot from my time. May be we can think of a way to reuse it and add such demos at AngularShowcase organization?

The other option is, as @ludohenin, said to allow "blankifying" the seed (i.e. keep the examples in the repo and provi

[2015-11-27 11:50] mgechev commented on #261
@koodikindral thanks for the extra information! Since this is a duplicate lets close it and see whether #258 will be fixed by merging the `external-libs` branch.

[2015-11-27 11:50] #261 closed

[2015-11-27 11:50] mgechev commented on #260
Lets let the users of the seed extend it they way they want and keep the seed out of scss linting for now.

[2015-11-27 11:50] #260 closed

[2015-11-27 11:52] mgechev commented on #164
We can close it for now and rename the components according to the official style guide which the Angular team will propose.

[2015-11-27 11:52] #164 closed

[2015-11-28 11:17] tandu opened #264 "route-link with PathLocationStrategy puts "null/dist/dev/about" in href"
When change location strategy to `PathLocationStrategy` in d72e5b6f460d95f95092110d23af948b6ef44376 `route-link` puts links like `null/dist/dev/about` to href. If you click the link it navigates to `localhost:5555/about` and shows the about page correctly. When you refresh browser with that page you get `Cannot GET /about` error.

[2015-11-28 11:33] tandu opened #265 "In OSX Firefox it now takes about 3 seconds before the project is loaded locally"
Something is wrong with app loading in OSX Firefox now. My application that is built on angular2-seed sticks on "loading.." and when I click around, switch browser tabs, open/close browser console it sometimes completes loading and shows the content. Original angular2-seed project is taking about 3 seconds to remove "loading.." and show home page.

[2015-11-28 11:47] ludohenin commented on #264
This is a ng2 bug that should be fixed in beta.00 release. See https://github.com/angular/angular/issues/5028

[2015-11-28 11:47] #264 closed

[2015-11-28 11:48] ludohenin commented on #265
@tandu are you using it on your local machine ?

[2015-11-28 11:54] tandu commented on #265
Yes.

[2015-11-28 12:35] tandu opened #266 "How properly set url to image from component folder in css?"
For example there is image `components/home/assets/smile.gif`. Before I could use this `background: url(components/home/assets/smile.gif)`. How properly to set url to that image in css now?

[2015-11-28 12:43] tandu opened #267 "OSX Firefox: router-outlet component is not displayed if several times click another tab and refresh browser"
Click tab, refresh browser, repeat this several times and it shows only app component without  `router-outlet` content. There are no any related warnings/errors in console.
<img width="785" alt="screenshot 2015-11-28 15 38 55" src="https://cloud.githubusercontent.com/assets/273313/11451902/69c4af46-95e6-11e5-92a0-f51abce7ecf7.png">

[2015-11-28 13:00] tandu opened #268 "How properly add css from /assets folder to index.html?"
I have put `main.css` into `/assets' folder`. How properly add it to `index.html`?

I have tried adding it in `config.ts`:

`{ src: 'assets/main.css', dest: CSS_DEST, inject: true }`

and tried linking it directly from `index.html`:

`<link rel="stylesheet" type="text/css" href="/assets/main.css"/>`

with no success. How this can be done?

[2015-11-28 13:05] koodikindral commented on #268
Have you tried to add full path for assets source? Like '<your_path>/app/assets/', worked for me.

[2015-11-28 15:07] tandu commented on #268
Yes, it works, missed that thing. The only issue is that as I understand the idea is to not touch index.html at all and setup its content from config.ts. Also that resourse will miss ?version=0.0.0 abbreviation that kills cache on version update thought it seems that now it is removed from all resources in index.html and is not a case.

[2015-11-28 16:07] tandu commented on #266
https://github.com/mgechev/angular2-seed/issues/268

[2015-11-28 16:39] mgechev commented on #265
@tandu currently we load all the modules from Angular 2 (including the internal modules, the router, http etc) on demand, which slows down the initial load.

This is due to the fact that we require Angular 2 by using:

[code]

Which goes to `node_modules` and loads all the angular files one by one.

This is caused by the change we made in https://github.com/mgechev/angular2-seed/pull/262.

## Poss

[2015-11-28 16:40] mgechev commented on #267
Would you clean the cache of the browser and try again? I had the same issue before I did this.

The error you get from livereload is caused by reload of the page. The warning is caused by the es6-shim module.

[2015-11-28 16:56] #265 closed

[2015-11-28 16:57] mgechev commented on #268
[code]
will work now.

[2015-11-28 16:57] #268 closed

[2015-11-28 16:57] mgechev commented on #267
Should be fixed by https://github.com/mgechev/angular2-seed/commit/090bace6a36ec86881927c2e6c4a85e6fdc3bdd4 Let me know if you still can reproduce the issue.

[2015-11-28 16:58] mgechev commented on #265
I implemented the first strategy since with the second one would take too much to create the entire bundle.

[2015-11-28 17:00] #266 closed

[2015-11-28 17:01] mgechev commented on #259
Would you verify if this issue is still reproducable after the changes in the seed?

[2015-11-28 17:02] mgechev commented on #258
I can't manage to reproduce it. I use chrome devtools opened in incognito mode. Are you using the last version on master?

[2015-11-28 17:02] #257 closed

[2015-11-28 17:02] mgechev commented on #255
Landed in master.

[2015-11-28 17:02] #255 closed

[2015-11-28 17:02] mgechev commented on #232
Is this issue still reproducable?

[2015-11-28 17:04] mgechev commented on #188
Lets close this one for now since SASS is not our current focus. However, we can keep an eye on it in case SASS support is highly demanded.

[2015-11-28 17:04] #188 closed

[2015-11-28 17:04] tandu commented on #232
I haven't added more libraries after that. Probably this issue was solved at some time in the past. If I ever face with it again I will let you know. I think you can close this issue for now.

[2015-11-28 17:04] mgechev commented on #232
Okay, great

[2015-11-28 17:04] #232 closed

[2015-11-28 17:11] tandu commented on #268
[code]
*angula2* is it mistype or intended?

[2015-11-28 17:22] mgechev commented on #268
It is my mistake. This line is actually not required.

[2015-11-28 17:25] tandu commented on #268
When I added `{ src: 'assets/main.css', dest: CSS_DEST, inject: true }` I get this in terminal:
[code]

[2015-11-28 17:26] tandu commented on #268
`main.css` is in `/assets` folder.

[2015-11-28 17:42] mgechev commented on #268
Fixed now. Take a look at `config.ts` there's an array called `APP_ASSETS`, which allow injecting such assets.

[2015-11-28 17:46] tandu commented on #268
Great, it works now, thanks.

[2015-11-28 21:02] #267 closed

[2015-11-28 21:27] tandu commented on #267
I have tested, I can't reproduce the issue.

[2015-11-28 21:28] tandu commented on #258
Can't reproduce it too on the latest version.

[2015-11-28 22:52] #258 closed

[2015-11-30 18:58] e-oz commented on #256
Just want to note it's absolutely unacceptable solution for some projects, where REST API is a REST API and not content renderer.

[2015-11-30 19:13] briantopping commented on #256
Noted and was never proposed for every project, or even most projects.

That said, I believe you have your semantics reversed. The REST API *is always* a content renderer and generally should not be serving static artifacts like front-end code or images. To avoid serving static content, referrals can be used from the REST to the artifact server, but generally one doesn't wish to wire the artifact

[2015-11-30 19:17] e-oz commented on #256
@briantopping I absolutely disagree with you, but as it's off-topic, please consider to move discussion to comments of this gist: https://gist.github.com/e-oz/6ff89c2e86c72dadea93 (or let's just agree to disagree :)).

[2015-11-30 19:23] briantopping commented on #256
@e-oz: Thanks for your opinions and you're of course welcome to disagree.

[2015-11-30 23:11] e-oz commented on #256
not sure if it's right issue to ask, please let me know where I can move my questions otherwise.

1. I need to add link to custom CSS file, located in folder /assets/bootstrap4/css, how I can do it with new config? All paths here are relative to node_modules folder. I tried `{ src: `${APP_SRC}/assets/bootstrap4/css/bootstrap.min.css`, dest: CSS_DEST, inject: true }` (as in previous release) but it

[2015-12-01 07:09] mgechev commented on #256
@e-oz a few days ago I pushed a couple of changes which fix [1)](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L56-L58) and 2), so loading time should be back to normal.

`build.prod` is still in separate branch we need to polish it a bit more before merging with master.

[2015-12-01 08:29] bertvh opened #269 "Source maps: where?"
My dist directory doesn't seem to contain any ts or map files. However, chrome is able to find something under /source/... I don't get where this comes from. These files aren't loaded from the network. Gulp just seems to start a server in the dist directory. Could you help me understand this?

[2015-12-01 08:36] mgechev commented on #269
We use inline, in order to reduce the number of http requests.

[2015-12-01 08:36] #269 closed

[2015-12-01 08:37] bertvh commented on #269
Oooh.. ok, I didn't notice this. Didn't even know this was possible. Thanks!

[2015-12-02 21:35] lanocturne opened #272 "import d3 ts semantic error"
Getting an error message like `: error TS2307: Cannot find module 'd3/d3'.`

I have npm and tsd installed d3. On my component file I import d3 by `import * as d3 from 'd3/d3';`

Notice at runtime the browser loads d3 successfully and it's rendering svg.

[2015-12-03 08:55] ludohenin commented on #272
@lanocturne What you get is a compiler (tsc) error. You need to add the type definition using tsd if it exist, otherwise you'll have to draw something yourself.

[2015-12-03 09:00] pragyandas commented on #272
@lanocturne Please ensure that you have d3.d.ts in the typings or use tsd to download one. If you don't wish to use a definition file for d3 you can use require('d3') instead of import. This error happens when compiler is not able to find a definition file.

[2015-12-03 12:38] Bigous opened #273 "Reference to the wrong location after build"
Hi all, nice work on this seed... it may be the best source code I've seen.

I realized that after build the application with gulp, the injected files are pointed to the original ones and not the lib or css copy directory.

[code]

I think it should be:
[code]
Am I right?

[2015-12-03 13:19] #272 closed

[2015-12-03 13:21] mgechev commented on #273
Yes, thanks for pointing this out! You're correct, we are not setting the correct path here after we copy the libraries.

On the other hand, I don't see a reason why we need to copy them in case we provide the modules directly from `node_modules`. Lets keep the issue open, in a few days I'll fix the incorrect behavior.

[2015-12-03 16:48] Bigous commented on #273
True!
I like more the approach of copying everything that is used to the new directory and serve from that directory (dist/dev) for example, and do not expose the node_modules...
Just because I feel more comfortable, not a practical reason for development environment.

I think when you provide the production build it will follow this to deploy only what is needed, right?

[2015-12-03 20:12] e-oz commented on #273
@mgechev please copy files, because not all users can run build scripts on the server (on deploy), and without it they will not have node_modules on the server. And pushing all modules to git index would not the best idea.

[2015-12-04 06:09] mgechev commented on #273
@e-oz for production build we'll provide a single bundle by default which includes the application and all libraries. I don't think it makes sense to copy the files for dev.

[2015-12-04 08:49] NathanWalker commented on #256
@mgechev https://github.com/mgechev/switching-to-angular2 is looking great. Lemme know if you need help there (even mundane tasks to help organize things to help you get that published sooner :+1:  )

Placing demos at AngularShowcase is ok, but IMO, not ideal. This seed has gained momentum for good reason and I believe the community would be better served by having an `examples` folder in this see

[2015-12-04 12:26] e-oz commented on #273
@mgechev then I'll have to stay on alpha46 release until you release version with prod build :) But it's ok, I like that version:)

[2015-12-04 16:14] NathanWalker commented on #256
I spoke too soon. Angular2-webpack-starter just moved all the examples to a seperate repo :(

I guess the downside to having examples in the seed is you have to keep them up to date which means at any given moment someone forks the seed, they may end up with a broken example if it hadn't been updated at same time the seed itself may have been updated.

[2015-12-04 16:28] meenie opened #274 "build.js.dev is freezing up on the following code..."
Whenever I do `npm start`, the build process freezes up on the `build.js.dev` task when running the following code:

[code]

It's specifically the second line of the code above.  Not sure if it's trying to parse the url somehow?

[2015-12-04 17:32] mgechev commented on #274
I tried the same code but I can't manage to reproduce it. Would you provide link to the repository which contains the code that leads to the issue?

[2015-12-04 17:33] mgechev commented on #273
This issue is fixed here https://github.com/mgechev/angular2-seed/tree/refactoring.
Once the branch gets merge to master we can close this issue.

[2015-12-04 21:12] pmackowski opened #276 "http proxy for express"
Have you considered adding support for http proxy? It would be a very helpful feature.

tools/utils/server.ts file:
[code]

For the above code, /api/somePath will be translated to localhost:4567/somePath

[2015-12-05 02:43] meenie commented on #274
Sorry it took so long, was out with the family.  Here's my branch: https://github.com/meenie/angular2-seed/tree/broken

[2015-12-05 02:54] meenie commented on #274
Forgot to mention that you can go to https://getsandbox.com/ and select "Blank".  No need to sign up.  It will give you a URL to use for an hour.

[2015-12-05 08:38] #273 closed

[2015-12-05 08:41] mgechev commented on #276
Hey @pmackowski thanks for the suggestion! This is out of the scope of the seed project. We provide only the front-end of your application, express is included only for development purposes.

[2015-12-05 08:41] #276 closed

[2015-12-07 14:44] juristr opened #281 "Question: TypeScript + external packages (JSPM/npm?)"
Hi,

I just started playing around with this starter. In doing so, I tried to create a new component that uses Moment.js as an external dependency. I installed it over npm, linked it, also used tsd to add the typings (which got saved in `tsd.json`). However, Typescript complains it cannot find the module, the application runs without issues.

![image](https://cloud.githubusercontent.com/assets/542

[2015-12-07 14:50] ludohenin commented on #281
@juristr You are probably missing moment definition file. try `tsd install moment`.

[2015-12-07 14:51] ludohenin commented on #281
The seed does not use JSPM

[2015-12-07 15:18] juristr commented on #281
@ludohenin No, I did: https://github.com/juristr/angular2-seed/blob/simple-component/tsd.json#L47

Used the command you mentioned and apparently it also placed the definition files here:
![image](https://cloud.githubusercontent.com/assets/542458/11630441/f4d2328e-9cfd-11e5-9631-052806b86864.png)

but still..

![image](https://cloud.githubusercontent.com/assets/542458/11630473/2056285c-9cfe-11e5-8d

[2015-12-07 15:19] juristr commented on #281
@ludohenin Any idea why it doesn't leverage JSPM?

[2015-12-07 15:23] ludohenin commented on #281
Ah I see, Some definition file do not support (the way they are written) the import syntax. My best guess is that this one has be written to use as a Global. using global `moment` in your code should not bother your IDE. if such is the case you need to either use the global function or make your own .d.ts file to support import syntax OR if you declare import ... 'moment' then you need to set the

[2015-12-07 17:49] NathanWalker commented on #281
@juristr You may also look at https://github.com/urish/angular2-moment , it looks like you may have when attempting to import `moment_`.

[code]

[2015-12-07 18:30] meenie commented on #274
@mgechev: Were you able to reproduce with my branch?

[2015-12-07 21:39] juristr commented on #281
@NathanWalker ya I did. In fact otherwise I couldn't even make it to run.
Currently my issue is more to get TypeScript recognize the module. The code itself runs properly.

[2015-12-08 08:11] mgechev commented on #274
There was the following compile-time error:
[code]
You can fix it by:

[code]

[2015-12-08 08:19] meenie commented on #274
Ya, I did see that error.  And yes, the above fix does work for that.  But I'm still getting the hangup on the task `build.js.dev`.  This is what my output is:

[code]

And then it just sits there.  If I leave it for around 30 seconds, my laptop fan kicks in (2015 macbook pro) and the CPU starts to heat up in a big way.

[2015-12-08 08:27] mgechev commented on #274
I see other issues in this branch but I can't manage to reproduce the freezing up error.

Lets reopen the issue and keep it that way for a few more days in case someone else have the same problem.

[2015-12-08 08:28] meenie commented on #274
I'll create a fresh branch off master, with as minimal change as possible to recreate it on my side.

[2015-12-08 09:10] meenie commented on #274
Another clue to this puzzle is that when running `npm start`, Gulp shoots up to `99.9` on the Activity Monitor.

[2015-12-08 17:20] Bigous commented on #281
I think that the problem is with moment.d.ts, not with jspm nor typescript... It seems that it should have a namespace called moment before the definition an it doesn't.
Looking at moment itself in tsd, it depends on moment-node... so you should install like this
[code]
but it won't resolve your problem, because the .d.ts exports the MomentStatic and not the module...

[2015-12-08 17:56] juristr commented on #281
@Bigous Hmm...not sure.

Anyway, I got it to work with these adjustments.

I had already done an installation of `moment`'s TypeScript definition files using `tsd install moment --save`.

Then in the main file, `dateTime.ts`, I adjusted it to this:

[code]

With these changes, TypeScript recognition and autocomplete started working. The app however broke. to fix that, I had to adjust how moment is

[2015-12-08 18:14] Bigous commented on #281
Just for curiosity, what is the Typescript version that you are using?

[2015-12-08 19:04] juristr commented on #281
@Bigous Should be the one referenced in the `package.json`: https://github.com/juristr/angular2-seed/blob/simple-component/package.json#L73

![image](https://cloud.githubusercontent.com/assets/542458/11665279/d4545d86-9de6-11e5-826b-11577c100a7c.png)

[2015-12-08 19:32] ludohenin commented on #281
@juristr if you want to avoid to set SystemJS path and as `node_module/moment/moment.js` exist (you may have the case with other libs definitions) you can write your own adapter.
Like `tools/typings/moment_adapter.d.ts`

[code]
then you can use it in the import statement
[code]

[2015-12-08 19:45] juristr commented on #281
:+1: thx for that hint

[2015-12-08 19:53] #281 closed

[2015-12-08 20:11] meenie commented on #274
@mgechev: Here's another branch that changes less code around https://github.com/meenie/angular2-seed/tree/gulp-locking-up

If I replace lines 44/45 of `app/services/name_list.ts` with:
[code]
all of the code works fine.

[2015-12-08 20:26] meenie commented on #274
I also want to point out that if I just put in the line:
[code]
That it works fine.  It's only when that `http.get()` is inside of the `flatMap()` callback ><

[2015-12-08 20:40] meenie commented on #274
Okay, made a bit of a breakthrough.  If I replace the `flatMap()` line with this, it works:
[code]
So it's something to do with using the fat arrow function

[2015-12-08 22:47] DennisRoam opened #283 "Way to go back to PathLocationStrategy?"
I was on an older version of this seed and recently upgraded to fix a small typing issue and it blew everything up because of the switch to the hash strategy.

I'd like to keep current but I have links like `<img src="/images/whatever.jpg">` or build dynamic links like that and it doesn't work at all anymore.

There wasn't anything on the home page about the switch nor any info on how to migrate..

[2015-12-08 22:47] meenie commented on #274
I decided to delete my `node_modules` folder and start fresh and now it works fine with the original syntax ><.  I'm going to close this off for now.  Thanks for your time.

[2015-12-08 22:47] #274 closed

[2015-12-09 08:31] mgechev commented on #274
No problem! Thanks for digging into the issue! So I guess the problem was in old version of `tsc`?

[2015-12-09 08:33] mgechev commented on #283
For your image you can use relative paths instead of absolute: `<img src="./images/whatever.jpg"/>`.

[2015-12-09 08:33] #283 closed

[2015-12-09 19:37] Bigous opened #284 "Hot Loader"
Hi @mgechev , it would be greate if we could have Hot Loader in development environment in this seed.

[2015-12-10 01:37] episodeyang opened #285 "can not install"
[code]

did `npm install` under project root. I'm using node 0.12.7 somehow.

[2015-12-10 01:41] episodeyang commented on #285
yet when I do this it is totally fine:

https://www.dropbox.com/s/pn769u1x66xevsq/Screenshot%202015-12-09%2019.41.06.png?raw=0

[2015-12-10 01:43] episodeyang commented on #285
okay I think I'm missing es6

[2015-12-10 09:07] mgechev commented on #285
Yes, you need node version >= 4 and npm >= 3.

[2015-12-10 09:07] #285 closed

[2015-12-10 09:09] mgechev commented on #284
@Bigous thats a good idea! Next a couple of weeks I'll work on the hot loader in order to make it ready for usage and integrate it in the seed.

Initially it will be accessible through an experimental flag.

[2015-12-10 09:09] mgechev commented on #256
We can close this one.

[2015-12-10 09:09] #256 closed

[2015-12-10 10:26] mgechev opened #288 "Update npm dependencies"
The npm dependencies are [out-of-date](https://david-dm.org/mgechev/angular2-seed#info=devDependencies).

**NOTE**: Currently we are blocked from using the latest version of TypeScript by https://github.com/sebastian-lenz/typedoc/issues/162.

[2015-12-10 11:45] duncanhunter opened #291 "command on build asp.net5"

[2015-12-10 12:12] ludohenin opened #292 "Prod build broken"
HTML minifyer normalize attribute to lower case. This leads to compiler errors when using for instance `routerLink` => 'routerlink'

We can comment task `build.html_css.prod` before we find a solution.

see https://github.com/angular/angular/issues/5789

[2015-12-10 12:12] ludohenin commented on #291
Can you be a bit more explicit ? :)

[2015-12-10 12:42] mgechev commented on #292
I bet this is going to be a common problem, just wondering whether it will make the core team revert pack to snake-case.

Lets comment it for now.

[2015-12-10 14:45] mgechev commented on #292
The issue is fixed so we can close it. We will have to use the offline template compiler that Igor mentioned in the issue you opened.

[2015-12-10 14:45] #292 closed

[2015-12-10 17:37] Bigous commented on #284
@mgechev Awesome!!!

[2015-12-10 20:26] jesperronn opened #293 "alpha-52 unmet dependency"
Installing newest revision on master gives this failure:

[20:47:13] Finished 'postinstall' after 1.84 s
npm WARN EPEERINVALID angular2@2.0.0-alpha.52 requires a peer of zone.js@0.5.8 but none was installed.

revision: b587cdf, https://github.com/mgechev/angular2-seed/releases/tag/2.0.0-alpha.52

My quick attempt to install the dependency like this did not work:

[code]

[2015-12-10 20:29] jesperronn commented on #293
See https://github.com/angular/angular/issues/5804, which unfortunately doesnt fix the issue for this seed project

[2015-12-12 03:17] rdlabo opened #295 "where is setting "argv";"
thanks development.

I want to change ENV in tools/config.ts. ENV is set argv['env'] ( argv is import {argv} from 'yargs'; ).
but I can't look for yargs.

AND I  change manualy.
|| export const ENV                  = argv['env']         || 'dev';
|| ↓
|| export const ENV                  = 'product';
It not working.

I want to where is setting "argv".

regards.

[2015-12-12 18:14] mgechev commented on #295
You can use:

[code]

or for your case:

[code]

[2015-12-12 18:14] #295 closed

[2015-12-12 18:16] mgechev commented on #284
Getting closer https://www.npmjs.com/package/angular2-hot-loader
Only integration behind an experimental flag with the seed is left.

[2015-12-12 19:09] NathanWalker commented on #284
Very exciting!

[2015-12-13 12:09] Bigous commented on #284
\o/ uhuuu!

[2015-12-14 02:42] NathanWalker opened #297 "npm v3 required... does it need to?"
For those that contribute to https://github.com/angular/angular , it's required that npm must be < 3.

Working with this library requires at least 3. To go back/forth is painful.
It sounds like angular team may update their repo to use Node 5/npm 3 by end of month (https://github.com/angular/angular/issues/3193), but in the event they don't, was thinking maybe we could not require npm 3 to ease th

[2015-12-14 05:49] NathanWalker opened #298 "namespace extravaganza"
mama mia, can we get some cooperation around here...

https://github.com/angular/angular2-seed
https://github.com/ghpabs/angular2-seed
https://github.com/mgechev/angular2-seed

Minko, you were first, just sayin'.

[2015-12-14 07:47] ludohenin commented on #298
That would obviously be nice. Have to be sure these projects aim to the same thing tho.
I like the hero app :)

[2015-12-14 07:49] ludohenin commented on #297
Have you tried the seed with npm < 3 ?
At some point we needed to rely on npm 3 flat installation, I'm not quite sure this is still valid.

[2015-12-14 07:53] NathanWalker commented on #297
It does seem to break when used with < 3, can't recall exact error as I'm
on phone at moment but when I get chance to try again I'll report back.

On Sun, Dec 13, 2015 at 11:49 PM Ludovic HENIN <notifications@github.com>
wrote:

[2015-12-14 08:13] #297 closed

[2015-12-14 08:21] mgechev commented on #298
https://github.com/angular/angular2-seed seems closer to https://github.com/AngularClass/angular2-webpack-starter because it is webpack based.

I saw https://github.com/ghpabs/angular2-seed a day [ago](https://github.com/AngularClass/angular2-webpack-starter/pull/149). It seems quite close to what we have here. As main difference I can point out the lack of static typing in the build.

[2015-12-14 08:24] NathanWalker commented on #297
Thanks!

On Mon, Dec 14, 2015 at 12:13 AM Minko Gechev <notifications@github.com>
wrote:

[2015-12-14 09:02] #293 closed

[2015-12-14 09:04] jesperronn commented on #293
thanks @mgechev. Why didn't I see that.... :+1:

[2015-12-14 10:16] donskifarrell opened #300 "Copying all build assets to dist folder"
Hi,

I've just updated to the latest version of this seed project (thanks btw - it's great) but have noticed that the  gulp build is no longer copying all the files to the dist folder (e.g fonts, 3rd party libs). It is serving them up on localhost correctly so that part is fine.

Is there a way to turn this behaviour back on? Reason being is that it was quite easy to copy the dist folder to my dev

[2015-12-14 10:41] mgechev commented on #300
At the moment this behavior is enabled only for the production build. We can enable it for dev as well, it should not slowdown the build significantly.

// cc @ludohenin @NathanWalker

[2015-12-14 10:50] donskifarrell commented on #300
Thanks, that would be great!

Noticed the Prod build but haven't been able to enable it when passing the env arg:

[code]
is that correct?

[2015-12-14 10:51] ludohenin commented on #300
The easiest way I see would be re-introduce `build.asset` task that was basically just copying asset folder. Add it to gulpfile/build.dev sequence. I don't think it requires to be added (back) tot the seed.

[2015-12-14 10:52] ludohenin commented on #300
@donskifarrell you should try `npm start --- --env prod`

[2015-12-14 13:50] mgechev commented on #300
The hot loader will require to copy the assets as well (at least the templates and the css files). The current strategy of inlining the templates will confuse the loader since it can't associate the individual changed templates to their corresponding components.

[2015-12-14 16:41] donskifarrell commented on #300
@ludohenin unfortunately not working. The log shows the gulp command:

[code]

when I run your command. Also, dist folder/localhost is now serving from

[code]

Will get build.asset added to the gulp pipeline in the meantime.

[2015-12-14 17:08] mgechev commented on #300
You can use `$ gulp serve --env prod`.

I keep getting System is not defined. // cc @ludohenin

[2015-12-14 17:17] triskil opened #301 "Duplicate identifier 'Promise'."
When I attempt a clean checkout of the project I run into this error when trying to compile the project.

/node_modules/angular2/typings/es6-shim/es6-shim.d.ts
Error:(475, 11) TS2300: Duplicate identifier 'Promise'.
Error:(552, 13) TS2300: Duplicate identifier 'Promise'.

Along with a host of other 'Duplicate identifier' errors.

Before I solved this by removing the reference in del.d.ts
"../es6-p

[2015-12-14 19:17] tandu opened #302 "Wrong url to assets in production"
The generated url `http://localhost:3000/app/components/menu_cmp/assets/home.jpg` can't load image and when I remove app `http://localhost:3000/components/menu_cmp/assets/home.jpg` image is loaded correctly.

[2015-12-14 19:40] ludohenin commented on #300
Production server isn't supported right now.

[2015-12-14 20:18] triskil commented on #301
I'm closing this because I think its an issue with webstorm and not the seed project.

[2015-12-14 20:18] #301 closed

[2015-12-15 09:28] kamikaze commented on #132
+1

[2015-12-15 12:36] Bigous commented on #281
Hi @ludohenin I'm trying to do the same with Highcharts at ```tools/typings/highcharts_adapter.d.ts```
[code]
and importing
[code]
It gives me the error during watch compile at ```npm start```

[code]
but it works... (just the compile error that is annoying me)
Do you have any hint?
[]s

[2015-12-15 15:29] mgechev commented on #284
The experimental hot loading support is in the [hot-loader branch](https://github.com/mgechev/angular2-seed/tree/hot-loader).

[2015-12-15 17:34] Bigous commented on #284
Hi @mgechev excelent news.
I've merged my seed with the hot-loader branch, npm install (and run reinstall cleaning cache, etc...) it always fails when I try ```npm start -- --hot-loader true```.
This is my shell error:
[code]
But the node module ```angular2-hot-loader``` is correctly installed under ```node_modules```.
My environment is ```Win10 x64``` - ```node 4.2.3``` and ```npm 3.3.10```.

[2015-12-15 19:57] e-oz opened #303 "Production ready!"
Congrats with Beta and thank you very much for updating it to beta so quickly.
Please consider to remove "Note: Angular 2.0 is not production ready yet!" :)

[2015-12-15 20:09] #303 closed

[2015-12-15 20:18] mgechev commented on #284
@Bigous would you give it a try again? I didn't publish the module properly.

[2015-12-15 21:13] e-oz opened #304 "RxJS operator issue with beta in prod build"
After `npm run build.prod` I'm getting 404 on /rxjs/Subject.js. I use rxjs this way: `import 'rxjs/Rx';`

[2015-12-15 21:27] e-oz commented on #304
with alpha53 all was fine..

[2015-12-15 21:31] mgechev commented on #304
I found the cause of the issue. In minutes I'll push a fix.

[2015-12-15 21:31] #304 closed

[2015-12-15 21:34] e-oz commented on #304
@mgechev thank you!

[2015-12-16 07:10] NathanWalker commented on #298
Doesn't really matter but was surprised to see it. My preference would be that others not use names that already exist out there, but unfortunately doesn't sound like anyone else will rename:
https://github.com/ghpabs/angular2-seed/issues/31

Some live in the clouds and just don't see practical issues.

[2015-12-16 07:10] #298 closed

[2015-12-16 07:21] gdi2290 commented on #298
I'm changing the direction of `angular2-webpack-starter` so it's not too similar to angular2-seed. I also started including some of my findings from my repo to merge into angular's official seed repo

[2015-12-16 07:23] NathanWalker commented on #298
@gdi2290 a **true** professional :+1:

[2015-12-16 07:55] mgechev commented on #298
@gdi2290 sounds great! Looking forward for your collaboration with @robwormald!

[2015-12-16 07:56] mgechev commented on #300
This change is in the [hot-loader branch](https://github.com/mgechev/angular2-seed/tree/hot-loader), I think we can close this issue.

[2015-12-16 07:56] #300 closed

[2015-12-16 08:14] robwormald commented on #298
@mgechev totally sorry about the name, for real :sob: i'd certainly consider changing it if its a major issue, blame @igorminar.

[2015-12-16 08:33] NathanWalker commented on #298
lol. sry to have potentially started something here. It may seem rather silly in scheme of things, but...

`May` be worth taking a moment and think about an incoming audience of new developers to angular or those angular1 devs looking for seeds to start an upgrade from and seeing 3,4,5, however many of same named seeds. Not to mention learning new ground with angular2, then to be faced with sortin

[2015-12-16 08:37] NathanWalker commented on #298
https://github.com/ghpabs/angular2-seed/issues/31

[2015-12-16 08:40] robwormald commented on #298
i'll ask igor about changing ours tomorrow, i'd probably get in trouble for unilaterally renaming a repo. no sweat. our end goal is basically to have the CLI be the blessed solution.

[2015-12-16 08:43] robwormald commented on #298
https://github.com/angular/angular2-seed/issues/26

[2015-12-16 08:45] NathanWalker commented on #298
+1 a **true** gentlemen @robwormald

[2015-12-16 08:52] robwormald commented on #298
all that said. if y'all are gonna be the blessed seed project from the community, getting some Http and Router up in here would be useful. Also usage of the RxJS operators. That was a primary driver behind us firing one up. Discuss.

[2015-12-16 09:02] NathanWalker commented on #298
Tru dat. There have been discussions about adding examples here going awhile back.
At moment, this was created:
https://github.com/AngularShowcase/

And an effort has been made to keep this seed slim, with examples aside in the showcase, however I personally have gone back/forth on that. https://github.com/AngularClass/angular2-webpack-starter used to have `examples` in the repo, but recently brok

[2015-12-16 12:23] mgechev commented on #298
Hey guys @robwormald, @ghpabs, I'm totally fine with the name collision as well. angular2-seed seems like the default naming choice for such a type of a project anyway. Uniqueness of the repositories names is not a requirement given the way the projects are going to be used by the community. I don't think it is worth it to spend time in renaming your repos if the name collision is the only concern

[2015-12-16 12:29] Bigous commented on #284
Hi @mgechev, Now it starts normally, but gives me the following error when I update a component (about.ts for example):
[code]
And when a template file is updated (like about.html) nothing happens...
Getting closer ;) and tks
[]s

[2015-12-16 12:56] mgechev commented on #284
@Bigous thanks for the feedback and the patience! The issue you reported is temporary fixed now, however I'd need to come up with a better solution in near future.

I can't reproduce the one which occurs when you change the templates, for me when any of the templates change everything reflects in the browser.

[2015-12-16 13:14] webnugget commented on #281
same issue here with socket.io-client
i followed the steps from @juristr  and everything is working.
the only issue left is that in build.js.dev i get the following error.

[code]

do i need to tell gulp-typescript where to find the module?

[2015-12-16 13:29] Bigous commented on #284
@mgechev Working as expected. Congratulation!!!! :+1: :smiley:
The HTML template do not update anything yet, but I can live with it... just update the .TS file and the component is updated without full reload! Awesome!!!

[2015-12-16 13:41] leshin opened #305 "Why don't use webpack?"

[2015-12-16 13:43] Bigous commented on #284
@mgechev I see what you called "better solution", when the component imports another custom component, it still gives-me the error:
[code]
But, for components that uses angular core as dependency, it's working to me.

[2015-12-16 13:43] mgechev commented on #284
Thanks for trying it out!

Currently the only way to preserve the state is to keep it inside a service which you can later inject with the DI mechanism of Angular. I believe that this hot loader can work perfectly with something like [redux](https://github.com/wbuchwalter/ng2-redux). I'm not completely familiar with the implementation I referred to but I think its worth spending some time playing

[2015-12-16 13:45] mgechev commented on #305
This is how we decided to approach to the problem initially. For a webpack starter take a look at:
* [angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter)
* [angular2-seed](https://github.com/angular/angular2-seed)

[2015-12-16 13:45] #305 closed

[2015-12-16 14:19] nglazov opened #307 "underscore"
I catch building error when i trying to use underscore package.

I've add to package.json underscore 1.8.2 dependency and have import to my component:
[code]
On build i catch:
[code]
Despite this my app work ok.
Is it problem of underscore default package or this seed-project?

[2015-12-16 14:23] mgechev commented on #307
Most likely you're lacking the type definition of underscore.

You can install it via: `tsd install underscore --save` and later reference it within `./app`.

[2015-12-16 14:23] #307 closed

[2015-12-16 17:23] sclausen commented on #284
@mgechev wouldn't be the not so experimental lazy-loadign example from your blog another great gain for this project?

[2015-12-16 17:37] NathanWalker commented on #298
^
Totally true, however to use, one must find and evaluate first. That was more my point here ;)

3 things on that:
1. when searching github and seeing tons of same name repos, one doesn't know right away if one is a fork of the other, etc (maybe that user is just contributing to the parent). It requires investigation that no-one has time for.
2. when cloning to evaluate in a single directory befo

[2015-12-16 17:49] NathanWalker opened #308 "Discuss including examples"
### Having examples in repo

**Pros**:
- You have a lot to go on straight out of the box.
- Less confusing as you don't have to figure out how to integrate example into the particular build setup as they would be made to work out of the box

**Cons**:
- you have to keep them up to date

[2015-12-16 17:50] NathanWalker commented on #298
moving examples discussion here: https://github.com/mgechev/angular2-seed/issues/308

[2015-12-16 17:51] NathanWalker commented on #308
from @mgechev

[2015-12-16 18:06] mgechev commented on #284
You mean 'AsyncRoute'? Yes, it could be.

[2015-12-16 18:10] alvipeo commented on #308
Let me say this - without these examples (like this repo) I'd be having a hard time to even start. So thanks for them and keeping them up to date.

[2015-12-16 18:31] NathanWalker commented on #308
During alpha, it was hard to keep up with all the breaking changes for sure, however now that it's reached `beta`, keeping things up to date should seemingly be smoother sailing.
So maybe the `con` above becomes less of point.

[2015-12-16 18:45] NathanWalker commented on #308
From @robwormald

At a minimum, I agree these would be most useful
- Http
- How to import RxJS operators (since those must be included separately and it's not intuitive how one does this from the start at moment)

[2015-12-16 19:52] Bigous commented on #284
Now, imagine the Hot Loader with the AsyncRoute... sounds the perfect world :smiley:

[2015-12-16 21:11] talmog commented on #132
+1

[2015-12-16 21:40] NathanWalker commented on #298
Not to keep beating a dead horse here, but this last piece of evidence is relevant.
When you receive a mobile notification, one must ask (is this for mgechev, ghpubs, angular, my brother's, my sister's angular2-seed? which one is it??)

You see what I mean :)

![img_3347](https://cloud.githubusercontent.com/assets/457187/11854684/628b05d2-a3fa-11e5-9b4b-248366770992.PNG)

[2015-12-16 22:21] stagfoo commented on #147
I am getting this issues too. after a successful npm install.
I have compiled typescript before for another project so not sure why its not working on this one.
I'm using Ubuntu 15, Node v5.2.0 and Npm v3.5.2
[code]

[2015-12-16 22:23] sclausen commented on #284
@mgechev not exactly the asyncroute, but your own loader you implemented

[2015-12-16 22:23] NathanWalker opened #309 "rxjs - Error on fetch for rxjs at ..."
I'm getting this on latest when trying to use rxjs:
[code]

[2015-12-16 22:29] NathanWalker commented on #309
![screen shot 2015-12-16 at 2 28 54 pm](https://cloud.githubusercontent.com/assets/457187/11855824/62503716-a401-11e5-8f71-6befbba76007.png)

[2015-12-16 23:24] NathanWalker commented on #309
Nvm, was able to solve it. There was one incorrect `import`!

[2015-12-16 23:24] #309 closed

[2015-12-17 01:43] robwormald commented on #308
I have an example http service and spec and a related component I'll open up a PR for this evening for discussion.

[2015-12-17 08:52] ludohenin commented on #147
It can happen that after the `npm install` and you're getting this kind of error that you have to manually run `npm run tsd -- install`. This does not happen all the time for me but sometimes only.

[2015-12-17 08:54] ludohenin commented on #309
rx path's probably missing in your System config.
https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L45

[2015-12-17 08:58] ludohenin commented on #308
It's good to have the example in the seed, we should also keep them very easy to remove. Cleaning up many file before starting a new project is can be a pain IMO.
@robwormald excellent:)

[2015-12-17 09:43] stefanocke opened #310 "Injecting js does not work in Windows"
Node: v4.2.3
npm: 2.14.7
OS: Windows 7

Injection of dependencies into index.html does not work in Windows.
I noticed that when running "gulp build.prod -- env prod". No JavaScript was injected at all.
For development build, it works, but this seems to be "by accident".

For me, it worked after the following changes to build.index.ts:

import {join, **sep**} from 'path';

...
function mapPath(dep)

[2015-12-17 09:53] mgechev commented on #310
@stefanocke thanks for pointing this out! Would you open a PR with the change?

[2015-12-17 10:07] jzanko commented on #310
Hey, I just had the same issue on Windows. I think that there is also no need to concat DEPENDENCIES and APP_ASSETS in build.index.ts as the DEPENDENCIES are already build out of NPM_DEPENDENCIES and APP_ASSETS.

[2015-12-17 10:09] mgechev commented on #132
You can run:

[code]

You can get the following two errors:

[code]

or

[code]

Just run:

[code]

[2015-12-17 10:35] #310 closed

[2015-12-17 10:44] Bigous commented on #298
@NathanWalker true, but I think it's more a Github problem (they could easily avoid it sendind mgechev/angular-seed). I like the name - it describes exactly what is this repo... and it was the first one... so, I vote for not changing this one ;)

[2015-12-17 10:46] ludohenin commented on #298
@Bigous +1

[2015-12-17 17:38] Bigous commented on #284
Hi @mgechev , With the last update made, it is failing when trying to processMessage :
[code]
I think it's sending the wrong url to download the updated component.
[]s

[2015-12-18 08:00] stefanocke commented on #310
@mgechev  thanks a lot for the fix. Sorry I did not manage to create the PR so fast ;-)

[2015-12-18 14:18] mgechev commented on #310
@stefanocke no worries, I'm glad the issue is fixed now :-)

[2015-12-18 14:31] mgechev commented on #284
@Bigous it should be alright now.

[2015-12-18 15:26] sclausen opened #314 "npm test fails on Ubuntu 15.10"
Running test on my Ubuntu 15.10 fails with the error:
[code]
Unfortunately, no additional info why PhantomJS2 can't be started was given :disappointed:
If you encounter this problem, you should execute `node_modules/phantomjs2-ext/bin/phantomjs` directly and see which lib is still missing.
With Ubuntu 15.10, my system missed `libicu52`. Older Ubuntu versions do have this lib in their repositories,

[2015-12-18 15:46] ludohenin commented on #314
Why do we need PhantomJS ?

[2015-12-18 19:00] simonh1000 commented on #300
+1 for the original poster. I have a .json file in /app/assets that is no longer being copies over to /dist. Worse, /dist is being rewritten all the time so I can't remedy the situation manually. Not sure what to do based on the thread above

[2015-12-18 19:26] mgechev commented on #300
Once we merge the hot-loader branch this feature will be available.

[2015-12-19 15:42] sclausen commented on #314
@ludohenin I don't now enough about phantomjs2, but in general, phantomjs is useful, for running tests on build servers without a firefox, or chrome installed.

[2015-12-20 10:00] lihaibh commented on #308
But the seed itself is the example of a project in Angular 2 it just give you the base utilities and structure you need to get started with your project, thats the purpose of seed..
Unlike library which you need to have some examples to see how to implement in your project.

[2015-12-20 10:05] lihaibh opened #315 "Use bower for frontend libraries"
There should be seperation between backend libraries and frontend libraries.
All the libraries for the tools and server should be installed by npm while frontend libraries like angular and bootstrap should be installed by bower.

Also we should run the server from dist/env and not like today we run it from root only because we need access to node packages folder

[2015-12-20 10:13] lihaibh opened #316 "Use sass for component styling"
We use css when we style a component today, is there any way that on our develop environment we will link sass file on our component directive but when we compile it will link to the result css?

[2015-12-20 10:29] mgechev commented on #315
Last a couple of months most of the JavaScript libraries (including front-end and back-end) have moved to npm. The flat structure of bower has a lot of drawbacks. I don't think it is necessary to include one more package manager in the picture.

[2015-12-20 10:29] #315 closed

[2015-12-20 12:15] mgechev commented on #316
We have already discussed this [here](https://github.com/mgechev/angular2-seed/issues/85). Although sass is popular it is not the default choice when styling components. It is quite possible the developers using the seed to choose less or anything else instead. In the same time we're trying to keep the seed as minimalistic as possible (although it scope grew a little last a couple of months).

Let

[2015-12-20 12:15] #316 closed

[2015-12-21 17:44] Alber70g opened #317 "Build and start two projects using a higher level packages.json and gulpfile.ts"
I really like the way this project is structured. Therefore I'd like to ask a question that is not explicitly the issue of this particular project, but more an question on how to deal with something.

I have the following structure:

[code]

Is it possible to create a `package.json` and `gulpfile.ts` in the root of this project to build both the frontend and the backend?
This could result in this

[2015-12-21 17:48] tarlepp commented on #317
Personally I would use two different repositories to manage that case.

1) Repository for frontend (mgechev/angular2-seed)
2) Repository for backend (your asp.net 5 application)

With that structure you can totally separate those sides (front- and backend) from each other. And if you want to use just "one" repository you can always link n repositories to your "main" one.

[2015-12-21 20:16] tandu opened #318 "Broken project compilation on change"
With this revision 845772264ef64ad5fcc1a33293d714962ced9a63 when I save my changes project is not rebuilt automatically and I need to stop npm process and restart it again in my terminal to rebuild it.

[2015-12-22 06:43] mgechev commented on #318
Thanks for reporting the issue! The issue is fixed by https://github.com/mgechev/angular2-seed/commit/8fd110f4b825839af7e5ced634d69fe7f8973bf9

[2015-12-22 06:43] #318 closed

[2015-12-22 06:47] mgechev commented on #284
@Bigous have you experienced any other issues with hot loader?

[2015-12-22 11:28] Alber70g commented on #317
But still, functionally, the two repos are very connected to each other. For the frontend there isn't gonna be another backend talking, and same way around. There might be in the future a new frontend in the form of an app, but that shouldn't be a problem to build and start both backend and frontend.
It's more of a convenience to

[2015-12-22 12:34] Bigous commented on #284
Hi @mgechev, sorry for the delay...
Still getting:
[code]

[2015-12-22 12:46] ludohenin commented on #284
Same as @Bigous for me.

[2015-12-22 14:54] neridonk opened #320 "How to deploy?"
This is more a  question so prio isn't high
Currently the "npm start" commans generates a dev folder with the deploy files.

So if i move this files in my dev Folder to e.g xampp htdocs, this wont work because i need some node_modules and other stuff, furthermore the path with host.com/#dist/dev is not good.

Am I missing something that you have already build in, a task to get a clean deploy folde

[2015-12-22 14:58] mgechev commented on #320
You should run the production build and right after that move your `/dist/prod` directory in the context of your server.

[2015-12-22 14:58] #320 closed

[2015-12-22 14:59] mgechev commented on #291
@duncanhunter any updates?

[2015-12-22 15:00] mgechev commented on #302
Yes, you should not include "app" in your path.

[2015-12-22 15:00] #302 closed

[2015-12-22 15:05] tandu commented on #302
The problem is that in dev mode css should be
`background-image: url(/app/components/root_menu/assets/Icons_Menu_New_OFF.svg);`
In prod it is broken and should be
`background-image: url(/components/root_menu/assets/Icons_Menu_New_OFF.svg);`
instead. But at the same time that second url doesn't work in dev.

[2015-12-22 15:32] mgechev commented on #302
You can use relative path instead of absolute one:

[code]

[2015-12-22 15:33] tandu commented on #302
relative path `./components...` doesn't work.

[2015-12-22 15:36] tandu commented on #302
Hm, it works in local server 5555, but doesn't work from my nodejs server.

[2015-12-22 16:46] mgechev commented on #284
@Bigous @ludohenin what version of systemjs are you using?

[2015-12-23 10:24] FlashPapa opened #321 "Live reload ?"
Hi,
Is there a command to test live dev modifications ?

[2015-12-23 10:33] mgechev commented on #321
Yes, there's live reload in master and hot loader under an experimental flag (WIP) in the branch hot-loader.

[2015-12-23 10:33] #321 closed

[2015-12-23 10:57] FlashPapa commented on #321
Ok thanks, I did not see !
Great job ;)

[2015-12-23 16:04] tandu opened #322 "favicon"
How to add favicon.ico in a right way? I have put it into `assets/` folder and added link in `index.html`
[code]
But it will not work for production.

[2015-12-23 19:14] Bigous commented on #284
Hi @mgechev, I deleted the ```node_modules```, run, ```npm install``` and ```npm start -- --hot-loader```(tryed ```npm start -- --hot-loader true``` too just in case), with same results...
[code]

[2015-12-23 19:52] tandu commented on #322
Added `join(APP_SRC, '**/*.ico')` in `tools/tasks/build.img.dev.ts` and changed link to
[code]

[2015-12-23 21:24] mgechev commented on #322
Just like you mentioned, you need to keep the path relative (i.e. `./assets/favicon.ico`).

[2015-12-23 21:24] #322 closed

[2015-12-23 23:08] mgechev commented on #284
@Bigous with the latest changes this issue is fixed. However, currently when the root component is updated we loose the providers associated to it. If you move the `NameList` provider to the `hot_loader_bootstrap.ts` initialization you will make it work well and you'll be able to keep the state between updates.

[2015-12-24 09:51] corvinusy commented on #314
By default 'npm test' starts with project-local phantomjs (located at ./node_modules/phantomjs2-ext/lib/phantom/bin/). This binary on my machine quits with error: './phantomjs: error while loading shared libraries: libpng12.so.0: cannot open shared object file: No such file or directory'.

I just replaced it with link to my global source-builded phantomjs and tests ran OK.

P.S. npm-installed bina

[2015-12-24 14:51] #314 closed

[2015-12-24 16:49] sclausen commented on #308
The consequence of what @lihaibh wrote could be a fork of angular2-seed packed with a bunch of examples how to implement different stuff like the hot loader, lazy loading or how to use http in different ways. I really like this idea :) maybe accessible by a web frontend showing the example in action.

[2015-12-24 19:34] mgechev commented on #308
Externalizing the examples sounds like a good idea. The hot loader belongs to the seed since it is an essential tool which enhances the development experience so we can keep it here.

[2015-12-25 09:12] lihaibh opened #324 "Invalid paths on serve (404 not found error)"
When i run 'npm start' i receive an error when i load the site.
on the console it appears that it tries to find invalid route path:
http://localhost:5555/D:/path-to-project/node_modules/bootstrap/dist/css/bootstrap.min.css Failed to load resource: the server responded with a status of 404 (Not Found)

It serves invalid path (uses absolute path to the file instead of relative path) in dist/dev/inde