[2015-12-25 11:53] mgechev commented on #324
Just tried to reproduce your issue but I cant manage to do so:

![](https://i.imgur.com/WFcKpft.png)

[2015-12-25 16:46] lihaibh commented on #324
It doesnt work for me unfortunately, it generates invalid path when running task 'build.index', i made a new clone locally installed npm dependencies and start, it produce the index.html with this content:

  <script src="/D:/Projects/WebStorm/Github/Angular2/angular-seed2/node_modules/es6-shim/es6-shim.min.js"></script>
  <script src="/D:/Projects/WebStorm/Github/Angular2/angular-seed2/node_modul

[2015-12-25 17:01] lihaibh commented on #324
Ok i understood what caused this, i made a junction link to my projects directory in C: drive that will point to its location in D: drive, when i run npm install & npm start, from its original location it works however when i try to run it from the symbol link it failes give the full path instead of the relative path.

[2015-12-25 20:03] mgechev commented on #324
Ok, so we ca close this.

[2015-12-25 20:03] #324 closed

[2015-12-28 00:52] cthrax opened #325 "[question] Scaling to hundreds of components?"
This looks like a great seed! Thanks for the work! My current angular 1.x project has a couple hundred directives that I would imagine translate directly to components, but this organization doesn't seem to scale to that very well. I presently use an organization that is somewhat hierarchical for each directive and child directive. With a top-level components folder for shared directives (and thei

[2015-12-28 11:37] mmrath opened #326 "[help] guidance configure external lib"
Hi

I would like to use https://github.com/medialize/URI.js in a angular2-seed project. Would anyone know how to configure it?

I installed it using npm and tsd. Tried importing with the following, but it did not work

    import {URI} from 'urijs';
    import {URI} from 'urijs/URI';

Any help is much appreciated.

[2015-12-28 12:59] tandu commented on #326
Look at `tools/config.ts`, you should add it here in `NPM_DEPENDENCIES` array.

[2015-12-28 13:49] Bigous commented on #284
Merry Christmas everyone!.
Cool, everything is working again @mgechev ! Tks.

[2015-12-28 16:09] mgechev commented on #326
Just updated the guidelines for adding a [custom library](https://github.com/mgechev/angular2-seed#now-to-extend).

[2015-12-28 16:09] #326 closed

[2015-12-28 23:52] sondreb opened #327 "Should build.prod concatenate files in lib into libs.js?"
How come the gulp task build.prod does not concatenate all the files in the lib folder into a single file? Have there been done any performance verification that it is actually faster and better with 9 individual files?

If there have been no tests and no conscious decision on not bundling those files, is this something you could consider adding to the production output?

Perhaps two outputs, shim

[2015-12-29 06:08] mgechev commented on #327
Yes, it should. There was a problem with the minified version of systemjs. @ludohenin can explain the issue further since he is involved with the production build.

Although concatenating the files is an important task, there is still work pending on Angular 2 as well which will reduce the bundle size (such as API for templete precompillation) so optimizing the production build wasn't top priority

[2015-12-29 18:00] tehthird opened #328 "How to make it / instead of /dist/app"
Hello, is there an easy way to get this app to be loading from the root of the server, / , instead of /dist/app ? I have tried to edit config.ts and set APP_DEST to '', and move the assets to the root too, and it works, but then i get an error on i click on boostrap tabbed windows' links: EXCEPTION: TypeError: Cannot read property 'toUrlPath' of null. Tried quite a bit without luck.

I also had to

[2015-12-29 18:51] mgechev commented on #328
If you build the app with:

gulp build.prod

You can move dist/prod to / and everything should work.

[2015-12-29 19:41] tehthird commented on #328
It sure did, thank you mgechev, and thanks for this awesome repository.

[2015-12-29 19:42] NathanWalker commented on #328
In other words, the prod build is meant to create a build that you can drop
into your server root no matter what your server setup is and it should
just work.

If you are trying to get PathLocationStrategy working on the prod build
"within the seed", I'm not sure, there may be a way.

On Tue, Dec 29, 2015 at 10:51 AM Minko Gechev <notifications@github.com>
wrote:

[2015-12-29 19:44] tehthird commented on #328
Nathan, i dont get that error more after running it with "npm start -- --env prod" and editing APP_DEST to ""; Now i can click #tabbed links just fine, while the app is in root

[2015-12-29 19:45] NathanWalker commented on #328
Excellent :)

On Tue, Dec 29, 2015 at 11:44 AM Terje Nesthus <notifications@github.com>
wrote:

[2015-12-29 19:50] #328 closed

[2015-12-29 19:53] NathanWalker commented on #325
@cthrax Could you provide a sample of what your hierarchy looks like (in short)? Just to be sure we understand exactly what your structure is.

[2015-12-29 20:04] NathanWalker commented on #308
At this point, having 1 `single` external examples repo sounds like the way to go.

I would suggest all the repos here: https://github.com/AngularShowcase
be merged into one examples repo that is a fork of this main seed. That way the project setup can be easily updated with latest changes here and the examples can be easily and independently bootstrapped by modifying `tools/config.ts`.

I can tak

[2015-12-29 20:19] cthrax commented on #325
Sure, and just to be clear, I'm not proposing my structure as the "right" structure, it's just what has evolved to accommodate my needs, I was actually hoping that another structure had been developed.

Presently I use something akin to (at the folder level):

app
-components
--common-component
---child-component1
---child-component2
--common-component2
-page1
--subview1
---child-component
----gra

[2015-12-29 20:33] NathanWalker commented on #325
It seems like that should be no problem. Have you tried a similar setup with this seed and encountered issues with compiling TypeScript or something else?

[2015-12-29 20:57] sclausen commented on #308
I really like option 1

[2015-12-29 21:20] cthrax commented on #325
No, not at all. I really was just asking what the collective braintrust here has come up with for a scenario such as I posited. If that's beyond the scope of this project, that's fine.

[2015-12-29 22:11] NathanWalker commented on #325
This seed is pretty well setup to handle just about whatever you can throw at it.
I've been converting a large production app with hundreds of components myself at the moment with this seed as the base and it's been great :+1:

Enjoy!

[2015-12-29 22:11] #325 closed

[2015-12-30 09:02] sachingk commented on #132
I am facing the same issue here. How to resolve it ?

[2015-12-30 09:19] mgechev commented on #132
Take a look at my comment above.

[2015-12-30 09:37] neilyoung opened #329 "gulp build.prod broken?"

[2015-12-30 10:19] mgechev commented on #329
It isn't use:

gulp build.prod --evn prod

[2015-12-30 10:19] #329 closed

[2015-12-30 10:24] #327 closed

[2015-12-30 10:25] mgechev commented on #308
I suggest to use AngularShowcase. Let me know who is interested into adding him/her into the organization where we can collaborate on this.

[2015-12-30 11:07] neilyoung commented on #329
You're right. My bad. Sorry

[2015-12-30 14:11] Bigous commented on #329
or
[code]

[2015-12-30 16:34] mgechev commented on #329
@neilyoung no worries! The current API is slightly confusing anyway. In case you use gulp build.prod it shouldn't be necessary to set the environment flag.

[2015-12-30 23:23] tarlepp opened #330 "Overrides to config.ts"
Okay, so what about some overrides to config.ts defaults? Eg. some simple ```config.json``` file that is ignored in VCS where those default values are read from if file exists, otherwise those "default defaults". With this modification users could just make single json file which contains default config values without need to specify these on cmd.

[2015-12-31 11:29] mgechev commented on #330
Externalizing the dependencies into a JSON file and allowing the users to override the defaults using it sounds like a good idea to me.

We already have a lot of config options so passing them as flags using the command line interface sounds not that comfortable.

[2015-12-31 16:34] SIGAN opened #332 "App_spec tests are not running at all"
Currently app tests are always showing as succeeded, because code inside of `.then(rootTC => { ... })` never runs.

Home/Service tests work as expected.

How to fix that?

[2015-12-31 17:57] SIGAN opened #333 "Test results are ignored"
Currently, all tests always ignore any `expect` statements inside of `.then(rootTC => { ... })`.

for example, add to Home_spec.ts right after last `expect` this code:
`expect(true).toEqual(false);`
It won't trigger failure of tests...
You can change selector to 'h2' and it will succeed as well...

How to fix that?

[2015-12-31 22:13] gustavolira opened #334 "css not working"
Hi,
If I put my css directly at index.html like:
[code]
It works!
But if I put my css to be inject configuring at config.ts like:
[code]
This not works. My css is loades at html page (not receiving 404) but it not works.

Another problem is that my CSS and JS that I put at config.js is not being copy to dest folder, at html page they still being refer to app folder and not to dist/dev folder

Some

[2016-01-01 16:20] grailsweb opened #335 "npm start : Home page is displaing for http request"
Hi,

Today I cloned the project, then ran npm install and npm start. Then try to access the page in browser. but its giving page not found error message.

http://192.168.1.7:5555/
Cannot GET /

npm start message.

$npm start

[11:19:50] Requiring external module ts-node/register
[11:19:53] Loading task clean all
[11:19:53] Loading task clean dist
[11:19:53] Loading task clean test
[11:19:53] Loadi

[2016-01-01 23:09] mgechev commented on #335
Open http://127.0.0.1:5555/dist/dev

[2016-01-01 23:09] #335 closed

[2016-01-02 09:27] david-lee opened #337 "[Question] 'system' module code generation type not supported?"
After I cloned and run `npm install`, I changed module code generation option in `tsconfig.json`. It was `commonjs` and changed to `system`. And I got an error like below as run `npm start`

[code]
 Doesn't this seed project support 'system' module code generation?

Thanks.

[2016-01-02 14:53] mgechev commented on #337
At this point we use a single `tsconfig.json` file which is used by both:
- `ts-node` for executing the `gulpfile.ts` and the related tasks.
- compilation of the application itself

You can compile the application to systemjs by changing the ts project configuration at: `./tools/utils.ts`:
[code]

[2016-01-02 14:53] #337 closed

[2016-01-02 14:59] mgechev commented on #334
At this point the CSS files do not get copied to the `dist/dev` directory. After we merge the hot-loader branch you will get this behavior. Injecting the resources should work properly:

[code]
The code above will add the following:

[code]

It is not considered good practice to add CSS files using the absolute path since in production and (after the merge of the hot-loader branch) in development

[2016-01-02 14:59] #334 closed

[2016-01-02 15:00] #291 closed

[2016-01-02 15:05] #284 closed

[2016-01-02 15:05] #308 closed

[2016-01-02 15:14] codeslubber opened #338 "Support for the Angular 2 beta"
I cloned this project and was able to get Karma working, tests run in IntelliJ.

However, in trying to get same working in another project, that has the beta, it doesn't work. I am getting a 404 when the shim attempts to load the browser adapter. But then I also got a bunch of errors from the attempted loading of other files stipulated in the karma conf.

[code]

Of course the angular file is not

[2016-01-02 15:21] mgechev commented on #338
We support Angular 2 beta. I don't think this issue is related to the seed project?

What is the other project where you can't get karma working?

[2016-01-02 15:21] #338 closed

[2016-01-02 15:22] mgechev commented on #333
Thanks for the catch! I'll take a look at the issue asap.

[2016-01-02 15:23] mgechev commented on #332
Seems related to https://github.com/mgechev/angular2-seed/issues/333 ?
I'll close it for now, let me know if I'm wrong and the issues are not related to one another.

[2016-01-02 15:23] #332 closed

[2016-01-02 15:24] codeslubber commented on #338
I cloned the project yesterday or the day before and this is in the package.json file:

[code]
The other project is one of my own projects that has running angular2 code in it, trying to simply add karma to it. For whatever reason, the angular 2 docs do not cover karma in their testing section (which makes no sense).

[2016-01-02 15:28] mgechev commented on #338
We tagged `2.0.0-beta.0` a few weeks ago. Take a look at [this](https://github.com/mgechev/angular2-seed/blob/master/package.json#L82).

You can see how we did the integration with karma and use it in your personal project.

[2016-01-02 15:33] codeslubber commented on #338
I cloned master yesterday. So I should have cloned the tag? It looks like the PR was merged, no?

[2016-01-02 16:21] codeslubber commented on #338
My mistake. Thanks.

[2016-01-02 16:51] gustavolira commented on #334
But I did exactly what you said. If you see my code that I put here:
[code]
I put all my css and js at config.js inside of APP_ASSETS

[2016-01-02 17:50] SIGAN commented on #333
I have found the reason - 'angular2/testing_internal' should be changed to 'angular2/testing'
But unfortunately then fails DOM (it is null)

[2016-01-02 18:10] justindujardin commented on #308
I forked this project for a ng2-material example. Nice work, it's a very slick setup.

https://github.com/justindujardin/angular2-seed

[2016-01-02 18:51] mgechev commented on #308
Would you add a link to your fork in the README.md?

[2016-01-02 22:41] david-lee commented on #337
Great! It works for me. Thanks.

[2016-01-03 13:33] Bigous commented on #288
Just for documentation - [here is the repository](https://github.com/AngularShowcase/angular2-sample-app).

[2016-01-03 13:37] Bigous commented on #308
The discussion is closed, but I'd like suggest to rave an examples directory with linked repositories here to have an index of good examples made in one place (or at least an EXAMPLES.MD to achieve this goal)
What do you think?

[2016-01-03 14:31] justindujardin commented on #308
@mgechev I opened #340 as you requested.

[2016-01-03 18:41] sclausen commented on #308
@Bigous there is AngularShowcase/angular2-sample-app

[2016-01-03 20:40] mgechev commented on #308
Awesome! Thanks!

[2016-01-04 16:49] NathanWalker commented on #308
@mgechev If you could add me to https://github.com/AngularShowcase I can help organize things.

@justindujardin nice work!  I vote we add your example to AngularShowcase as either a repo in Showcase or part of a consolidated examples repo (similar to https://github.com/AngularClass/angular2-examples)

Either way, as @mgechev mentioned, using AngularShowcase org for this would be great :+1:

IMO, i

[2016-01-04 17:53] LuxDie opened #342 "Twitter Bootstrap should be removed."
It currently conflicts with Angular Material styles.

[2016-01-04 17:55] LuxDie opened #343 "The home view is not loading ng2-material directives"
Although it doesn't need them I think as long as you are using material directives in the template they should always be loaded in the component.

[2016-01-04 17:57] LuxDie opened #344 ""EXCEPTION: No <input> or <textarea> found inside of <md-input-container>" in "about" view"
This seems to be a bug with the ng2-material module.

[2016-01-04 18:02] Bigous commented on #343
I think it should be posted [here](https://github.com/justindujardin/angular2-seed)

[2016-01-04 18:05] Bigous commented on #344
I think it should be posted [at the ng2-material angular-seed reposotory](https://github.com/justindujardin/angular2-seed)

[2016-01-04 18:07] LuxDie commented on #343
Sorry wrong repo.

[2016-01-04 18:07] #343 closed

[2016-01-04 18:08] LuxDie commented on #344
Sorry wrong repo.

[2016-01-04 18:08] #344 closed

[2016-01-04 18:08] LuxDie commented on #342
Sorry wrong repo.

[2016-01-04 18:08] #342 closed

[2016-01-04 19:16] Bigous commented on #308
Hi people, I've made another fork (I don't know why it is not showing at github as a fork, but it is - I'm used to work with svn and I'm learning git, so I might have done something wrong) to integrate this seed with [Highcharts](http://www.highcharts.com).
It's at [Bigous/Ng2Highcharts](https://github.com/Bigous/Ng2Highcharts).
How could I put it at AngularShowcase?

[2016-01-04 20:11] NathanWalker commented on #308
Thanks @Bigous I can help you with that.
I will add your project to AngularShowcase for now.

We may in future consolidate 1 off examples like this into a one repo together. But it will be nice to have your example on the showcase for now. You of course will receive all the credit, nice work! :)

[2016-01-04 20:56] NathanWalker commented on #308
@Bigous your Highcharts example implementation is now on the showcase here:
https://github.com/AngularShowcase/angular2-seed-ng2-highcharts

You may want to fork that one and continue to work off the showcase fork to keep any future contributions/changes on the showcase. :+1:

[2016-01-05 08:21] mgechev commented on #308
Great! Here's an example section in [the README.md](https://github.com/mgechev/angular2-seed#examples) which can be extended with the links above.

[2016-01-05 10:55] mgechev opened #350 "Automatically set environment when "gulp build.prod" is used"
Currently it is a bit annoying that when one wants to run the production build needs to explicitly set the environment:

[code]
instead of simply
[code]

[2016-01-05 11:36] ludohenin opened #351 "Use components relative assets paths"
`gulp-inline-ng2-template#0.0.10` brings support for relative assets path. Do you think we should use this feature? It would also mean that assets will have to be inlined even for `dev`.

[2016-01-05 11:52] mgechev commented on #351
Inlining the templates will not allow hot loading since we won't be able to associate (out of the box) the changed template with its corresponding component.

I'm also against inlining templates for dev because of the unnecessary magic that happens. As user of the seed I'm working with external templates but once I make a change the templates and styles are automagically getting inlined.

[2016-01-05 20:47] neilyoung commented on #329
However, I cannot even produce something useful for prod. Could you please check? Fresh install. npm run build.prod ok, but it is not really running then

[2016-01-05 21:57] tarlepp opened #352 "build.js.dev.ts "problem""
I noticed that this task gets some errors:

[code]

And as you can see my own files has some errors too, but those are on the top of quite big list. Anyway to solve this?

[2016-01-05 22:35] tarlepp opened #353 "Possible issue with #349"
Hmm, not sure if this is only on me, but reporting still. Apps start like it should with ```npm start``` but in my browser console I get this:

![image](https://cloud.githubusercontent.com/assets/595561/12129333/94d49bb8-b40b-11e5-886b-ade7918c96bc.png)

And if I just remove ```"outDir": "dev/ts_compiled"``` from tsconfig.json file all works like it should. It seems like that adds ```app``` folder

[2016-01-06 01:18] ouq77 commented on #353
Hey. I'm not able to reproduce this in the seed app. Have tried in both WebStorm and ItelliJ.

Can you tell me a bit more about your setup?

This is what it looks like for me (not the toplevel dev/ts_compiled folder):

![dev ts_compiled](https://cloud.githubusercontent.com/assets/1796191/12132430/4ed9129a-b480-11e5-9c24-ac06c6f7eaf8.png)

[2016-01-06 01:21] tarlepp commented on #353
Basically just a clone of this repo, you can see the sources from there https://github.com/tarlepp/angular-sailsjs-boilerplate-frontend-angular2/

[2016-01-06 07:21] ludohenin commented on #329
@neilyoung you should check #350

[2016-01-06 09:43] Bagidolla opened #355 "'npm install' error"
After 'npm install' it shows this:

And it doesn't go on.

[2016-01-06 10:14] #355 closed

[2016-01-06 10:59] mgechev commented on #353
@tarlepp same here. I'll make a hot fix in master but it'll be nice to keep the `outDir` somehow.

[2016-01-06 11:09] mgechev commented on #353
@tarlepp I reverted back. Let me know if the issue still occurs, otherwise you can close it as fixed.

[2016-01-06 11:10] mgechev commented on #352
Yeah, type definition collisions are pain in the ass. Angular has the node's type definitions distributed in its own package, I guess you have other place where you include them as well.

This is not an issue in the seed, you need to play a bit in order to organize the type definitions and do not include node's twice.

[2016-01-06 11:10] #352 closed

[2016-01-06 11:12] mgechev commented on #317
We can discuss this in gitter since it is not directly related to the project I propose to close it for now.

[2016-01-06 11:12] #317 closed

[2016-01-06 13:10] tarlepp commented on #352
Any pointers where to start?

[2016-01-06 13:13] tarlepp commented on #353
Yeah, removing that config solves this.

[2016-01-06 13:13] #353 closed

[2016-01-06 15:02] mgechev commented on #352
You can take a look how we handle the collisions in the seed. There are two type definition files for node:
- In the Angular 2 npm package
- Under tools/typings
For the gulp build we don't use the one provided by Angular but only the one in typings.

For the app we use only the type definitions from node_modules and exclude the ones at typings.

[2016-01-06 17:47] bertvh opened #357 "Example including a 3rd party lib with tsd via DT?"
I've included moment.js. In Typescript 1.6, I didn't import moment but just used the global variable. Probably not such a good idea. Anyway, it worked.

Since I've upgraded to typescript 1.7, the compiler doesn't like that anymore:

    error TS2304: Cannot find name 'moment'
    error TS2503: Cannot find namespace 'moment'.

So I've tried to add this

    import * as moment from 'moment/moment'

[2016-01-06 19:53] mgechev commented on #357
`tsd.d.ts` is used by `gulpfile.ts` and the tasks it uses. For now you can either move `moment.d.ts` in a location visible by the application or include it as `<reference path="../../tools/typings/tsd/moment.d.ts"/>`.

[2016-01-06 19:53] #357 closed

[2016-01-07 08:14] caracena opened #358 "Serve production build"
First of all,  thanks for this amazing work. Really helpful to setup your own project.

I have a doubt about how can I serve a production build. When I run ``` npm run build.prod ``` and then serve dist/prod with python like ``` python3 -m http.server ``` and check the browser, I got the next errors:
[code]
and the site keep loading forever (with Loading...).
I tried to change the System.import('b

[2016-01-07 10:14] mgechev commented on #358
Most likely related to https://github.com/mgechev/angular2-seed/issues/350

[2016-01-07 11:21] czaktesta commented on #358
I'm not sure yet what is the exact issue but the problem is related to the version of systemjs. It works fine with 0.19.9. Does not work anymore with 0.19.12. Changing the version should help at least as 'quick fix'.

[2016-01-07 11:41] #358 closed

[2016-01-07 11:42] mgechev commented on #358
@czaktesta thanks for pointing this out! We'll need to take a further look at this issue, for now I workarounded it with the fix you suggested.

[2016-01-07 17:16] Nemmo opened #359 "Cannot run the app"
Here is the log from `npm-debug.log` file:
[code]

[2016-01-07 20:43] gnjuguna commented on #359
I am getting the same error.

[2016-01-08 00:54] thedanotto commented on #359
I also cannot start the application.

    [angular2-seed]$ npm start                                                                                                                                                                               [5/5]

    [17:51:56] Requiring external module ts-node/register
    ----------------------------------
    ⨯ Unable to compile TypeScript

     gulpfile.ts

[2016-01-08 10:57] amb-it-ion opened #361 "Debugging tasks"
First of all: Great job. I am using this seed already in a big portal project, and feel blessed to have found you.

However, I felt quite in pain, when traing to debug some gulp-pipes. Frankly, I have not found a solution yet and believe, this would be VERY helpful to have. Can you please provide some comments or documentation on how to do this? E.g. I was trying to rename the file path for compil

[2016-01-08 11:00] mgechev commented on #359
@thedanotto most likely your setup is lacking the type definition. Did you run `npm install`? What is your OS?

[2016-01-08 11:20] mgechev commented on #361
Thanks for the kind words, we're glad we helped!
May be `[gulp-debug](https://www.npmjs.com/package/gulp-debug)` with `[node-inspector](https://github.com/node-inspector/node-inspector)`will help.

[2016-01-08 11:32] mgechev opened #362 "CSS files in the prod build are not minified"

[2016-01-08 11:33] mgechev commented on #351
Can we close this issue?

[2016-01-08 11:51] Bigous commented on #351
I think that we should not inline things (at least not as a default behavior). I think it will be necessary to have lazy component load... for really big applications and it can be a pain to have if everything is inline... but this is another discussion.

[2016-01-08 11:54] mgechev opened #363 "Run the e2e tests in CI"
Currently the e2e tests are not run in Travis neither in AppVeyor.

[2016-01-08 12:02] mgechev opened #364 "Production build enhancements"
- [ ] Minify CSS files https://github.com/mgechev/angular2-seed/issues/362
- [ ] Automatically set the environment variable when `gulp build.prod` is used https://github.com/mgechev/angular2-seed/issues/350
- [ ] Produce a single minified JavaScript file for all the JavaScript resources
- [ ] Use production version of Angular (the one without the template compiler) (blocked by Angular for now)

[2016-01-08 12:03] #351 closed

[2016-01-08 14:02] tarlepp commented on #330
Hmm, I did little work for this. https://gist.github.com/tarlepp/f3105107575b4b6d0931

What do you think?

[2016-01-08 14:12] pjpsoares opened #365 "e2e tests and sourceMap"
Hi!
I've just cloned this repo, and followed all the instructions to run the e2e tests and I get this error:
[code]

[2016-01-08 14:22] mgechev commented on #365
@NathanWalker would you take a look at this one?

[2016-01-08 14:32] pjpsoares commented on #365
Just to add a little more info, just tried in my colleague computer and it works fine. If you have any clue on what might be going on would be great.

[2016-01-08 14:36] mgechev commented on #365
What are your OS, node, npm, Chrome (I guess you're using protractor with Chrome?) versions?

[2016-01-08 14:59] pjpsoares commented on #365
OS: osx el capitan 10.11.12
node: v5.2.0
npm: 3.3.12
chrome: 47.0.2526.106 (64-bit)

[2016-01-08 16:02] NathanWalker commented on #365
@pjpsoares If it's isolated to just your computer and works fine on your colleagues, what are the OS, node, npm, Chrome versions on your colleagues computer?
Also is the install path of node the same between yours and your colleagues?

[2016-01-08 16:14] Nemmo commented on #359
@mgechev So, what about my problem? Seem like @thedanotto has different problem, not like my.

[2016-01-08 16:17] thedanotto commented on #359
Sorry for hijacking thread, I can start a new issue.

[2016-01-08 16:18] pjpsoares commented on #365
Same OS, node v4.2.1, npm 2.14.7.
Same install path.

[2016-01-08 17:01] pjpsoares commented on #365
Downgrading node does the trick...

[2016-01-08 18:28] NathanWalker commented on #365
Ah ok, good to know. I've had issues in general with node 5.x as well. I've been sticking with 4.2.1 and it's been smooth sailing with all things node.

[2016-01-08 18:28] #365 closed

[2016-01-10 02:11] NathanWalker commented on #363
@ludohenin or @tarlepp If either of you could help with configuring the e2e tests here would be appreciated!

[2016-01-10 09:45] stefanocke commented on #132
@mgechev
As far as I understand, typescript-register has been deprecated in favor of ts-node. See https://github.com/pspeter3/typescript-register/blob/master/README.md. Why do we need to install both?  I thin the checker.emitFiles error comes from typescript-register. Why not just removing it completely from package.json? Is it required by something else?
I removed it, and the gulp build seems to

[2016-01-10 12:28] jmfvarela opened #368 "Hot loader in Windows (solved)"
I have found that changing line 14 in:
    https://github.com/mgechev/angular2-seed/blob/master/tools/utils/code_change_tools.ts
this:
[code]
for this:
[code]
it works.
Sorry because that solution is not very orthodox. ;-)

[2016-01-10 16:28] mgechev commented on #368
Great! Thanks for the solution. I will update the code according the changes tou suggest tomorrow.

[2016-01-10 16:43] tarlepp commented on #330
@mgechev did you look that gist?

[2016-01-10 17:22] mgechev commented on #330
At first sight looks great! I will review it further on Monday.

[2016-01-10 19:53] Alber70g opened #369 "How to make main.scss @import "compass/css3"; work when using sass?"
I've used the sass extend in the readme with something to make the importer work.

I've installed the `sass-npm` module to make the `@import "compass/css3";` work, but it cannot resolve it.

So in my `main.scss` is now:
[code]

My `build.sass.dev.ts` looks like this:
[code]

[2016-01-11 10:20] mgechev commented on #132
@stefanocke yep, just removed it.

[2016-01-11 10:24] #368 closed

[2016-01-11 10:24] mgechev commented on #368
@jmfvarela would you verify it works with the changes introduced by https://github.com/mgechev/angular2-seed/commit/5fbf14429ae7e1ed8a79a7928f9821a20b1c9418.

[2016-01-11 12:54] mustafacoskuncom commented on #359
Hi everybody. I am new in Angular 2 and I wonder that just we are starting the app via terminal? npm or other codes? Is there anyway like classical index.html run on localhost and open the project? Would you explain it? Thanks for your helps.

[2016-01-11 13:20] Bigous commented on #359
Lots of questions @mustafacoskuncom  :D

[code]
look at the [Readme.md](https://github.com/mgechev/angular2-seed/blob/master/README.md)

If you build the production setting of this seed ```npm build.prod```, you will see that it will create ```dist/prod``` under your clone directory... it has a classical ```index.html``` and everything else you need to run your application

Well... this is the mai

[2016-01-11 13:34] Nemmo commented on #359
Still cannot run the application.

[2016-01-11 13:35] mustafacoskuncom commented on #359
I think you misunderstood me I already run the app there is noproblem. But when I run directly index html real or clone directory not important.. Just waiting Loading.... and there is nothing. Understand?

[2016-01-11 13:37] Bigous commented on #359
@Nemmo could you try to run it with Node 4.2.x ?

[2016-01-11 13:38] Nemmo commented on #359
@Bigous Yes, of course I've tried already with Node 4.2.x

[2016-01-11 13:39] Bigous commented on #359
@mustafacoskuncom Yes, it happens when angular or another required library was not loaded... look at your browsers console log to see what happened.

[2016-01-11 13:41] Bigous commented on #359
@Nemmo The npm log was the same?

[2016-01-11 14:02] mustafacoskuncom commented on #359
Yes as you said I check th Console and could not load the files when run it directly without terminal codes. And also I learned by this way this app run on "Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode." :) I think that it seams VS export application style... Debug mode and release mode... At the beginning of the learning stage have so many prob

[2016-01-11 14:50] ludohenin commented on #363
@NathanWalker First I think instead of using the `build.dev` it would make more sense to use `build.test` (requires a protractor conf update) and then I guess it just a matter of adding the command to the npm script `"test": "gulp test"` => `"test": "gulp test && npm run e2e"`

[2016-01-11 14:55] ludohenin opened #370 "e2e not working on Windows"
When running `npm run e2e` I'm getting the following:
[code]

This maybe an issue to run test with appveyor (see #363)

[2016-01-11 15:04] ludohenin commented on #362
Components' css files are minified in the prod build. @mgechev Are you thinking to something else ?

[2016-01-11 15:05] mgechev commented on #362
The CSS files located at assets are not getting minified yet.

[2016-01-11 15:19] ludohenin commented on #330
@tarlepp Looks good to me as well. The only thing maybe would be how to load a config.{ENV}.json based uppon targetted build (dev, prod, pre-prod ...) ?

[2016-01-11 15:21] #361 closed

[2016-01-11 15:24] ludohenin commented on #330
I'm actually thinking of adding an initial `config` task for that (the same way as `clean.x` ones).

[2016-01-11 15:26] mgechev commented on #359
@Nemmo I cant reproduce this issue (Windows 10, node 5.3.0, npm 3.3.12).

[2016-01-11 15:33] Malines commented on #369
@Alber70g have you tried to to this to use the importer?

tasks_tools.ts en edit the following function
[code]
and then use the plugins to get the importer

[code]

I also have trouble to import the filer for foundation-sites. the @import fails on the node_modules folder
I only get the first lines of comments and a class I added for test all the referenced imports are failing

[2016-01-11 15:37] ludohenin commented on #350
Once we get through #330 this issue should be soved.

[2016-01-11 15:49] Bigous commented on #359
@Nemmo I cant reproduce too (Windows 10, node 4.2.3, npm 3.3.10)...

Try a fresh install of nodejs and npm, npm clean cache before clone the repo again and try a npm install and npm start.

[2016-01-11 15:56] Bigous commented on #359
@mustafacoskuncom  This repo is an start kit to angular2, but if you want to learn how angular 2 works, you should look at the references I gave you first...
To work with this repo, at the development, you will need a terminal window to start node... it was not made to run without it.
It could be a feature request to have a .vscode directory with a start script where you could press F5 and everyth

[2016-01-11 16:02] ludohenin commented on #333
DOM isn't null for me, but I'm getting this error
[code]

[2016-01-11 16:09] e-oz commented on #206
Please leave some config to turn this behavior off, because for some projects ts-linting is just annoying addition (IDE shows all errors and much smarter).

[2016-01-11 16:15] Nemmo commented on #359
@Bigous It works! I have just cleaned the cache and cloned the repo again. It's really strange, because my two friends tried to run the app on the another computers and it fails like me.

[2016-01-11 16:21] mgechev commented on #333
Fixed the issue here https://github.com/mgechev/angular2-seed/tree/fix-333

[2016-01-11 16:23] mgechev commented on #359
@Bigous @Nemmo we can close this issue?

[2016-01-11 16:27] Nemmo commented on #359
@mgechev Yes, we can. Especially thank @Bigous for help with my issue!

[2016-01-11 16:27] #359 closed

[2016-01-11 16:36] Bigous commented on #359
:+1:

[2016-01-11 18:24] ouq77 commented on #362
I've been looking at cache busting, which could take care of the minification during the revision task. Have a look here: https://github.com/mgechev/angular2-seed/compare/master...ouq77:feature/revision.

[2016-01-11 20:28] #333 closed

[2016-01-11 20:43] e-oz opened #372 "How to include folder with fonts"
Currently if I place "fonts" folder with fonts and css (to /assets or somewhere else), only 1 file copied: svg version of font. What I can change in config to copy all fonts? Or just whole assets folder, without any filtering.

[2016-01-11 22:10] ludohenin commented on #372
Like this (in `config.ts`):
[code]

[2016-01-11 22:28] Bigous commented on #372
Yes, but shouldn't we copy everything inside assets?

[2016-01-11 22:30] Bigous commented on #362
I thing we should copy assets directory as is, or, how could we put an example CSS file to show somewhere in the application?
A minified version of the file is not too good to be shown to the final user :D

[2016-01-11 22:46] ludohenin commented on #372
It's copied to `dist/prod`. We avoid copying things around for dev.

[2016-01-11 23:30] e-oz commented on #372
And it makes me to invent workarounds to fix issues with paths, it's ugly and inconvenient.

[2016-01-11 23:32] e-oz commented on #372
please consider to make it configurable

[2016-01-11 23:56] ludohenin commented on #372
@e-oz is it because you want to "deploy" dev builds ?

[2016-01-12 07:40] mustafacoskuncom opened #374 "Turkish Character Problems"
I tried Turkish Character sets and App did not run. There is a blank white page if I use İ,Ğ,ş,ö,ç etc. What can be problem? I saved the file UTF-8 however problem continue. Have you ever faced like this issue? Thanks again.

[2016-01-12 07:44] mgechev commented on #374
I am able to reproduce your issue but it seems related with the Angular's DOM compiler, not with the seed. You can report it [here](https://github.com/angular/angular/issues).

[2016-01-12 07:44] #374 closed

[2016-01-12 09:04] Alber70g commented on #369
Thanks for this advice. It does work indeed, but I have to fill the full path: `import "node_modules/compass-mixins/lib/compass/css3";`. Is there a way to avoid this?

Maybe I should include all sources including the ones from `node_modules/**`?

[2016-01-12 09:05] mgechev opened #375 "Generic ServiceWorker support"
We already can [use ServiceWorkers](https://jakearchibald.github.io/isserviceworkerready/) in Chrome and Firefox.

We may include a generic implementation of a SW in the seed which implements basic caching for offline-first application support. Here is a [great post by Jake Archibald](https://jakearchibald.com/2014/offline-cookbook/) that we can keep in mind. Lets consider which strategy from the

[2016-01-12 13:35] jimulle opened #376 "IE10 & IE11 Syntax Error: The use of a keyword for an identifier is invalid"
When I clone the seed project and try to view it in IE10, I get the following error:

Unfortunately, the console output is rather cryptic and isn't providing me with much insight into the cause of this issue.

*Full Console Output:*

   at T (http://localhost:5555/node_modules/angular2/bundles/angular2.min.js:1:1792)
   at e.prototype._createViewFactoryRuntime (http://localhost:5555/node_modules/a

[2016-01-12 15:25] NathanWalker commented on #375
+1 on basic implementation with basic caching.

On Tue, Jan 12, 2016 at 1:05 AM Minko Gechev <notifications@github.com>
wrote:

[2016-01-12 16:24] jimulle commented on #376
As additional clarification, this error starts after this commit

[2016-01-12 19:36] flofly commented on #364
+1 for this issue

[2016-01-12 19:41] mgechev commented on #376
As workaround for now you can use the code under this tag https://github.com/mgechev/angular2-seed/tree/2.0.0-beta.0

[2016-01-12 20:23] jimulle commented on #376
Thanks. I actually rolled back to this commit (Merge pull request #371 from mgechev/fix-333 0a23a0398c8a762530d269a22ab28ce42a9735fc) and it works for now. I'll keep an eye out for a resolution to the issue (maybe in 2.0.0-beta.2)

[2016-01-12 20:50] mgechev commented on #376
This is weird. https://github.com/mgechev/angular2-seed/pull/371 contains only changes in the component's spec.

Would you test against master again? I removed the explicit use of `CORE_DIRECTIVES` from the `AboutCmp`. May be there was name collision or something like that when the same directives are included twice.

[2016-01-12 20:55] jimulle commented on #376
That commit works fine, it is the change to 2.0.0-beta.1 that breaks it.

[2016-01-12 21:18] mgechev commented on #376
Ah, yes. Just saw your comment.

[2016-01-12 21:45] dracon opened #377 "Something wrong on Windows 10"
npm-debug after npm run reinstall:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\PATH\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'reinstall' ]
2 info using npm@3.5.2
3 info using node@v5.4.0
4 verbose run-script [ 'prereinstall', 'reinstall', 'postreinstall' ]
5 info lifecycl

[2016-01-12 22:05] mgechev commented on #377
Here is similar issue https://github.com/mgechev/angular2-seed/issues/359

Would you try the same solution and let us know if it works.

[2016-01-12 22:25] dracon commented on #359
@mgechev Thank you...
It worked for me with npm clean cache and npm install!

[2016-01-12 22:26] dracon commented on #377
@mgechev Thank you...
It worked for me with npm clean cache and npm install.

[2016-01-12 22:26] #377 closed

[2016-01-13 11:47] Sophia-nguyen opened #378 "How to load templateUrl?"
Hi,
I see `templateUrl: './components/about/about.html'`.
But when I run` serve-dev`, it load template with path `dist/dev/components/about/about.html`.
How can do it? I can't find config in this app.

I create new app, and try to run `serve-dev` but it don't work. If I define serve with `root: '.'` it will load `html` files with path `/components/about/about.html` , and if I define `root:'dist/'`

[2016-01-13 12:50] mgechev commented on #375
Results from the poll I started on Twitter https://twitter.com/mgechev/status/686836778276372480

[2016-01-13 13:23] ludohenin commented on #378
This is because it's a relative template url and you're browsing `http://localhost:5555/dist/dev/`

[2016-01-13 13:42] Sophia-nguyen commented on #378
@ludohenin, could you please guide me how to do relative template url ?
Thanks,

[2016-01-13 15:00] mgechev commented on #378
@Sophia-nguyen take a look at [this SO answer](https://stackoverflow.com/questions/2005079/absolute-vs-relative-urls).

[2016-01-13 15:00] #378 closed

[2016-01-13 15:37] Sophia-nguyen commented on #378
@mgechev more question,that mean I can use relative template url `http://localhost:5555/dist/dev/`, if I config server with `root: 'dist/dev/'`, but In this case, how to load all libs from `node-modules`.
I try to setup for my app, but it still don't work. It can't load libs in `node-modules`
Please help me.

[2016-01-13 15:48] ludohenin commented on #378
The dev server is not design to work with any other root than the project root.

[2016-01-13 17:11] evanplaice opened #379 "Proposal: 'organize by feature' instead of 'organize by type'"
Take a look at:
https://egghead.io/lessons/angular-2-organizing-angular-2-projects-by-feature

## Proposal

*Organize angular2-seed by feature instead of type*

I know it's tempting to follow the structure traditionally used by MVC platforms (ie organization by type), especially on smaller projects. I'm arguing that component-based development is a different beast and there are advantages that com

[2016-01-13 21:58] e-oz opened #380 "Production build throws exception (beta.1)"
Not sure if it's bug of build or Angular. Code works fine when "gulp serve", but after "npm run build.prod" and deployment it throws this exception:
https://gist.github.com/e-oz/f6112a41544f069671ec
[code]
After changing angular version to beta.0 in package.json all works fine (well, almost).

[2016-01-14 00:01] andycwk opened #381 "TypeError: Object doesn't support property or method 'keys'"
Hi,

I'm using Angular 2.0.0-beta.1 and have the following exception in Internet Explorer 11 (think it also shows in 9 & 10 too but with less info)

[code]

The start of my index.html looks like the following at the moment..
[code]

As you can see, I've thrown all sorts into the mix to try and resolve the issue!

Any thoughts... is it a bug? Am I missing something obvious?

[2016-01-14 02:15] jseravalli commented on #335
I have a question about this which comes from a place of ignorance so please bear with me. Whats the idea behind raising the server and having to write `/dist/[env]`? Wouldn't the root of the server be wherever the files where generated?

[2016-01-14 05:47] NathanWalker commented on #379
I'd be happy to look at a PR?

On Wed, Jan 13, 2016 at 9:11 AM Evan Plaice <notifications@github.com>
wrote:

[2016-01-14 06:14] evanplaice commented on #379
@NathanWalker I think I can handle that. Just didn't want to waste the time doing the work if it doesn't follow the intent of the project.

[2016-01-14 06:49] NathanWalker commented on #379
It is purposely minimal so I'm not sure there's enough here to warrant
organization by feature.

On Wed, Jan 13, 2016 at 10:14 PM Evan Plaice <notifications@github.com>
wrote:

[2016-01-14 06:57] evanplaice commented on #379
@NathanWalker If it's intended to be built upon and/or stand as an example of how a project should start. The size isn't really a relevant factor.

[2016-01-14 08:08] mgechev commented on #335
If the root of the server is `/dist/dev` for instance we need to copy `node_modules` in order to make the accessible.

[2016-01-14 08:33] mgechev commented on #381
@andycwk looking at the setup of your `index.html`, this doesn't seems like an issue related to this project. May me more appropriate place to report is https://github.com/angular/angular/issues.

[2016-01-14 08:33] #381 closed

[2016-01-14 09:00] andycwk commented on #381
Ah bugger.. didn't realise I was posting against the seed project - this is what happens when logging an issue @ 12 am :(

Sorry :(

[2016-01-14 10:08] mgechev commented on #381
@andycwk no worries!

[2016-01-14 10:59] antonybudianto commented on #380
My [starter](https://github.com/antonybudianto/angular2-starter) also experienced the same thing (although the error shown in the browser, not in bash), try to disable mangle option of uglify

[2016-01-14 11:01] e-oz commented on #380
@antonybudianto I don't know how to it here :(

[2016-01-14 11:06] antonybudianto commented on #380
I'd suggest to stick with beta.0 for now, or you can add `mangle: false` in this [file](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.bundles.ts#L7)

[2016-01-14 11:21] #369 closed

[2016-01-14 11:21] mgechev commented on #369
I closed this issue since it is no longer related to the seed.

[2016-01-14 11:23] mgechev commented on #372
It seems like this issue is resolved? [Now we copy assets in dev](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.assets.dev.ts). because of several issues in the past and the external component templates.

[2016-01-14 11:23] #372 closed

[2016-01-14 11:26] e-oz commented on #372
No, still only 1 file copied (most fresh version of seed - master branch).

<img width="248" alt="screenshot 2016-01-14 14 25 03" src="https://cloud.githubusercontent.com/assets/526352/12323225/b7b86126-baca-11e5-9b3f-b96a2b48e5a9.png">

[2016-01-14 11:29] e-oz commented on #372
@ludohenin no, it's because I had links to assets and in "beta.0" release they weren't working without `<=% APP_ROOT %>assets/` addition (and were working just fine in deployed prod build). In `beta.1` release it's fixed, so please ignore my ask to make it configurable. And thank you for fixing it.

[2016-01-14 11:32] e-oz commented on #380
@antonybudianto thanks, I think beta.0 is good enough.

[2016-01-14 11:32] #380 closed

[2016-01-14 11:47] mgechev commented on #372
@e-oz you may need to add `ttf`, `eot` and `woff` files to this task https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.assets.dev.ts

[2016-01-14 11:48] Bigous commented on #335
@jseravalli For production build you should start a server at dist/prod and the root is / in browser. Just in the development env it's necessary.

[2016-01-14 11:52] e-oz commented on #372
@mgechev thank you. I wonder why not `**` :) But maybe there are reasons for it. Thank you, now I know where to configure it.

[2016-01-14 12:02] mgechev commented on #372
May be we can copy everything except `*.ts` files in order to ease the configuration?
// cc @ludohenin

[2016-01-14 12:16] ludohenin commented on #372
@mgechev sounds good to me.

[2016-01-14 16:07] Sophia-nguyen commented on #378
I'm clear, thanks @ludohenin :)

[2016-01-14 17:26] jseravalli commented on #335
Thanks for the response, it makes sense now. 😁

I'll see if I can try with a soft link and if I'm successful I'll post my results here.

[2016-01-14 20:34] tandu opened #383 "npm run build.prod broken"
If I add `homeCmp` in `app.ts`
[code]
and add home tag in `app.html`
[code]

I get `﻿RangeError: Maximum call stack size exceeded` error when run production version of angular2-seed. It happens if I put any component into `app.html`. In my application it is `topBar` component.
<img width="1280" alt="screenshot 2016-01-14 23 31 05" src="https://cloud.githubusercontent.com/assets/273313/12336704/f89

[2016-01-14 20:36] mgechev commented on #383
`HomeCmp` is already added in `@RouteConfig`, you don't have to add it in `directives`.

[2016-01-14 20:37] tandu commented on #383
Yes, it solves the issue. Why it doesn't break in dev?

[2016-01-14 20:39] tandu commented on #383
I have looked at my code, I don't have component being listed in routes and have this issue.

[2016-01-14 20:50] tandu commented on #383
I have created new component `Cmp` and added it to angular2-seed. It breaks application in prod.
[angular2-seed.zip](https://github.com/mgechev/angular2-seed/files/90989/angular2-seed.zip)

[2016-01-14 20:51] mgechev commented on #383
I'll take a look at this issue tomorrow.

[2016-01-14 21:00] tandu commented on #383
Just in case it might matter - I'm testing it by running python server and then opening it in browser at `localhost:8000`:
[code]

[2016-01-14 21:18] VictorEverett opened #384 "question: why is an iframe being generated"
I see in the generated html an iframe and the angular code is placed within the iframe.  why is the iframe being used?  if there an option to not use an iframe?  is this generated by gulp?  just  trying to understand.  thanks for your response

[2016-01-15 07:53] ludohenin commented on #384
@VictorEverett I don't have any `iframe`

[2016-01-15 08:12] #384 closed

[2016-01-15 13:16] jmfvarela commented on #368
Hi @mgechev. I've verified it, but the installation proccess (npm install) doesn't work on Windows. Perhaps is my problem. I´m goig to check it when I have a chance...

[code]

[2016-01-15 13:17] jmfvarela commented on #368
It seems to be my version of Python, required by gyp...

[2016-01-15 13:38] VictorEverett commented on #384
thanks for working with me on this.  I can't imagine why whey I run the app I get an iframe yet when you run the app you don't.  why would you just close this?

[2016-01-15 13:58] mgechev commented on #383
@tandu the issue seems fixed in this branch https://github.com/mgechev/angular2-seed/tree/prod-enhancements.
Let me know if it solves your issue.

[2016-01-15 13:59] mgechev commented on #364
@flofly you can give it a try at https://github.com/mgechev/angular2-seed/tree/prod-enhancements.

Let me know what you think.

[2016-01-15 14:04] #288 closed

[2016-01-15 15:48] mgechev commented on #384
If you are using this project and you see an iframe then take a look at the browser extension's you've installed.

I closed the issue because it is not related to the angular2-seed.

[2016-01-15 16:13] Bigous commented on #368
Yes... it needs python 2.7 ...

[2016-01-15 18:55] tandu opened #389 "Roll back to angular beta 0"
Can you roll back to beta 0 until this is fixed?
https://github.com/angular/angular/issues/6489
https://github.com/angular/angular/issues/6404

I have these exceptions in my application and if I set angular version to beta 0 it complains about hot-loader: `angular2-hot-loader@0.0.16 requires a peer of angular2@2.0.0-beta.1 but none was installed.`

[2016-01-15 19:12] #383 closed

[2016-01-15 19:22] #364 closed

[2016-01-15 19:22] #362 closed

[2016-01-15 19:22] #350 closed

[2016-01-15 19:24] mgechev commented on #389
In order to fix it just use `angular2-hot-loader@0.0.15`.

[2016-01-15 19:24] #389 closed

[2016-01-15 19:35] tandu commented on #383
I have checked, it works well, thank you.

[2016-01-15 19:36] #375 closed

[2016-01-15 19:58] tandu opened #390 "Minified css breaks unicode symbols"
[code]
is converted to
[code]
in production.

[2016-01-15 20:33] mgechev commented on #390
Thanks for reporting this out! Unfortunately it is not issue in the seed but in cssnano. Would you report it there?

[2016-01-15 21:09] ben-eb commented on #390
I've tried this with v3.4.0 and I can't reproduce on the command line; the output is correct:

[code]

Perhaps it is something else in your environment?

[2016-01-15 21:50] mgechev commented on #390
@ben-eb thanks for taking a look at it! It seems that bundling the external styles and minifying them works fine, however, inlining components' styles breaks.

@ludohenin would you take a look at this? I suppose there's something wrong with https://github.com/ludohenin/gulp-inline-ng2-template.

[2016-01-15 22:24] ludohenin commented on #390
nope it works fine with the plugin. I've updated the test https://github.com/ludohenin/gulp-inline-ng2-template/blob/master/test/fixtures/app.css#L4-L6

[2016-01-15 23:08] BostjanPisler commented on #379
+1

[2016-01-15 23:14] LuxDie opened #391 "Sass task example breaks test task"
Hi. After the last change in the example, where generated `css` files where moved from `APP_SRC` to `APP_DEST`, applying the example breaks tests. Tests use `gulp-inline-ng2-template` to read css from `APP_SRC`, so when it finds only `scss` files, it fails.
A simple change to make `gulp-inline-ng2-template` read from `APP_DEST` is not enough, because there is no guarantee that the tasks that gener

[2016-01-15 23:35] BostjanPisler opened #392 "Uncaught ReferenceError: require is not defined"
I get this error in chrome console when I add angular2-jwt to the project.
Same problem in the sails example also.

[2016-01-16 01:14] BostjanPisler commented on #392
Ok now it's gone and the app works, but I'm getting 1600 lines of "Duplicate identifier ..." in iTerm.

[2016-01-16 14:37] tandu commented on #390
Check this.
[angular2-seed.zip](https://github.com/mgechev/angular2-seed/files/92926/angular2-seed.zip)
<img width="869" alt="screenshot 2016-01-16 17 36 39" src="https://cloud.githubusercontent.com/assets/273313/12372883/bd470fda-bc77-11e5-9150-dd6008830bae.png">

[2016-01-16 15:26] mgechev commented on #392
You just need to:

[code]
And inside, for instance, `about.ts` use:

[code]

[2016-01-16 15:26] #392 closed

[2016-01-16 15:29] mgechev commented on #376
Lets close this issue since it is not related to the seed but to angular2 beta.1 instead.

[2016-01-16 15:29] #376 closed

[2016-01-16 15:35] mgechev commented on #392
You get the typing errors because `angular2-jwt` depends on angular2 beta.0. The seed project on the other hand uses angular2 beta.1 (the latest version). Because of the flat structure of npm 3.x.x we get:

   * angular2 (beta.1)
   * angular2-jwt
      * node_modules
         * angular2 (beta.0)

Both angular2 packages include the typing definitions required by Angular 2 so thats why you get:

[c

[2016-01-16 15:50] mgechev commented on #390
The issue should come from [here](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.js.prod.ts#L15-L16). The combination of ng2-inline-templates & typescript breaks the CSS.

[2016-01-16 15:53] mgechev commented on #391
Hey @LuxDie. You can solve this problem by including the sass preprocessing in the `build.test.ts`.

[2016-01-16 15:57] mgechev commented on #390
@tandu you can give a try to the following snippet at http://www.typescriptlang.org/Playground.

[code]

I don't think that we can solve this issue in the seed, it seems like something related to `tsc`.

[2016-01-16 15:57] #390 closed

[2016-01-16 16:14] mgechev commented on #391
@LuxDie here is a more detailed explanation of how you can do this:

[code]

[code]
[code]
[code]

[2016-01-16 18:03] tandu commented on #390
Ok, thank you. Maybe file issue to tsc dev team?

[2016-01-16 19:17] LuxDie commented on #391
Cool! Thanks for the solution.

I'm confused about the `build.assets.test` task. Why are you copying the `ts` files? Maybe you copied the wrong code? I copied the actual `build.assets.dev` task and it worked.

I still feel this is kind of duplicating code. There should be a way to pass the destination directory to a single task instead of having 2 almost identical tasks.

By the way, it would be g

[2016-01-16 20:14] mgechev commented on #391
There's exclamation mark before the `.ts`, this is negation.

Yes, documenting it will be a good idea. I'll have working on a wiki page as a pending task in mind.

[2016-01-16 20:15] mgechev commented on #390
Yes, it could be. You can open a question there and link it to this issue.

[2016-01-16 21:21] LuxDie commented on #391
Great. I'd be glad to help, may you need it.

[2016-01-17 03:28] BostjanPisler commented on #392
Awesome, both solutions worked.

For 2nd one I forked and PR'd with updated dependency. Also temporarily ran:
`npm install github:BostjanPisler/angular2-jwt --save`

Thank you for the help and for the great repo, perfect setup IMO.

[2016-01-17 06:36] LuxDie commented on #377
I have this problem right now and `npm cache clean` doesn't help. `npm reinstall` fails no matter what. I'm on Windows 10,

[2016-01-17 21:20] tandu commented on #390
https://github.com/Microsoft/TypeScript/issues/6521#issuecomment-172381883

[2016-01-18 12:00] mgechev commented on #390
@tandu thanks for sharing the link! I'm following the discussion there.

[2016-01-18 17:15] nareshbhatia opened #393 "Using 3rd party JavaScript libraries such as moment.js"
I am completely new to TypeScript and angular2-seed. I see a number of references to using 3rd party libraries in angular2-seed but they all assume I know about things like `tsd` etc. Without this kind of background, I tried the following naive way, which obviously did not work:

    npm install moment --save

then added following line to `DEV_NPM_DEPENDENCIES` in config.ts

    { src: 'moment/mom

[2016-01-18 21:44] koodikindral opened #394 "prod build behaves differently in windows & unix environments - wrong injectables"
npm run build.prod:

*unix:*

/dist/prod/index.html:

    <script src="js/shims.js"></script>
    <script src="js/app.js"></script>

*windows:*

/dist/prod/index.html:

    <script src="/dist/prod/js/shims.js"></script>
    <script src="/dist/prod/js/app.js"></script>

Same goes for the CSS

[2016-01-18 22:07] koodikindral commented on #394
Here is the problem:

*tools/tasks/build.index.prod.ts:*

    transform: function (filepath) {
        let path = filepath.split(sep);
        arguments[0] = path.slice(path.length - 2, path.length).join(sep);
        return plugins.inject.transform.apply(plugins.inject.transform, arguments);
    }

sep in windows environment: \
sep in unix: /

[2016-01-19 06:03] mgechev commented on #394
Thanks for the PR!

[2016-01-19 06:04] #394 closed

[2016-01-19 06:42] #379 closed

[2016-01-19 06:45] mgechev commented on #393
Hey @nareshbhatia you can take a look at the explanation on how to include `angular2-jwt` in the project https://github.com/mgechev/angular2-seed/issues/392#issuecomment-172216617.

In short. You need the library:

[code]
After that you need the type definition:
[code]
and at last, you need to include it in your project:
[code]

[2016-01-19 06:45] #393 closed

[2016-01-19 07:07] mgechev commented on #206
Fixed by https://github.com/mgechev/angular2-seed/commit/18b988cef70fe9c07abb7ecac64822d7d59f566e

[2016-01-19 07:07] #206 closed

[2016-01-19 08:26] NathanWalker commented on #379
@evanplaice got tied up in work but thanks for this effort, much nicer and ready to scale!

[2016-01-19 08:32] NathanWalker commented on #370
@ludohenin I've seen a similar error even on OS X depending on whether the web driver was updated.
Did you try running this first?:
npm run webdriver-update

[2016-01-19 12:09] evanplaice commented on #379
@NathanWalker Thanks, the encouragement is much appreciated :+1:

[2016-01-19 12:45] nareshbhatia commented on #393
@mgechev, I tried your suggestion, but I am still getting:

    error TS2307: Cannot find module 'moment/moment'

I also tried changing my import to the following based on a stackoverflow question:

    import * as moment from "moment";

but I get the same error.

P.S. I took out the `src` line from DEV_NPM_DEPENDENCIES. Assuming that that is not needed.

[2016-01-19 15:21] mgechev commented on #393
Did you use:

[code]

This is required in order to make the type definitions visible to tsc.

Yes, the import is:

[code]

[2016-01-19 15:30] mgechev commented on #370
I can't reproduce it on Windows 8.1 running in Parallels. Had the same issue when I forgot `npm run webdriver-update`.

[2016-01-19 16:12] nareshbhatia commented on #393
Yes, I did run

    tsd install moment --save

I have the correct import:

    import * as moment from 'moment';

But I am still getting the error.

Here is the output from `cd tools/typings/tsd && tree .` `moment` is there:

[code]

Also I see that `tsd.json` now contains:

[code]

[2016-01-19 16:15] mgechev opened #397 "Add wiki page"
It will be extremely useful if we include a wiki page with examples:

- How to add a third party library to the seed:
   - Installing the module
   - Adding the type definitions (external via tsd and distributed with the package)
   - Referencing the module inside of any of the project files
- Extending the build with a custom task (for instance adding SASS support, which is almost completely desc

[2016-01-19 16:19] mgechev commented on #393
Okay, I see. You can fix this by:

1. Create a file in `app` called `typings.d.ts`.
2. As content of the file add `/// <reference path="../tools/typings/tsd/moment/moment.d.ts"/>`

This should fix your issue.

[2016-01-19 16:31] nareshbhatia commented on #393
That indeed fixes the problem! Can you please explain what this is doing? I could not find a reference to `typings.d.ts` anywhere. Is this a magic file?

[2016-01-19 16:43] mgechev commented on #393
Take a look at the `build.js.dev.ts` [task](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.js.dev.ts#L8-L11). It searches the entire `app` directory for type definitions (not `tools/typings`). We added `typings.d.ts` to this directory which made the typing visible to the compiler.

Do not include `tools/typings` because you'll get plenty of duplicate definitions.

[2016-01-19 16:48] nareshbhatia commented on #393
Got it! Thanks a lot for your help on this.

[2016-01-19 17:00] NathanWalker opened #398 "Advanced project seed - extended option to angular2-seed"
Over the next couple weeks, I'm thinking about expanding a fork of this seed to represent a more advanced seed. It will remain a fork (or branch here) so improvements to the build can always be merged into it. It will not change anything about the setup, but rather expand it to become a more sophisticated setup for a larger project. Curious what everyone believes would represent a nice advanced se

[2016-01-19 18:40] NathanWalker commented on #397
great idea +1 ... I'll help soon!

[2016-01-19 18:48] gustavolira opened #399 "No provider for ControlContainer!"
Hi,
Today I did a pull at project and now I all angular2 js is loading separeted taking much more time to finish to load the page.
Another  problem after this is that I'm receiving now this exception "No provider for ControlContainer! (NgControlName -> ControlContainer)" looks like some .js of angular 2 related to NgControl is not being imported.
There's some way to load only angular2 bundle js in

[2016-01-19 18:54] NathanWalker commented on #399
I haven't seen the `ControlContainer` error, however I also noticed the slow load time with each and every individual js file being loaded separately today with all the latest changes that have been being merged in.
Not sure what is the cause.

[2016-01-19 19:13] gustavolira commented on #399
Hi @NathanWalker  you will see the error if you use ngControl at your html pages

[2016-01-19 19:25] NathanWalker commented on #399
@gustavolira To fix that, you have 2 options:
A. in main.ts:
[code]

B. in your component that uses the form:
[code]

[2016-01-19 19:36] gustavolira commented on #399
Hi @NathanWalker  thank you very much for you attention!
I tested both but unfortunately none worked.
I already using ```js directives: [FORM_DIRECTIVES]``` and them I add ```js providers: [FORM_PROVIDERS]``` but with no success

[2016-01-19 19:45] NathanWalker commented on #399
If you don't mind please copy/paste your entire component here with
template, that would help.

On Tue, Jan 19, 2016 at 11:36 AM gustavolira <notifications@github.com>
wrote:

[2016-01-19 19:59] gustavolira commented on #399
Sure, no problem
This is my login.ts
[code]

This is my html
[code]

[2016-01-19 20:17] nareshbhatia commented on #379
@evanplaice, nice work!

One request: for those who like to keep sources and tests in separate folders, could you please add a little note as to how to achieve that? What tasks would be impacted?

[2016-01-19 20:34] NathanWalker commented on #399
Hmm, looks right at first glance. You should probably remove `action="index.html"` from the form and have you tried putting `FORM_PROVIDERS` on your bootstrap instead of directly in the component here as well?

[2016-01-19 20:36] gustavolira commented on #399
Yes I tried, after pull these works like a charm

[2016-01-19 20:38] NathanWalker commented on #399
Oh excellent :+1:

[2016-01-19 20:38] gustavolira commented on #399
Sorry I write wrong, BEFORE PULL these works like a charm

[2016-01-19 20:39] NathanWalker commented on #399
I'm going to separate out your other concern about the separated js loading into another issue.

[2016-01-19 20:42] gustavolira commented on #399
Thank you very much @NathanWalker and sorry for my mistake

[2016-01-19 20:42] NathanWalker opened #400 "loading all angular2 js separated"
I broke this issue out of a compounded issue here:
https://github.com/mgechev/angular2-seed/issues/399 ... which I renamed to his other issue.

As @gustavolira mentions...

I have also seen this in the latest changes and not sure why every single little .js file is now loading separately. It makes development much slower as the page load to refresh is now painfully slow. :(

[2016-01-19 20:43] NathanWalker commented on #399
Not sure what's going on with your setup. Someone else may see something that may help you.

[2016-01-19 21:10] mgechev commented on #400
The issue should be fixed in this branch https://github.com/mgechev/angular2-seed/tree/fix-400

@NathanWalker would you verify and merge?

[2016-01-19 23:07] evanplaice commented on #379
@nareshbhatia Sure thing.

Since a feature is created a self-contained module of code you'd simply move the tests from the `components` folder into a `tests` folder.

[code]

The tasks aren't impacted at all. You'll have to fix the path in the .spec file to point to the new location of the feature component. The e2e test uses a headless web browser to test the rendered output so the paths/structur

[2016-01-20 00:18] zachallen opened #402 "Doesn't work in Internet Explorer 11"
Cloned the repo today, ran `npm install` and `npm start`. The server starts up fine but the page doesn't render in Internet Explorer 11 (The page just shows Loading...). Console shows:

[2016-01-20 03:24] nareshbhatia commented on #379
Awesome! Thanks, @evanplaice.

[2016-01-20 08:59] mgechev commented on #402
Everything should work now.

[2016-01-20 08:59] #402 closed

[2016-01-20 16:00] NathanWalker commented on #400
IE issue with beta.1 :(
https://github.com/angular/angular/issues/6501

[2016-01-20 16:06] mgechev commented on #399
Lets close this issue since it doesn't seems related to the seed.

@gustavolira thanks for pointing out the show load of dev! Thats the fix https://github.com/mgechev/angular2-seed/commit/7cd0653b5e74b24ed13e6fffb69284a77abf56a3. We're only waiting for beta.2 to allow us merge it.

[2016-01-20 16:07] #399 closed

[2016-01-20 16:19] gustavolira commented on #399
@mgechev Anyway thank you for your attention.
What is strange is that this exception only started happening after I updated my angular2-seed project.
I will try figure out this

[2016-01-20 16:22] mgechev commented on #399
@gustavolira what changes did the update introduce? Change of Angular 2's version?

[2016-01-20 18:31] gustavolira commented on #399
Hi @mgechev I just change 2.0.0-beta.1 to 2.0.0-beta.0 and now is working again.
I found someone with same problem with beta.1 https://github.com/angular/angular/issues/6374
Thank you for your attention and patience

[2016-01-21 07:55] heikoholland opened #404 "Font files are missing in build.prod"
When building a prod package and fonts are included via css they won't get included in the prod package.

Current workaround is to copy all files manually in the app/ directory.

I think this could be done in a gulp task. Am I right?

[2016-01-21 09:33] mgechev commented on #404
If the font files are located somewhere inside `assets` then the task `build.assets.prod` will [copy them](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.assets.prod.ts).

If you're using fonts from `node_modules` you need to explicitly specify that the need to be copied in [`config.ts`](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts)

[2016-01-21 09:35] mgechev commented on #398
The project sounds fun to me. I think if it is a separate repository it'll be more discoverable. What do you think?

[2016-01-21 12:53] Bigous commented on #398
I like the Idea, but why not having all of it inside this seed on master? I already consider this seed "advanced" specially if you compare with any other angular2 seed :D

[2016-01-21 19:57] redaikidoka opened #405 "npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0"

[2016-01-21 19:57] redaikidoka opened #406 "npm WARN deprecated npmconf@2.1.1: this package has been reintegrated into npm and is now out of date with respect to npm"

[2016-01-22 09:47] NathanWalker commented on #398
@Bigous Yes indeed this is a great seed and certainly is `advanced` as far as most projects go.
What I'm aiming for with a more advanced seed is to expand what's already great about this seed into a setup with quite a deeper level of sophistication supporting targeting cross platform native mobile apps with NativeScript as well as cross platform native desktop applications with Electron. It would

[2016-01-22 14:32] ludohenin commented on #398
@NathanWalker sounds great.

[2016-01-22 21:27] gustavolira opened #409 "3rd party dependencies not found"
Hi,
If you do:
```npm install angular2-jwt --save```
And them add in config.ts at DEV_NPM_DEPENDENCIES:
{ src: 'angular2-jwt/angular2-jwt.js', inject: true, dest: JS_DEST }

And them import angular2-jwt at some component like:
import {tokenNotExpired} from 'angular2-jwt/angular2-jwt';

You will receive ``` http://localhost:5555/dist/dev/angular2-jwt/angular2-jwt.js 404 Not Found```

[2016-01-22 21:34] mgechev commented on #409
@gustavolira take a look at [this issue](https://github.com/mgechev/angular2-seed/issues/392).

[2016-01-22 21:34] #409 closed

[2016-01-22 21:54] mgechev commented on #397
Done! Here's the basic [wiki page](https://github.com/mgechev/angular2-seed/wiki).

[2016-01-22 21:54] #397 closed

[2016-01-22 22:13] mgechev commented on #405
We can't do much here. The warning comes from old version of `glob-watcher` which comes as dependency of `vinyl-fs`.

[2016-01-22 22:13] #405 closed

[2016-01-22 22:15] tarlepp commented on #405
@redaikidoka create an PR to that repo that is using old version of lo-dash. That should help with this one.

[2016-01-22 22:19] mgechev commented on #398
@NathanWalker sounds good to me. Keep me up-to-date, I'd love to follow your progress! :-)

[2016-01-22 22:19] #398 closed

[2016-01-22 22:19] #370 closed

[2016-01-22 22:24] mgechev commented on #330
@tarlepp I like it! The suggestion by @ludohenin makes sense, it'll be great to include specific configuration based on the set environment.

Also, you can externalize [most of these constants](https://gist.github.com/tarlepp/f3105107575b4b6d0931#file-config-ts-L10-L42). What do you think?

[2016-01-22 22:25] mgechev commented on #406
@redaikidoka I agree it is annoying warning but it is not directly related to the seed.

[2016-01-22 22:25] #406 closed

[2016-01-22 22:30] tarlepp commented on #330
Yeah, env specified config files should not be a problem. What needs some thinking imho:
* What is the format? json, yaml? I would prefer json
* Is it ok that app checks some not existing file? eg. if dev.json not founded app will use 'static' defaults
* I would keep those constants because of imports, or is there some another way to get this working?
* Docs should be updated after this PR
* What

[2016-01-22 22:35] mgechev commented on #330
* Yes, JSON seems good to me
* I'm thinking of a `config` directory under `./tools`
* Yes, I think that should be the default behavior (if the config doesn't exist use the hardcoded configuration inside `config.ts`)
* Yes, keep the current constants. You can just set them different value based on the choosen configuration based on the environment, in case such a config file exists
* Yes, the docs

[2016-01-23 07:48] ludohenin commented on #330
@mgechev what do you think openning a `config` branch, @tarlepp to make a PR on that one so we can work on it from this repo ?
Maybe some comments
* JSON +1 (by default but keep it open)
* `config` +5
* I would get rid of the current constant and add `seed.json, seed-default.json ... whatever`. The `extend` cascade could maybe be `seed.json => seed.env.json => user.env.json` Maybe we should be abl

[2016-01-23 11:45] jmfvarela commented on #368
OK
Also node-gyp needs Microsoft Visual Studio C++ 2013 in Windows (https://github.com/nodejs/node-gyp).
Do you know why it is needed node-gyp for angular-seed?

[2016-01-23 12:20] mgechev commented on #368
@jmfvarela I guess any of the dependencies uses it, may be indirectly.

[2016-01-23 19:18] gdi2290 opened #410 "upgrade `tsd` to use `typings`"
see https://github.com/angular/answers-app/pull/27/files and https://github.com/angular/universal-starter/commit/cfb7b52b12e1da9de7ee7c2a452e7636c93aaa09
[code]
For the differences between `tsd` and `typings` see https://github.com/typings/typings/issues/72

[2016-01-24 03:30] NathanWalker commented on #410
Thanks @gdi2290 I'll take care of this tomorrow!

[2016-01-24 09:37] NathanWalker commented on #410
https://github.com/mgechev/angular2-seed/pull/411

Please see comments there ^, @gdi2290 I need your help to finalize.

[2016-01-24 17:00] e-oz commented on #147
Not sure why it's closed, it's still an issue.
If there are global dependencies - please list them.

[2016-01-24 17:04] e-oz commented on #132
Second time I have to work with people to help them install all things, it takes a lot of time.
Please consider to enlist all global dependencies or ensure `npm install` works same everywhere.

[2016-01-24 17:27] NathanWalker commented on #132
@e-oz Agreed. I'm trying to make this more reliable and stable here: https://github.com/mgechev/angular2-seed/pull/411
Still working through it, but hopefully soon. `typings` is much better than `tsd`, and while I'm at it, I'm trying to make `npm install` just works without hassle.

[2016-01-24 17:42] mgechev commented on #132
@NathanWalker I'm following the progress. Switching to typings looks like a good idea to me. Until the refactoring is ready I updated the [readme with more instructions](https://github.com/mgechev/angular2-seed/commit/a2fa0fe99302f178382a2424b8196ff3839a5942).

[2016-01-24 18:45] e-oz commented on #132
I just finished one problem-solving session and can say all issues were because node was installed with sudo (as default installer does).

[2016-01-24 18:50] NathanWalker commented on #132
Ah yes, I have seen that trouble on other dev setups. Definitely can be frustrating when trying to get a team setup.

[2016-01-25 18:35] mgechev opened #412 "Add query parameters for `dev` in order to prevent caching"

[2016-01-26 16:16] fellz opened #413 "Failed to build prod version"
Hi
I run into issue with building production bundle, so here is command in console

``` npm run build.prod ```

then i have this index.html in dest/prod

https://gist.github.com/fellz/44950e7628430022327d

what prod file should look like ? 1 css file and 1 js file + System.js config in <script> section ?

[2016-01-26 18:12] NathanWalker opened #414 "Update requirements and setup to use Node >=5.4.1 <6 and npm >=3.5.3 <4.0?"
Now that the angular repo has updated to the latest node/npm, should we update this seed as well just to advance in that direction?
https://github.com/angular/angular/blob/master/DEVELOPER.md

[2016-01-26 22:27] mgechev commented on #413
I can't reproduce it. When I run `npm run build.prod` in `dist/prod` I have:

[code]

[2016-01-26 22:28] mgechev commented on #414
We're not dependent on the Angular's build process so I think we're good.

[2016-01-26 22:28] #414 closed

[2016-01-26 23:05] fellz commented on #413
Ok you can try my build here https://github.com/fellz/Angular-seed-app

[2016-01-26 23:29] #413 closed

[2016-01-27 01:42] Bigous commented on #414
I think we should keep with LTS too..

[2016-01-27 02:11] NathanWalker commented on #414
:+1:

[2016-01-28 05:44] ahmad2x4 opened #415 "Is it possible to build index.html and copy outside of dist/dev"
I want to use `<app></app>` in any html  in website outside of dist/[env]:
When you build index.html all js and shims are referenced with {APP_BASE} path which is great.
But if you try to build and copy index.html to other directories (let say root), you would get 404 for loading app.html (this is used in templateURL)
Is there any way to replace ./app paths for templateURLs either in build tasks o

[2016-01-28 08:38] ahmad2x4 commented on #415
Found an awesome post in [reddit](https://www.reddit.com/r/Angular2/comments/3ylt5b/angular2_relative_paths_for_templateurl_and/) basically it referees to [CommonJS module format in SystemJS](https://github.com/systemjs/systemjs/blob/master/docs/module-formats.md#commonjs)
If we mention `moduleId = module.id` [ComponentMetadata](https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.ht

[2016-01-28 10:52] NathanWalker opened #416 "Preview of angular2-seed-advanced (Compliment to this seed) - built-in support for i18n, lodash, and many more coming..."
For those that want to see the beginnings of a relatively sophisticated setup which expands on this excellent seed:
https://github.com/NathanWalker/angular2-seed-advanced

- Full i18n support using [ng2-translate](https://github.com/ocombe/ng2-translate) implemented as well as integration with `lodash`.
- Examples of creating custom decorators for your components to reuse common setups.
- You can

[2016-01-28 10:54] ocombe commented on #416
Nice ! I'll take a look at it tonight ! (even if I prefer webpack :P)

[2016-01-28 14:29] ludohenin commented on #370
LGTM

[2016-01-28 14:36] ludohenin commented on #416
This is going to be cool :)

[2016-01-28 14:38] ludohenin commented on #415
@ahmad2x4 there might be an issue with the hot loader and relative path. I guess @mgechev will confirm.

[2016-01-28 16:47] malfborger opened #417 "launch.json for vscode"
If you'd like to debug in vscode debugger is it possible together w/ gulp? I've tried to setup a launch config like this
`{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Launch",
			"type": "node",
			"request": "launch",
			"program": "app/main.ts",
			"stopOnEntry": false,
			"args": [],
			"cwd": ".",
			"runtimeExecutable": null,
			"runtimeArgs": [
				"--nolazy"
			],
			"env": {

[2016-01-28 18:12] ludohenin commented on #417
@malfborger Do you want to debug the ng2 app or the build tools ?

[2016-01-28 18:16] malfborger commented on #417
the whole ng2 app! @ludohenin

[2016-01-28 18:17] Bigous commented on #417
I'm assuming you are trying to debug the final app and not the build... if that is the case, VSCode does not provide integration with Chrome out of the box. [There is an extension](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) to do this job...  but I have never used it... So I cannot tell if it works...

[2016-01-28 18:20] malfborger commented on #417
I'm trying to debug the current build, are you guys doing it in dev tools instead?

[2016-01-28 18:22] ludohenin commented on #417
@malfborger yes that's what I do, and use vscode debugger for node applications.

[2016-01-28 18:23] Bigous commented on #417
Me too... just press F12 inside chrome and be happy ;)

[2016-01-28 18:26] malfborger commented on #417
hehe ok, I'll start w/ that :) Thanks for quick answers, close it :)

[2016-01-28 18:26] #417 closed

[2016-01-28 18:49] loul42 commented on #132
npm install typescript-register ts-node
doesn't fix the

var result = checker.emitFiles(); error for me.

[2016-01-29 00:33] ahmad2x4 commented on #415
@ludohenin Yeah.  build.dev is OK but it seems build.prod does not like this approach. gulp-inline-ng2-template looks for html file in root

[2016-01-29 02:17] ahmad2x4 commented on #415
@ludohenin  to make gulp-inline-ng2-template happy I just needed to pass useRelativePaths: true and update to version 0.0.10.

[2016-01-29 07:58] vikmeup opened #418 "Sample code how to create network manager to work with REST API"

[2016-01-29 09:14] RunningV opened #419 "what's the seed's nodejs version NO？does those ERR effect ?"
npm ERR! node v4.2.0
npm ERR! npm  v2.14.10
npm ERR! code ELIFECYCLE

npm ERR! phantomjs2-ext@0.1.0 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs2-ext@0.1.0 install script 'node install.js'.
npm ERR! This is most likely a problem with the phantomjs2-ext package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm

[2016-01-29 10:36] creat-or commented on #389
beta.2 has been released yesterday :)

[2016-01-29 14:57] Bigous commented on #418
Create a service that injects HTTP and use it...

[2016-01-29 15:32] gustavolira commented on #400
beta.2 released!
Now is possible!!

[2016-01-29 15:43] Bigous commented on #416
Really good Work Nathan.

[2016-01-29 15:48] malfborger commented on #418
@vikmeup I can recommend https://coryrylan.com/blog/angular-2-observable-data-services . Good examples

[2016-01-29 16:13] malfborger commented on #188
Have someone solved it nicely w/ SASS?

[2016-01-30 11:44] mgechev commented on #389
Yes, I'll upgrade today.

[2016-01-30 11:46] mgechev commented on #419
Problem in phantomjs2-ex as npm states? It is not issue related to the seed.

[2016-01-30 11:46] #419 closed

[2016-01-30 21:03] #418 closed

[2016-01-30 21:04] mgechev commented on #416
Sounds great! Looking forward for testing it!

[2016-01-30 21:04] #416 closed

[2016-01-30 21:05] mgechev commented on #415
@ahmad2x4 you can run:

[code]

The content of `dist/prod` is self contained so you can move it wherever you want.

[2016-01-30 21:05] #415 closed

[2016-01-30 21:31] mgechev commented on #400
Fixed in https://github.com/mgechev/angular2-seed/pull/420.

[2016-01-30 21:31] #400 closed

[2016-01-30 21:44] mgechev commented on #410
Closed by https://github.com/mgechev/angular2-seed/pull/411.

[2016-01-30 21:44] #410 closed

[2016-02-01 09:09] eng-almeida commented on #132
@loul42 +1

[2016-02-01 09:39] loul42 commented on #132
@eng-almeida Are you using Atom as IDE ?

Close it  & npm start, it will solve your issue...

[2016-02-01 09:44] eng-almeida commented on #132
No, I'm using WebStorm. npm start will work but gulp commands like, gulp serve --env dev, should also work.

[2016-02-01 13:17] e-oz commented on #132
@eng-almeida if you are on osx/linux, try to reinstall node and npm, using one of these techniques: https://gist.github.com/e-oz/32182190f731ced284ea

[2016-02-01 15:02] bertvh commented on #404
I've tried adding the bootstrap glyphicons by adding this

```{ src: 'bootstrap/dist/fonts/glyphicons-halflings-regular.eot', inject: true}```

to PROD_NPM_DEPENDENCIES.

Nothing is getting copied/injected. Not sure where to look.

[2016-02-01 18:43] NathanWalker opened #422 "unit testing - problem with 3rd party lib"
I'm trying to unit test a custom service that uses `ng2-translate`. Everything in dev/prod works fine, but when unit testing. I get these errors:
[code]

In `test-main.js`, i tried modifying to:
[code]

Then in `karma.conf.js`, I added these to the `files` section:
[code]

I'm missing something with the testing config if someone could help.
More can be seen or tried here (just clone and run `npm i

[2016-02-01 19:32] mgechev commented on #422
@NathanWalker what error do you see after these changes?

[2016-02-01 19:51] NathanWalker commented on #422
This error:
[code]

:/

[2016-02-01 21:20] brian428 opened #423 "Additional modules failing to load"
Since work on the beta2 branch is in progress, you may be aware of this. But if I include an additional npm dependency (say, for ng2-bootstrap), at runtime the path used to load to this file is incorrect. Instead of looking under node_modules (as it used to), it tries to find it under /dist. I removed the packages block from config.ts and added back in the paths block, and it seems to work again.

[2016-02-02 00:19] nareshbhatia opened #425 "Running dev builds from '/' instead of '/dev/dist'"
Just trying to understand why dev build is designed to run from `/dev/dist`. I am guessing it's to allow getting node modules from `/node_modules`. Curious if we could run the server with 2 base directories instead: `/dev/dist` *and* `/node_modules`.

The reason I ask is that I am trying to run with `PathLocationStrategy` and I had to hard code `<base href="/dist/dev/">` in `index.html` to make th

[2016-02-02 00:42] NathanWalker commented on #425
Agreed. I believe this does need to change. Using `PathLocationStrategy` must be easy and ready to change from `HashLocationStrategy` out of the box. +1
I'll leave to @mgechev @ludohenin @tarlepp  for best way forward here.

[2016-02-02 00:43] NathanWalker commented on #422
Looks like this may be related to problems with `ng2-translate`:
https://github.com/ocombe/ng2-translate/issues/24

[2016-02-02 02:07] Bigous commented on #425
+1

[2016-02-02 07:04] NathanWalker commented on #422
Related to ng2-translate

[2016-02-02 07:04] #422 closed

[2016-02-02 09:30] ludohenin commented on #404
@bertvh Can you try `{ src: 'bootstrap/dist/fonts/**/*', dest: FONTS_DIR }`. Fonts should not be injected.

[2016-02-02 09:53] mgechev commented on #425
BrowserSync seems like a good idea to me. I can take care of this during the weekend. If anybody wants to help with the migration from express to BrowserSync - PRs are greatly appreciated!

[2016-02-02 09:59] ludohenin commented on #425
+1 for BrowserSync.
@mgechev will see if I can come up with something before the week-end :)

[2016-02-02 10:06] mgechev commented on #423
Good point!

[2016-02-02 10:06] #423 closed

[2016-02-02 10:12] #412 closed

[2016-02-02 11:29] Bigous commented on #425
The only problem with BrowserSync is that it's compiled... and on Windows it can be a pain...

[2016-02-02 12:41] nareshbhatia commented on #425
Not a Windows user, so don't have any experience there. I did find [this note](https://www.browsersync.io/docs/#windows-users) on the BrowserSync site, does that help reduce the pain? Otherwise, I have found BrowserSync to be an immensely useful out-of-the-box solution for app development.

[2016-02-02 13:42] Bigous commented on #425
Yes, the pain is that people on Windows usually doesn't have the Visual Studio or python installed to build C++ programs. Specially if they doesn't write code in C/C++.
This is one reason way many projects (like [phamtonjs](http://phantomjs.org/)) went to a solution of having the binary itself ready to download and use as a fallback to the compilation process.
There is the [node-pre-gyp](https://g

[2016-02-02 14:13] nareshbhatia commented on #425
Do you know of other solutions that are less painful on Windows? For example, [live-server](https://github.com/tapio/live-server) or [http-server](https://github.com/indexzero/http-server). The fallback, of course, is express with multiple base directories. I just try to not reinvent the wheel :-).

[2016-02-02 15:22] Bigous commented on #425
I use them both, live-server and http-server... to test the production build at this seed I use http-server installed globally. To me BrowserSync is not a problem as well, as I'm a C/C++ developer :D. My concern is about common windows web developers...

[2016-02-02 16:59] ludohenin commented on #425
So BrowserSync doesn't seem to be such a good idea.
I'm pretty sure we can find a way make the `LocationStrategy` configurable.
We basically have those 2 providers set:
[code]
There's no need to set the `base` element.
What do you think ?

[2016-02-02 17:39] allenhwkim opened #427 "IE11 console error"
Seeing errors of SCRIPT5007: Unable to get property 'prototype' of undefined or null reference

![image](https://cloud.githubusercontent.com/assets/1437734/12758357/d23ce3a8-c9a9-11e5-9a51-9ca04b102051.png)

![image](https://cloud.githubusercontent.com/assets/1437734/12758391/f20ac524-c9a9-11e5-9979-523c46ed25fa.png)

My guess is there is some error related to System JS polliyfill.

[2016-02-02 18:48] Bigous commented on #425
@ludohenin Just an add, PathLocationStrategy is the default strategy, so, we can just do:
[code]
It will start the app normally, but at `/dist/dev/`... to achieve the goal of the issue, we will need to set `/` to `./dist/dev` in express and add `node_modules` route to `./node_modules` in dev environment.

[2016-02-02 19:21] Bigous commented on #425
Ok, I looked deeper into `browser-sync`... it's not compiled... `utf-8-validate` and `bufferutil` which are subdependencies of it are. But they both have pure javascript fallback (they will still emit errors during npm install on windows without python or visual studio, but it will work).
If you choose to use it, windows people won't get hurt :D

[2016-02-02 20:09] brian428 opened #428 "Possible problem with default tsconfig.json"
I notice that the most recent beta2 build changed the tsconfig.json from this:
[code]

to this:

[code]

This seems to introduce issues in IDEA (which understands tsconfig.json). Namely, files in the app/ folder are flagged as not found (the actual error is that they're not present in tsconfig.json). Switching it back to the exclude syntax solves the problem, since that's including everything exce

[2016-02-02 20:44] mgechev commented on #425
Currently Windows people get hurt by the [`ws`](https://www.npmjs.com/package/ws) dependency of the `angular2-hot-loader`.

[2016-02-02 21:12] #428 closed

[2016-02-02 21:12] mgechev commented on #428
@brian428 thats a good point again. This issue should be fixed now.

[2016-02-03 06:41] ojacquemart commented on #425
+1 for browsersync.

Maybe, it could be an another issue but it would be great to provide css injection in order to avoid a full page reload while changing a single line of css. WDYT? I could try to work on it if you want?

[2016-02-03 06:48] mgechev commented on #425
BrowserSync with CSS injection sounds good to me. @ojacquemart it'll be great if you can help with this feature.

[2016-02-03 09:24] mgechev commented on #427
I can't reproduce your issue :-/

[2016-02-03 10:18] tandu opened #429 "How import rxjs extensions?"
Rx import for operators worked that way:
[code]

and now when I updated to latest angular seed version I get this error:
[code]

[2016-02-03 10:36] mgechev commented on #429
Remove the `.js` extension from the import.

It should be:

[code]

[2016-02-03 10:40] tandu commented on #429
Tried import without js, it doesn't work.

[2016-02-03 10:49] mgechev commented on #429
What error do you get? Are you using the latest version of the seed?

[2016-02-03 10:56] tandu commented on #429
I'm using the latest version - updated about an hour ago. Before I was using version about 2 weeks old.
<img width="940" alt="screenshot 2016-02-03 13 55 12" src="https://cloud.githubusercontent.com/assets/273313/12780238/cc41511c-ca7d-11e5-9227-a084b0439de2.png">

[2016-02-03 10:57] tandu commented on #429
You should be able to see that error if replace home.ts with this code in angular seed.
[code]

[2016-02-03 11:04] mgechev commented on #429
@tandu thanks! I'll take a look and let you know what I find.

[2016-02-03 11:07] mgechev commented on #429
@tandu thats weird but I still can't manage to reproduce the issue. I tried both in Chrome and FF. I also removed the import so the `map` method wasn't added to the `Observable`'s prototype.

[2016-02-03 11:11] tandu commented on #429
Hm, I tried clean version of angular seed with the only change in home.ts. I will only get back to my pc in 4-5 hours. I will test it in other browsers and let you know.

[2016-02-03 13:40] allenhwkim commented on #427
Don't have IE11 or have IE11 and works fine for you?

[2016-02-03 14:01] mgechev commented on #427
@allenhwkim would you test against master in order to verify whether the latest changes fix the issue? For me the seed didn't work on IE11 but I got different error.

[2016-02-03 14:51] bertvh commented on #404
Doesn't seem to do anything. If I don't inject the fonts, I need to get them in a location relative to the aggregated minified css (in this case bootstrap.css refers to `./fonts/glyphicons-...`). Maybe I've changed something locally. Will look further. Thanks.

[2016-02-03 15:15] allenhwkim commented on #427
Thanks, verifying with the latest changes ...

[2016-02-03 15:20] mgechev commented on #427
@allenhwkim awesome! Let me know how it goes!

[2016-02-03 15:23] allenhwkim commented on #427
This is the result from my screen.
![image](https://cloud.githubusercontent.com/assets/1437734/12786656/0bf3aad0-ca60-11e5-8874-1074693cc594.png)

[2016-02-03 15:26] mgechev commented on #427
Yep, thats it!

[2016-02-03 15:26] #427 closed

[2016-02-03 15:52] simonh1000 commented on #188
No, and after implementing SASS per the example instructions by production build completely fails looking for css files in each component.

[2016-02-03 16:00] allenhwkim commented on #427
Thank you very much @mgechev

[2016-02-03 16:51] tandu commented on #429
I have double checked. The problem was that I first did similar changes in about.ts and for the simplicity I have moved logic to home.ts as it has less code and removed them from about.ts but forgot to save them on disk. So your suggestion to remove `.ts` is correct. Sorry for inconvenience. You can close the issue.

[2016-02-03 16:53] #429 closed

[2016-02-03 17:21] axetroy opened #430 "how can i add a task to compass the lib"
when I build a project.
run the cmd
[code]
it will generate the folder "dist"
but the lib folder was not compass together

when we want to public this app
we want compass it to reduce the request not requre the lib one by one.

so how do i add a gulp task to compass this?

sorry,I don't good at gulp.

i wish the auth make a thinking for about this
i think it's nesscessry.

thansk

[2016-02-03 22:42] ojacquemart commented on #425
Still in draft https://github.com/ojacquemart/angular2-seed/commit/465156079a997336993a4865648188592d4176f6 but a working brower-sync integration.

[2016-02-04 05:28] jmcota opened #431 "Problem updating SystemJS to 0.19.18"
System.config (index.html) is not working anymore using SystemJS v 0.19.18 for dev/prod.

If I downgrade to SystemJS v.019.17 it's still working.

[2016-02-04 07:13] nitinkumarmishra opened #432 "Can't include gulp-sass."
Hi, thanks for this wonderful seed project. I just wanted to know the proper way to import `gulp-sass` into my project. I'm planning on using it with bootstrap. I tried installing gulp-sass from npm and importing it in my gulpfile.ts. But it errored saying that `gulp-sass module couldn't be found`. Can you help me?

[2016-02-04 07:27] jesperronn commented on #431
Please describe more the error you see (stacktrace, etc). Can you run the tests?

[2016-02-04 08:06] jesperronn opened #433 "manual_typings usage example"
Hi I am running into a problem with adding my own typings file in the folder `manual_typings`.

Eventually, it could be cool with a usage example somewhere here, but for the current state, we don't have it.

I would appreciate some help since I cannot get it to work.

In return, I will distill and update here so that it can serve as a usage example for others to use later :)

My specific problem b

[2016-02-04 09:15] mgechev commented on #433
Hey @jesperronn would you share the content of `mathjs.d.ts`?

[2016-02-04 09:16] mgechev commented on #432
Hey @nitinkumarmishra!

Thanks for the kind words! You can take a look at how to integrate `gulp-sass` in this [Wiki page](https://github.com/mgechev/angular2-seed/wiki/Add-custom-Gulp-task).

[2016-02-04 09:16] #432 closed

[2016-02-04 09:18] mgechev commented on #430
You can use something like [gulp-compass](https://www.npmjs.com/package/gulp-compass). There's guide how to integrate `gulp-sass` with the seed project, doing the same for `gulp-compass` should be quite similar.

[2016-02-04 09:18] #430 closed

[2016-02-04 09:55] jesperronn commented on #433
yeah, it's at https://github.com/jesperronn/DefinitelyTyped/blob/mathjs_mathnode_typings/mathjs/mathjs.d.ts

And I just read about how to refer any custom javascript library without typings. http://stackoverflow.com/a/27434010/109305

The trick Basarat suggests is to add the following line in the top of my file:
[code]

With this, I can now easily use as if I had typings. Much easier, but without

[2016-02-04 09:57] mgechev commented on #425
@ojacquemart looks awesome, great job!

You won't need this workaround if you update the SystemJS config to:

[code]

[2016-02-04 10:04] jesperronn commented on #433
@mgechev thanks for asking. This means that my issue is actually solved and I will close this.

In case others have this problem, it's probably not the most elegant solution, but it works:

## include a pure javascript dependency in the project:
(for this example I will use `mathjs`)

First, install your dependency with npm:

```npm install mathjs --save```

Then, add it to the build script at bot

[2016-02-04 10:04] #433 closed

[2016-02-04 10:46] mgechev commented on #425
Just FYI https://github.com/BrowserSync/browser-sync-client/issues/32#issuecomment-179761912.

[2016-02-04 11:13] mgechev commented on #431
@jmcota would you test against this branch https://github.com/mgechev/angular2-seed/tree/systemjs ?

If your issue is fixed and you don't have any other problems with the introduced changes we'll merge to master.

[2016-02-04 13:46] mgechev opened #434 "Update to beta.3"
Blocked by https://github.com/angular/angular/issues/6887

[2016-02-04 13:59] mgechev commented on #434
WIP here https://github.com/mgechev/angular2-seed/tree/beta.3. I don't think beta.3 is worth merging because of the above issue.

However, I'd suggest to tag it once beta.4 is out.

[2016-02-04 18:40] ojacquemart commented on #425
Thanks, it's ok with the right systemjs config :)
Do you think it is good for a PR while waiting for the new browser-sync version?

I am working on the css injection and have an issue with the styleUrls attribute used on components. Angular injects the css in the head as style elements. It works in the other cases.

[2016-02-04 19:06] mgechev commented on #425
I think we can merge even before the official Angular 2 support if we don't officially announces that we are using browser-sync. This way the introduced change be transparent for the users of the seed and once A2 is officially supported the cross-device livereload will come for free.

[2016-02-05 13:44] jesperronn commented on #434
I am running the beta.3 in a related project. The workaround for me was to install tsd globally, then run.

Did you run into other issues when updating?

[2016-02-06 13:00] Shyam-Chen opened #438 "karma.conf.js line: 39"
Before:
[code]

After:
[code]

[2016-02-06 17:35] tapas4java opened #439 "How about renaming top level `app` folder to `src`??"
Currently we have 2 `app` directories in hierarchy(app root folder and app component).

How about renaming top level `app` folder to `src`??

[2016-02-07 01:28] Bigous commented on #439
+1

[2016-02-07 01:32] UnnoTed commented on #439
it also bothers me, `src` is better organized

[2016-02-07 03:02] NathanWalker commented on #439
I agree as well.
+1 for this reorg of folder setup:
[code]

Keeps all components together in `src` directory and creates a more scalable setup for others.

[2016-02-07 09:55] tapas4java commented on #439
Here is the PR #440

[2016-02-07 10:59] #439 closed

[2016-02-07 10:59] mgechev commented on #425
Fixed by https://github.com/mgechev/angular2-seed/commit/6af7e020ae33cdbea56da25a5cd88508df0c8147. Thanks to @ojacquemart!

[2016-02-07 10:59] #425 closed

[2016-02-07 11:08] NathanielMalca opened #441 "npm start doesn't work npm ERR! Please include the following file with any support request: npm ERR! \angular2-seed\npm-debug.log"
Hey ,

I followed the simple steps of https://github.com/mgechev/angular2-seed#how-to-start

i triggered the npm start command and got the following error:

module.js:328
    throw err;
    ^

Error: Cannot find module 'express'
    at Function.Module._resolveFilename (module.js:326:15)
    at Function.Module._load (module.js:277:25)
    at Module.require (module.js:354:17)
    at require (interna

[2016-02-07 11:16] mgechev commented on #441
@NathanielMalca would you try with a clean clone? I just merged a change in the dev server.

[2016-02-07 11:49] NathanielMalca commented on #441
Hey @mgechev  thanks. just worked :)

[2016-02-07 13:03] harikrishna266 opened #442 "date-formatter.ts not able to find moment.ts"
when i add ng2-bootstrap in my project,  I get an error that moment.js is not found.

[2016-02-07 13:31] fourctv opened #443 "Latest seed causing errors on install - lots of duplicate identifiers, seed is unusable!"
I've just updated to the latest seed, I was going to merge in my changes. But not able to pas the "npm install" step.
It fails on the postinstall script, and more specifically on "gulp build.dev".

I'm getting these errors:

[code]

It seems to be missing something on config.ts... I'll see if I can find it... (npm log attached)

[npm-debug.txt](https://github.com/mgechev/angular2-seed/files/120687

[2016-02-07 13:49] fourctv commented on #443
forget that... it was probably something in my previous seed copy, erased my copy and got a fresh one and errors above are gone.

sorry to raising a non-issue

[2016-02-07 13:49] #443 closed

[2016-02-07 15:09] mgechev commented on #442
Have you tried to add moment as dependency? The seed doesn't contain moment.js so you need to install it.

[2016-02-07 15:09] #441 closed

[2016-02-07 15:10] mgechev commented on #434
Yes, global tsd solves the issue, however, we don't what to depend on a deprecated tool.

[2016-02-07 15:16] harikrishna266 commented on #442
I think i have installed momentjs.
This is the dependencies in package.json
[code]
I have edited the file named date-formatter.js
from
var moment = require('moment');
to
var moment = require('../../../moment/moment');
and then it seems to work. The issue is that everybody in the team has to edit the file
node_module/ng2-bootstrap/components/datepicker/date-formatter.js

i think this is more of ng2

[2016-02-07 15:24] #442 closed

[2016-02-07 19:41] midthun opened #444 "node.d.ts included twice after adding sass, npm start fails"
I followed the steps [here](https://github.com/mgechev/angular2-seed/wiki/Add-custom-Gulp-task) to add support for sass. After following all the steps, I ended up with a "gulp-sass" folder and a "node" folder inside my "typings" folder.

When I try to run "npm start" I get all sorts of "Duplicate identifiers" messages, first one being:

`"typings/main/ambient/node/node.d.ts (15,5): Duplicate ident

[2016-02-07 19:59] jesperronn commented on #434
Wendnesday is Angular release day. Let's wait for beta.4 to be released
this Wednesday, then :1:

On Sun, Feb 7, 2016 at 4:10 PM, Minko Gechev <notifications@github.com>
wrote:

--

Jesper Rønn-Jensen
Nine A/S
Mobile: +45 2989 1822
Blog http://justaddwater.dk/
jesperrr@gmail.com (Private e-mail and Google Talk IM)

[2016-02-07 20:15] nareshbhatia opened #445 "e2e tests have stop working after moving to / as the base URL"
End-to-End tests are still using /dev/dist as the baseUrl. Also the tests themselves are using absolute paths, so Protractor's baseUrl configuration is being ignored. I will send a PR to fix this.

[2016-02-07 23:05] nareshbhatia commented on #445
Fixed with PR #446

[2016-02-07 23:05] #445 closed

[2016-02-07 23:42] nareshbhatia opened #447 "Inconsistency in test compilation"
While unit tests are compiled to `/test`, e2e tests are compiled to `/dist/dev`. This has the following downsides:
- Unit tests and e2e tests are treated inconsistently.
- `/dist/dev` has a mix of application js and e2e js.
- Many people like to keep test source in `/test`, but this name is now taken to store unit test compiles.

Can I suggest the following organization:
- Unit tests get compiled

[2016-02-08 07:18] mgechev commented on #444
You can exclude the extra [node definition here](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.js.dev.ts#L9-L13).

[2016-02-08 07:18] #444 closed

[2016-02-08 07:18] mgechev commented on #431
Closed by https://github.com/mgechev/angular2-seed/pull/436.

[2016-02-08 07:18] #431 closed

[2016-02-08 08:29] NathanielMalca opened #448 "how to debug TypeScript code in browsers such as Chrome."
hi ,

what are the steps in the project to debug the TypeScript  files in Chrome instead of the generated JS files?

Thanks

[2016-02-08 08:54] aminmagdich commented on #330
Hi,
 I can't find any information online to point me in any direction of solving this issue.

![captureaaa](https://cloud.githubusercontent.com/assets/11071691/12881311/3a8626ec-ce49-11e5-8ef9-9562f15a8262.PNG)

[2016-02-08 08:55] aminmagdich opened #449 "Exception Does not support more than 9 expressions"
Hi,
 I can't find any information online to point me in any direction of solving this issue

![captureaaa](https://cloud.githubusercontent.com/assets/11071691/12881311/3a8626ec-ce49-11e5-8ef9-9562f15a8262.PNG)

[2016-02-08 09:06] ludohenin commented on #363
see #447

[2016-02-08 09:33] mgechev commented on #448
There are inline source maps in each file. Instead of opening the about.js file in the sources tab in Chrome DevTools open about.ts.

[2016-02-08 09:33] #448 closed

[2016-02-08 09:34] mgechev commented on #449
Hey! What are the steps for reproducing this issue? Is it related with the seed?

[2016-02-08 09:40] aminmagdich commented on #449
Hi,
thank you for your answer
when i use more than 9 expressions (template syntax) into my view

[2016-02-08 11:05] NathanielMalca opened #450 "Uncaught ReferenceError: System is not defined Exception"
When adding the

<script src="/node_modules/angular2/bundles/http.dev.js"></script>
<script src="/node_modules/rxjs/bundles/Rx.js"></script>

to the index.html file within the <head> following the example in:
https://angular.io/docs/ts/latest/guide/server-communication.html

i get to exceptions regarding each file

Uncaught ReferenceError: System is not defined Exception

Any idea maybe?

thanks

[2016-02-08 12:26] donskifarrell opened #451 "Npm postinstall issue with latest git pull"
Hi,

I'm having an issue when running `npm install` on the latest git repo code (i've also deleted node_modules folder completely in trying to resolve this issue).

I'm using node 5.1.0 and npm 3.3.12  - are these versions supported?

Here is the npm debug log with some more info:

92191 silly postinstall angular2-seed@0.0.0 /Users/donski/Dropbox/dev/Playground/angular2-seed/angular2-seed-6ec1ca0c

[2016-02-08 14:21] mgechev commented on #449
This issue is not related to angular2-seed. It is either a mistake you did or an issue in angular2.

[2016-02-08 14:21] #449 closed

[2016-02-08 14:23] mgechev commented on #450
System is not implemented in the browsers yet, thats why we use systemjs. Take a look at [SystemJS](https://github.com/systemjs/systemjs) and take a look at how external script references work.

[2016-02-08 14:23] #450 closed

[2016-02-08 14:24] mgechev commented on #451
May be you also need to clean the typings directory. You were trying to upgrade a project you already have with the latest version of the seed?

Try a fresh angular2-seed clone and run `npm install`. Let me know wha the result is and if you get the same error.

[2016-02-08 14:25] mgechev commented on #447
Seems like a very good idea to me and we'll really appreciate your help!

[2016-02-08 14:26] mgechev commented on #438
What is the issue you are having with karma.config?

[2016-02-08 14:37] Shyam-Chen commented on #438
Sorry, I did not notice `exclude`.

[2016-02-08 14:39] gustavolira commented on #147
Same here at a developer of my team

[2016-02-08 14:41] mgechev commented on #147
@gustavolira do you have ts-node installed globally?

[2016-02-08 14:42] nareshbhatia commented on #447
Sounds good. Will start working on it today.

[2016-02-08 14:47] mgechev commented on #447
Great! Looking forward for the PR!

[2016-02-08 15:16] #438 closed

[2016-02-08 19:00] gustavolira commented on #147
Yes I have, now is occurring with another developers.
If I do npm start ou npm run build.dev I receive:

⨯ Unable to compile TypeScript

gulpfile.ts (1,23): Cannot find module 'gulp'. (2307)
tools/config.ts (1,28): Cannot find module 'fs'. (2307)
tools/config.ts (2,20): Cannot find module 'yargs'. (2307)
tools/config.ts (3,31): Cannot find module 'path'. (2307)
tools/config.ts (14,52): Cannot find

[2016-02-08 19:03] mgechev commented on #147
1. `npm install -g ts-node` should be without `sudo`.
2. All type definitions (for gulp, fs, run-sequence, path, etc) should be installed in `typings`.

[2016-02-08 19:19] gustavolira commented on #451
I just tried with a fresh angular2-seed clone and npm install works ok, but when I try to use npm start I am receiving the following erros:
`root@ubuntu-4gb-nyc3-01:~/angular2-seed# npm start

[14:15:33] Requiring external module ts-node/register
----------------------------------
⨯ Unable to compile TypeScript

gulpfile.ts (1,23): Cannot find module 'gulp'. (2307)
tools/config.ts (1,28): Cannot f

[2016-02-08 19:27] gustavolira commented on #147
I'm running at a dev server there's only root user `npm install -g ts-node` was installed with root user.
My typings.json is:

root@ubuntu-4gb-nyc3-01:~/angular2-seed# cat typings.json
{
  "dependencies": {
    "es6-promise": "github:typings/typed-es6-promise#9243c53f70fb4909ed7cce3094bec221b9fb6d5f",
    "xhr2": "github:gdi2290/typed-xhr2#69f2b8d40d0cd407c1b2a2f2f41fecc6852cabbb"
  },
  "devDepen

[2016-02-08 19:58] e-oz commented on #147
@gustavolira try to install node & npm without sudo, using one of these instructions: https://gist.github.com/e-oz/32182190f731ced284ea (it helped me)

[2016-02-08 21:24] koodikindral commented on #451
Same issue:

[code]

[2016-02-08 21:55] natarajs opened #452 "Prod build has issue loading bundle"
Hi,
      I am new to gulp/systemjs and could be doing this wrong. I tried to do a production build using this command:
      gulp build.prod --env prod

     Then went into dist/prod folder and tried to run live-server.

     I get Failed to load resource: the server responded with a status of 404 (Not Found)  http://localhost:8080/bootstrap.js.

     I understand it has to do with trying to load

[2016-02-08 22:02] mgechev commented on #452
SystemJS is not used for the prod build, there we use browserify.

For running the production build use:

[code]

[2016-02-08 22:02] #452 closed

[2016-02-08 22:03] mgechev commented on #451
@koodikindral is it a fresh clone or you're trying to upgrade your seed?

@gustavolira @koodikindral would you send me the output of:

[code]

[2016-02-08 22:09] koodikindral commented on #451
used the fresh clone and everything works. Discard my comment :)

[2016-02-09 11:04] donskifarrell commented on #451
Made a fresh clone and it's working now too with npm install and then npm start.

Other than node_modules, what other files are generated by npm install that need to be removed? Just the typings folder?

[2016-02-09 11:06] mgechev commented on #451
@donskifarrell also `test`, `tmp` and `dist`.

[2016-02-09 11:06] #451 closed

[2016-02-09 12:28] gustavolira commented on #451
The folder typings was not created

[2016-02-09 13:05] gustavolira commented on #451
I created another user at server and now it's working

[2016-02-09 13:28] jesperronn opened #453 "latest commit fails with typings 'duplicate identifier' errors"
An attempt to run version https://github.com/mgechev/angular2-seed/commit/32a64fcc40e6c01957b47c1cd86ca922c1a21f76

fails for me.

Travis is able to build it correctly: https://travis-ci.org/mgechev/angular2-seed/builds/107713455

This is currently the latest commit on master. Does it work for you?

I am probably missing a step. I ran

[code]

Full error list below:

-----------------

[code]

[2016-02-09 13:46] mgechev commented on #453
Everything works for me. Did you have the error with a fresh clone or after git pull?

[2016-02-09 14:32] jesperronn commented on #453
Thanks for the pointer, @mgechev.

Of course I had the old `/typings` folder lying around. This git command is very useful to show which folders are there but ignored.

[code]

Note to self: Must remove old typings folder from `.gitignore`

[2016-02-09 14:32] #453 closed

[2016-02-09 15:10] ksminu opened #454 "React js integration"
Hi Team,

I am very new to gulp and I am trying to integrate reactjs with this project. I have installed the react and react-dom using npm. But when i am referencing it, its throwing errors 404 not found for react.js and react-dom.js. Do i need to change any configuration for react to work with this project? Thanks in advance.

[2016-02-09 15:33] mgechev commented on #454
Hey @ksminu take a look at the project [wiki page](https://github.com/mgechev/angular2-seed/wiki/Add-external-dependency).

May I ask what is your use case? Are you migrating a legacy React application to Angular 2 or you're developing a hybrid Angular 2/React app?

[2016-02-09 15:33] #454 closed

[2016-02-09 17:14] zcsongor opened #455 "'Add custom Gulp task' wiki page is out-of-date"
Upgraded to typings, but the wiki page still using tsd.

[2016-02-09 17:22] mgechev commented on #455
Fixed.

[2016-02-09 17:22] #455 closed

[2016-02-09 17:25] zcsongor commented on #455
Thanks! Tried the same, got 'duplicate identifier' errors. I did a reinstall, now works like a charm.

[2016-02-09 18:10] NathanWalker commented on #455
@mgechev shoot, I missed those links, sry about that! In future, I'll be sure to go through all links on the wiki!

[2016-02-09 18:14] NathanWalker commented on #363
Thanks @ludohenin ... If a PR results out of #447 then I will submit a PR to take care of this using that adjustment.

[2016-02-09 18:58] mgechev commented on #455
@NathanWalker no worries! I missed them as well.

[2016-02-09 21:59] gotstago commented on #147
I am not sure why this is closed. I have been to this thread, along with other threads from this topic, and I continue to wonder how I will get this working.

I have tried every suggestion I could find on this repository, and currently taking the advice of the last entry, where I am installing node and npm.

I feel that if people feel interested enough to checkout this seed project, that they shou

[2016-02-09 23:18] aykutyararbas opened #456 "Failed at the angular2-seed@0.0.0 postinstall script 'typings install"
npm ERR! angular2-seed@0.0.0 postinstall: `typings install && npm run clean-ng2 && gulp check.versions && gulp postinstall`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the angular2-seed@0.0.0 postinstall script 'typings install && npm run clean-ng2 && gulp check.versions && gulp postinstall'.
npm ERR! This is most likely a problem with the angular2-seed package,
npm ERR! not with npm itself

[2016-02-09 23:22] aykutyararbas commented on #456
using sudo helped

[2016-02-09 23:22] #456 closed

[2016-02-10 00:41] cramhead opened #457 "@ngrx-store 404 error"
After including running ```npm install @ngrx/store --save``` and integration the example code I get a 404 error when the app attempts to get the store.js file. i.e. ```http://localhost:5555/node_modules/@ngrx/store.js``` fails with a 404. The store.js file does exist in ```http://localhost:5555/node_modules/@ngrx/store/dist/store.js```.
I'm not sure if the error is due to the "@" in the name or so

[2016-02-10 04:56] ksminu commented on #454
Hi
I am creating an Angular2 app where some of the controls will be react controls.

Thanks
Minu

[2016-02-10 09:23] mgechev commented on #457
You may need to change the SystemJS configuration in `./tools/config.ts`. Take a look at this SystemJS issue https://github.com/systemjs/systemjs/issues/767.

[2016-02-10 09:23] #457 closed

[2016-02-10 10:28] DiegoYungh commented on #434
Same here, lot of people already using Typings, but please before tagging remember to check zone.js since it is the root of all evil in this issue. [angular/zone.js#240](https://github.com/angular/zone.js/issues/240)

[2016-02-10 12:29] gustavolira opened #458 "problem with prod environment (assignment to undeclared variable $this)"
Hi,
After run npm run build.prod and put the result at apache I'm receiving this error when accessing the pages:
`assignment to undeclared variable $this`
The exception at firebug starts at:
`initApp</app.domReadyMisc@http://myurl/js/shims.js:19:25719`

With dist environment everything works normal.
Please someone could help me?

[2016-02-10 12:40] mgechev commented on #458
Would you try:

[code]

After that open: http://localhost:8080/ and tell me if the app works.

[2016-02-10 12:59] mgechev opened #459 "Switch to Browserify from SystemJS for dev"
Currently we use browserify for the production build and SystemJS for dev. SystemJS requires further configuration for some dependencies which are hosted in `node_modules`. If we ignore this, there are still differences in the way all external modules are being loaded/bundled which may lead to inconsistencies between the `dev` and `prod` builds.

Examples:
- Inconsistency https://github.com/mgeche

[2016-02-10 13:01] gustavolira commented on #458
The same problem.
This does not happen with a fresh angular2-seed install. My application already has several pages...
The strange thing is that in DEV works perfectly

[2016-02-10 13:02] mgechev commented on #458
@gustavolira would you clean `node_modules` and `typings` and try again?

[2016-02-10 13:15] gustavolira commented on #458
I just clean node_modules and typings but unfortunately I had the same problem.
Some information that I can provide for easier debug?

[2016-02-10 13:19] gustavolira commented on #458
At chrome console `shims.js:4 Uncaught ReferenceError: $this is not defined`

[2016-02-10 13:25] mgechev commented on #458
You can compare the bundles produced by the fresh app prod build and the one you have problems with. I guess any of the dependencies is not bundled properly.

[2016-02-10 13:35] ksminu commented on #454
Hi

I am still not able to integrate react with this project. I also tried adding the react, react-dom into DEV_NPM_DEPENDENCIES. But its still throwing issues.

Thanks
Minu

[2016-02-10 14:14] c-ice commented on #459
+1 for consistency
what its mean for us in the typescript code? Will be there some changes in importing dependencies?

[2016-02-10 14:22] gustavolira commented on #458
really strange, I'm using the same `package.json`, I just included my components with some pages

[2016-02-10 14:54] mgechev commented on #458
Did you verify that the bundles are different?

[2016-02-10 14:57] mgechev commented on #459
Everything should be the same except that the page load should be faster (only a single bundle instead of multiple files loaded asynchronously with SystemJS).

[2016-02-10 14:58] mgechev commented on #454
What is your use case for implementing components with React instead of using Angular 2 ones (just interested).

Otherwise, you need to configure SystemJS in order to make it find the react module. Take a look at [`config.ts`](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L87-L99).

[2016-02-10 15:25] gustavolira commented on #458
The shim.js of my application has 364,8 kb and from the fresh app has 86,5 this is what I get different, and off course app.js because my components.
I substitute shim.js with the fresh app but did not solved.

[2016-02-10 15:34] zcsongor opened #460 "ASSETS_DEST not used"
The _build.assets.*_ tasks are copying the assets folder as is. Why not copy the _content_ of the assets folder to ASSETS_DEST (ie. public)?

[2016-02-10 16:25] c-ice commented on #459
so why not :)

+1

[2016-02-10 16:38] NathanielMalca opened #461 "not including bootstarp in the index"
HI ,

Suppose i would like to remove the bootstrap css file (or to include other css files for that matter) and leave the bootstrap folder within the node_modules folder , where  can i find the css configuration file ?

Thanks

[2016-02-10 17:20] gustavolira commented on #458
I will exclude component by component until figure out what's happening.
When I figure out I back here to say what was the problem.
You can close this issue if you want.

[2016-02-10 17:46] ludohenin commented on #459
@mgechev will this still work with the hot loader ?
otherwise, yeah why not ... tho that also mean we give up on multi-bundles

[2016-02-10 17:52] zcsongor commented on #459
@mgechev i dont quite understand, sorry for my ignorance, but I must ask: isn't async loading would be faster? now in prod build we load a big bundle first when we don't even need some of the modules yet. what am I missing?

[2016-02-10 18:11] mgechev commented on #458
@gustavolira let me know what you find out. We can close it if we verify that the issue is not caused by the build configuration.

[2016-02-10 18:11] mgechev commented on #461
Take a look at the [wiki](https://github.com/mgechev/angular2-seed/wiki/Add-an-external-styles).

[2016-02-10 18:11] #461 closed

[2016-02-10 18:13] #460 closed

[2016-02-10 21:04] gdi2290 commented on #459
+1 Browserify

[2016-02-10 21:05] gdi2290 commented on #459
check out this https://gist.github.com/substack/68f8d502be42d5cd4942 to improve the build of browserify

[2016-02-11 05:19] ksminu commented on #454
We need some additional functionality in grid which we found was available in React data grid rather than angular2 grids. React has some better controls compared to angular2 like datetimepicker available. So only some controls we are planning to implement in React.

I already tried adding it in config.ts. But couldn't get it to work. I think I need to browserify it.

Thanks,
Minu

[2016-02-11 07:30] londonoaa opened #463 "Cannot GET route when pasting or reloading url"
Hello Guys,

I have configured my app so that it handles the urls in html5 style (pushstate), it works fine with RouteLinks but not when pasting or reloading the url, except for home. I have added the <base href="/"> in the header and removed the hash location strategy code from main.ts

am i missing something?

[2016-02-11 08:04] neridonk opened #464 "Uncaught ReferenceError: System is not defined"
I know there is an Issue with the same but looking at the systemjs didnt help me much

I created a project and tested it with - npm start
all works fine but when i do

npm run build.prod
cd dist/prod
http-server

and try it with 127.0.0.1:8080

i get
Uncaught ReferenceError: System is not defined

I would appreciate a solution cause I do angular2 as a hobby :baby:

[2016-02-11 08:12] mgechev commented on #454
Since we use SystemJS for dev, you can take a look at this repo https://github.com/lalitkapoor/systemjs-es6-react-boilerplate

[2016-02-11 08:46] nikkwong opened #465 "Can't include external dependency"
I've read the external dependency guide that's been shared, but it doesn't solve my problem.

I'm simply trying to import underscore into one of my .ts files:

[code]

Where underscore has been defined in my typings. No luck, I get:

[code]

What gives? Is there something I'm doing wrong?

[2016-02-11 08:56] mgechev commented on #465
https://github.com/mgechev/angular2-seed/issues/307

[2016-02-11 08:56] #465 closed

[2016-02-11 09:07] mgechev commented on #464
What dependencies do you have in your dev build? Most likely a SystemJS dependency has been bundled by browserify.

[2016-02-11 09:19] mgechev commented on #459
@ludohenin yes, you're correct. We can disable the hot loader for a while. Angular 2 core team are planning drastic changes on the `AppView` API so there will be breaking changes quite soon anyway and part of the hot loader need to be rewritten.

[2016-02-11 09:19] nikkwong commented on #465
Unfortunately that hasn't been working for me. If you know of any other possible issues that could be causing it—that would be great! Thanks a bunch.

[2016-02-11 09:24] mgechev commented on #465
@nikkwong `tsc` cannot find the underscore type definition. That is the issue. Since now we are using typings instead of tsd you need to use:

[code]

[2016-02-11 09:39] nikkwong commented on #465
I'm still getting the error in the command line, although `underscore` is now no longer showing up as missing in the script itself.

Will be interesting to see if anyone else runs into this issue.. Thanks for the help.

[2016-02-11 09:42] nikkwong commented on #465
Another interesting note:

[code]

It appears to be looking for the library in ```node_modules``` according to the output.

[2016-02-11 09:48] #434 closed

[2016-02-11 09:49] nikkwong commented on #465
With this setup it was also imperative that i `exclude` the typings in `tsconfig` or it would attempt to require itself twice:

[code]

Fix:

[code]

Though that doesn't fix the issue.

[2016-02-11 09:52] nikkwong commented on #465
Could this issue potentially be reopened?

[2016-02-11 10:11] mgechev commented on #465
@nikkwong you need to configure SystemJS in `config.ts` in order to point the correct [path to underscore](https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#paths).

The ambient type definitions have nothing to do with the package implementation itself.

This is not issue with the seed itself but involves some configuration details which need to be documented. However, we are pla

[2016-02-11 10:54] neridonk commented on #464
I have to say that I use a old version of your seed because im getting a reported  Issue (https://github.com/angular/angular/issues/6425) Error if I try to upgrade my Project :

[code]

Oh and If i try in your new Project to use Angular2 animate function I get this issue shall I report it?

Mozilla:
[code]

Chrome:

`GET http://localhost:5555/angular2/animate.js 404 (Not Found)`

[2016-02-11 10:58] nitinkumarmishra commented on #404
I too have the same problem. Can't copy fonts.

[2016-02-11 11:34] mgechev commented on #464
Which version of the seed? Would you give me the hash of the latest commit?

[2016-02-11 11:40] neridonk commented on #464
#339

[2016-02-11 11:41] zcsongor commented on #459
@mgechev could you clarify my doubts? I'm a newbie, so please forgive if I asked smthg silly

[2016-02-11 11:47] mgechev commented on #464
So you're using the old SystemJS prod build. Unfortunately we're not supporting it anymore.

[2016-02-11 11:47] #464 closed

[2016-02-11 11:49] mgechev commented on #459
@zcsongor yes, sure, sorry for the delay.

When each individual component is loaded individually this requires separate HTTP GET requests which slows down the bootstrap. In contrast, in the optimal case browserify will produce a single bundle that will that will require only a single GET request.

AsyncRoutes will be a bit tricker since you'll need to create separate bundles for each sub tree that

[2016-02-11 12:18] zcsongor commented on #459
Oh, I see. Thought the latency isn't the biggest problem, but on mobile networks, it could be.

[2016-02-11 13:52] bertvh commented on #404
Eventually, I fixed this by writing a small plugin based on *gulp-extract-css-urls*. What is does is parse the css file and then copy all dependencies to the correct level in your output folder.

This works for me but is not heavily tested!

You can add this in build.html_css.prod.ts:
[code]

[code]

[2016-02-11 17:34] zcsongor opened #468 "can't include 'ng2-bootstrap' external dependency"
Tried to include _ng2-bootstrap_, but during building I got this message:
[code]

[2016-02-11 19:08] londonoaa commented on #463
works great!

[2016-02-11 19:28] mgechev commented on #468
You need to install the type definitions for moment:

[code]

You may also need to install momentjs in case it is a peerDependency.

[2016-02-11 19:28] #468 closed

[2016-02-11 23:40] Bigous commented on #459
@mgechev is browserify that good? I mean, doing this we will disable the ability to load modules only when needed and for big projects it will be necessary and during development you wanna test what you are developing and 1 line of code changed will cause 100% reload... just guessing if won't be a bad thing in the future...

[2016-02-12 03:35] londonoaa commented on #463
not working in production

[2016-02-12 08:05] mgechev commented on #463
@londonoaa it depends on your server. It needs to always serve `index.html` except when you request an existing resource. Take a look [at this](http://discuss.emberjs.com/t/apache-rewrite-rule-for-html5-browser-history-url-bookmarkability/1013).

[2016-02-12 08:05] #463 closed

[2016-02-12 08:05] mgechev commented on #458
@gustavolira do you have any progress in finding the cause?

[2016-02-12 08:06] mgechev commented on #330
@tarlepp do we have this working?

[2016-02-12 09:05] zcsongor commented on #468
after installing momentjs & its type definition:
`
moment.d.ts (9,21): Cannot find namespace 'moment'`

[2016-02-12 09:23] zcsongor commented on #468
Got it! Had to install without the flag --ambient.

[2016-02-12 11:32] mgechev commented on #468
Now you need to configure systemjs in config.ts. Just set path to the momentjs bundle.

[2016-02-12 11:34] zcsongor commented on #468
Right, still using SystemJS for dev, sorry!

[2016-02-12 12:52] tandu opened #471 "Changes made to css file don't refresh app in browser for ViewEncapsulation.Emulated"
I'm using `encapsulation: ViewEncapsulation.Emulated` in my project and after any change in css file I need to manually refresh browser. Autorefresh doesn't work.

[2016-02-12 15:13] gustavolira commented on #458
Sorry @mgechev  for delayed reply.
I could figured out what was happening.
I'm using this [template](https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0l) and there's a file (app.min.js) that are using the variable $this without declare and the error only appears at production bundle because minified. I fixed this at app.min.js declaring var $this.
Thank you for your attention

[2016-02-12 15:13] #458 closed

[2016-02-12 15:21] mgechev commented on #471
There is not auto refresh functionality.

[2016-02-12 15:21] #471 closed

[2016-02-12 15:24] mgechev commented on #459
@Bigous the first problem can be solved with multiple bundles, the second with hot loading.

At this point, the only thing bothering me is the inconsistency between the two builds, however, switching the prod build to SystemJS will be a step back because of the big bundles it produces.

[2016-02-12 18:21] krzysztofsaja opened #472 "Adding external angular plugin (Angular2-slimscroll)"
Hi,
I would like to use angular2-slimscroll directives in your angular2 seed . However, instruction that is in the plugin repo (https://github.com/jkuri/ng2-slimscroll ) doesn't work.

`npm install ng2-slimscroll --save`

My config.ts looks like this:
[code]

What should I do in order to use such directive in angular2-seed?. Can you please describe how to extend systemjs in order to typescript see

[2016-02-12 19:18] fourctv opened #473 "Prod build fails with external libraries"
In a previous version of the seed, when you used systemjs builder to bundle the app, I was able to get a production build with backbone+jquery+underscore. External libraries were put into dist/prod/libs folder.

Now with the changes to prod build to use browserify, I can't get that a prod build to work!
Instructions on Read.me or wiki on how to add 3rd party libraries do not cover that.

In system

[2016-02-13 03:45] LuxDie opened #474 ""npm run reinstall" fails"
Hi. Running `npm run reinstall` exits with error "The system cannot find the path specified." **after** deleting the `node_modules` directory.
I'm running Windows 10, Node.js v5.3.0 and Npm v3.5.2.

[2016-02-13 04:13] Bigous commented on #473
+1 - after browserify, production build does not work very well.

[2016-02-13 04:19] Bigous commented on #459
Agree, but the browserify prod build does not work well... for example, with jquery plugins and components, it frequently breaks (start throwing undefined init) where in SystemJS is working flawless.

[2016-02-13 05:08] londonoaa commented on #463
I think there is something wrong, because it is not working with nested routes

[2016-02-13 05:15] londonoaa opened #475 "Change structure so there is a components folder inside src"
it is better if there is a folder for components inside src, cause if your app grows it will be huge. Also remove components folder inside each component folder.

[2016-02-13 06:10] nareshbhatia opened #477 "Is there an interest in removing the dependency on Twitter Bootstrap?"
I would like to propose styling the seed app with plain old CSS instead of Bootstrap. This means one less dependency and the flexibility for people to add any CSS or component framework of choice (e.g. Angular 2 Material when it becomes available). What do you think? I can work on a PR.

[2016-02-13 07:48] Myrmex opened #478 "ng2-bootstrap load failure"
I'm new to System js and I'm trying to play with this beautiful seed and a couple of libraries like `toastr` and `ng2-bootstrap`, but I cannot get them to load. I installed both using `npm install ng2-bootstrap` and `npm install toastr`, but when the app starts I get:

[code]

Also, `toastr` is not found as system.js is looking for it at `http://localhost:5555/node_modules/toastr.js` whereas it is

[2016-02-13 09:56] mgechev commented on #478
Instead of `map` use `paths`. Take a look at the [API](https://github.com/systemjs/systemjs/blob/master/docs/config-api.md) doc.

[2016-02-13 09:56] #478 closed

[2016-02-13 09:58] mgechev commented on #475
We are discussing the directory structure in the [Angular 2 Style Guide repo](https://github.com/mgechev/angular2-style-guide/issues/5).

When we reach a consensus there we'll implement the directory structure we've agreed on here.

[2016-02-13 09:58] #475 closed

[2016-02-13 13:22] giejay opened #479 "Production build gives a "Uncaught TypeError: Cannot read property 'navigator' of undefined""
Just did a npm install and a npm run build.prod of the clean angular-seed and ran into this error.

Next to that, I'm also getting this one: Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.

What am I doing wrong?

The URL: http://giejay.nl/test/

[2016-02-13 14:25] mgechev commented on #447
Fixed by https://github.com/mgechev/angular2-seed/pull/476.

[2016-02-13 14:25] #447 closed

[2016-02-13 14:25] mgechev commented on #363
@NathanWalker we already have it https://github.com/mgechev/angular2-seed/pull/476

[2016-02-13 14:28] mgechev commented on #479
I get `Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.` as well.

I saw the error on the URL you provided but I can't manage to reproduce the production build issue you have. Are you getting this error with the latest seed version? Would you give me the output of:

[code]

[2016-02-13 14:29] mgechev commented on #477
Yes, I agree. I'll remove bootstrap today.

[2016-02-13 14:37] #477 closed

[2016-02-13 15:35] nareshbhatia commented on #477
@mgechev, when you do that, can you please style the app to be a bit more polished? This will give people even more confidence in the quality of this project. I had something very simple but elegant in mind - see below.

1. A prominent navbar at the top.
2. Proper margins around the content area. Currently content is hitting the left margin.
3. Replace the smiley icon with something more useful, e

[2016-02-13 16:23] mgechev commented on #473
@fourctv you don't have to add your dependencies to `PROD_NPM_DEPENDENCIES`. Browserify automatically resolves and bundles everything. `PROD_NPM_DEPENDENCIES` is used for CSS files and any other dependencies such as `es6-shim` or related, which are not directly referenced inside of your files through an import.

[2016-02-13 16:47] Bigous commented on #473
Hi @mgechev, maybe I'm doing something wrong ... but in development env, no problem is occuring.. in prod build..
[code]

[2016-02-13 16:47] Bigous commented on #473
When i try to execute my app

[2016-02-13 17:00] mgechev commented on #474
@LuxDie in case you've removed the `node_modules` directory use `npm install`. Part of `npm run reinstall` removes `node_modules` which in your case doesn't exist so thats why the error occurs.

[2016-02-13 17:03] mgechev commented on #472
Try:
[code]

[2016-02-13 17:07] mgechev commented on #472
Just tried it, it seems it works for me. Here's [config file for the latest version of the seed](https://gist.github.com/mgechev/7e4250aadbdb49f89c7d).

[2016-02-13 17:07] #472 closed

[2016-02-13 17:10] mgechev commented on #459
@Bigous based on the inconsistency again. Well, we can switch the production build to use the [SystemJS builder](https://github.com/systemjs/builder), which should be able to bundle the entire code in CommonJS format and thus produce it with minimal file size (similar to browserify).

[2016-02-13 17:23] spike1292 commented on #479
got the same issue, see https://bootcamp2016.firebaseapp.com

[2016-02-13 17:25] mgechev commented on #477
Yes, we should do that. I like your ideas, we can make the navbar accept an input with the links and their labels. The home information can contain some basic list with items (similar to the one we currently have). On the about we can add some basic information about the seed.

[2016-02-13 17:35] hpinsley commented on #479
@mgechev I can confirm the same error:

`shims.js:4 Uncaught TypeError: Cannot read property 'navigator' of undefined(anonymous function) @ shims.js:4(anonymous function) @ shims.js:4e @ shims.js:4(anonymous function) @ shims.js:4(anonymous function) @ shims.js:4e @ shims.js:4(anonymous function) @ shims.js:4(anonymous function) @ shims.js:4
app.js:23 Angular 2 is running in the development mode.

[2016-02-13 17:41] mgechev commented on #479
Thanks for the comment! I'll switch back the production build to SystemJS asap.

[2016-02-13 17:42] mgechev commented on #459
A few more issues in the production build:

https://github.com/mgechev/angular2-seed/issues/473
https://github.com/mgechev/angular2-seed/issues/479

[2016-02-13 18:04] nareshbhatia commented on #477
That would be perfect!

[2016-02-13 18:07] Bigous commented on #473
I'm trying to update the ng2-highcharts seed - production build run fails with (undefined navigator) at shim.js ... see it [here](https://github.com/Bigous/angular2-seed-ng2-highcharts/tree/upd-seed)

[2016-02-13 18:15] mgechev commented on #473
@Bigous I'll work on moving the production build to SystemJS.

[2016-02-13 19:05] nikkwong commented on #147
+1

[2016-02-13 20:42] nikkwong commented on #147
I fixed with ```npm run postinstall``` which runs ```typings install``` though I'm not sure why this isn't ran automatically.

[2016-02-13 21:29] krzysztofsaja commented on #473
Hi, I just want to confirm, that after migrating from previous version (angular.beta1) to new version production build doesn't work right.
1. Even if I followed instruction about adding new task for 'Less', it works only in development mode. I had to changed some gulp files in a dirty way to have some results in production.
2. In production, I got many errors concerning jQuery, fonts Awesome and s

[2016-02-14 00:35] Bigous commented on #473
Hi @mgechev - I'm out (going back to brasil...) when I get there, I'll work on it! tks

[2016-02-14 00:37] Bigous commented on #473
Hi @krzysztofsaja The 404 I'm not sure if it's related... the navigator problem occurs to me too

[2016-02-14 08:19] mgechev commented on #473
@Bigous I'll work on this today, hopefully we'll have the production build by Monday.

[2016-02-14 11:36] fourctv commented on #473
One suggestion would be to maybe have that as config option, so based on a config option you’d use browserif or systemjs. Which one to use would be a user option.

[2016-02-14 13:34] gustavolira opened #480 "Suggestion for cache problem"
There's any plan to add randon hash at .js file names to avoid cache in PROD build?

[2016-02-14 16:00] giejay commented on #479
Thanks for the quick response!

My head is: 73141a25fdc618a3cc1aebd07be937c7141ad40e

[2016-02-14 17:12] MartinLeoJr commented on #473
I am not convinced that I want all my libs bundled. http2 changes the way that files can be downloaded to the browser and with http2 it may be efficient to have more and smaller files. What I am hoping to see is configuration that gives me a very fast home page (possibly server side rendered with universal or isomorphic techniques, https://github.com/angular/universal) and then on-demand downloadi

[2016-02-14 19:53] gustavolira opened #481 "Problem with bundle prod and .beta06"
Hi,
After pull with last commit of master branch, I started have a problem with my Forms.
My forms stopped sending values when at my functions.
With Dev environment everything works ok but minified with  prod environment this problem happens.
If I just change to .beta2 everything works Ok.

[2016-02-14 21:40] juristr commented on #459
@mgechev Just for curiosity. What's the reason for switching from SystemJS to Browserify?

[2016-02-14 22:36] LuxDie commented on #474
@mgechev that's not it. I follow these steps:

1. Clone a fresh copy of the repo.
2. `npm install`
3. `npm run reinstall`
4. Error pops up and `node_modules` directory is gone

[2016-02-14 23:23] e-oz commented on #475
Please don't change structure of this seed.. It's just perfect.

[2016-02-14 23:25] e-oz commented on #475
sorry, @londonoaa , I wasn't aware of already existing changes in structure. Agree, currently it looks awful. And proposals in linked thread are even worse.

[2016-02-15 00:14] nareshbhatia commented on #447
@mgechev, I am trying to extend the build to include Sass and realizing that the decision to split the dev, unit and e2e builds into 3 different directories may not be a good one. Since Sass requires an additional step of converting from .scss to .css, I am finding that I have to write additional tasks for each type of build. I am now thinking that it would be better to use `/dist/dev` as a *playg

[2016-02-15 05:03] mgechev commented on #481
There are changes pending in the prod environment. We will bundle the application using the SystemJS builder in order to make the build more consistent (at this point dev uses SystemJS, prod uses browserify).

[2016-02-15 05:06] mgechev commented on #480
Good point! We already have this in dev, I've missed it in production...

[2016-02-15 12:55] mgechev commented on #447
@nareshbhatia I don't think there's any particular reason. @NathanWalker added the e2e testing support so he can verify.

[2016-02-15 14:25] ludohenin commented on #447
@nareshbhatia I have a pending issue on `gulp-inline-ng2-template` plugin to add preprocessors here: https://github.com/ludohenin/gulp-inline-ng2-template/issues/11. It may be a good way to solve your issue ?

[2016-02-15 15:05] nareshbhatia commented on #447
Yes, that would solve the problem. The issue is that the plugin expects the `.css` file to be specified in the TypeScript file and there is no css file there! We could run the preprocessor before invoking the inline-plugin, but that would mean writing to the source directory, which I don't like. Moving everything to a temp directory for the dev build is also a pain. This is not an issue for the pr

[2016-02-15 15:17] ludohenin commented on #447
@nareshbhatia the idea of preprocessors for the plugin is to declare `.scss`, `.stylus`... in you component and to provide a processed string to the plugin. This way you don't mess up the `src` folder nor have the intermediate `tmp` step.

[2016-02-15 15:39] nareshbhatia commented on #447
Yep, I got that and would love to see that solution. I was just commenting that I would like to explore running the tests without having to inline, just out of curiosity :-). Any ETA for your solution? How do you plan to pick up preprocessor options? Also do you see any drawbacks to inlining during dev builds, e.g. longer build times?

[2016-02-15 16:19] #473 closed

[2016-02-15 16:19] mgechev commented on #481
@gustavolira would you verify if the issue is fixed after merging https://github.com/mgechev/angular2-seed/pull/483?

[2016-02-15 16:19] #479 closed

[2016-02-15 16:20] mgechev commented on #473
Would you verify the issue is fixed after merging https://github.com/mgechev/angular2-seed/pull/483 ?

[2016-02-15 16:20] mgechev commented on #459
Fixed by https://github.com/mgechev/angular2-seed/pull/483.

[2016-02-15 16:20] #459 closed

[2016-02-15 17:40] gustavolira commented on #481
Hi @mgechev now I'm receiving this error:
`Unhandled rejection Error on fetch for angular2-jwt/angular2-jwt.js at file:///home/gustavo/git/issuerFront/tmp/angular2-jwt/angular2-jwt.js
	Loading main.js
	Error: ENOENT: no such file or directory, open '/home/gustavo/git/issuerFront/tmp/angular2-jwt/angular2-jwt.js'
    at Error (native)
`

[2016-02-15 17:44] mgechev commented on #481
@gustavolira would you share with me your SystemJS configuration? Do you set the same config for `SYSTEM_CONFIG_PROD`?

[2016-02-15 17:50] gustavolira commented on #481
Sorry I didn't understand.
I just did pull origin master, npm install, npm run build.prod
With npm run build.prod I receive this error message.

[2016-02-15 17:51] mgechev commented on #481
Would you share your `config.ts` under the `tools` directory?

[2016-02-15 18:02] d3viant0ne opened #484 "Chore - Update linting rules"
Bring the linting rules inline with those defined in the style guide

- [x] JSHint Config to guide spec
- [x] Resolve any lint errors from the above changes.

[2016-02-15 18:11] d3viant0ne opened #485 "Chore - Make template URLs relative to component"
As pointed out by @nareshbhatia in mgechev/angular2-style-guide#5 the seed project currently uses paths off of the application root for Template URLs.

They should be relative to the component to facilitate modularity & reusability.

- [x] Update Template URLs
- [x] Update Style URLs
- [x] Resolve file path errors in build.test.ts

[2016-02-15 18:22] gustavolira commented on #481
Sure, here is my config.ts https://gist.github.com/gustavolira/f883b36d36a1f6825a87

[2016-02-15 19:02] mgechev commented on #481
You can workaround this by:

[code]

// cc @ludohenin

[2016-02-15 19:39] ludohenin commented on #481
This isn't a workaround IMO but the correct way to declare NPM packages.
I'm just not sure why the `${PROJECT_ROOT}` though.

[2016-02-15 19:44] nareshbhatia opened #486 "Component names do not adhere to style guidelines"
According to the [Angular 2 Style Guide](https://github.com/mgechev/angular2-style-guide#directives-and-components):

The angular2-seed project uses names like `AppCmp`, `HomeCmp` and `AboutCmp`. These should be changed to `AppComponent`, `HomeComponent` and `AboutComponent`.

[2016-02-15 19:47] ludohenin commented on #486
This is also true for the file names I guess (`app.component.ts`)

[2016-02-15 19:47] gustavolira commented on #481
I do this 'workaround' but the same error happens

[2016-02-15 19:55] nareshbhatia commented on #486
Ah, yes! Thanks for reminding.

As a side, the only place I don't use a suffix is when defining domain entities. For example, I like `Person`, `Company`, `Order` as opposed to `PersonEntity` or `PersonModel`. `Person` just feels more natural.

[2016-02-15 20:01] ludohenin commented on #486
yeah and those entites/models probably live under entities/models folder anyway.

[2016-02-15 20:11] nareshbhatia commented on #486
Yep. I usually call that folder `domain`, but I have seen people name it `models` also. I am good with either.

BTW, should I work on a PR to change `Cmp` to `Component` and use the `component.ts` suffix on files.

[2016-02-15 20:11] krzysztofsaja commented on #481
The same problem. Development runs OK, but production give me this message:
`Unhandled rejection Error on fetch for ng2-bootstrap/ng2-bootstrap.js at file:///home/cogo/Dokumenty/Development/Softbay/PI-Angular2/PI2-Beta6/tmp/ng2-bootstrap/ng2-bootstrap.js
	Loading main.js
	Loading app/components/app.js
	Error: ENOENT: no such file or directory, open '/home/cogo/Dokumenty/Development/Softbay/PI-Angu

[2016-02-15 20:15] ludohenin commented on #481
@mgechev I see your workaround `.js.js` ... that one works for me.

[2016-02-15 20:17] gustavolira commented on #481
I see .js.js too, but even put the right name of .js file I still receiving same error. @ludohenin  That one works for you?

[2016-02-15 20:25] ludohenin commented on #486
@nareshbhatia not sure
Maybe @mgechev will prefer to wait for a larger consensus on this part of the style guide?

[2016-02-15 20:34] ludohenin commented on #481
Got it! ... though I don't have a rational explanation to it.

config.ts
[code]

app.ts
[code]

//cc @guybedford any idea why only this config works and not direct module access?

[2016-02-15 20:35] ludohenin commented on #481
@krzysztofsaja Would you try the same with `ng2-bootstrap`?

[2016-02-15 20:36] guybedford commented on #481
@ludohenin I believe this was the bug just fixed in https://github.com/systemjs/systemjs/commit/60b3fc003140e1097f829e51b1f9d5555d4dd551 actually, which will be released shortly. Apologies for the regression.

[2016-02-15 20:38] ludohenin commented on #481
@guybedford excellent, and thanks for your (ultra) quick answer.

[2016-02-15 22:35] d3viant0ne commented on #486
@ludohenin - Based on his latest summary comment, i think type suffix is pretty much set. mgechev/angular2-style-guide#5

[2016-02-15 23:00] d3viant0ne commented on #474
Works as intended on OSX 10.11 (node v5.6.0 / npm 3.6.0) all be it a bit slowly.

I'm spinning up a Windows 10 VM now to try and verify @LuxDie 's issue.

[2016-02-15 23:01] d3viant0ne commented on #480
@mgechev - Same implementation as what is already in dev?

@gustavolira - You going to PR this or shall I?

[2016-02-16 00:21] gustavolira commented on #480
Hi @d3viant0ne feel free if you want to make PR

[2016-02-16 05:19] evanplaice opened #490 "Chore - change file names adhere to style guide"
Files *should* include the type suffix.

*before:*
[code]

*after:*
[code]

[2016-02-16 05:50] evanplaice commented on #486
@d3viant0ne @nareshbhatia @ludohenin I added issue #490 to cover file naming.

Since these changes require a considerable amount of [Shotgun Surgery][https://en.wikipedia.org/wiki/Shotgun_surgery].

To avoid unnecessary merge conflicts, I suggest this change waits until https://github.com/mgechev/angular2-seed/pull/489 lands. File renaming can follow the PR that resolves this issue.

[2016-02-16 07:04] #485 closed

[2016-02-16 07:05] #484 closed

[2016-02-16 08:01] ksminu commented on #454
I was able to fix this issue as you suggested by adding the react and react-dom to npm-dev-dependencies and adding to it systemjs. This approach works for simple react components. My requirement is to use components like react-bootstrap-datetimepicker and react data grid. When adding datetimepicker, its internally referencing lot of other modules which is again creating issues. Its not feasible to

[2016-02-16 09:42] ludohenin commented on #481
@gustavolira @krzysztofsaja would you test with the latest master (acef35c)

[2016-02-16 10:50] zcsongor opened #492 "Not able to inject custom js files"
Dev mode, css injecting works perfectly, the js does not:

[code]

[2016-02-16 12:12] #480 closed

[2016-02-16 13:18] Bigous commented on #481
It's working for me!

[2016-02-16 13:30] apavillet opened #496 "Really long buildtime"
Hi all,

Maybe I'm doing something wrong but the dev build takes an awful long time on my computer ( mac book pro, should not be an issue)

`[14:11:16] Finished 'clean.dist' after 99 ms
[14:11:16] Starting 'tslint'...
[14:11:19] Finished 'tslint' after 2.7 s
[14:11:19] Starting 'build.sass.dev'...
[14:11:19] Finished 'build.sass.dev' after 171 ms
[14:11:19] Starting 'build.assets.dev'...
[14:11:20

[2016-02-16 13:37] Bigous commented on #496
No, it takes about 18s on my machine too, but it's not a pain to me, because I use it in the folowing form:
1. Use ```npm start``` in a separated terminal - it will build and start BrowserSync with your application, monitoring the changes in your code and refreshing in about no time.
- Code
- Test
- Code
- Test

So, the 20s build does not affect my workflow.

[2016-02-16 14:17] gregkuha60 opened #497 "XHR error 404 not found"
This service
import {Injectable} from 'angular2/core';
import {SUPPLIERS} from '../../supplier/components/moch-suppliers.ts';
import {Supplier} from '../../supplier/components/supplier.ts';

@Injectable()
export class SupplierService {
    getSuppliers() {
        return Promise.resolve(SUPPLIERS);
    };
   getSuppliersSlowly() {
        return new Promise<Supplier[]>(resolve =>
            setTi

[2016-02-16 14:39] ludohenin commented on #497
@gregkuha60 remove the `.ts` extension! from the `import` statement.

[2016-02-16 14:39] #497 closed

[2016-02-16 15:43] Myrmex opened #499 "Loading moment.js locale's"
I'm trying to load moment.js into this seed as follows:

1. npm install --save moment
2. typings install --save --ambient moment
3. typings install --save --ambient moment-node
4. add to the Systemjs `paths` in `SYSTEM_CONFIG_DEV` (`config.ts`) this one:

    'moment': `${APP_BASE}node_modules/moment/moment`,

5. finally, import like:

    import * as moment from 'moment';

This works fine. My iss

[2016-02-16 16:00] jesperronn opened #500 "Really slow `build.prod`"
After updating to latest code, where @ludohenin has done significant improvements to the prod build, we unfortunately have a very slow build proces

(at least after commit f335cd52ea25219fe1c04338fa1c156aaa32dc46 )

I believe that the reason is that the build now bundles all angular resources along with all the application files. Imagine that every build must minify and combine all files from angu

[2016-02-16 16:00] jesperronn commented on #500
wow! issue #500 :) good that so few are actually open :+1:

[2016-02-16 16:13] ludohenin commented on #500
@jesperronn Every happens here: https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.bundles.app.ts#L21-L23
And here is an implementation of a multiple-bundles ready task https://github.com/ludohenin/ng2-wp-blog/blob/master/tools/tasks/build.bundles.ts#L16-L24, you can add an extra build for `vendors` for instance ... adapt the arithmetic as you like.

[2016-02-16 16:15] #500 closed

[2016-02-16 16:18] mgechev commented on #496
@apavillet there are a couple of slowdowns:

- [x] The gulp is using static typing, which means that everything goes through compilation. We've optimized it already by using lazy tasks loading
- [x] Transpilation of the application's source code. We are using incremental transpilation so we've optimized everything we can.

The time required for running the tasks for first time could be optimized w

[2016-02-16 16:18] #496 closed

[2016-02-16 16:21] mgechev commented on #499
You can write a task which copies the content of `node_modules/moment/locale` to `src`. This way the resources will be available to the application.

[2016-02-16 16:21] #499 closed

[2016-02-16 17:29] jesperronn commented on #500
Suggestion: We could change prod to 'just' concat the vendor files. They are already minified once for a release.

..hmm that is probably what @ludohenin is doing in https://github.com/ludohenin/ng2-wp-blog/blob/master/tools/tasks/build.bundles.ts#L16-L24

[2016-02-16 19:41] jeffbcross opened #502 "Support main file of installed npm dependencies"
Take for example, [angularfire2](https://github.com/angular/angularfire2). It declares a main file in its [package.json](https://github.com/angular/angularfire2/blob/master/package.json#L5), `angularfire2.js`.

If I try to import a symbol without specifying a path to a file, a 404 occurs:

[code]

[code]

I _think_ the fix should be as simple as setting the `main` field in `System.config.packages.

[2016-02-16 19:41] jeffbcross commented on #502
Worth noting, I know the easy fix to this issue is to import from angularfire2/angularfire2.

[2016-02-16 19:49] NathanWalker commented on #447
@nareshbhatia Sorry for delay here. I've been traveling for more than a week now but will be back late tomorrow evening. e2e tests build/run location can definitely change. Just keep in mind of course protractor needs to access and test off a running site. Thank you for your help here though, I definitely agree keeping test and app builds seperate is the way to go.

[2016-02-16 20:10] d3viant0ne commented on #481
@ludohenin Works on latest master for me as well :)

[2016-02-16 20:14] #474 closed

[2016-02-16 20:43] d3viant0ne commented on #492
@zcsongor - I'll take a look at this after work

[2016-02-16 21:24] gustavolira commented on #481
@ludohenin For me the producion bundle is working for me, the problem now is dev environment, I'm receiving 404 for app.html (not happening with prod) I'm already using relative paths, like:
`module: module.id,
 templateUrl: './app.html'
`
This is happening with my app (already has several components), not with fresh angular2-seed

[2016-02-16 21:25] ludohenin commented on #492
@zcsongor you have to use back tick template string character here : '${ASSETS_SRC}/js/something.js'
[code]

[2016-02-16 21:27] zcsongor commented on #492
oh my... my bad. thanks!

[2016-02-16 21:27] #492 closed

[2016-02-16 21:31] ludohenin commented on #481
@gustavolira Can you try with removing `module.id` ?
or by removing this line (for dev only) https://github.com/mgechev/angular2-seed/blob/master/src/index.html#L36

[2016-02-16 21:33] d3viant0ne commented on #481
@ludohenin Looking at it now

[2016-02-16 21:46] ludohenin commented on #481
my last suggestions doesn't make a lot of sense ...

[2016-02-16 21:47] d3viant0ne commented on #481
And oddly enough, works though I have no idea why

[2016-02-16 21:50] d3viant0ne commented on #481
@gustavolira - Can you hop in the gitter chat. Probably be quicker to try and work this out there.

[2016-02-16 22:47] beaverusiv commented on #502
This is an issue for me too, where I can explicitly put a full path but then it fails on a dependency of the lib. My example is [angular2-config](https://www.npmjs.com/package/angular2-config) which fails as

But if I import from `'angular2-config/dist/index'` it fails on

which is it's dependency.

[2016-02-16 23:17] nareshbhatia commented on #447
@NathanWalker, thanks for responding even from the road! Wasn't clear about your last sentence:

To summarize this discussion, my latest PR uses two directories for builds:

- `/dist/dev/` is used for dev, unit test and e2e test builds.
  - dev builds are working correctly with BrowserSync
  - unit tests are working correctly with karma/jasmine
  - e2e tests are working correctly with protractor
-

[2016-02-16 23:46] gustavolira commented on #481
I'm there how can I find you there? I've never used gitter before

[2016-02-17 00:35] gustavolira commented on #481
See the problem:
http://i.imgur.com/oA7Wgqc.png
http://i.imgur.com/j1dOvsL.png
http://i.imgur.com/yvAboeZ.png

[2016-02-17 01:18] NathanWalker commented on #447
As long as protractor is running correctly then this sounds great :+1:

Ideally I like keeping all test builds isolated in a `test` directory but since the different build tasks exclude the test files (ie, the dev build: https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.js.dev.ts#L13-L14), then it's just as good.

Thank you for the improvements here.

[2016-02-17 01:20] gustavolira commented on #481
If I change to `templateUrl: './app/components/app.html',` DEV works but at PROD build I receive this error message:
`Unhandled rejection Error on fetch for tmp/app/components/app.js at file:///home/gustavo/git/issuerFront/tmp/app/components/app.js
	Loading tmp/main.js
	Error: ENOENT: no such file or directory, open '/home/gustavo/git/issuerFront/tmp/app/components/app.js'
    at Error (native)
`

[2016-02-17 03:08] d3viant0ne commented on #481
@gustavolira Just getting home. I'll dig into this shortly.

[2016-02-17 04:05] nareshbhatia commented on #447
Happy to help.

Yes, I was very meticulous about

- dev and prod builds not containing any tests
- unit test build not containing any e2e tests
- e2e test build not containing any unit tests

The build tasks are now very modular and focused on the build type. Hope this will keep everything straight in our heads!

@mgechev, can you please merge PR #482

[2016-02-17 06:46] nhhockeyplayer opened #505 "over complicated"
I find the build infrastructure to be in order with
  o  jspm
  o  webpack

and the countless issues surrounding TSD & TYPINGS
whereby everything is incoherent and over complicated

they cannot even implement a damn wildcard to compile all *.ts files

burying everything into massive config and build files is atrocious

and I remain unimpressed with google, and all the open source hackers that have

[2016-02-17 07:52] ludohenin commented on #502
@jeffbcross @beaverusiv I suppose what you are looking at it [here](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L94-L116).

That's maybe not the right place for this discussion but IMO, following the simple convention `{package_name}/{module_name}` for your packages (instead of some other fancy ones) make things so much easier (no need of specific config for every packages

[2016-02-17 09:37] TsarS commented on #132
@loul42 Wow. It works for me. But it's very strange

[2016-02-17 13:12] apavillet commented on #496
Ok thanks for the answers :)

[2016-02-17 13:29] nareshbhatia opened #506 "Workflow for feature forks"
I am about to create a fork which will be adding Sass and specific component frameworks. Looking for ideas/workflows which will allow me to keep in sync with mgechev/angular2-seed without undoing my feature specific changes.

[2016-02-17 15:27] tandu opened #508 "styleUrls doesn't allow to link to external css file"
Before this was working
`component.ts`
[code]
now with this code
[code]
I get this error in browser:
[code]
I tried these urls with no success: `my_framework/default.css`, `/my_framework/default.css`, `../../my_framework/default.css`.

[2016-02-17 15:42] mgechev commented on #506
@NathanWalker is doing something similar in his [angular2-seed-advanced](https://github.com/NathanWalker/angular2-seed-advanced).

[2016-02-17 15:54] nareshbhatia commented on #506
Agree, seems like a hard problem to solve with Git. I see that @NathanWalker's project is not a fork of angular2-seed, although he started with the angular2-seed as the base. Love to hear more about his approach.

[2016-02-17 16:04] d3viant0ne commented on #481
@gustavolira - In the [README.md](https://github.com/mgechev/angular2-seed) there is a little badge that says "Gitter Join Chat"

Click that it will launch Gitter in a browser window, click the "join chat" button on the bottom and it will land you in chat room (It's based off of git creds). I'll be working but around all day, message me when you have some time and we will work this issue out.

[2016-02-17 16:04] Bigous commented on #486
If we will go with the recommended, so we should remove the directories "components",  "services", "pipes", because it follows the same logic of "Models" and "Entities".
I prefer the way it is today (everything following the "Models" and "Entities" pattern), but I think it's a matter of taste.

[2016-02-17 16:06] UnnoTed commented on #508
you can use `styles: []` instead of `styleUrls: []` and require the file as string `styles: [ require('./component.css') ]`

[2016-02-17 16:08] d3viant0ne commented on #486
@Bigous The discussion related to the changes here is going on in mgechev/angular2-style-guide#5
It has all of the background, reasoning and counter arguments. Please feel free to add to the discussion :)

[2016-02-17 16:14] d3viant0ne commented on #506
@nareshbhatia - There is also discussion around adding support for pre-processors to inlineNg2Template. Seems a reasonable way to allow people to use sass, scss, stylus & so on while simplifying maintenance of the core.

[2016-02-17 16:17] d3viant0ne commented on #505
@nhhockeyplayer - If you want to avoid Typescript, there are a few pure ES6 offerings floating around.

This one for instance by @blacksonic is a good place to start https://github.com/blacksonic/angular2-es6-starter

[2016-02-17 16:20] tandu commented on #508
`require` adds `.js` to the end. Actually it was my mistake - I had to add `../../../` instead of `../../`. Relative paths are working.

[2016-02-17 16:20] #508 closed

[2016-02-17 16:43] nareshbhatia commented on #506
Agree. I am banking on @ludohenin to provide that feature (see issue #447). However, I will still have to create a fork for other integrations and keep it in sync with mgechev/angular2-seed to preserve all the goodness :-).

[2016-02-17 17:23] ludohenin commented on #506
Regarding the seed update, for me best option would be to move the tools to an npm package (say `angular2-seed-tools`) which would be overridden by the project specific config and tasks. This way we can keep tagging the the seed as new ng2 releases come along and version the tools separately.

[2016-02-17 17:26] d3viant0ne commented on #506
Certainly appears to be the only real seamless way to keep developing the seed without stepping on peoples toes.

[2016-02-17 17:51] jeffbcross commented on #502
For the sake of simplicity, let's assume I'm only a consumer of packages, not an author. I'd venture to guess that most modules don't adhere to importing via `package/module`. We did it with Angular 2 because Angular 2 is big and supports many platforms, and provides several optional submodules. So for most npm packages, I would have to either import from `package/index.js` or figure out what the

[2016-02-17 18:13] #505 closed

[2016-02-17 18:34] LuxDie commented on #474
Thanks guys!

[2016-02-17 19:31] giejay opened #509 "Home is not loaded on page-load in the production build"
Did a clean checkout of the git repo (to check if the problem did not occur due to any of my modifications), ran npm install and npm run build.prod which results in: http://giejay.nl/test/

I need to click home link for the home controller/view to load, how can I fix it to automatically load?

[2016-02-17 19:35] Bigous commented on #502
@ludohenin I think that this behavior was implemented in Typescript itself (on version 1.6.3 if my memory is not wrong). So, I think this could be a feature request to SystemJS?

[2016-02-17 19:48] Bigous commented on #509
Not occurring on my environment:
Windows 10 - node 4.3.1 - npm 2.14.12
sequence:
[code]
List of global packages installed:
[code]
Could you specify your environment @giejay ?

[2016-02-17 21:00] giejay commented on #509
Windows 10 - Node 4.0.0 - npm 2.14.2

Is my url working for you?

[2016-02-17 21:10] giejay commented on #509
When using http-server, it works fine. When I open the index.html in chrome manually, the same error occurs.

[2016-02-17 21:13] d3viant0ne commented on #509
@giejay - I'm looking at it now. Just a sec

[2016-02-17 21:17] d3viant0ne commented on #509
@giejay - The production build off of current master works fine running on my local apache

![screen shot 2016-02-17 at 3 17 01 pm](https://cloud.githubusercontent.com/assets/8420490/13125103/99912244-d589-11e5-991c-f67752772e07.png)

[2016-02-17 21:21] d3viant0ne commented on #509
Actually, that was npm install && npm serve.prod

Then I coppied the dist/prod contents to web root.

Let me try that with build.prod

[2016-02-17 21:33] giejay commented on #509
And what happens when you just open the index.html in a browser? Without a server

[2016-02-17 22:22] d3viant0ne commented on #509
@giejay - I have tried the prod build in the master branch on ..

serve.prod locally
build.prod hosted on local apache ( OSX 10.11.3 )
build.prod hosted on EC2 apache2 server running on ubuntu 14.04.3

All three of those options load the root route as they should.

[2016-02-17 23:28] Bigous commented on #509
I don't know why, but opening index.html from dist/prod direct from chrome (without a webserver) the css is not resolved... no response comes and no error is generated... but with any webserver I've tryed works...
Maybe FILE protocol does not fits the requirements to run the system which was made to run using HTTP protocol (cookies, etc...) see the [reference](https://developer.mozilla.org/en-US/L

[2016-02-17 23:38] Bigous commented on #509
Ok, first things first.

The problem with FILE protocol is true. But there is a problem with prod build.
When I tried:
[code]
And tried to open chrome with the URL: ```http://127.0.0.1:8080/dist/prod/``` I get the same error that @giejay reported.
So, congrats :D you found a bug :D

[2016-02-17 23:39] Bigous commented on #509
@ludohenin could you help with this one?

[2016-02-17 23:41] Bigous commented on #509
I see no error on chorme and the only file that ```http-server``` doesn't serve is favicon.ico which doesn't exists.
Maybe the router is getting lost...

[2016-02-18 00:04] dimarzionist opened #510 "IE: Issue with app.js bundle, when minify is set to "true" for systemjs builder"
When opening production dist in IE11, you get syntax error in app.js.
Appears after migration from browserify to sustemjs builder.
Only happens when "minify" set to true for bundler options.

Please see the attachment for full snapshot of error log console from IE.
IE11,
npm 3.7.2
node 5.3.0

EXCEPTION: SyntaxError: Expected ')'
   EXCEPTION: SyntaxError: Expected ')'
   STACKTRACE:
   SyntaxError

[2016-02-18 00:12] Bigous commented on #510
Just to add some information... on Microsoft Edge (aka IE 12) the problem does not occurs.

[2016-02-18 00:32] NathanWalker commented on #506
@ludohenin that's an excellent idea.

@nareshbhatia Problem with `feature forks` is that it rolls all issues into the parent, which is a problem. You wouldn't want all issues with your feature fork going back and spamming the parent. Which is why I chose **not** to make it a fork. Best way I've found is to:
* download repo as a zip file
* setup remote origin as your own repo
* setup remote upstrea

[2016-02-18 00:45] d3viant0ne commented on #510
@dimarzionist I'll spin up a windows vm and take a look at this

[2016-02-18 00:49] Bigous commented on #509
Just to confirm:
Updating app.ts to this, solves the problem, but I didn't like the solution :D
[code]

[2016-02-18 01:17] d3viant0ne commented on #509
@Bigous There is no active route when the page loads outside of some sort of http server.

So while I agree about your comment on that solution, it's not too far off the mark as to the issue.

[2016-02-18 01:30] beaverusiv commented on #502
I am wondering if something like [system-npm](https://github.com/stealjs/system-npm) should be used? I've tried integrating myself to no avail, and also looking into issues with SystemJS - of which their official line is "not my problem" when asked about using node-like loading algorithms.

[2016-02-18 01:35] d3viant0ne commented on #510
@Bigous Can you tag this one, That's confirmed on Win10/IE 11

[2016-02-18 01:35] d3viant0ne commented on #510
I'll see if I can run down the "why" portion

[2016-02-18 02:10] innovative1 opened #511 "Install fails with version error"
Installing fails with a version. Changing the zone.js requirement in the angular module to version 0.5.15 fixes it, but users will hit this error out of the box:

[21:06:57] Requiring external module ts-node/register
[21:06:59] Loading task clean all
[21:07:00] Loading task clean dev
[21:07:00] Loading task clean prod
[21:07:00] Loading task check.versions
[21:07:00] Loading task build.docs
[21:07

[2016-02-18 02:14] dimarzionist commented on #510
Could be related to this:
https://github.com/angular/angular/issues/6695

[2016-02-18 05:08] nareshbhatia commented on #506
@NathanWalker, hmm that's an interesting one - issues from the feature fork roll up to parent!!!! That's not very good. I like your workaround - will go with that.

@ludohenin, not sure if I understand your solution. Even if tools is separated out, wouldn't we run into the same issue? The master tools branch and the forked branch will have enough differences that merges will become difficult.

[2016-02-18 05:18] hpinsley commented on #506
@nathanwalker That's the approach I adopted with https://github.com/hpinsley/angular-mashup
 I've gone through the pain of merging  upstream goodness because I failed to keep up . Consequently I have now resolved to merge upstream changes much more frequently.

[2016-02-18 05:55] NathanWalker commented on #506
@hpinsley Love the mashup, great work. I think there is a way to merge upstream changes and ignore certain folders which may help; I've seen that discussed somewhere but haven't tried it.

[2016-02-18 08:40] mgechev commented on #474
@d3viant0ne great job on this!

[2016-02-18 09:56] d3viant0ne commented on #510
It is the compression version of the problem. it works if you just mangle it.

[2016-02-18 09:59] d3viant0ne commented on #509
@giejay - A side question. If it works on an apache server. Is there a reason why you can't just npm run serve.prod ?

Workaround until we can figure out the funky route issue

[2016-02-18 10:00] d3viant0ne commented on #447
@nareshbhatia - Thanks for this one, solid DX improvements :)

[2016-02-18 10:18] giejay commented on #509
I'm hosting it on a server which just has a simple php server (I think, don't know exactly what is running on it) which is outside of my control. I just ftp'ed the files to that server and the issue occurred.

[2016-02-18 11:18] ludohenin commented on #509
@Bigous

If you want to do so, you have to set the `APP_BASE`. otherwise `http-srver ./dist/prod`

[2016-02-18 11:19] zcsongor commented on #404
This is my problem as well. Tried to copy with this
`
{ src: 'material-design-iconic-font/dist/fonts/**/*', inject: false, dest: JS_DEST }
`
but failed to do so. Isn't any easier solution out there?

[2016-02-18 11:21] ludohenin commented on #509
the route `/dist/prod/` doesn't exist.

[2016-02-18 11:24] ludohenin commented on #509
@giejay Can you please try with setting `APP_BASE` ... `npm run build.prod -- --base /test/`

[2016-02-18 11:27] ludohenin commented on #509
It will not work as [this line](https://github.com/mgechev/angular2-seed/blob/master/src/main.ts#L10) isn't correct. It should be
[code]

Will fix it today.

[2016-02-18 11:37] ludohenin commented on #404
@zcsongor This was previously supported by the `build.deps` tasks which has been removed since then.

An easy way to add it again is to add `copy` tasks with the appropriate config.
https://github.com/ludohenin/ng2-wp-blog/blob/master/tools/config.ts#L98-L100
https://github.com/ludohenin/ng2-wp-blog/blob/master/tools/tasks/copy.fonts.prod.ts

//cc @mgechev Do you think we should support it ?

[2016-02-18 12:07] Bigous commented on #509
:+1:

[2016-02-18 13:02] nareshbhatia commented on #447
@d3viant0ne, my pleasure :)

[2016-02-18 13:06] zcsongor commented on #404
Thank you!

[2016-02-18 13:08] #509 closed

[2016-02-18 13:09] Bigous commented on #510
Removed the bug label - @dimarzionist is right.

[2016-02-18 13:12] Bigous commented on #510
Mangle the code can cause another issues in injector according to the same issue report.

[2016-02-18 14:37] mgechev commented on #404
We should support copying fonts given the [current copy task](https://github.com/mgechev/angular2-seed/blob/master/tools/tasks/build.assets.prod.ts).

[2016-02-18 14:40] mgechev commented on #447
:+1:

[2016-02-18 14:40] mgechev commented on #511
This one is fixed now https://github.com/mgechev/angular2-seed/blob/master/package.json#L98.

[2016-02-18 14:40] #511 closed

[2016-02-18 14:44] #330 closed

[2016-02-18 14:56] neridonk opened #514 "prod build fails with subfolder structure"
I have a folderstructure which is like :

/components/admin/part/part.ts

when I try to call the part.ts via router navigate I get an error where the browser looks in dev structure

when my file is on /components/part/part.ts all works fine

[2016-02-18 16:00] d3viant0ne commented on #514
tools/tasks/build.js.prod.ts

[code]

File glob only looks one level deep, so no that wouldn't work. Given this project is being moved inline with the style-guild, it may or may not be changed for nested child components.

None the less, just add a joint that grabs your child components.

@mgechev @ludohenin - Have we solidified child components enough for this to be modified or should @neridonk j

[2016-02-18 16:30] ludohenin commented on #514
Nope, the glob looks deeper than one level (I haven't checked the source but I'd guess it's an "infinite" recursive lookup).

For ref, [this one](https://github.com/ludohenin/ng2-wp-blog/tree/master/src/components/blog/components/post) works like a charm :)

@neridonk Can you share you're project (I suspect a wrong import somewhere)?

[2016-02-18 16:32] d3viant0ne commented on #514
I'm going to stop commenting on issues until I finish my coffee and put my damn glasses on

**/* (derp)

[2016-02-18 16:33] Bigous commented on #506
I'm working with the same pattern that @NathanWalker told us (with much more work because we use svn here, but the problem is the same).
Works for us... not perfect thou

[2016-02-18 17:07] d3viant0ne opened #515 "Feature: More complex components / routing"
I have fielded quite a few questions based on mis-configuration of new components, in particular sub-components / child routes /  custom router outlet.

- [ ] Add a component or two a bit more "real world"
- [ ] Tests around more complex components to catch more bugs before then end up in extended forks
- [ ] Expand documentation in the wiki based on example

@mgechev @ludohenin Thoughts?

[2016-02-18 17:53] mgechev commented on #515
@nareshbhatia had suggestion about improvements in the component's styles and the entire UI in general.

We can merge your suggestions with his in order to achieve some great results and keep the seed minimalistic and simple in the same time.

[2016-02-18 18:19] gustavolira commented on #481
I just see what was the problem and I want to kill myself but before this I want to apologize with all of you because my lack of attention.
I was using `module: module.id` instead of `moduleId: module.id`

[2016-02-18 18:19] #481 closed

[2016-02-18 18:21] ludohenin commented on #515
I second @mgechev

[2016-02-18 18:29] d3viant0ne commented on #515
Cool. @nareshbhatia rattle off a list of what you are proposing and we can get it spec'd out and get to work.

My thinking was this will go hand in hand with #506 where we eventually consume the proposed angular2-seed-tools package and provide a more robust application highlighting it's API's and overrides.

[2016-02-18 18:36] mgechev commented on #481
@gustavolira no worries, mistakes happen. Glad we helped!

[2016-02-18 19:31] nareshbhatia commented on #515
Depends on what we are trying to achieve. I had originally suggested something very simple for giving a more polished look:

1. A prominent navbar at the top.
2. Proper margins around the content area. Currently content is hitting the left margin.
3. Replace the smiley icon with something more useful, e.g. a menu icon in the navbar.
4. Make navbar a component instead of hardcoding in `app.html`. S

[2016-02-18 19:47] #514 closed

[2016-02-18 20:21] koodikindral commented on #515
@nareshbhatia - I'ts actually pretty good idea to have header & footer as a separate components, I've implemented things in a similar way in my application  (Y)
The only problem which I was facing was difficulty to share state between the components - for example, I wanted to reload some content from a REST API, when user changes the language in navbar in a component, which was inside the router-o

[2016-02-18 20:27] d3viant0ne commented on #515
@nareshbhatia - Well, lets start at the top with technologies.

I'm flexable
- ng2-bootstrap or / material / whatever
- css / sass / post-css / whatever

Now to my "vision" for lack of a less CEO(ish) word. I have been on some soft of screen share with 4 different people in the last 3 days, all having issue with the seed once they extend it. All the problems fit into two different buckets.

1.) In

[2016-02-18 20:54] professorviz opened #516 "gulp clean does not erase files"
When I run ```gulp clean.dev```, I expect the dist/dev directory to be deleted. However, the dist/dev directory still exists.

Steps to reproduce:

- Pull this repository
- ```npm install```
- Run ```npm start``` to generate a dist/dev folder
- ```ls dist/dev``` to verify the files are built
- ```gulp clean.dev``` to clean the files in dist/dev
- ```ls dist/dev``` - I see that the built files stil

[2016-02-18 20:55] d3viant0ne commented on #516
I'll take care of this shortly, thanks :)

[2016-02-18 21:55] d3viant0ne commented on #515
@nareshbhatia Exactly.

1. Build out some real world(ish) use cases and add them
2. Get the tools packaged
3. Modify app to use the APIs in the tool
4. Pretty it up
5. Win @ the internets :)

We can extend it later or build features in forks later if we so chose. I'm just looking to try and address peoples pain points.

The seed project has become the base of more beta applications than I would ha

[2016-02-19 03:36] #516 closed

[2016-02-19 08:20] neridonk commented on #514
Ohhhh damit when i looked today in my project i found

  new AsyncRoute({
    path: '/about',
    loader: () => System.import('./components/admin/admin/about').then(m => m.About),
    name: 'about'
  })

changed it to this ->

loader: () => Promise.resolve()

sry for making a bit trouble but thank you!

[2016-02-19 11:50] mgechev commented on #502
For the first-level dependencies we can generate the configuration with something like that:

[code]

This works well in most cases with the flat structure of npm. However, in case we have nested dependencies, therefore name collisions of dependencies with different versions, it won't be trivial to resolve them when required.

It doesn't work with `angularfire2` because of its dependency `firebase

[2016-02-19 12:27] nareshbhatia commented on #515
@d3viant0ne, the more I think about it, I am coming to a conclusion that angular2-seed is not the place to create complex use cases. The goodness of this projects is in the tools and we should leave the app part dead simple - perhaps beautify it a bit and make sure it conforms to guidelines (#486 & #490), but that's it. This will allow us to move the seed project itself in the direction of tools,

[2016-02-19 12:30] ludohenin commented on #515
@nareshbhatia that sounds perfect ... that's actually always been the goal.

[2016-02-19 12:33] mgechev commented on #515
@nareshbhatia, @ludohenin agree.

[2016-02-19 12:51] nareshbhatia commented on #506
While working on my Sass extension, I am beginning to understand @ludohenin's idea better. It is like releasing a set of gulp tasks that can be combined and sequenced in various ways to achieve the desired build process. In other words, the end user will simply have to customize their `gulpfile` and run the tasks we provide in different sequences.

So far, for my Sass extension I had to modify the

[2016-02-19 12:56] ludohenin commented on #506
@nareshbhatia I have preprocessors ready for the inlining plugin ... it doesn't work with sass. Could you have a look ?

[2016-02-19 12:58] nareshbhatia commented on #506
@ludohenin, next thing on my list :-)

[2016-02-19 14:25] d3viant0ne commented on #515
@nareshbhatia - Accomplishes the same goal, that works for me.

[2016-02-19 14:30] d3viant0ne commented on #515
@nareshbhatia @mgechev @ludohenin - That would make the overall plan ...

- package angular2-seed-tools
- Modify angular2-seed to use npm packaged tooling & maintain level of application complexity
- Then get Minko to create an angular2-advanced-seed project and expand the use cases there

More of less ?

[2016-02-19 15:20] mgechev opened #519 "chore: update to Angular 2 beta.7"

[2016-02-19 19:29] #519 closed

[2016-02-19 20:35] gustavolira commented on #480
The name of app.js should be changed right?

[2016-02-19 20:37] mgechev commented on #480
@gustavolira what do you mean?

[2016-02-19 20:46] gustavolira commented on #480
To avoid cache, every time we build the app the names of .js files would change like:
app.4de4411f.js

next time that run `npm run build.prod`
app.537de411f.js

On this way every time that we need to do a new 'deploy' cache will be refresh

[2016-02-19 20:54] mgechev commented on #480
I think it should be fine with appending query parameter as well.

[2016-02-19 21:01] gustavolira commented on #480
This generator https://github.com/yeoman/generator-angular change the .js files when you run `grunt build` and them put the right js file names at .html files
I get this idea from there

[2016-02-19 21:04] mgechev commented on #480
Yes, both should work.

[2016-02-19 23:29] manish5377 opened #521 ""npm test" fails at the end."
[npm-debug.txt](https://github.com/mgechev/angular2-seed/files/138862/npm-debug.txt)

Hi,

I am fairly new to Angular2 and was trying this seed project. it fails at the end if in run "npm test".

![image](https://cloud.githubusercontent.com/assets/2945833/13192096/474dcebe-d72e-11e5-9140-8af148a53cd0.png)

Can someone guide, if I missing something OR is an issue.

[2016-02-20 12:26] #510 closed

[2016-02-21 01:31] NathanWalker commented on #506
I found a pretty good workflow that you could try for your `feature forks`.
Use this tool:
https://github.com/MestreLion/git-tools#git-strip-merge

Follow install instructions here:
https://github.com/MestreLion/git-tools#install

Then you can use a command similar to the following which will *ignore* everything in the `src` directory when merging upstream into your feature repo. You can specify a

[2016-02-21 02:11] d3viant0ne commented on #506
@NathanWalker Nice, i'll try that

[2016-02-21 07:10] #515 closed

[2016-02-21 22:36] beaverusiv commented on #502
Would it be better to approach packages with Bower? Would that solve the issue?

[2016-02-22 03:07] evanplaice commented on #490
Fixed in PR #525

[2016-02-22 03:07] #490 closed

[2016-02-22 06:54] #486 closed

[2016-02-22 16:51] NathanielMalca opened #527 "Including a javascript library inside a component"
I'm trying to implement lazy loading as you've showed at your post addressing this subject: http://blog.mgechev.com/2015/09/30/lazy-loading-components-routes-services-router-angular-2

Now, in one of the components that i want to lazyload i use a simple easy to use javascript library , for that matter a library called "country-list".

Of course i'm not interested of including the file at the DEV_N

[2016-02-22 22:44] dimarzionist commented on #404
My version of this that works with bootstrap 3 looks something like this:

in the config.ts:

`export const FONTS_DEST = `${APP_DEST}/fonts`;`
`export const PROD_NPM_DEPENDENCIES: InjectableDependency[] = normalizeDependencies([`

`    { src: "bootstrap/dist/fonts/**", inject: false, dest: FONTS_DEST }`
`]);`

and then 'build.fonts.prod' task:

    return gulp
        .src(getFonts().map(r => r.sr

[2016-02-23 08:26] kambojankit opened #529 "Unable to use map operator of RxJs"
I am trying to retrieve a rest API response with following code:

Given:
[code]

And proper injection:
[code]

and following code to hit the API
[code]

[2016-02-23 08:40] ludohenin commented on #529
@kambojankit I have to use `subscribe`
[code]

[2016-02-23 08:43] NathanWalker commented on #529
I believe you're just missing this:
import 'rxjs/add/operator/map';

Add with other imports :)

[2016-02-23 09:05] #529 closed

[2016-02-23 15:58] sunyuhang opened #530 "build.js.test.ts should use APP_DEST for inlineNg2Template"
when using 'jade,  APP_SRC only has jade files. APP_DEST has the html files transpiler from those jade files.

So, line 17 could be the following instead

[code]

However, the proposed change is not working. I am not sure why.

Thanks,
Yuhang

[2016-02-24 17:16] czosel opened #531 "Use as dependency"
First of all: Thank you for this awesome seed! :+1:

I only started using the seed a couple of days ago, and i hope i'm not missing anything obvious. My question goes along the lines of #506 but adds another twist to it - my use case is the following:

I have multiple angular 2 apps, which should all be based on the same fork of angular2-seed. Improvements to my version of the seed should obviousl

[2016-02-24 17:39] d3viant0ne commented on #531
@czosel - We have decided against going the npm package route.

The plan to make this easier to maintain & reuse can be found here - https://github.com/mgechev/angular2-seed/pull/528

[2016-02-24 18:01] ludohenin commented on #531
Yes I _think_ it will be a lot easier to support multiple projects when the refactored tools will land, but will think about it. Would be nice to support it but what about dependencies and version management, just to name those.

@czosel does that mean you use a single repo for all your apps ?

[2016-02-24 19:35] czosel commented on #531
@d3viant0ne thanks - i will definitely try the refactored tools.

@ludohenin No, on the contrary: I have several apps, all in their own repository. The apps have very similar demands (same look and feel, common services and directives, ... ) - thats why i'd like to have the same build process for all of them, but maintain and extend it at one place only. The idea stems from a Grunt-based build pro

[2016-02-24 19:45] raoel commented on #468
Failed to load resource: the server responded with a status of 404 (Not Found)
2016-02-24 20:40:40.955 localhost/:70 Error: XHR error (404 Not Found) loading http://localhost:5555/node_modules/moment.js(…) "Report this error at https://github.com/mgechev/angular2-seed/issues"(anonymous function) @ localhost/:70

I think this is the same issue.

npm install moment --save
typings install moment --sa

[2016-02-24 19:49] NathanWalker commented on #468
@raoel  you likely need this in `tools/config.ts`:  (in part, just add moment like so)
[code]

[2016-02-25 12:42] mgechev commented on #404
@heikoholland the solution by @dimarzionist sounds like the correct one.

I agree that it doesn't sound very semantically correct. I'll rename the interface.

[2016-02-25 12:43] #404 closed

[2016-02-25 12:51] mgechev commented on #404
Here's wiki page I added https://github.com/mgechev/angular2-seed/wiki/Add-external-fonts
Let me know if you find something wrong.

[2016-02-25 12:55] mgechev commented on #502
@beaverusiv bower, with its flat directory structure, will be a workaround rather than a solution.

The possible case I see is to use the above solution and allow developers to customize the configuration further if required.

[2016-02-25 12:58] mgechev commented on #506
It seems like the discussion in https://github.com/mgechev/angular2-seed/issues/506 is the same. In the meantime @ludohenin is solving the problem here https://github.com/mgechev/angular2-seed/pull/528.

Lets close this issue and keep the discussion https://github.com/mgechev/angular2-seed/issues/506.

[2016-02-25 13:02] ludohenin commented on #404
@mgechev I don't think it will work. The `src` is just a string, so no changes to find a font extension in it. I'd rather map `src` defining a glob in `build.assets.prod` to copy those files with the rest.
I'll try and send a PR for that.

[2016-02-25 13:13] kambojankit opened #534 "Uncaught ReferenceError: With Prod Build"
I am getting uncaught reference error with prod build.
error:
[code]

Dev build is working fine.

[2016-02-25 13:19] mgechev commented on #506
Here's what I'm thinking about while reading the discussions here, https://github.com/mgechev/angular2-seed/issues/531 and https://github.com/mgechev/angular2-seed/pull/528.

## Problem

Using the seed as npm dependency is not that great choice as we already discussed. If we bet on this means that:
- We need to agree on a high-level API.
- Keep the API consistent, and go through a deprecation proc

[2016-02-25 13:22] mgechev commented on #534
@kambojankit we define `module` [here](https://github.com/mgechev/angular2-seed/blob/master/src/index.html#L36).

Make sure you are importing your scrips after the definition. This is quite a dirty trick for commonjs shims.

[2016-02-25 13:26] mgechev commented on #530
@ludohenin would you take a look at this one? I think using `templatePreprocessor` may solve this problem.

Closing it since it is not related to the seed because we do not officially support jade. The issue is matter of a way to extending the seed.

@sunyuhang @ludohenin it'll be great to add a wiki page for `jade` support once you solve it!

[2016-02-25 13:26] #530 closed

[2016-02-25 13:28] mgechev commented on #527
Hey @NathanielMalca you need to configure SystemJS [for this purpose](https://github.com/mgechev/angular2-seed/blob/master/tools/config.ts#L97-L111).

Also note that for implementing lazy loading the production build will need a lot of customization since it should not provide only a single bundle.

[2016-02-25 13:28] #527 closed

[2016-02-25 13:29] ludohenin commented on #506
:100:

[2016-02-25 13:32] mgechev commented on #521
@manish5377 would you try:

[code]

Or the equivalent on Windows, and try again.

[2016-02-25 13:32] ludohenin commented on #530
Yes, for me the way to go is to use `templateProcessor` function of gulp-inline-ng2-template.
[here](https://github.com/ludohenin/gulp-inline-ng2-template/blob/master/test/test.js#L70-L72) is a simple implementation.

[2016-02-25 13:38] NathanielMalca commented on #527
Hey @mgechev. First, I have great respect to the work you and the others contributors have put to this Angular 2 seed. With that said  , Since i see lazy loading as a fundamental part of real-world applications . Don't you believe that all these optimizations should  be an integral part of the seed itself ?

[2016-02-25 13:41] mgechev commented on #527
@NathanielMalca you're correct about this. The problem of lazy loading is that it highly depends on the domain of your application.

What we can do in the seed is to provide separate bundles for the individual "bounded contexts" we have. For sure it'll be a good idea to add it to our roadmap.

[2016-02-25 13:50] kambojankit commented on #534
I am still facing the issue even after adding the required script to index.html, is there anything else that needs to be done.

[2016-02-25 14:00] mgechev commented on #534
Would you share the output from the console of:

[code]

[2016-02-25 14:24] kambojankit commented on #534
@mgechev i get the following output:
[code]

[2016-02-25 14:41] mgechev commented on #534
Would you take a look at your template and make sure there's:

[code]

[2016-02-25 14:52] kambojankit commented on #534
I had a look and there is no reference to 'window.module' in the template.

[2016-02-25 15:29] mgechev commented on #534
Would you share your `src/index.html` content?

[2016-02-25 15:54] kambojankit commented on #534
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Aeris</title>
I use the same index.html, as present in the project, and have added below mentioned links and scripts.

[code]

Javascript scripts:

[code]

[2016-02-25 16:03] mgechev commented on #534
This looks like `./dist/prod/index.html`. Would you share `./src/index.html`.

[2016-02-25 16:10] kambojankit commented on #534
@mgechev  Please find the index file below:

[code]

[2016-02-25 16:11] mgechev commented on #534
@kambojankit looks completely correct.

The lines:

[code]
Are they removed after running `npm run build.prod`?

That is what fixes your issue.

[2016-02-25 16:14] kambojankit commented on #534
no, the lines are not removed, after the build.prod.
any other issue, that could lead to this.

[2016-02-25 16:19] ludohenin commented on #506
To make even more simple and easier to maintain, why not just having the `ng2seed init` function and have all other `cli` features within the seed (in the form of tasks). The cli tool will then act as a proxy towards the seed.

### Pros
* Very limited update frequency of this project (`angular2-seed-cli`) as features will ships with the seed (in the form of tasks?)
* Single documentation location

[2016-02-25 16:20] manish5377 commented on #521
Thanks a lot @mgechev ...It worked....

[2016-02-25 16:20] #521 closed

[2016-02-25 16:23] mgechev commented on #534
Probably any of the modules you use overrides the `module` definition.

[2016-02-25 16:24] #534 closed

[2016-02-25 16:25] mgechev commented on #506
@ludohenin yes, that is what I meant as well. The first pros brings great flexibility.

[2016-02-25 19:52] fourctv commented on #506
+1, great idea.

ng2seed init, would basically do:
- git clone seed
- npm install
- npm run test

All else could then be added as tasks, as suggested.

Simple,easy and gets the job done.

[2016-02-25 20:32] ludohenin commented on #404
`build.assets.prod` isn't the right place ... `DEST` issue :/

[2016-02-25 21:27] kambojankit commented on #534
I think that was a reference error due to `dashboard.js` that i was including in my external dependencies. I removed it and it works. :+1:

[2016-02-26 08:47] harishk90 opened #538 "Error when try to build production"
Before submitting the issue, take a look at the already existing solutions to:

- [x] `Cannot find module '...'` - your issue is related to not existing type definitions.
- [x] Adding [sass support](https://github.com/mgechev/angular2-seed/wiki/Add-custom-Gulp-task).
- [x] Adding [external styles](https://github.com/mgechev/angular2-seed/wiki/Add-an-external-styles).
- [x] Configuring [SystemJS](h

[2016-02-26 08:48] harishk90 commented on #538
when try to build production(gulp buid.prod),got this error :Unhandled rejection Error on fetch for dist/tmp/app/components/app.js at file:///C:/evolumi/src/webapp/dist/tmp/app/components/app.js